Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Ruby, Test, DevOps, Docker

Replace HeaderComponent with HeroComponent
  app/components/sections/header_component.html.erb
  app/components/sections/header_component.rb
  app/views/events/index.html.erb
  app/views/events/show_category.html.erb
  app/views/layouts/accordion.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  spec/components/sections/header_component_spec.rb
  spec/components/sections/hero_component_spec.rb
Labels: Ruby, Test

update image for events module on homepage
  app/webpacker/images/home-events.jpg
  app/webpacker/styles/home.scss
Labels: none

Make homepage steps into a vertical list
  app/webpacker/styles/home.scss
Labels: none

Remove trailing whitespace
  app/webpacker/styles/home.scss
Labels: none

Added Event component to link through to an event
  app/components/cards/latest_event_component.rb
  app/webpacker/images/latest-event-card-image.jpg
  spec/components/cards/latest_event_component_spec.rb
Labels: Ruby, Test

Added normalisation to Event Category lookup
  app/models/events/category.rb
  spec/models/events/category_spec.rb
Labels: Ruby, Test

Added Cards::RendererComponent to let content designers choose the card to show
  app/components/cards/renderer_component.rb
  app/components/stories/story_component.html.erb
  spec/components/cards/renderer_component_spec.rb
Labels: Ruby, Test

Handle when no events or no category
  app/components/cards/latest_event_component.rb
  spec/components/cards/latest_event_component_spec.rb
Labels: Ruby, Test

Added fetching the latest event for a category from Pages::Data
  app/models/events/category.rb
  app/models/pages/data.rb
  spec/models/events/category_spec.rb
  spec/models/pages/data_spec.rb
  spec/requests/events_controller_spec.rb
  spec/support/api_support.rb
Labels: Ruby, Test

Show generic events card if invalid category
  app/components/cards/latest_event_component.rb
  spec/components/cards/latest_event_component_spec.rb
Labels: Ruby, Test

Revert "Revert "Update validator to allow outward only postcodes in event search""
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  config/locales/en.yml
  spec/models/events/search_spec.rb
  spec/validators/postcode_validator_spec.rb
Labels: Ruby, Test

Improve display of steps on homepage
  app/webpacker/styles/home.scss
Labels: none

Fix trailing whitespace
  app/webpacker/styles/home.scss
Labels: none

Remove custom-styling for mailing list strapline
  app/webpacker/styles/registration.scss
Labels: none

Whitespace fixes
  app/webpacker/styles/registration.scss
Labels: none

Add a margin beneath the hero
  app/webpacker/styles/sections/hero.scss
Labels: none

Whitespace fixes
  app/webpacker/styles/sections/hero.scss
Labels: none

Dropped static enumeration of components, just rely on normalisation
  app/components/cards/renderer_component.rb
  spec/components/cards/renderer_component_spec.rb
Labels: Ruby, Test

Raise InvalidComponent for unknown card types
  app/components/cards/renderer_component.rb
  spec/components/cards/renderer_component_spec.rb
Labels: Ruby, Test

Toggle visible class on show
  app/components/calls_to_action/chat_online_component.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/styles/call_to_action.scss
  app/webpacker/styles/sections/talk-to-us.scss
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: Test

Added a Chat Online card which can be used in stories
  app/components/card_component.rb
  app/components/cards/chat_online_component.html.erb
  app/components/cards/chat_online_component.rb
  app/components/cards/latest_event_component.rb
  app/components/cards/story_component.rb
  app/webpacker/images/chat-online-card.jpg
  app/webpacker/images/latest-event-card.jpg
  app/webpacker/styles/components/cards.scss
  spec/components/cards/chat_online_component_spec.rb
Labels: Ruby, Test

Bump Stimulus packages to 2.0.0
  package.json
  yarn.lock
Labels: none

Update the page-helpful controller and component
  app/views/sections/_page_question.html.erb
  spec/javascript/controllers/page_helpful_controller_spec.js
Labels: Test

Update the accordion controller and component
  app/components/content/accordion_component.html.erb
  spec/components/content/accordion_component_spec.rb
  spec/javascript/controllers/accordion_controller_spec.js
Labels: Test

Update the navigation controller and component
  app/components/navbar/navbar_component.html.erb
  app/webpacker/controllers/navigation_controller.js
  spec/javascript/controllers/navigation_controller_spec.js
Labels: Test

Update the last-step controller and component
  app/views/event_steps/_further_details.html.erb
  spec/javascript/controllers/last_step_controller_spec.js
Labels: Test

Update cookie controllers and components
  app/views/cookie_preferences/show.html.erb
  app/views/sections/_cookie-acceptance.html.erb
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
  spec/javascript/controllers/cookie_preferences_controller_spec.js
Labels: Test

Update the video controller and component
  app/components/card_component.rb
  app/views/components/_videoplayer.html.erb
  app/webpacker/controllers/video_controller.js
  spec/components/card_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/javascript/controllers/video_controller_spec.js
Labels: Ruby, Test

Update conditional-field controller and component
  app/components/events/search_component.html.erb
  app/webpacker/controllers/conditional_field_controller.js
  spec/javascript/controllers/conditional_field_controller_spec.js
Labels: Test

Whitespace fixes and squash a JavaScript warning
  app/views/sections/_cookie-acceptance.html.erb
  app/webpacker/controllers/cookie_preferences_controller.js
Labels: none

Update the link controller and component
  app/views/layouts/accordion.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  spec/javascript/controllers/link_controller_spec.js
Labels: Test

Update the talk-to-us controller and component
  app/views/sections/_talk-to-us.html.erb
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: Test

Add spec on not overwriting frontmatter when empty
  spec/lib/template_handlers/markdown_spec.rb
Labels: Test

Added fallback for when JS is disabled
  app/components/cards/chat_online_component.html.erb
  app/webpacker/styles/components/cards.scss
Labels: none

Change styling of content headings
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/content.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
Labels: none

Allow for simple calls to action without a title
  app/components/calls_to_action/simple_component.rb
  spec/components/calls_to_action/simple_component_spec.rb
Labels: Ruby, Test

Add a bit more of a margin beneath CTAs
  app/webpacker/styles/call_to_action.scss
Labels: none

Only render the h4 and p tags if content present
  app/components/calls_to_action/simple_component.html.erb
  spec/components/calls_to_action/simple_component_spec.rb
Labels: Test

Fix indentation in call_to_action.scss
  app/webpacker/styles/call_to_action.scss
Labels: none

Standardise the top margin of component contents
  app/webpacker/styles/call_to_action.scss
Labels: none

.github/labeler.yml:

---

Ruby:
  - app/**/*.rb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile
