Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Style, Ruby, Test, DevOps, Docker

.github/labeler.yml:

---

Style:
  - app/**/*.sccs

Ruby:
  - app/**/*.rb
  - app/**/*.erb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile

Enable ViewComponent previews
  app/views/layouts/component_preview.html.erb
  config/application.rb
  spec/components/previews/content/feature_table_component_preview.rb
Labels: Ruby, Test

Add FeatureTableComponent
  app/components/content/feature_table_component.html.erb
  app/components/content/feature_table_component.rb
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/git.scss
  spec/components/content/feature_table_component_spec.rb
Labels: Ruby, Test

Add full stops to titles with a colour bg via CSS
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/sections/hero.scss
Labels: none

Add COVID-19 content link to the footer
  app/views/sections/_footer.html.erb
Labels: Ruby

Remove unnecessary indexing from links loop
  app/views/sections/_footer.html.erb
Labels: Ruby

Update events section to use main semantic element
  app/views/event_categories/show.html.erb
  app/views/events/index.html.erb
Labels: Ruby

Render layout according to frontmatter
  app/controllers/pages_controller.rb
  app/controllers/steps_to_become_a_teacher_controller.rb
  app/controllers/ways_to_train_controller.rb
  app/models/pages/frontmatter.rb
  config/routes.rb
  spec/requests/page_with_custom_layout_spec.rb
  spec/requests/steps_to_become_a_teacher_controller_spec.rb
  spec/requests/ways_to_train_controller_spec.rb
  spec/support/page_support.rb
  spec/support/views/content/accordion.md
  spec/support/views/content/accordion/_step1.md
  spec/support/views/content/accordion/_step2.md
Labels: Ruby, Test
