Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Style, Ruby, Test, DevOps, Docker, Rails, Assets, Content, Config

Rewirded teacher's pay bullet point
  app/views/content/landing/career-progression/_collage.html.erb
Labels: Ruby, Content

Changed teacher's pay H2 to match bullet point
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Changed catch ups to one-to-ones
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

removed / from ECT link
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Changed page title
  app/views/content/landing/career-progression.md
Labels: Content

changed header component
  app/views/content/landing/career-progression/_header.html.erb
Labels: Ruby, Content

changed url to grow
  app/views/content/landing/grow.md
  app/views/content/landing/grow/_collage.html.erb
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/grow/_header.html.erb
  app/views/content/landing/grow/_mailing_list.html.erb
  app/views/content/landing/grow/_promo.html.erb
Labels: Ruby, Content

changed component so links all say grow
  app/views/content/landing/grow.md
Labels: Content

Added comma into title
  app/views/content/landing/grow/_header.html.erb
Labels: Ruby, Content

changed description
  app/views/content/landing/grow.md
Labels: Content

Adds channel_id attribute to PersonalDetails model
  spec/models/events/steps/personal_details_spec.rb
Labels: Test

Rename methods to so that it is more readable
  app/models/events/steps/personal_details.rb
Labels: Ruby

Took out can in 2nd sentence pay section
  app/views/content/landing/grow/_content.html.erb
Labels: Ruby, Content

Updated mailing list title
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

changed mailing list title
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

amended mailing list header to include grow
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

changed discover to find in mailing list header
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

changed opportunities to possibilities
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

Reverted back to find opportunities
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

changed mailing list intro text
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

tweaked intro copy
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

Remove message re holiday response time on adviser funnel completed page
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Ruby

anchor link for career progression
  app/views/content/landing/grow/_content.html.erb
Labels: Ruby, Content

Added anchor link career progression
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
Labels: Content

amending anchor link
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
Labels: Content

amending anchor link
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
Labels: Content

added new line after header
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
Labels: Content

added quote
  app/views/content/landing/grow/_content.html.erb
Labels: Ruby, Content

Add channel parameter to categorise_events method
  spec/helpers/events_helper_spec.rb
Labels: Test

added bracket
  app/views/content/landing/grow/_content.html.erb
Labels: Ruby, Content

Changed header on page
  app/views/content/landing/grow.md
  app/views/content/landing/grow/_header.html.erb
Labels: Ruby, Content

Update Gemfile.lock with new dependencies (api-client)
  Gemfile.lock
Labels: none

Amended mailing list header
  app/views/content/landing/grow/_mailing_list.html.erb
Labels: Ruby, Content

.github/labeler.yml:

---

Style:
- changed-files:
  - any-glob-to-any-file:
    - app/**/*.scss
    - app/**/*.css

Ruby:
- changed-files:
  - any-glob-to-any-file:
    - app/**/*.rb
    - app/**/*.erb
    - db/**/*.rb
    - config/**/*.rb
    - lib/**/*.rb
    - lib/**/*.rake

Test:
- changed-files:
  - any-glob-to-any-file:
    - spec/**/*
    - tests/**/*

DevOps:
- changed-files:
  - any-glob-to-any-file:
    - terraform/**/*
    - .github/**/*.yml

Docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - docker-run.sh

Rails:
- changed-files:
  - any-glob-to-any-file: 'get-into-teaching-app/.env.*'


Assets:
- changed-files:
  - any-glob-to-any-file: 'public/assets/**/*'


Content:
- changed-files:
  - any-glob-to-any-file: 'app/views/content/**/*'

Config:
- changed-files:
  - any-glob-to-any-file: 'config/**/*'
