Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Ruby, Test, DevOps, Docker

.github/labeler.yml:

---

Ruby:
  - app/**/*.rb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile

Flatten the awful BEM nesting
  app/components/content/accordion/next_steps_component.html.erb
  app/webpacker/styles/call_to_action.scss
Labels: none

Further visual adjustments, make buttons narrower
  app/components/content/accordion/next_steps_component.html.erb
  app/webpacker/styles/call_to_action.scss
Labels: none

Make redirects not cause test failures
  spec/features/content_pages_spec.rb
Labels: Test

Update variable name and error messages based on PR feedback
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  config/locales/en.yml
  spec/models/events/search_spec.rb
  spec/validators/postcode_validator_spec.rb
Labels: Ruby, Test

Update validator to allow outward only postcodes in event search (#619)
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  config/locales/en.yml
  spec/models/events/search_spec.rb
  spec/validators/postcode_validator_spec.rb
Labels: Ruby, Test

Revert "Navbar current page highlight (#597)"
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
  spec/components/navbar/navbar_component_spec.rb
Labels: Ruby, Test

Add specs to cover rendering complex CTAs
  spec/components/content/accordion_component_spec.rb
Labels: Test

Move navbar into component
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/helpers/application_helper.rb
  app/views/sections/_header.html.erb
Labels: Ruby

Update tests based on suggestions
  spec/components/navbar/navbar_component_spec.rb
Labels: Test

Add navbar component tests
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/views/sections/_header.html.erb
  spec/components/navbar/navbar_component_spec.rb
Labels: Ruby, Test

Update navbar underline to match designs
  app/webpacker/styles/header.scss
Labels: none

Add highlight to current page title in navbar
  app/helpers/application_helper.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
Labels: Ruby

Update component to work with changes to navigation_resources
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
Labels: Ruby

Highlight link based on first segment of current uri
  app/helpers/application_helper.rb
Labels: Ruby

Remove the FIXME, it's something we're aware of
  app/views/layouts/accordion.html.erb
Labels: none

Add a spec for the ways-to-train show action
  app/controllers/ways_to_train_controller.rb
  spec/requests/ways_to_train_spec.rb
Labels: Ruby, Test

Re-add the passing the @front_matter variable
  app/views/layouts/accordion.html.erb
Labels: none

Revert "Update validator to allow outward only postcodes in event search (#619)"
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  config/locales/en.yml
  spec/models/events/search_spec.rb
  spec/validators/postcode_validator_spec.rb
Labels: Ruby, Test

Fix margin for TTT results box
  app/webpacker/styles/events.scss
Labels: none

Fix links not showing on mobile
  app/components/navbar/navbar_component.html.erb
  app/views/sections/_header.html.erb
  spec/components/navbar/navbar_component_spec.rb
Labels: Test

Move calls to action out to their own directory
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/calls_to_action/next_steps_component.rb
  app/components/calls_to_action/story_component.html.erb
  app/components/calls_to_action/story_component.rb
  app/components/content/accordion/chat_online_component.rb
  app/components/content/accordion/next_steps_component.rb
  app/components/content/accordion/story_component.rb
  app/components/content/accordion_component.rb
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
Labels: Ruby, Test

Add basic specs for the next steps component
  spec/components/calls_to_action/next_steps_component_spec.rb
Labels: Test

Allow markdown to be rendered above the accordion
  app/views/layouts/accordion.html.erb
  app/webpacker/styles/accordion.scss
Labels: none

Standardise and genericise CTAs, simplify CSS
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/calls_to_action/story_component.html.erb
  app/components/calls_to_action/story_component.rb
  app/components/content/accordion_component.rb
  app/webpacker/styles/call_to_action.scss
Labels: Ruby

Add the 'simple' component for basic CTAs
  app/components/calls_to_action/simple_component.html.erb
  app/components/calls_to_action/simple_component.rb
  spec/components/calls_to_action/simple_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
Labels: Ruby, Test

Replace PNG icons with SVG
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/simple_component.rb
  app/webpacker/images/calls-to-action/chat-icon.png
  app/webpacker/images/calls-to-action/icon-calendar.svg
  app/webpacker/images/calls-to-action/icon-person.svg
  app/webpacker/images/calls-to-action/icon-question.svg
Labels: Ruby

Add a multiple buttons call to action
  app/components/calls_to_action/multiple_buttons_component.html.erb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/content/accordion_component.rb
  app/webpacker/styles/call_to_action.scss
  spec/components/calls_to_action/multiple_buttons_component_spec.rb
Labels: Ruby, Test

Make some minor CTA content edits
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/calls_to_action/next_steps_component.rb
  spec/components/calls_to_action/chat_online_component_spec.rb
Labels: Ruby, Test

Reword the next steps component
  app/components/calls_to_action/next_steps_component.html.erb
Labels: none

Fix spelling of 'adviser'
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/next_steps_component.rb
Labels: Ruby

Bump API Client to remove HTTP cache monkey patch
  Gemfile.lock
Labels: none

Improved page load speed by deferring VWO code loading
  app/views/sections/_head.html.erb
  app/views/sections/_vwo_code.html.erb
Labels: none

Simplify TalkToUs Stimulus controller
  app/components/calls_to_action/chat_online_component.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/styles/call_to_action.scss
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: Test

Change home-hero font-weight and underline. remove caps from homepage.
  app/webpacker/styles/sections/header.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/text.scss
Labels: none

fix indentation
  app/webpacker/styles/sections/hero.scss
Labels: none

Introduce a single $git-font-family variable
  app/webpacker/styles/application.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/text.scss
Labels: none

Use classes to toggle display types
  app/components/calls_to_action/chat_online_component.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/styles/call_to_action.scss
  app/webpacker/styles/sections/talk-to-us.scss
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: Test

Initial commit
  app/components/sections/header_component.html.erb
  app/webpacker/styles/header.scss
  app/webpacker/styles/sections/hero.scss
Labels: none

add full stop to span in hero
  app/webpacker/styles/sections/hero.scss
Labels: none

Stop overwriting the frontmatter for partials
  app/views/layouts/accordion.html.erb
  lib/template_handlers/markdown.rb
Labels: Ruby
