Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Ruby, Test, DevOps, Docker

.github/labeler.yml:

---

Ruby:
  - app/**/*.rb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile

Update chat to new theme
  app/webpacker/controllers/talk-to-us_controller.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: Test

Revert "Update chat to new theme"
  app/webpacker/controllers/talk-to-us_controller.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: Test

Link to privacy policy on mailing list completion page
  app/views/mailing_list/steps/completed.html.erb
Labels: none

Revert "Revert "Update chat to new theme""
  app/webpacker/controllers/talk-to-us_controller.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: Test

Add a narrow component
  app/components/calls_to_action/narrow_component.html.erb
  app/components/calls_to_action/narrow_component.rb
  app/webpacker/styles/call_to_action.scss
  spec/components/calls_to_action/narrow_component_spec.rb
Labels: Ruby, Test

If ctas are present in right column, render them
  app/views/layouts/content.html.erb
Labels: none

Move right col CTAs to partial, add to accordion
  app/views/layouts/accordion.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/shared/_narrow_call_to_action.html.erb
Labels: none

Fixed link to Cookies page from privacy policy
  app/helpers/application_helper.rb
  app/views/pages/privacy_policy.html.erb
  spec/helpers/application_helper_spec.rb
Labels: Ruby, Test

Extracted no 'latest event' behaviour into separate component
  app/components/cards/find_events_component.rb
  app/components/cards/latest_event_component.rb
  spec/components/cards/find_events_component_spec.rb
  spec/components/cards/latest_event_component_spec.rb
Labels: Ruby, Test

Replace TypeEntity with PickListItem/LookupItem
  Gemfile.lock
  app/controllers/events_controller.rb
  app/models/events/category.rb
  app/models/events/steps/personalised_updates.rb
  app/models/healthcheck.rb
  app/models/mailing_list/steps/degree_status.rb
  app/models/mailing_list/steps/name.rb
  app/models/mailing_list/steps/subject.rb
  app/models/mailing_list/steps/teacher_training.rb
  spec/factories/events/personalised_updates_factory.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/healthcheck_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/support/api_support.rb
Labels: Ruby, Test

Don't show the external link icon in CTA buttons
  app/webpacker/styles/markdown.scss
Labels: none

Move guidance routes below redirects
  config/routes.rb
Labels: Ruby

Update events moved online copy
  app/views/events/index.html.erb
Labels: none

Move CTA after partial below accordion
  app/components/content/accordion_component.html.erb
Labels: none

Add a content spec that ensures no localhost links
  spec/features/content_pages_spec.rb
Labels: Test

Add no results message to event category
  app/views/events/show_category.html.erb
  app/webpacker/styles/events.scss
  spec/requests/events_by_category_spec.rb
Labels: Test

Move no results HTML in to ViewComponent
  app/components/events/no_results_component.html.erb
  app/components/events/no_results_component.rb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/events/show_category.html.erb
  app/webpacker/styles/components/events/no-results.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/git.scss
  spec/components/events/no_results_component_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Allow partials list in frontmatter to be rendered
  app/views/layouts/content.html.erb
Labels: none

Added FeaturedStory component
  app/components/cards/featured_story_component.rb
  spec/components/cards/featured_story_component_spec.rb
Labels: Ruby, Test

Added finding the featured page
  app/models/pages/data.rb
  app/models/pages/frontmatter.rb
  app/models/pages/page.rb
  spec/models/pages/data_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/pages/page_spec.rb
Labels: Ruby, Test

Pull information from FeaturedStory
  app/components/cards/featured_story_component.rb
  spec/components/cards/featured_story_component_spec.rb
Labels: Ruby, Test

Add page title to event/mailing list completion
  .rubocop.yml
  app/controllers/event_steps_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: Ruby, Test

Fix JS error on guidance pages
  app/views/layouts/guidance.html.erb
Labels: none

Reflect merge commit message through to `-content` repo
  .github/workflows/build.yml
Labels: DevOps

Normal font weight for event date/time
  app/webpacker/styles/event.scss
Labels: none

Remove blue background from event sign up sub-heading
  app/webpacker/styles/registration.scss
Labels: none

Move redirects up to the top of the routes file
  config/routes.rb
Labels: Ruby

Add 15 minute cache headers to all static assets in /public
  config/environments/production.rb
Labels: Ruby

Revert "Add 15 minute cache headers to all static assets in /public"
  config/environments/production.rb
Labels: Ruby

Address review comments
  app/components/cards/featured_story_component.rb
Labels: Ruby

Fix slanting hero from blocking top nav
  app/webpacker/styles/sections/hero.scss
Labels: none

Reenable checks and pushing commit
  .github/workflows/build.yml
Labels: DevOps

Fix trailing whitespace
  app/webpacker/styles/content.scss
Labels: none

Removed ability to externally supply frontmatter data
  app/models/pages/frontmatter.rb
  spec/fixtures/files/markdown_content/first.md
  spec/fixtures/files/markdown_content/page1.md
  spec/fixtures/files/markdown_content/second.md
  spec/fixtures/files/markdown_content/third.md
  spec/models/pages/data_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/pages/page_spec.rb
Labels: Ruby, Test

Add test to check internal images
  spec/features/content_pages_spec.rb
Labels: Test

Make content hide when overflowing horizontally
  app/webpacker/styles/content.scss
Labels: none

Add a bit more space above level 2 headings
  app/webpacker/styles/markdown.scss
Labels: none

Change teacher training step to radio buttons
  app/controllers/concerns/wizard_steps.rb
  app/models/mailing_list/steps/teacher_training.rb
  app/views/mailing_list/steps/_teacher_training.html.erb
  spec/features/mailing_list_wizard_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
Labels: Ruby, Test

Add paragraph on Christmas opening times to footer
  app/views/sections/_talk-to-us.html.erb
Labels: none

Update API client to remove types
  Gemfile.lock
Labels: none
