Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Style, Ruby, Test, DevOps, Docker, Rails

.github/labeler.yml:

---

Style:
  - app/**/*.scss
  - app/**/*.css
  
Ruby:
  - app/**/*.rb
  - app/**/*.erb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 

Rails:
  - get-into-teaching-app/.env.*

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: Docker

Skip site wide authentication in internal section
  app/controllers/application_controller.rb
  app/controllers/healthchecks_controller.rb
  app/controllers/internal_controller.rb
Labels: Ruby

Reduce dependabot's npm/bundler checks to monthly
  .github/dependabot.yml
Labels: DevOps

Update field label
  app/views/internal/events/new.html.erb
Labels: Ruby

Add validation messages
  app/models/internal/event.rb
  config/locales/en.yml
  spec/features/internal_spec.rb
Labels: Ruby, Test

Stub event API calls in content specs
  spec/features/content_pages_spec.rb
Labels: Test

update banner text
  app/views/sections/_header.html.erb
Labels: Ruby

Target abbr styles to only paragraphs and lists
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/text.scss
Labels: Style

Re-raise non 400 errors
  app/models/internal/event.rb
  spec/models/internal/event_spec.rb
Labels: Ruby, Test

Use lowercase for 'teacher training adviser'
  app/components/calls_to_action/next_steps_component.html.erb
  app/views/eligibility_checker/show.html.erb
  app/views/event_steps/completed.html.erb
  app/views/sections/_talk-to-us.html.erb
  config/locales/en.yml
Labels: Ruby

Add length validation to match CRM
  app/models/internal/event.rb
  app/models/internal/event_building.rb
  spec/models/internal/event_building_spec.rb
  spec/models/internal/event_spec.rb
Labels: Ruby, Test

remove reference to new website - not in the user's interest
  app/views/sections/_feedback_bar.html.erb
  app/views/sections/_talk-to-us.html.erb
Labels: Ruby

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: Docker

Place holder actions
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
Labels: DevOps

Add preset labels to all custom metrics
  .env.test
  config/initializers/01_vcap.rb
  config/initializers/01_vcap_services.rb
  lib/prometheus/metrics.rb
  spec/lib/prometheus/metrics_spec.rb
Labels: Ruby, Test

Add spacing beneath buttons in markdown paragraphs
  app/webpacker/styles/markdown.scss
Labels: Style

Adjust the heading spacing too
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/markdown.scss
Labels: Style

Change Facebook tracking verify method to meta tag
  app/views/sections/_head.html.erb
  public/h1r6sd9bvqql7fyzy5jmdoniuw1rtf.html
Labels: Ruby

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: Docker

Update API cache store
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/git_api_client.rb
  spec/requests/instrumentation_spec.rb
Labels: Ruby, Test

Log when duplicate candidate is potentially being created
  app/models/wizard/issue_verification_code.rb
  spec/support/wizard_support.rb
Labels: Ruby, Test

Common Environment File Added
  .github/common_environment.yml
Labels: DevOps
