Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Ruby, Test, DevOps, Docker

Update remaining references to `TypeEntity`
  app/models/events/search.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
Labels: Ruby, Test

Change key for featured story card
  app/components/cards/featured_story_component.rb
  app/models/pages/page.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/fixtures/files/markdown_content/page1.md
Labels: Ruby, Test

Use a different key to extract the story owners name
  app/components/cards/featured_story_component.rb
  spec/components/cards/featured_story_component_spec.rb
Labels: Ruby, Test

Add a link to campaign page from the bottom nav
  app/views/sections/_footer.html.erb
Labels: none

Added GTM container for preprod env
  .env.preprod
Labels: none

Make the 'read all stories' buttons green
  app/webpacker/styles/stories.scss
Labels: none

Add a purple bottom border to the stories feature
  app/webpacker/styles/stories.scss
Labels: none

Make stories list pages use new card style
  app/views/layouts/stories/list.html.erb
Labels: none

Keep the play icon within the card
  app/webpacker/styles/components/cards.scss
Labels: none

Remove unnecessary .more-stories styles
  app/webpacker/styles/stories.scss
Labels: none

Replace more-stories styles with stories
  app/components/stories/story_component.html.erb
  app/helpers/stories_helper.rb
  app/views/layouts/stories/landing.html.erb
  app/webpacker/styles/stories.scss
  spec/components/stories/story_component_spec.rb
  spec/helpers/stories_helper_spec.rb
Labels: Ruby, Test

Update to use generic RendererComponent component
  app/components/stories/story_component.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/webpacker/styles/stories.scss
Labels: none

Make the headers match the design
  app/webpacker/styles/stories.scss
Labels: none

Move stories feature inside the width container
  app/views/layouts/stories/landing.html.erb
  app/webpacker/styles/stories.scss
Labels: none

Check the HTML pages as well as markdown since the homepage is html
  spec/features/content_pages_spec.rb
Labels: Test

Added check that mobile nav has the same links as desktop nav
  spec/features/content_pages_spec.rb
Labels: Test

Add active step attribute to accordion component
  app/components/content/accordion_component.html.erb
  app/components/content/accordion_component.rb
  app/views/layouts/accordion.html.erb
  spec/components/content/accordion_component_spec.rb
Labels: Ruby, Test

Update accordion JS controller for active steps
  app/webpacker/controllers/accordion_controller.js
  spec/javascript/controllers/accordion_controller_spec.js
Labels: Test

Add some specs for numbering the accordion
  spec/components/content/accordion_component_spec.rb
Labels: Test

Revert to using margin for spacing
  app/webpacker/styles/call_to_action.scss
Labels: none

Update _talk-to-us.html.erb
  app/views/sections/_talk-to-us.html.erb
Labels: none

Amend the Christmas opening times message
  app/views/sections/_talk-to-us.html.erb
Labels: none

Remove sub-folders from webpacker images
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/calls_to_action/next_steps_component.rb
  app/components/calls_to_action/simple_component.rb
  app/webpacker/images/arrow-icon.svg
  app/webpacker/images/icon-calendar.svg
  app/webpacker/images/icon-person.svg
  app/webpacker/images/icon-question.svg
Labels: Ruby

Replace asset_pack_path with image_pack_tag
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/calls_to_action/next_steps_component.rb
  app/components/calls_to_action/simple_component.rb
  app/views/components/_logo.html.erb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/sections/_cookie-acceptance.html.erb
  app/views/sections/_footer.html.erb
Labels: Ruby

Update icon names for consistency
  app/webpacker/images/icon-arrow.svg
  app/webpacker/images/icon-play.svg
  app/webpacker/images/location-icon.svg
  app/webpacker/styles/icons.scss
Labels: none

Fix the pink play icon on homepage video content
  app/webpacker/styles/featured.scss
Labels: none

Re-add removed icons to work with content repo
  app/webpacker/images/arrow-icon.svg
  app/webpacker/images/play-icon.svg
Labels: none

Revert "Re-add removed icons to work with content repo"
  app/webpacker/images/arrow-icon.svg
  app/webpacker/images/play-icon.svg
Labels: none

Remove the Christmas opening times disclaimer
  app/views/sections/_talk-to-us.html.erb
Labels: none

Allow clean run on whole checkout
  .rubocop.yml
Labels: none

Enabled rubocop-rspec
  .rubocop.yml
Labels: none

Remove the unnecessary file extension in git.scss
  app/webpacker/styles/git.scss
Labels: none

Reorganise the accordion layout
  app/views/layouts/accordion.html.erb
  app/webpacker/styles/content.scss
Labels: none

Add a component for the link block
  app/components/content/link_block_component.html.erb
  app/components/content/link_block_component.rb
  spec/components/content/link_block_component_spec.rb
Labels: Ruby, Test

Simplify the link box styling
  app/webpacker/styles/components/link-block.scss
Labels: none

Simplify the content layout
  app/views/layouts/content.html.erb
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/content.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown.scss
Labels: none

Exclude current spec linting failures from Rubocop
  .rubocop.yml
Labels: none

Updated GitHub action to run rubocop on all files
  .github/workflows/build.yml
Labels: DevOps

Improved clarity of spec code
  spec/features/content_pages_spec.rb
Labels: Test

Spelling fix
  spec/features/content_pages_spec.rb
Labels: Test

.github/labeler.yml:

---

Ruby:
  - app/**/*.rb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile
