Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Ruby, Test, DevOps, Docker

Simplify the layout of stories
  app/components/stories/story_component.html.erb
  app/views/layouts/accordion.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/webpacker/styles/content.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/stories.scss
Labels: none

Improve styling of page usefulness question
  app/webpacker/styles/page-question.scss
Labels: none

Fix the events display and use flex for layout
  app/views/events/index.html.erb
  app/views/events/show.html.erb
  app/views/events/show_category.html.erb
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/content.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
Labels: none

Update the homepage to work with flex layout
  app/views/layouts/home.html.erb
  app/webpacker/styles/content.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
Labels: none

Fix a failing spec and make margin adjustments
  app/webpacker/styles/content.scss
  app/webpacker/styles/events.scss
  spec/components/stories/story_component_spec.rb
Labels: Test

Add support for Online Train to Teach Events
  app/components/events/event_box_component.rb
  app/webpacker/images/icon-online-purple.svg
  app/webpacker/styles/icons.scss
  spec/components/events/event_box_component_spec.rb
  spec/factories/api/event_api_factory.rb
Labels: Ruby, Test

Enabled the RSpec `.to_not` check in rubocop
  .rubocop.yml
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/lib/prometheus/metrics_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/mailing_list/steps/already_subscribed_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/wizard/steps/authenticate_spec.rb
  spec/requests/csp_reports_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/support/rate_limiting_support.rb
  spec/support/wizard_support.rb
Labels: Test

Enabled RSpec/DescribedClass
  .rubocop.yml
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/calls_to_action/multiple_buttons_component_spec.rb
  spec/components/calls_to_action/narrow_component_spec.rb
  spec/components/calls_to_action/next_steps_component_spec.rb
  spec/components/calls_to_action/simple_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
  spec/components/card_component_spec.rb
  spec/components/content/accordion_component_spec.rb
  spec/components/events/event_box_component_spec.rb
  spec/components/events/no_results_component_spec.rb
  spec/components/events/search_component_spec.rb
  spec/components/events/type_description_component_spec.rb
  spec/components/navbar/navbar_component_spec.rb
  spec/components/sections/hero_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/components/stories/story_component_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/wizard/store_spec.rb
  spec/presenters/events/group_presenter_spec.rb
Labels: Test

Re-enabled FactoryBot rubocop checks
  .rubocop.yml
  spec/factories/api/event_api_factory.rb
  spec/factories/api/event_building_api_factory.rb
  spec/factories/events/further_details_factory.rb
  spec/factories/events/personal_details_factory.rb
  spec/factories/events/personalised_updates_factory.rb
  spec/factories/events/search_factory.rb
  spec/factories/mailing_list/degree_status_factory.rb
  spec/factories/mailing_list/name_factory.rb
  spec/factories/mailing_list/postcode_factory.rb
  spec/factories/mailing_list/privacy_policy_factory.rb
  spec/factories/mailing_list/subject_factory.rb
  spec/factories/mailing_list/teacher_training_factory.rb
  spec/factories/wizard/authenticate_factory.rb
Labels: Test

Enabled RSpec/LeakyConstantDeclaration rubocop check
  .rubocop.yml
  spec/controllers/concerns/static_pages_spec.rb
  spec/features/content_pages_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/support/page_testing_support.rb
  spec/validators/email_format_validator_spec.rb
  spec/validators/postcode_validator_spec.rb
  spec/validators/telephone_validator_spec.rb
Labels: Test

Enabled RSpec/RepeatedDescription rubocop check
  .rubocop.yml
  spec/components/events/event_box_component_spec.rb
Labels: Test

Enabled RSpec/RepeatedExampleGroupDescription rubocop matcher
  .rubocop.yml
  spec/requests/privacy_policy_spec.rb
Labels: Test

Enabled RSpec/BeEqual rubocop check
  .rubocop.yml
  spec/models/healthcheck_spec.rb
  spec/requests/redirects_spec.rb
Labels: Test

Enabled RSpec/SharedContext rubocop check
  .rubocop.yml
  spec/support/api_support.rb
Labels: Test

Enabled RSpec/ContextMethod rubocop check
  .rubocop.yml
  spec/controllers/concerns/static_pages_spec.rb
  spec/helpers/maps_helper_spec.rb
  spec/models/pages/page_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/stories_controller_spec.rb
Labels: Test

Enabled RSpec/ReceiveCounts rubocop check
  .rubocop.yml
Labels: none

Enabled RSpec/FilePath rubocop check
  .rubocop.yml
  spec/requests/guidance_controller_spec.rb
  spec/requests/steps_to_become_a_teacher_controller_spec.rb
  spec/requests/ways_to_train_controller_spec.rb
Labels: Test

Enabled RSpec/ContextWording rubocop check
  .rubocop.yml
  spec/components/card_component_spec.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/components/cards/story_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
  spec/models/events/search_spec.rb
  spec/models/events/steps/contact_details_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
  spec/models/mailing_list/steps/privacy_policy_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/guidance_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/steps_to_become_a_teacher_controller_spec.rb
  spec/requests/stories_controller_spec.rb
  spec/requests/ways_to_train_controller_spec.rb
  spec/validators/email_format_validator_spec.rb
  spec/validators/number_of_words_validator_spec.rb
Labels: Test

Update Event::Search to explicitly search future events only
  app/models/events/search.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Revert "Update Event::Search to explicitly search future events only"
  app/models/events/search.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Update events image on homepage.
  app/webpacker/images/home-events.jpg
Labels: none

Fix cross-repo hook when commit msg has "quoted text" in
  .github/workflows/build.yml
Labels: DevOps

Tweak narrow component so icon is flush top left
  app/components/calls_to_action/narrow_component.html.erb
  app/webpacker/styles/call_to_action.scss
Labels: none

Update Event::Search to explicitly search future events only
  app/models/events/search.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
Labels: Ruby, Test

Bump GetIntoTeachingApiClient version
  Gemfile.lock
Labels: none

Added support for optional demo views folder
  .env.development
  .env.rolling
  .env.test
  config/initializers/testviews.rb
Labels: Ruby

Use `app/demoviews` instead of the support views
  app/demoviews/content/home/_featured_content.md
  app/demoviews/content/steps-to-become-a-teacher.md
  app/demoviews/content/tracked-page.md
  spec/features/mailing_list_wizard_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
  spec/support/fake_views.rb
Labels: Test

Enabled randomisation of specs
  spec/spec_helper.rb
Labels: Test

Support viewing archived online events
  app/components/events/search_component.html.erb
  app/controllers/events_controller.rb
  app/models/events/search.rb
  app/views/events/show_category.html.erb
  config/routes.rb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Link to archive for online events
  app/controllers/events_controller.rb
  app/views/events/index.html.erb
  app/views/events/show_category.html.erb
  app/webpacker/styles/events.scss
Labels: Ruby

Order archived events by date descending
  app/controllers/events_controller.rb
  app/models/events/search.rb
  app/presenters/events/group_presenter.rb
  spec/models/events/search_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Added trello workflow to publish PRs back to Trello
  .github/workflows/trello.yml
Labels: DevOps

Fix the style of explore get into teaching cards
  app/components/stories/story_component.html.erb
  app/webpacker/styles/components/cards.scss
Labels: none

Move stories content to a semantic layout
  app/components/stories/story_component.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/webpacker/styles/layout.scss
  app/webpacker/styles/stories.scss
Labels: none

Update the accordion to use a semantic layout
  app/views/layouts/accordion.html.erb
Labels: none

Make 'is this page useful?' question render better
  app/webpacker/styles/page-question.scss
Labels: none

Improve the experience for people without flexbox
  app/views/layouts/accordion.html.erb
  app/views/layouts/shared/_narrow_call_to_action.html.erb
  app/webpacker/styles/layout.scss
Labels: none

Remove guidance layout
  app/controllers/guidance_controller.rb
  app/views/layouts/guidance.html.erb
Labels: Ruby

Add a bottom margin on the Kramdown ToC
  app/webpacker/styles/markdown.scss
Labels: none

Transition to search_teaching_events_grouped_by_type
  Gemfile.lock
  app/controllers/events_controller.rb
  app/models/events/category.rb
  app/models/events/search.rb
  app/presenters/events/group_presenter.rb
  spec/features/find_an_event_spec.rb
  spec/models/events/category_spec.rb
  spec/models/events/search_spec.rb
  spec/models/pages/data_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/rails_helper.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
  spec/support/api_support.rb
  spec/support/helpers/events.rb
Labels: Ruby, Test

.github/labeler.yml:

---

Ruby:
  - app/**/*.rb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile
