Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Style, Ruby, Test, DevOps, Docker, Rails, Assets, Content, Config

added bullets into personal development section
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

amended bullets in personal development
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Revert "work in progress"
  app/components/header/extra_navigation_component.html.erb
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/styles/header/extra-navigation.scss
Labels: Style, Ruby

Revert "test removing search label"
  app/components/header/extra_navigation_component.html.erb
Labels: Ruby

changed promo text
  app/views/content/landing/career-progression/_promo.html.erb
Labels: Ruby, Content

removed rogue full stop
  app/views/content/landing/career-progression/_promo.html.erb
Labels: Ruby, Content

Further updates to the why-teach component
  app/views/content/non-uk-teachers/_why-teach.html.erb
  app/views/content/train-to-be-a-teacher/_why-teach.html.erb
Labels: Ruby, Content

Internships update for 14 Dec 2023
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: Content

update URL
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: Content

Add message re holiday response time on adviser funnel completed page
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Ruby

Tweaked min salary content to align campaign
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
Labels: Content

Replace England with UK for aspects of eligibility
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Content

Update get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Content

Remove Zimbabwe and direct links to service from Teach in England
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Content

Update teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Content

Update teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Content

Update teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Content

Update get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Content

Re-open corrected to reopen
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Content

Update app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Content

Update app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Content

Update Chemistry scholarship link on bursaries page
  app/views/content/funding-and-support/scholarships-and-bursaries.md
Labels: Content

Add DAX pixel to cookie policy
  app/views/pages/cookies.md
Labels: none

Make artifacts unique
  .github/workflows/build.yml
Labels: DevOps

Disable SCSS linting
  .github/workflows/build.yml
Labels: DevOps

Remove check service principal workflow
  .github/workflows/check_sp.yml
Labels: DevOps

Add statuscake monitoring
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/statuscake.tf
  terraform/aks/variables.tf
Labels: DevOps

remove App Insights webtest
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/monitoring.tf
  terraform/aks/statuscake.tf
  terraform/aks/variables.tf
Labels: DevOps

Increase prod redis from C1 to C2
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/database.tf
  terraform/aks/variables.tf
Labels: DevOps

Add additional requirements for present-env
  package.json
  yarn.lock
Labels: none

Added messaging to hero image text
  app/views/content/is-teaching-right-for-me.md
Labels: Content

Added comma after and
  app/views/content/is-teaching-right-for-me.md
Labels: Content

Added a and changed help to inspire
  app/views/content/landing/career-progression/_collage.html.erb
Labels: Ruby, Content

Updated head to headteacher
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Amended to in a primary or secondary school
  app/views/content/landing/career-progression/_promo.html.erb
Labels: Ruby, Content

Updated head to headteacher in intro bullet
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Amended salary pay rise bullet
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Changed be a form teacher to become
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Spelled out ECT in full in the link
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

Added comma in 1st line of teacher pay section
  app/views/content/landing/career-progression/_content.html.erb
Labels: Ruby, Content

.github/labeler.yml:

---

Style:
- changed-files:
  - any-glob-to-any-file:
    - app/**/*.scss
    - app/**/*.css

Ruby:
- changed-files:
  - any-glob-to-any-file:
    - app/**/*.rb
    - app/**/*.erb
    - db/**/*.rb
    - config/**/*.rb
    - lib/**/*.rb
    - lib/**/*.rake

Test:
- changed-files:
  - any-glob-to-any-file:
    - spec/**/*
    - tests/**/*

DevOps:
- changed-files:
  - any-glob-to-any-file:
    - terraform/**/*
    - .github/**/*.yml

Docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - docker-run.sh

Rails:
- changed-files:
  - any-glob-to-any-file: 'get-into-teaching-app/.env.*'


Assets:
- changed-files:
  - any-glob-to-any-file: 'public/assets/**/*'


Content:
- changed-files:
  - any-glob-to-any-file: 'app/views/content/**/*'

Config:
- changed-files:
  - any-glob-to-any-file: 'config/**/*'
