Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Ruby, Test, DevOps, Docker

Bump ApiClient version
  Gemfile.lock
Labels: none

Rename spec helper module to SpecHelpers
  spec/rails_helper.rb
  spec/support/spec_helpers/events.rb
Labels: Test

Move event category actions into EventCategoriesController
  app/components/events/type_description_component.rb
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  app/presenters/events/group_presenter.rb
  app/views/event_categories/show.html.erb
  app/views/events/_event_group.html.erb
  config/routes.rb
  spec/components/events/type_description_component_spec.rb
  spec/features/find_an_event_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Clean up event online/offline/virtual checks
  app/components/events/event_box_component.html.erb
  app/components/events/event_box_component.rb
  spec/components/events/event_box_component_spec.rb
  spec/factories/api/event_api_factory.rb
Labels: Ruby, Test

Add IE-specific fix to keep footer below content
  app/webpacker/styles/footer.scss
Labels: none

Added a varient of Call to action button which excludes the chevron
  app/webpacker/styles/links_and_buttons.scss
Labels: none

Use inherit instead of unset
  app/webpacker/styles/stories.scss
Labels: none

Added Fail2Ban to trap hostile bots
  .env.preprod
  .env.rolling
  config/initializers/rack_attack.rb
Labels: Ruby

Update capitalisation of events headers
  app/components/events/event_box_component.html.erb
  app/components/events/event_box_component.rb
  app/helpers/events_helper.rb
  app/views/events/_event_group.html.erb
  app/views/events/show.html.erb
  config/locales/en.yml
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/components/cards/renderer_component_spec.rb
  spec/components/events/event_box_component_spec.rb
  spec/components/events/type_description_component_spec.rb
  spec/factories/api/event_api_factory.rb
  spec/features/find_an_event_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/models/events/category_spec.rb
  spec/models/pages/data_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
Labels: Ruby, Test

Update Past Online events
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/factories/api/event_api_factory.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Resolve merge conflicts after rebase
  spec/components/events/event_box_component_spec.rb
  spec/presenters/events/group_presenter_spec.rb
Labels: Test

Disable useless Rubocop RSpec rule 'NotToNot'
  .rubocop.yml
Labels: none

Update capitalisation of additional events headers
  app/views/events/index.html.erb
  spec/helpers/events_helper_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
Labels: Test

Update "Past Online Events" to "Past online events"
  app/helpers/events_helper.rb
  app/views/event_categories/show.html.erb
  spec/helpers/events_helper_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Ruby, Test

Bump API client version
  Gemfile.lock
Labels: none

Only disable Rack::Attack req limits in `preprod`
  .env.preprod
  .env.rolling
  config/environments/preprod.rb
  config/environments/rolling.rb
  config/initializers/rack_attack.rb
Labels: Ruby

Log to Sentry when we ban an IP address
  config/initializers/rack_attack.rb
Labels: Ruby

Make the content pages use the semantic layout
  app/views/layouts/content.html.erb
  app/webpacker/styles/layout.scss
  app/webpacker/styles/markdown.scss
Labels: none

Remove the unused $gap variable
  app/webpacker/styles/layout.scss
Labels: none

Snaffle secrets
  .github/workflows/cve.yml
Labels: DevOps

Make the content pages redirect-aware
  spec/features/content_pages_spec.rb
Labels: Test

Limit width of main content and update hero to match
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/sections/hero.scss
Labels: none

Limit width of footer contents
  app/views/sections/_footer.html.erb
Labels: none

Exclude /rails from default content route
  config/routes.rb
Labels: Ruby

Limit width of header contents
  app/components/navbar/navbar_component.html.erb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
  app/webpacker/styles/layout.scss
Labels: none

.github/labeler.yml:

---

Ruby:
  - app/**/*.rb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile
