Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Ruby, Test, DevOps, Docker

Update validator to allow outward only postcodes in event search
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  spec/validators/postcode_validator_spec.rb
Labels: Ruby, Test

Refactor component specs to use the page as the subject
  spec/components/stories/card_component_spec.rb
  spec/components/stories/story_component_spec.rb
Labels: Test

Changed truncation behaviour for headers
  app/components/card_component.rb
  spec/components/card_component_spec.rb
  spec/components/stories/card_with_header_component_spec.rb
Labels: Ruby, Test

Added Pages::Data model for accessing other pages
  app/models/pages/data.rb
  app/models/pages/page.rb
  spec/models/pages/data_spec.rb
  spec/models/pages/page_spec.rb
Labels: Ruby, Test

Added CardWithHeaderComponent
  app/components/stories/card_with_header_component.rb
  spec/components/stories/card_with_header_component_spec.rb
Labels: Ruby, Test

Use CardWithHeader component from Stories component
  app/components/stories/story_component.html.erb
  app/components/stories/story_component.rb
  app/views/layouts/stories/story.html.erb
  spec/components/stories/story_component_spec.rb
  spec/support/page_support.rb
Labels: Ruby, Test

Truncate headers if they are too long
  app/components/card_component.html.erb
  app/components/card_component.rb
  spec/components/card_component_spec.rb
Labels: Ruby, Test

Added option to show cards with headers and without borders
  app/components/card_component.html.erb
  app/components/card_component.rb
  app/webpacker/styles/components/cards.scss
  spec/components/card_component_spec.rb
Labels: Ruby, Test

Added title in addition to header to base CardComponent
  app/components/card_component.html.erb
  app/components/card_component.rb
  app/webpacker/styles/components/cards.scss
  spec/components/card_component_spec.rb
Labels: Ruby, Test

Use Title instead of Header for Stories::CardWithHeader
  app/components/stories/card_with_title_component.rb
  app/components/stories/story_component.html.erb
  spec/components/stories/card_with_title_component_spec.rb
Labels: Ruby, Test

Use match_array to prevent sorting spec failures
  spec/models/pages/frontmatter_spec.rb
Labels: Test

Remove the template handler and refactor sitemaps
  app/helpers/sitemap_helper.rb
  app/views/sections/_footer.html.erb
  app/views/sections/_header.html.erb
  config/initializers/template_handlers.rb
  lib/template_handlers/erb.rb
  spec/helpers/sitemap_helper_spec.rb
  spec/lib/template_handlers/erb_spec.rb
Labels: Ruby, Test

Allow <div> tags in safe_html_format
  app/helpers/text_formatting_helper.rb
  spec/helpers/text_formatting_helper_spec.rb
Labels: Ruby, Test

Added Explore section to StoryComponent
  app/components/stories/story_component.html.erb
  app/components/stories/story_component.rb
  app/webpacker/styles/components/cards.scss
  spec/components/stories/story_component_spec.rb
Labels: Ruby, Test

Wrap string as an array
  config/initializers/rack_attack.rb
Labels: Ruby

Move navbar into component
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/helpers/application_helper.rb
  app/views/sections/_header.html.erb
Labels: Ruby

Update navbar underline to match designs
  app/webpacker/styles/header.scss
Labels: none

Highlight link based on first segment of current uri
  app/helpers/application_helper.rb
Labels: Ruby

Add highlight to current page title in navbar
  app/helpers/application_helper.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
Labels: Ruby

Add navbar component tests
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/views/sections/_header.html.erb
  spec/components/navbar/navbar_component_spec.rb
Labels: Ruby, Test

Override GOV.UK Transport with Sans-serif
  app/webpacker/styles/application.scss
Labels: none

Renamed CardWithHeaderComponent to Cards::StoryComponent
  app/components/cards/story_component.rb
  app/components/stories/story_component.html.erb
  spec/components/cards/story_component_spec.rb
Labels: Ruby, Test

Update component to work with changes to navigation_resources
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
Labels: Ruby

Update tests based on suggestions
  spec/components/navbar/navbar_component_spec.rb
Labels: Test

Check for element contents as well as presence
  spec/components/card_component_spec.rb
Labels: Test

Rename steps layout to accordion
  app/controllers/steps_to_become_a_teacher_controller.rb
  app/views/layouts/accordion.html.erb
Labels: Ruby

Add ways to train accordion
  app/controllers/ways_to_train_controller.rb
  config/routes.rb
Labels: Ruby

Make numbering accordion steps optional
  app/components/content/accordion_component.html.erb
  app/components/content/accordion_component.rb
  app/views/layouts/accordion.html.erb
  app/webpacker/styles/accordion.scss
Labels: Ruby

Make the content after the accordion grey
  app/views/layouts/accordion.html.erb
  app/webpacker/styles/accordion.scss
Labels: none

Add before/after partials to accordion
  app/controllers/ways_to_train_controller.rb
  app/views/layouts/accordion.html.erb
  config/routes.rb
Labels: Ruby

Slightly adjust the cta story margins
  app/webpacker/styles/call_to_action.scss
Labels: none

Support content before/after accordion
  app/components/content/accordion/next_steps_component.html.erb
  app/components/content/accordion/next_steps_component.rb
  app/components/content/accordion_component.html.erb
  app/components/content/accordion_component.rb
  app/views/layouts/accordion.html.erb
  app/webpacker/styles/accordion.scss
Labels: Ruby

Add the story accordion component
  app/components/content/accordion/story_component.html.erb
  app/components/content/accordion/story_component.rb
  app/components/content/accordion_component.rb
  app/webpacker/styles/call_to_action.scss
  spec/components/content/accordion/story_component_spec.rb
Labels: Ruby, Test

Add and style the Next Steps CTA
  app/components/content/accordion/next_steps_component.html.erb
  app/components/content/accordion_component.rb
  app/webpacker/styles/call_to_action.scss
Labels: Ruby

Simplify logic around before/after sections
  app/components/content/accordion_component.html.erb
Labels: none

Make the calls to action more responsive
  app/components/content/accordion/next_steps_component.html.erb
  app/webpacker/styles/call_to_action.scss
Labels: none

Replace the speech bubble icon with an arrow
  app/components/content/accordion/next_steps_component.rb
  app/webpacker/images/calls-to-action/arrow-icon.svg
Labels: Ruby

Add DAX cookie policy details
  app/views/pages/cookies.html.erb
Labels: none

Generalised the behaviour of the card modifier classes
  app/components/card_component.html.erb
  app/components/card_component.rb
Labels: Ruby

Navbar current page highlight (#597)
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
  spec/components/navbar/navbar_component_spec.rb
Labels: Ruby, Test

.github/labeler.yml:

---

Ruby:
  - app/**/*.rb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile
