Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Style, Ruby, Test, DevOps, Docker, Rails

.github/labeler.yml:

---

Style:
  - app/**/*.scss
  - app/**/*.css
  
Ruby:
  - app/**/*.rb
  - app/**/*.erb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 

Rails:
  - get-into-teaching-app/.env.*

Placate Rubocop
  spec/features/internal_spec.rb
Labels: Test

Add request specs for create/update
  spec/requests/internal/events_controller_spec.rb
Labels: Test

Move event + building validation into event
  app/controllers/internal/events_controller.rb
  app/models/internal/event.rb
  spec/models/internal/event_spec.rb
Labels: Ruby, Test

Add context
  app/webpacker/packs/internal.js
Labels: none

Protect endpoint from non-publisher user types
  app/controllers/internal/events_controller.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Ruby, Test

Increase font sizes slightly to ensure readability
  app/webpacker/styles/font-sizes.scss
Labels: Style

Ensure sizes applied to list content
  app/webpacker/styles/text.scss
Labels: Style

Pass params as "id"
  app/controllers/internal/events_controller.rb
  app/views/internal/events/show.html.erb
Labels: Ruby

Move repeated allows into before block
  spec/features/internal_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Test

Fix long words causing horizontal scroll
  app/webpacker/styles/markdown.scss
Labels: Style

Add forbidden page
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/views/errors/forbidden.html.erb
  spec/controllers/errors_controller_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Ruby, Test

Move submission to model
  app/controllers/internal/events_controller.rb
  app/models/internal/event.rb
  app/views/internal/events/new.html.erb
Labels: Ruby

Increase the smaller sizes slightly
  app/webpacker/styles/font-sizes.scss
  config/frontmatter.yml
Labels: Style

Fix downward arrows in link block
  app/webpacker/styles/components/link-block.scss
Labels: Style

Use invalid for validation
  app/models/internal/event.rb
  spec/models/internal/event_spec.rb
Labels: Ruby, Test

Update initialisation of event
  app/controllers/internal/events_controller.rb
  app/models/internal/event.rb
  app/views/internal/events/new.html.erb
  spec/requests/internal/events_controller_spec.rb
Labels: Ruby, Test

Add forbidden to routes
  config/routes.rb
Labels: Ruby

Update concern with indifferent access
  app/models/concerns/api_model_convertible.rb
Labels: Ruby

Add unit tests
  spec/models/internal/event_spec.rb
Labels: Test

Remove accidentally committed symlink
  config/frontmatter.yml
Labels: none

Enhance the error summary component
  app/webpacker/packs/application.js
  app/webpacker/packs/govuk_components.js
Labels: none

Update the Gemfile.lock which was out of sync
  Gemfile.lock
Labels: none

Add JS controller that controls switching abbrs
  app/views/layouts/content.html.erb
  app/webpacker/controllers/abbreviation_controller.js
  app/webpacker/styles/markdown.scss
Labels: Style, Ruby

Make abbr regex ignore abbreviations in brackets
  lib/acronyms.rb
  spec/lib/acronyms_spec.rb
Labels: Ruby, Test

Add a small explanation for the regexp
  lib/acronyms.rb
Labels: Ruby

Add some specs covering abbreviation replacement
  app/webpacker/controllers/abbreviation_controller.js
  spec/javascript/controllers/abbreviation_controller_spec.js
Labels: Test

Simplify the abbr regex a little
  lib/acronyms.rb
Labels: Ruby

Make degree option include people en route
  app/views/eligibility_checker/show.html.erb
Labels: Ruby

Log to Sentry when CircuitBrokenError is thrown in client Gem
  app/controllers/concerns/circuit_breaker.rb
  spec/requests/circuit_breaker_spec.rb
Labels: Ruby, Test

Reword eligibility checker qualifications info
  app/views/eligibility_checker/show.html.erb
Labels: Ruby

Add #chat_link helper method
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Labels: Ruby, Test

Add helpful chat link to eligibility checker
  app/views/eligibility_checker/show.html.erb
Labels: Ruby

Include the pack in the registration layout
  app/views/layouts/registration.html.erb
  app/webpacker/packs/application.js
  app/webpacker/packs/govuk/error_summary.js
Labels: Ruby

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: Docker

Override GOV.UK font face to avoid 404s
  app/webpacker/styles/internal.scss
Labels: Style

Add credentials for internal login
  .env.test
  app/controllers/internal_controller.rb
  config/credentials/preprod.yml.enc
  config/credentials/production.yml.enc
  config/credentials/rolling.yml.enc
  config/environments/development.rb
  config/environments/production.rb
  spec/support/spec_helpers/internal.rb
Labels: Ruby, Test

Update features spec to mock credentials
  spec/features/internal_spec.rb
Labels: Test

Fix "selectElement is not defined" console error
  app/webpacker/packs/internal.js
Labels: none

Add test to prevent internal links with the domain
  spec/features/content_pages_spec.rb
Labels: Test

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: Docker
