Repository DFE-Digital/get-into-teaching-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Style, Ruby, Test, DevOps, Docker, Rails, Assets, Content, Config

.github/labeler.yml:

---

Style:
  - app/**/*.scss
  - app/**/*.css
  
Ruby:
  - app/**/*.rb
  - app/**/*.erb
  - db/**/*.rb
  - config/**/*.rb
  - lib/**/*.rb
  - lib/**/*.rake

Test:
  - spec/**/*
  - tests/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-run.sh

Rails:
  - get-into-teaching-app/.env.*

Assets:
  - assets/**/*

Content:
  - content/**/*

Config:
  - config/**/*

Terraform Added to Master
  terraform/paas/.gitignore
  terraform/paas/application.tf
  terraform/paas/backend.tf
  terraform/paas/data.tf
  terraform/paas/dev.bk.vars
  terraform/paas/dev.env.tfvars
  terraform/paas/domain.tf
  terraform/paas/pagespeed.bk.vars
  terraform/paas/pagespeed.env.tfvars
  terraform/paas/production.bk.vars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/services.tf
  terraform/paas/space.tf
  terraform/paas/statuscake.tf
  terraform/paas/test.bk.vars
  terraform/paas/test.env.tfvars
  terraform/paas/ur.bk.vars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
  terraform/paas/versions.tf
  tests/confidence/healthcheck.sh
Labels: Test, DevOps

Log Deployment to Logit
  .github/workflows/deploy.yml
Labels: DevOps

Bump GetIntoTeachingApiClient version
  Gemfile.lock
Labels: none

Allow the chat_link helper to take extra classes
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Labels: Ruby, Test

Add an id to each feature table
  app/components/content/feature_table_component.html.erb
  spec/components/content/feature_table_component_spec.rb
Labels: Ruby, Test

Make description field taller
  app/webpacker/styles/internal.scss
Labels: Style

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: Docker

Revert "Revert "enable fail2ban in production - only for 1 minute initially""
  .env.production
Labels: none

Building must be present if venue_type is :existing
  app/models/internal/event.rb
  app/views/internal/events/new.html.erb
  spec/models/internal/event_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Ruby, Test

Release Logic Applied
  .github/workflows/build.yml
Labels: DevOps

Only the first element requires link_errors: true
  app/views/internal/events/new.html.erb
Labels: Ruby

Run specs in random order
  spec/spec_helper.rb
Labels: Test

Add some media queries to resize embedded videos
  app/webpacker/styles/markdown.scss
Labels: Style

Check for default rather than empty frontmatter
  lib/template_handlers/markdown.rb
Labels: Ruby
