Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2020-12, with the labels that each got.

#621 Allow <div> tags in safe_html_format
  app/helpers/text_formatting_helper.rb
  spec/helpers/text_formatting_helper_spec.rb
Labels: ruby, test

#620 Stop setting the sitemap variable in template handler
  app/helpers/sitemap_helper.rb
  app/views/sections/_footer.html.erb
  app/views/sections/_header.html.erb
  config/initializers/template_handlers.rb
  lib/template_handlers/erb.rb
  spec/helpers/sitemap_helper_spec.rb
  spec/lib/template_handlers/erb_spec.rb
  spec/models/pages/frontmatter_spec.rb
Labels: ruby, test

#597 Navbar current page highlight
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
  spec/components/navbar/navbar_component_spec.rb
Labels: ruby, test

#624 Explore get into teaching
  app/components/card_component.html.erb
  app/components/card_component.rb
  app/components/cards/story_component.rb
  app/components/stories/story_component.html.erb
  app/components/stories/story_component.rb
  app/models/pages/data.rb
  app/models/pages/page.rb
  app/views/layouts/stories/story.html.erb
  app/webpacker/styles/components/cards.scss
  spec/components/card_component_spec.rb
  spec/components/cards/story_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/components/stories/story_component_spec.rb
  spec/models/pages/data_spec.rb
  spec/models/pages/page_spec.rb
  spec/support/page_support.rb
Labels: ruby, test

#622 Fix Rack::Attack exception
  config/initializers/rack_attack.rb
Labels: ruby

#619 Update validator to allow outward only postcodes in event search
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  config/locales/en.yml
  spec/models/events/search_spec.rb
  spec/validators/postcode_validator_spec.rb
Labels: ruby, test

#627 Revert "Navbar current page highlight"
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
  spec/components/navbar/navbar_component_spec.rb
Labels: ruby, test

#616 Add ways to train page
  app/components/content/accordion/next_steps_component.html.erb
  app/components/content/accordion/next_steps_component.rb
  app/components/content/accordion/story_component.html.erb
  app/components/content/accordion/story_component.rb
  app/components/content/accordion_component.html.erb
  app/components/content/accordion_component.rb
  app/controllers/steps_to_become_a_teacher_controller.rb
  app/controllers/ways_to_train_controller.rb
  app/views/layouts/accordion.html.erb
  app/webpacker/images/calls-to-action/arrow-icon.svg
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/call_to_action.scss
  config/routes.rb
  spec/components/content/accordion/story_component_spec.rb
  spec/components/content/accordion_component_spec.rb
  spec/requests/ways_to_train_spec.rb
Labels: ruby, test

#628 Revert "Update validator to allow outward only postcodes in event search"
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  config/locales/en.yml
  spec/models/events/search_spec.rb
  spec/validators/postcode_validator_spec.rb
Labels: ruby, test

#630 Navbar current page highlight
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
  spec/components/navbar/navbar_component_spec.rb
Labels: ruby, test

#631 Move calls to action components to more logical place
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/calls_to_action/next_steps_component.rb
  app/components/calls_to_action/story_component.html.erb
  app/components/calls_to_action/story_component.rb
  app/components/content/accordion/chat_online_component.rb
  app/components/content/accordion/next_steps_component.rb
  app/components/content/accordion/story_component.rb
  app/components/content/accordion_component.rb
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/calls_to_action/next_steps_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
Labels: ruby, test

#633 Generic call to action
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/multiple_buttons_component.html.erb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/calls_to_action/next_steps_component.rb
  app/components/calls_to_action/simple_component.html.erb
  app/components/calls_to_action/simple_component.rb
  app/components/calls_to_action/story_component.html.erb
  app/components/calls_to_action/story_component.rb
  app/components/content/accordion_component.rb
  app/webpacker/images/calls-to-action/chat-icon.png
  app/webpacker/images/calls-to-action/icon-calendar.svg
  app/webpacker/images/calls-to-action/icon-person.svg
  app/webpacker/images/calls-to-action/icon-question.svg
  app/webpacker/styles/call_to_action.scss
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/calls_to_action/multiple_buttons_component_spec.rb
  spec/components/calls_to_action/simple_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
Labels: ruby, test

#648 Replace HeaderComponent with HeroComponent
  app/components/sections/header_component.html.erb
  app/components/sections/header_component.rb
  app/views/events/index.html.erb
  app/views/events/show_category.html.erb
  app/views/layouts/accordion.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  spec/components/sections/header_component_spec.rb
  spec/components/sections/hero_component_spec.rb
Labels: ruby, test

#653 Revert "Revert "Update validator to allow outward only postcodes in event search""
  app/models/events/search.rb
  app/validators/postcode_validator.rb
  config/locales/en.yml
  spec/models/events/search_spec.rb
  spec/validators/postcode_validator_spec.rb
Labels: ruby, test

#652 Latest event card
  app/components/cards/latest_event_component.rb
  app/components/cards/renderer_component.rb
  app/components/stories/story_component.html.erb
  app/models/events/category.rb
  app/models/pages/data.rb
  app/webpacker/images/latest-event-card-image.jpg
  spec/components/cards/latest_event_component_spec.rb
  spec/components/cards/renderer_component_spec.rb
  spec/models/events/category_spec.rb
  spec/models/pages/data_spec.rb
  spec/requests/events_controller_spec.rb
  spec/support/api_support.rb
Labels: ruby, test

#644 Simplify TalkToUs Stimulus controller
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/styles/call_to_action.scss
  app/webpacker/styles/sections/talk-to-us.scss
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: test

#647 Stop overwriting the frontmatter for partials
  app/views/layouts/accordion.html.erb
  lib/template_handlers/markdown.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test

#660 Allow for simple calls to action without a title
  app/components/calls_to_action/simple_component.rb
  spec/components/calls_to_action/simple_component_spec.rb
Labels: ruby, test

#662 Only render simple cta text and title if present
  app/components/calls_to_action/simple_component.html.erb
  app/webpacker/styles/call_to_action.scss
  spec/components/calls_to_action/simple_component_spec.rb
Labels: test

#663 Update chat to new theme
  app/webpacker/controllers/talk-to-us_controller.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: test

#665 Revert "Update chat to new theme"
  app/webpacker/controllers/talk-to-us_controller.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: test

#667 Update chat to new theme
  app/webpacker/controllers/talk-to-us_controller.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: test

#657 Added a Chat Online card which can be used in stories
  app/components/card_component.rb
  app/components/cards/chat_online_component.html.erb
  app/components/cards/chat_online_component.rb
  app/components/cards/latest_event_component.rb
  app/components/cards/story_component.rb
  app/webpacker/images/chat-online-card.jpg
  app/webpacker/images/latest-event-card.jpg
  app/webpacker/styles/components/cards.scss
  spec/components/cards/chat_online_component_spec.rb
Labels: ruby, test

#658 Upgrade to stimulus 2.0.0
  app/components/card_component.rb
  app/components/content/accordion_component.html.erb
  app/components/events/search_component.html.erb
  app/components/navbar/navbar_component.html.erb
  app/views/components/_videoplayer.html.erb
  app/views/cookie_preferences/show.html.erb
  app/views/event_steps/_further_details.html.erb
  app/views/layouts/accordion.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/sections/_cookie-acceptance.html.erb
  app/views/sections/_page_question.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/controllers/conditional_field_controller.js
  app/webpacker/controllers/cookie_preferences_controller.js
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/controllers/video_controller.js
  package.json
  spec/components/card_component_spec.rb
  spec/components/content/accordion_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/javascript/controllers/accordion_controller_spec.js
  spec/javascript/controllers/conditional_field_controller_spec.js
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
  spec/javascript/controllers/cookie_preferences_controller_spec.js
  spec/javascript/controllers/last_step_controller_spec.js
  spec/javascript/controllers/link_controller_spec.js
  spec/javascript/controllers/navigation_controller_spec.js
  spec/javascript/controllers/page_helpful_controller_spec.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
  spec/javascript/controllers/video_controller_spec.js
  yarn.lock
Labels: ruby, test

#671 Add calls to action to right column
  app/components/calls_to_action/narrow_component.html.erb
  app/components/calls_to_action/narrow_component.rb
  app/views/layouts/accordion.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/shared/_narrow_call_to_action.html.erb
  app/webpacker/styles/call_to_action.scss
  spec/components/calls_to_action/narrow_component_spec.rb
Labels: ruby, test

#675 Replace TypeEntity with PickListItem/LookupItem
  Gemfile.lock
  app/controllers/events_controller.rb
  app/models/events/category.rb
  app/models/events/steps/personalised_updates.rb
  app/models/healthcheck.rb
  app/models/mailing_list/steps/degree_status.rb
  app/models/mailing_list/steps/name.rb
  app/models/mailing_list/steps/subject.rb
  app/models/mailing_list/steps/teacher_training.rb
  spec/factories/events/personalised_updates_factory.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/healthcheck_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/support/api_support.rb
Labels: ruby, test

#681 Add a content spec that ensures no localhost links
  spec/features/content_pages_spec.rb
Labels: test

#673 Extracted no 'latest event' behaviour into separate component
  app/components/cards/find_events_component.rb
  app/components/cards/latest_event_component.rb
  spec/components/cards/find_events_component_spec.rb
  spec/components/cards/latest_event_component_spec.rb
Labels: ruby, test

#678 Move guidance routes below redirects
  config/routes.rb
Labels: ruby

#689 Add 15 minute cache headers to all static assets in /public
  config/environments/production.rb
Labels: ruby

#682 Add no results message to event category results
  app/components/events/no_results_component.html.erb
  app/components/events/no_results_component.rb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/events/show_category.html.erb
  app/webpacker/styles/components/events/no-results.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/git.scss
  spec/components/events/no_results_component_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: ruby, test

#685 Add page title to event/mailing list completion
  .rubocop.yml
  app/controllers/event_steps_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test

#672 Fixed link to Cookies page from privacy policy
  app/helpers/application_helper.rb
  app/views/pages/privacy_policy.html.erb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test

#686 Reflect merge commit message through to `-content` repo
  .github/workflows/build.yml
Labels: DevOps

#692 Add test to check internal images
  spec/features/content_pages_spec.rb
Labels: test

#684 Featured story card
  app/components/cards/featured_story_component.rb
  app/models/pages/data.rb
  app/models/pages/frontmatter.rb
  app/models/pages/page.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/fixtures/files/markdown_content/first.md
  spec/fixtures/files/markdown_content/page1.md
  spec/fixtures/files/markdown_content/second.md
  spec/fixtures/files/markdown_content/third.md
  spec/models/pages/data_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/pages/page_spec.rb
Labels: ruby, test

#695 Update API client to remove types
  Gemfile.lock
  app/models/events/search.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
Labels: ruby, test

#693 Change teacher training step to radio buttons
  app/controllers/concerns/wizard_steps.rb
  app/models/mailing_list/steps/teacher_training.rb
  app/views/mailing_list/steps/_teacher_training.html.erb
  spec/features/mailing_list_wizard_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
Labels: ruby, test

#698 Change attributes for featured story card
  app/components/cards/featured_story_component.rb
  app/models/pages/page.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/fixtures/files/markdown_content/page1.md
Labels: ruby, test

#700 Check the HTML pages as well as markdown since the homepage is html
  spec/features/content_pages_spec.rb
Labels: test

#674 Set active accordion step from data attr
  app/components/content/accordion_component.html.erb
  app/components/content/accordion_component.rb
  app/views/layouts/accordion.html.erb
  app/webpacker/controllers/accordion_controller.js
  spec/components/content/accordion_component_spec.rb
  spec/javascript/controllers/accordion_controller_spec.js
Labels: ruby, test

#641 Implement stories landing page redesign
  app/components/stories/story_component.html.erb
  app/helpers/stories_helper.rb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/stories.scss
  spec/components/stories/story_component_spec.rb
  spec/helpers/stories_helper_spec.rb
Labels: ruby, test

#712 Replace asset_pack_path with image_pack_tag
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/calls_to_action/next_steps_component.rb
  app/components/calls_to_action/simple_component.rb
  app/views/components/_logo.html.erb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/sections/_cookie-acceptance.html.erb
  app/views/sections/_footer.html.erb
  app/webpacker/images/arrow-icon.svg
  app/webpacker/images/icon-arrow.svg
  app/webpacker/images/icon-calendar.svg
  app/webpacker/images/icon-person.svg
  app/webpacker/images/icon-play.svg
  app/webpacker/images/icon-question.svg
  app/webpacker/images/location-icon.svg
  app/webpacker/styles/icons.scss
Labels: ruby
