Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-01, with the labels that each got.

#722 Enable rubocop-rspec
  .github/workflows/build.yml
  .rubocop.yml
Labels: DevOps

#701 Added check that mobile nav has the same links as desktop nav
  spec/features/content_pages_spec.rb
Labels: test

#723 Rubocop Rspec Step 1 updates
  .rubocop.yml
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/calls_to_action/multiple_buttons_component_spec.rb
  spec/components/calls_to_action/narrow_component_spec.rb
  spec/components/calls_to_action/next_steps_component_spec.rb
  spec/components/calls_to_action/simple_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
  spec/components/card_component_spec.rb
  spec/components/content/accordion_component_spec.rb
  spec/components/events/event_box_component_spec.rb
  spec/components/events/no_results_component_spec.rb
  spec/components/events/search_component_spec.rb
  spec/components/events/type_description_component_spec.rb
  spec/components/navbar/navbar_component_spec.rb
  spec/components/sections/hero_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/components/stories/story_component_spec.rb
  spec/controllers/concerns/static_pages_spec.rb
  spec/factories/api/event_api_factory.rb
  spec/factories/api/event_building_api_factory.rb
  spec/factories/events/further_details_factory.rb
  spec/factories/events/personal_details_factory.rb
  spec/factories/events/personalised_updates_factory.rb
  spec/factories/events/search_factory.rb
  spec/factories/mailing_list/degree_status_factory.rb
  spec/factories/mailing_list/name_factory.rb
  spec/factories/mailing_list/postcode_factory.rb
  spec/factories/mailing_list/privacy_policy_factory.rb
  spec/factories/mailing_list/subject_factory.rb
  spec/factories/mailing_list/teacher_training_factory.rb
  spec/factories/wizard/authenticate_factory.rb
  spec/features/content_pages_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/lib/prometheus/metrics_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/healthcheck_spec.rb
  spec/models/mailing_list/steps/already_subscribed_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/wizard/steps/authenticate_spec.rb
  spec/models/wizard/store_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/csp_reports_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/privacy_policy_spec.rb
  spec/requests/redirects_spec.rb
  spec/support/api_support.rb
  spec/support/page_testing_support.rb
  spec/support/rate_limiting_support.rb
  spec/support/wizard_support.rb
  spec/validators/email_format_validator_spec.rb
  spec/validators/postcode_validator_spec.rb
  spec/validators/telephone_validator_spec.rb
Labels: test

#725 Add support for Online Train to Teach Events
  app/components/events/event_box_component.rb
  app/webpacker/images/icon-online-purple.svg
  app/webpacker/styles/icons.scss
  spec/components/events/event_box_component_spec.rb
  spec/factories/api/event_api_factory.rb
Labels: ruby, test

#727 Update Event::Search to explicitly search future events only
  app/models/events/search.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: ruby, test

#724 Rubocop rspec step 2
  .rubocop.yml
  spec/components/card_component_spec.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/components/cards/story_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/controllers/concerns/static_pages_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/helpers/maps_helper_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
  spec/models/events/search_spec.rb
  spec/models/events/steps/contact_details_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
  spec/models/mailing_list/steps/privacy_policy_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/pages/page_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/guidance_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/steps_to_become_a_teacher_controller_spec.rb
  spec/requests/stories_controller_spec.rb
  spec/requests/ways_to_train_controller_spec.rb
  spec/validators/email_format_validator_spec.rb
  spec/validators/number_of_words_validator_spec.rb
Labels: test

#729 Revert "Update Event::Search to explicitly search future events only"
  app/models/events/search.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: ruby, test

#732 Fix cross-repo hook when commit msg has "quoted text" in
  .github/workflows/build.yml
Labels: DevOps

#730 Update Event::Search to explicitly search future events only (take #2)
  Gemfile.lock
  app/models/events/search.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test

#738 Added initial trello workflow
  .github/workflows/trello.yml
Labels: DevOps

#740 Fix the style of explore get into teaching cards
  app/components/stories/story_component.html.erb
  app/webpacker/styles/components/cards.scss
Labels: bug

#735 Introduce event type archives and enable for Online Events
  app/components/events/search_component.html.erb
  app/controllers/events_controller.rb
  app/models/events/search.rb
  app/presenters/events/group_presenter.rb
  app/views/events/index.html.erb
  app/views/events/show_category.html.erb
  app/webpacker/styles/events.scss
  config/routes.rb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/models/events/search_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: ruby, test

#741 Remove guidance layout
  app/controllers/guidance_controller.rb
  app/views/layouts/guidance.html.erb
Labels: ruby

#742 Transition to search_teaching_events_grouped_by_type
  Gemfile.lock
  app/controllers/events_controller.rb
  app/models/events/category.rb
  app/models/events/search.rb
  app/presenters/events/group_presenter.rb
  spec/features/find_an_event_spec.rb
  spec/models/events/category_spec.rb
  spec/models/events/search_spec.rb
  spec/models/pages/data_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/rails_helper.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
  spec/support/api_support.rb
  spec/support/spec_helpers/events.rb
Labels: ruby, test

#748 Clean up online/offline/virtual logic
  app/components/events/event_box_component.html.erb
  app/components/events/event_box_component.rb
  spec/components/events/event_box_component_spec.rb
  spec/factories/api/event_api_factory.rb
Labels: ruby, test

#744 Move event category actions into EventCategoriesController
  app/components/events/type_description_component.rb
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  app/presenters/events/group_presenter.rb
  app/views/event_categories/show.html.erb
  app/views/events/_event_group.html.erb
  config/routes.rb
  spec/components/events/type_description_component_spec.rb
  spec/features/find_an_event_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: ruby, test

#715 Update capitalisation of events headers
  .rubocop.yml
  app/components/events/event_box_component.html.erb
  app/components/events/event_box_component.rb
  app/helpers/events_helper.rb
  app/views/event_categories/show.html.erb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/events/show.html.erb
  config/locales/en.yml
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/components/cards/renderer_component_spec.rb
  spec/components/events/event_box_component_spec.rb
  spec/components/events/type_description_component_spec.rb
  spec/factories/api/event_api_factory.rb
  spec/features/find_an_event_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/models/events/category_spec.rb
  spec/models/pages/data_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
Labels: ruby, test

#760 Render layout according to frontmatter
  app/controllers/pages_controller.rb
  app/controllers/steps_to_become_a_teacher_controller.rb
  app/controllers/ways_to_train_controller.rb
  app/models/pages/frontmatter.rb
  config/routes.rb
  spec/requests/page_with_custom_layout_spec.rb
  spec/requests/steps_to_become_a_teacher_controller_spec.rb
  spec/requests/ways_to_train_controller_spec.rb
  spec/support/page_support.rb
  spec/support/views/content/accordion.md
  spec/support/views/content/accordion/_step1.md
  spec/support/views/content/accordion/_step2.md
Labels: ruby, test

#756 Add FeatureTableComponent for Ways to Train redesign
  app/components/content/feature_table_component.html.erb
  app/components/content/feature_table_component.rb
  app/views/layouts/component_preview.html.erb
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/git.scss
  config/application.rb
  config/routes.rb
  spec/components/content/feature_table_component_spec.rb
  spec/components/previews/content/feature_table_component_preview.rb
Labels: ruby, test

#755 Make the content page specs redirect-aware
  spec/features/content_pages_spec.rb
Labels: test

#763 Make the page exists content status check report what failed
  spec/features/content_pages_spec.rb
Labels: test

#772 Remove /my-story-into-teaching/section/index content specs
  spec/support/page_testing_support.rb
Labels: test

#771 Remove temp code to render /index story lists
  app/controllers/pages_controller.rb
  spec/requests/pages_controller_spec.rb
  spec/support/page_testing_support.rb
Labels: ruby, test

#775 Remove old home page layout
  app/controllers/pages_controller.rb
  app/views/layouts/home-old.html.erb
Labels: ruby

#786 Adding alt attributes for accessibility
  app/components/card_component.rb
  app/views/components/_videoplayer.html.erb
  spec/components/card_component_spec.rb
Labels: ruby, test

#780 Disable Turbolinks for all jump links
  app/webpacker/controllers/link_controller.js
  spec/javascript/controllers/link_controller_spec.js
Labels: test

#778 Remove blank layout
  app/controllers/pages_controller.rb
  app/views/layouts/blank.html.erb
Labels: ruby

#781 Added Grouped Cards component
  app/components/grouped_cards/card_component.html.erb
  app/components/grouped_cards/card_component.rb
  app/components/grouped_cards/listing_component.html.erb
  app/components/grouped_cards/listing_component.rb
  app/views/layouts/content.html.erb
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/layout.scss
  spec/components/grouped_cards/card_component_spec.rb
  spec/components/grouped_cards/listing_component_spec.rb
Labels: ruby, test

#758 Added additional File types to labeller
  .github/labeler.yml
Labels: DevOps, Review

#787 Clean up the page helpful partial
  app/views/events/show.html.erb
  app/views/layouts/accordion.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/home.html.erb
  app/views/sections/_page_helpful.html.erb
  app/views/sections/_page_question.html.erb
  app/webpacker/controllers/page_helpful_controller.js
  app/webpacker/styles/event.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/page-question.scss
  app/webpacker/styles/page_helpful.scss
  spec/javascript/controllers/page_helpful_controller_spec.js
  spec/views/sections/_page_helpful.html.erb_spec.rb
Labels: test

#791 Fix left column taking up full width by default
  app/webpacker/styles/layout.scss
Labels: Style

#792 Clean up the application layout
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  app/views/cookie_preferences/show.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/event_categories/show.html.erb
  app/views/event_steps/completed.html.erb
  app/views/event_steps/show.html.erb
  app/views/event_steps/update.html.erb
  app/views/events/show.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/application_old.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/show.html.erb
  app/views/mailing_list/steps/update.html.erb
  app/views/pages/cookies.html.erb
  app/views/pages/privacy_policy.html.erb
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/error.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links_and_buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/text.scss
Labels: Style, ruby

#794 Custom campaign landing page hero
  app/components/sections/hero_component.html.erb
  app/controllers/pages_controller.rb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/campaigns/numbered-headings.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/hero/content.scss
  spec/components/sections/hero_component_spec.rb
Labels: Style, ruby, test

#796 Duplicate home page layout
  app/views/layouts/home_old.html.erb
Labels: ruby

#797 Make hero nav links encapsulate arrows
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/webpacker/styles/sections/hero/content.scss
Labels: Style, ruby

#798 Update _footer.html.erb
  app/views/sections/_footer.html.erb
Labels: ruby

#803 Whitelist usage of home_old layout
  app/controllers/pages_controller.rb
Labels: ruby

#804 Transition home page to semantic layout
  app/components/events/search_component.html.erb
  app/views/layouts/home.html.erb
  app/webpacker/styles/components/colored-stripe.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/text.scss
Labels: Style, ruby

#790 Updated GroupedCards component to link title if links supplied
  app/components/grouped_cards/card_component.html.erb
  app/components/grouped_cards/card_component.rb
  app/components/grouped_cards/listing_component.html.erb
  app/components/grouped_cards/listing_component.rb
  app/webpacker/styles/components/grouped-cards.scss
  app/webpacker/styles/git.scss
  spec/components/grouped_cards/card_component_spec.rb
Labels: Style, ruby, test

#805 Standardise font sizes
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/call_to_action.scss
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/content-nav.scss
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/link-block.scss
  app/webpacker/styles/components/map.scss
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/components/type-description.scss
  app/webpacker/styles/content.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/error.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/links_and_buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/page_helpful.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
Labels: Style

#806 Remove home_old layout
  app/controllers/pages_controller.rb
  app/views/layouts/home_old.html.erb
Labels: ruby

#811 Remove old/unused home page CSS
  app/webpacker/styles/home.scss
Labels: Style

#812 Replace occurrences of .container-1000 class
  app/components/sections/hero_component.html.erb
  app/views/event_steps/_form.html.erb
  app/views/event_steps/completed.html.erb
  app/views/event_steps/show.html.erb
  app/views/event_steps/update.html.erb
  app/views/mailing_list/steps/_form.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/show.html.erb
  app/views/mailing_list/steps/update.html.erb
  app/views/sections/_feedback-bar.erb
  app/views/sections/_footer.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/talk-to-us.scss
Labels: Style, ruby

#813 Remove unused CSS
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/content-nav.scss
  app/webpacker/styles/content.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/eventschool.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/page-helpful.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
  spec/javascript/controllers/feedback_controller_spec.js
  spec/support/views/content/home/_test_content.erb
Labels: Style, test

#815 Fix the story list layout
  app/views/layouts/stories/list.html.erb
Labels: ruby

#816 Update hero_component.html.erb
  app/components/sections/hero_component.html.erb
  spec/components/sections/hero_component_spec.rb
Labels: ruby, test

#807 Fix home quote styling between 1500-2000px
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
Labels: Style

#822 Add mailing list banner above footer
  app/views/sections/_footer-signup.html.erb
  app/views/sections/_footer.html.erb
  app/webpacker/styles/footer.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/sections/talk-to-us.scss
Labels: Style, ruby

#824 Update _name.html.erb
  app/controllers/mailing_list/steps_controller.rb
  app/views/mailing_list/steps/_name.html.erb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test

#823 Fix responsiveness/margins/sizes throughout
  app/components/stories/story_component.html.erb
  app/views/event_steps/completed.html.erb
  app/views/events/index.html.erb
  app/views/layouts/accordion.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/link-block.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/featured.scss
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/page-helpful.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
  app/webpacker/styles/video.scss
  spec/components/stories/story_component_spec.rb
Labels: Style, ruby, test

#817 Allow the hero subtitle to be a hyperlink
  app/components/sections/hero_component.html.erb
  app/components/sections/hero_component.rb
  app/webpacker/styles/sections/hero.scss
  spec/components/sections/hero_component_spec.rb
Labels: Style, ruby, test

#825 Improve responsiveness of story cards
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/stories.scss
Labels: Style

#826 Accessibility fixes
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/multiple_buttons_component.html.erb
  app/components/calls_to_action/narrow_component.html.erb
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/calls_to_action/simple_component.html.erb
  app/components/calls_to_action/story_component.html.erb
  app/components/navbar/navbar_component.html.erb
  app/components/navbar/navbar_component.rb
  app/helpers/stories_helper.rb
  app/views/components/_videoplayer.html.erb
  app/views/mailing_list/steps/_form.html.erb
  app/views/sections/_footer.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/sections/talk-to-us.scss
  spec/components/calls_to_action/multiple_buttons_component_spec.rb
  spec/components/calls_to_action/simple_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
  spec/components/navbar/navbar_component_spec.rb
  spec/javascript/controllers/video_controller_spec.js
Labels: Style, ruby, test

#828 Consolidate main page header CSS
  app/components/content/feature_table_component.html.erb
  app/components/stories/story_component.html.erb
  app/views/events/index.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/feature.scss
  app/webpacker/styles/featured.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/margins.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/text.scss
  spec/support/views/content/home/_test_content.erb
Labels: Style, ruby, test

#784 Create common_environment.yml
  .github/common_environment.yml
Labels: DevOps

#830 Clean up SearchComponent HTML/CSS
  app/components/events/search_component.html.erb
  app/components/events/search_component.rb
  app/webpacker/styles/colours.scss
  app/webpacker/styles/components/search.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/git.scss
Labels: Style, ruby

#832 Fix the event start times to 07:30
  spec/factories/api/event_api_factory.rb
Labels: test

#831 Replace 1.5rem/20px margins/padding with $indent-amount
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/link-block.scss
  app/webpacker/styles/components/map.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/featured.scss
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/govuk-reset.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/page-helpful.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/video.scss
Labels: Style

#818 Adjust the hero grid proportions a bit
  app/webpacker/styles/sections/hero.scss
Labels: Style

#833 added css to reduce title size on cta in sidebar
  app/components/calls_to_action/narrow_component.html.erb
  app/components/calls_to_action/simple_component.html.erb
  app/components/calls_to_action/simple_component.rb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/utility.scss
  spec/components/calls_to_action/simple_component_spec.rb
Labels: Style, ruby, test
