Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-05, with the labels that each got.

#1188 Re-introduce image optimisations
  Dockerfile
Labels: Review, docker

#1202 Make Myles Codeowner
  .github/CODEOWNERS
Labels: Review

#1190 acronym sweep
  config/frontmatter.yml
Labels: Config, Review

#1203 Do not run if Dependabot/Snyk
  .github/workflows/trello.yml
Labels: DevOps, Review

#1204 Legacy website redirects
  config/redirects.yml
Labels: Config, Review

#1206 Always keep Rubocop Output
  .github/workflows/build.yml
Labels: DevOps, Review

#1205 Various version upgrades
  Gemfile.lock
  app/components/calls_to_action/homepage_component.rb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/calls_to_action/simple_component.rb
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/utility.scss
  package.json
Labels: Review, Style, ruby

#1210 Allow google analytics image pixel
  config/initializers/secure_headers.rb
Labels: Config, ruby

#1177 Prevent abbreviations from being placed in links
  lib/acronyms.rb
  spec/lib/acronyms_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: Review, ruby, test

#1209 updating email for sheffield scitt
  app/views/content/assessment-only-providers.md
  app/views/content/assessment-only-providers/_listing.html.erb
  app/webpacker/styles/components/grouped-cards.scss
Labels: Review, Style, ruby

#1212 Renamed DOCKERHUB to DOCKER
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#1217 Disable tracking pixels in production
  .env.production
Labels: Review

#1165 Alternate mailing list signup process
  app/controllers/mailing_list_signups_controller.rb
  app/models/mailing_list/signup.rb
  app/models/mailing_list/steps/subject.rb
  app/views/mailing_list/steps/_subject.html.erb
  app/views/mailing_list_signups/README.md
  app/views/mailing_list_signups/edit.html.erb
  app/views/mailing_list_signups/new.html.erb
  config/locales/en.yml
  config/routes.rb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/features/mailing_list_signup_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/signup_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/rails_helper.rb
  spec/support/wizard_support.rb
Labels: Config, Review, enhancement, ruby, test

#1215 Add support for responsive images
  app/components/sections/hero_component.rb
  app/controllers/application_controller.rb
  app/webpacker/styles/sections/hero.scss
  lib/responsive_images.rb
  spec/components/sections/hero_component_spec.rb
  spec/lib/responsive_images_spec.rb
Labels: Review, Style, ruby, test

#1221 Delete detailed finance guidance page and update redirects
  app/views/content/guidance/financial-support-for-teacher-training.md
  config/redirects.yml
Labels: Config

#1223 Speed up content checks by not repeating requests
  spec/features/content_pages_spec.rb
Labels: test

#1220 Run specs in parallel
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  config/application.rb
Labels: Config, DevOps, Review, ruby

#1224 Enable VWO in preprod on certain paths
  .env.production
  config/vwo.yml
Labels: Config, Review

#1207 Add get school experience page
  app/views/content/get-school-experience/get-school-experience.md
Labels: Review

#1227 Enable mailing list one-page signup in prod
  config/routes.rb
Labels: Config, Review, ruby

#1229 Add page titles to the mailing list signup flow
  app/controllers/mailing_list_signups_controller.rb
Labels: Review, ruby

#1232 Stakeholder comments
  app/views/content/get-school-experience/get-school-experience.md
Labels: Review

#1235 Cypress started failing, boost timeout to debug
  .github/workflows/build.yml
Labels: DevOps

#1226 Snyk actors real name is snyk-bot
  .github/workflows/trello.yml
Labels: DevOps, Review

#1239 Fix early exit from http_basic block
  app/controllers/internal_controller.rb
Labels: Review, ruby

#1241 Add .hadolint.yml config file to ignore some rules
  .hadolint.yml
  Dockerfile
Labels: docker

#1236 Add second returners vid
  app/views/content/returning-to-teaching.md
Labels: Review

#1230 Add configurable quote component
  app/components/content/quote_component.html.erb
  app/components/content/quote_component.rb
  app/webpacker/styles/components/mixins/quote.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown-figures-and-quotes.scss
  config/environments/preprod.rb
  config/environments/rolling.rb
  spec/components/content/quote_component_spec.rb
  spec/components/previews/content/quote_component_preview.rb
  spec/components/previews/content/quote_component_preview/inline.html.erb
Labels: Config, Review, Style, ruby, test

#1242 remove folder for get school experience and put get school experience…
  app/views/content/get-school-experience.md
Labels: Review

#1233 light copy edit of maths and physics internships page
  app/views/content/teaching-internship-providers.md
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: Review, ruby

#1214 Add button to generate partial URL
  app/views/internal/events/new.html.erb
  app/views/layouts/internal.html.erb
  app/webpacker/controllers/internal_events_controller.js
  app/webpacker/styles/internal.scss
  package.json
  spec/javascript/controllers/internal_events_controller_spec.js
  yarn.lock
Labels: Review, Style, ruby, test

#1247 Move mailing list promotion bar outside of footer
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-bar.html.erb
  app/webpacker/styles/mailing-list-bar.scss
Labels: Review, Style, ruby

#1248 Get events for index from parameter
  app/controllers/internal/events_controller.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Review, ruby, test

#1253 Revert "Move mailing list promotion bar outside of footer"
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-bar.html.erb
  app/webpacker/styles/mailing-list-bar.scss
Labels: Style, ruby

#1251 Add Haybridge SCITT to AO Providers
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1249 Update Fail2Ban settings
  .env.production
  config/initializers/rack_attack.rb
Labels: Config, Review, ruby

#1264 Add ids to mailing list bar for tracking purposes
  app/views/sections/_mailing-list-bar.html.erb
  spec/requests/mailing_list/calls_to_action_spec.rb
Labels: Review, ruby, test

#1265 Update Uni of Herts
  app/views/content/assessment-only-providers.md
Labels: Review

#1244 Personalised Updates: Various Promo Interventions
  app/components/navigation/navbar_component.html.erb
  app/views/content/home.md
Labels: Do Not Merge, Review, ruby

#1266 Updated Internship Providers - 12 May
  app/views/content/teaching-internship-providers.md
Labels: Review

#1255 Revert "Revert "Move mailing list promotion bar outside of footer""
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-bar.html.erb
  app/webpacker/styles/mailing-list-bar.scss
Labels: Review, Style, ruby

#1252 Mailing list popups
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-popup.html.erb
  app/webpacker/controllers/mailing-list-popup_controller.js
  spec/javascript/controllers/mailing-list-popup_controller_spec.js
Labels: Do Not Merge, Review, ruby, test

#1268 Amending to new TPUK opening time
  app/views/mailing_list/steps/completed.html.erb
  app/views/sections/_talk-to-us.html.erb
Labels: Review, ruby

#1270 Create redirect for old GSE page route
  config/redirects.yml
Labels: Config, Review

#1269 Rename telephone to address_telephone
  Gemfile.lock
  app/models/events/steps/contact_details.rb
  app/views/event_steps/_contact_details.html.erb
  config/initializers/filter_parameter_logging.rb
  config/locales/en.yml
  spec/features/event_wizard_spec.rb
  spec/lib/attribute_filter_spec.rb
  spec/models/events/steps/contact_details_spec.rb
  spec/models/events/wizard_spec.rb
Labels: Config, Review, ruby, test

#1273 remove rogue setence
  app/views/sections/_talk-to-us.html.erb
Labels: Review, ruby

#1272 Move green ML bar out of footer and into layouts
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/sections/_footer.html.erb
Labels: Review, ruby

#1271 add page on subject knowledge enhancement
  app/views/content/improve-your-subject-knowledge.md
Labels: Review

#1245 Make use of quotes consistent across the site
  app/components/content/accordion_component.rb
  app/components/content/quote_component.html.erb
  app/components/content/quote_component.rb
  app/presenters/content/call_to_action_component_injector.rb
  app/presenters/content/component_injector.rb
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/my-story-into-teaching/career-changers/becoming-a-mum-sparked-my-interest-in-teaching.md
  app/views/content/my-story-into-teaching/career-changers/financiers-future-in-maths.md
  app/views/content/my-story-into-teaching/career-changers/from-construction-site-to-classroom.md
  app/views/content/my-story-into-teaching/career-changers/from-developing-software-to-developing-students.md
  app/views/content/my-story-into-teaching/career-changers/make-a-difference-to-young-people.md
  app/views/content/my-story-into-teaching/career-changers/natural-transition-from-engineering-to-teaching-physics.md
  app/views/content/my-story-into-teaching/career-changers/passing-on-my-knowledge.md
  app/views/content/my-story-into-teaching/career-changers/police-officer-to-pe-teacher.md
  app/views/content/my-story-into-teaching/career-changers/royal-marine-commando-to-geography-teacher.md
  app/views/content/my-story-into-teaching/career-changers/school-experience-helped-me-decide-to-switch.md
  app/views/content/my-story-into-teaching/career-changers/swapping-senior-management-for-students.md
  app/views/content/my-story-into-teaching/career-changers/teaching-gave-me-purpose.md
  app/views/content/my-story-into-teaching/career-changers/transferring-my-skills-to-teaching.md
  app/views/content/my-story-into-teaching/career-progression/grasp-every-opportunity.md
  app/views/content/my-story-into-teaching/career-progression/lawyer-to-assistant-teacher.md
  app/views/content/my-story-into-teaching/career-progression/leaping-to-head-of-department.md
  app/views/content/my-story-into-teaching/career-progression/newly-qualified-to-head-of-faculty.md
  app/views/content/my-story-into-teaching/career-progression/nqt-to-head-of-biology.md
  app/views/content/my-story-into-teaching/career-progression/one-year-from-post-grad-to-hod.md
  app/views/content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  app/views/content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
  app/views/content/my-story-into-teaching/making-a-difference/broadening-horizons-through-travelling-and-teaching.md
  app/views/content/my-story-into-teaching/making-a-difference/getting-our-geek-on-kids-coding.md
  app/views/content/my-story-into-teaching/making-a-difference/going-back-and-giving-back.md
  app/views/content/my-story-into-teaching/making-a-difference/inspiring-our-young-entrepreneurs.md
  app/views/content/my-story-into-teaching/making-a-difference/no-two-days-are-the-same.md
  app/views/content/my-story-into-teaching/making-a-difference/turning-a-tough-lesson-into-success.md
  app/views/content/my-story-into-teaching/teacher-training-stories/banker-turned-teacher.md
  app/views/content/my-story-into-teaching/teacher-training-stories/salaried-teacher-training-classroom-learning.md
  app/views/content/my-story-into-teaching/teacher-training-stories/teacher-training-its-worth-it.md
  app/views/content/my-story-into-teaching/teacher-training-stories/why-dont-you-teach-miss.md
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown-figures-and-quotes.scss
  lib/template_handlers/markdown.rb
  spec/components/content/quote_component_spec.rb
  spec/components/previews/content/quote_component_preview.rb
  spec/presenters/content/call_to_action_component_injector_spec.rb
  spec/presenters/content/component_injector_spec.rb
Labels: Review, Style, ruby, test

#1274 give taster of what steps covers in banner
  app/views/content/home/_purple-box.html
Labels: Review

#1234 draft page for teaching disabled pupils and pupils with special educa…
  app/views/content/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
  app/webpacker/styles/markdown.scss
  config/frontmatter.yml
Labels: Config, Review, Style

#1243 Downgrade view component to quieten warnings
  Gemfile
  Gemfile.lock
Labels: Review

#1276 Ensure chevron applied before external link span
  app/webpacker/controllers/link_controller.js
Labels: Review, bug

#1275 Allow non-content pages to be searched
  app/models/search.rb
  spec/models/search_spec.rb
Labels: Review, ruby, test

#1280 Force some generic alt text for hero images
  app/components/sections/hero_component.rb
Labels: Review, ruby

#1281 move a couple of sentences over from beast page to further education …
  app/views/content/further-education-teacher-training.md
Labels: Review

#1282 Updated Bishop G AO Provider Contacts
  app/views/content/assessment-only-providers.md
Labels: Review

#1278 Update redirects from detailed guidance SKE to dedicated SKE page (and a few others)
  config/redirects.yml
Labels: Config, Review

#1279 Initial update on PR page
  app/views/content/research.md
  public/assets/documents/career-change-research.pdf
  public/assets/documents/career-conundrum.pdf
  public/assets/documents/career-survey-summary.pdf
  public/assets/documents/it-takes-you-to-teach.pdf
  public/assets/documents/millenial-career-crossroads.pdf
  public/assets/documents/perceptions-of-influence.pdf
  public/assets/documents/soft-messaging.pdf
  public/assets/documents/thank-a-teacher.pdf
Labels: Review

#1286 add links to new pages and add detail from beast page
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: Review

#1283 change 'want to enjoy' to 'want to' and make link text more descriptive
  app/views/content/further-education-teacher-training.md
Labels: Review

#1284 add some detail from beast page and a few style tweaks
  app/views/content/ways-to-train.md
Labels: Review

#1285 add detail from beast page and make a few style tweaks
  app/views/content/early-years-teaching-training.md
Labels: Review

#1178 Refreshing steps content
  app/views/content/get-school-experience.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/steps-to-become-a-teacher/_after_you_have_applied.html.erb
  app/views/content/steps-to-become-a-teacher/_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_consider_school_experience.html.erb
  app/views/content/steps-to-become-a-teacher/_find_and_apply_teacher_training.html.erb
  app/views/content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_1_decide_who_to_teach.html.erb
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_3_learn_about_funding.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_your_course.html.erb
  app/views/content/steps-to-become-a-teacher/_ways_to_train.html.erb
  app/views/content/teaching-internship-providers.md
Labels: Review, content, ruby

#1291 Remove 'become a teacher in england' guidance page
  app/views/content/guidance/become-a-teacher-in-england.md
Labels: content

#1293 Remove the guidance controller, no longer needed
  app/controllers/guidance_controller.rb
  config/routes.rb
  spec/requests/guidance_controller_spec.rb
Labels: Config, Review, ruby, test

#1295 Bring the feedback_bar back
  app/views/sections/_footer.html.erb
Labels: ruby

#1294 Update redirects.yml
  config/redirects.yml
Labels: Config, Review

#1298 more specificity on Steps
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
Labels: Review, ruby

#1289 add link to page on getting support if you're disabled
  app/views/content/funding-your-training.md
Labels: Review

#1299 unnecessary words taking up space?
  app/views/content/home/_calls-to-action.html.erb
Labels: Review, ruby

#1292 Add latest PR report
  app/views/content/research.md
  public/assets/documents/my-favourite-subject.pdf
Labels: Review

#1290 style edits across funding and salaries
  app/views/content/funding-your-training.md
  app/views/content/salaries-and-benefits.md
Labels: Review

#1305 Updated AO Provider
  app/views/content/assessment-only-providers.md
Labels: Review

#1306 Don't suppress review apps for draft pull requests
  .github/workflows/build.yml
Labels: DevOps, Review

#1308 make link text accessible and small style changes
  app/views/content/funding-your-training.md
  app/views/content/returning-to-teaching.md
  app/views/sections/_talk-to-us.html.erb
Labels: Review, ruby

#1310 Fix exception when all building fields have values
  app/helpers/events_helper.rb
  spec/helpers/events_helper_spec.rb
Labels: Review, ruby, test

#1263 Add tabbed navigation
  Gemfile.lock
  app/controllers/internal/events_controller.rb
  app/views/internal/events/index.html.erb
  app/views/layouts/internal.html.erb
  app/webpacker/styles/internal.scss
  spec/features/internal_spec.rb
Labels: Review, Style, ruby, test

#1311 Updating Mersey ITT provider email
  app/views/content/assessment-only-providers.md
Labels: Review

#1288 Scribble form
  app/controllers/internal/events_controller.rb
  app/models/internal/event.rb
  app/views/events/show.html.erb
  app/views/internal/events/index.html.erb
  app/views/internal/events/new.html.erb
  app/views/internal/events/show.html.erb
  app/views/layouts/internal.html.erb
  config/locales/en.yml
  spec/features/internal_spec.rb
  spec/models/internal/event_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Config, Review, ruby, test

#1309 Prevent dead ends and improve CTA consistency
  app/components/calls_to_action/next_steps_component.html.erb
  app/views/content/get-support-training-to-teach-if-you-are-disabled.md
  app/views/content/improve-your-subject-knowledge.md
  app/views/sections/_talk-to-us.html.erb
Labels: Review, ruby

#1216 Add button to duplicate events
  app/controllers/internal/events_controller.rb
  app/views/internal/events/show.html.erb
  spec/requests/internal/events_controller_spec.rb
Labels: Review, ruby, test

#1313 Remove JS `link_controller` from `internal` layout
  app/views/layouts/internal.html.erb
Labels: ruby

#1315 Routine app maintenance
  .browserslistrc
  .gitignore
  Gemfile
  Gemfile.lock
  README.md
  Rakefile
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/breadcrumb.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/controllers/all.scss
  app/webpacker/styles/controllers/searchbox.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/search-page.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
  app/webpacker/styles/utility.scss
  babel.config.js
  bin/webpack
  bin/webpack-dev-server
  config/webpacker.yml
  lib/tasks/govuk_lint.rake
  package.json
  postcss.config.js
  yarn.lock
Labels: Config, Review, Style, ruby

#1316 Fix the button styles for the purple box
  app/webpacker/styles/home.scss
Labels: Review, Style

#1317 Stop current page being included in breadcrumbs
  config/initializers/loaf.rb
  spec/features/breadcrumbs_spec.rb
Labels: Config, Review, ruby, test

#1320 make assessment only page more user centred
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1321 make the incentive the heading and make it plain english
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#1312 initial copy changes to newsletter
  app/components/service_unavailable_component.html.erb
  app/controllers/mailing_list/steps_controller.rb
  app/views/content/home.md
  app/views/mailing_list/steps/_already_subscribed.html.erb
  app/views/mailing_list/steps/_authenticate.html.erb
  app/views/mailing_list/steps/_degree_status.html.erb
  app/views/mailing_list/steps/_name.html.erb
  app/views/mailing_list/steps/_postcode.html.erb
  app/views/mailing_list/steps/_subject.html.erb
  app/views/mailing_list/steps/_teacher_training.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/forms.scss
  app/webpacker/styles/govuk-reset.scss
  config/locales/en.yml
  spec/components/service_unavailable_component_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_signup_spec.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: Config, Review, Style, content, ruby, test

#1325 request from internationals team
  app/views/content/international-candidates.md
Labels: Review, content

#1303 Update images to 16:9 aspect ratio
  public/assets/images/events-hero-dt.jpg
  public/assets/images/funding-hero-dt.jpg
  public/assets/images/hero-home-dt.jpg
  public/assets/images/international-dt.jpg
  public/assets/images/international-returners-dt.jpg
  public/assets/images/steps-hero-dt.jpg
  public/assets/images/teaching-as-a-career-hero-dt.jpg
Labels: Review
