Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-08, with the labels that each got.

#1572 Add new images to the welcome guide
  app/views/content/welcome/bring-your-lessons-to-life/_header.html.erb
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_got-questions.html.erb
  app/views/content/welcome/landing/_my-journey-into-teaching.html.erb
  app/views/content/welcome/my-journey-into-teaching/_header.html.erb
  app/views/layouts/registration_attractive.html.erb
  app/webpacker/images/content/mailing-list-signup/left.jpg
  app/webpacker/images/content/mailing-list-signup/mobile.jpg
  app/webpacker/images/content/mailing-list-signup/right.jpg
  app/webpacker/images/content/welcome-guide/dimitra-desert-crop.jpg
  app/webpacker/images/content/welcome-guide/dimitra-desert.jpg
  app/webpacker/images/content/welcome-guide/girl-with-raised-hand.jpg
  app/webpacker/images/content/welcome-guide/jack-rowing-crop-face.jpg
  app/webpacker/images/content/welcome-guide/jack-rowing-crop.jpg
  app/webpacker/images/content/welcome-guide/jack-rowing.jpg
  app/webpacker/styles/welcome-guide.scss
Labels: Review, Style, content, ruby

#1576 Add dummy number into the 'got questions' section of the welcome guide
  app/views/content/welcome/landing/_got-questions.html.erb
Labels: content, ruby

#1579 Update dummy number
  app/views/content/welcome/landing/_got-questions.html.erb
Labels: content, ruby

#1552 JS linting in CI
  .github/workflows/build.yml
  README.md
  app/webpacker/controllers/twitter_controller.js
  app/webpacker/controllers/welcome-guide-quiz_controller.js
  app/webpacker/javascript/redacter.js
  package.json
Labels: DevOps, Review, docker, test

#1575 Compile assets once per test run
  config/webpacker.yml
  spec/rails_helper.rb
Labels: Config, Review, test

#1586 Update the heading with text from original designs
  app/views/content/welcome/my-journey-into-teaching/_three-things-youll-never-hear-me-say.html.erb
Labels: content, ruby

#1582 Make Scribble ID optional when creating online events
  app/models/internal/event.rb
  spec/features/internal_spec.rb
  spec/models/internal/event_spec.rb
Labels: Review, ruby, test

#1584 Rewrite and neaten the popup CSS
  app/components/footer/cookie_acceptance_component.html.erb
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/header/logo.scss
Labels: Review, Style, ruby

#1587 Update ML Completion Page Copy
  app/views/mailing_list/steps/completed.html.erb
Labels: Review, ruby

#1588 Display confirmation in correct time zone
  app/controllers/callbacks/steps_controller.rb
  app/views/callbacks/steps/completed.html.erb
  spec/features/book_callback_spec.rb
Labels: Review, ruby, test

#1589 Hide the cookie popup for Silktide tests
  app/components/footer/cookie_acceptance_component.rb
  spec/components/footer/cookie_acceptance_component_spec.rb
Labels: ruby, test

#1594 Copy Change Routes
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby

#1599 Remove online from Events CTA
  app/views/content/home/_calls-to-action.html.erb
Labels: Review, content, ruby

#1600 Fixing typo - practitioners
  app/views/content/salaries-and-benefits.md
Labels: content

#1598 Remove Expires header
  config/environments/production.rb
Labels: Config, Review, ruby

#1601 Update CSP with complete list of Google domains
  config/initializers/secure_headers.rb
Labels: Config, Review, ruby

#1602 Add https://googleads.g.doubleclick.net to CSP
  config/initializers/secure_headers.rb
Labels: Config, ruby

#1604 Minor CSP tweaks for Facebook, Snapchat and LID
  config/initializers/secure_headers.rb
Labels: Config, Review, ruby

#1595 Make the event pagination links accessible
  app/webpacker/styles/events.scss
Labels: Review, Style

#1606 Minor teaks to the CSP for Pinterest and Google
  config/initializers/secure_headers.rb
Labels: Config, Review, ruby

#1597 Enable book a callback feature in production
  app/views/mailing_list/steps/completed.html.erb
  config/routes.rb
Labels: Config, Review, ruby

#1605 Add some CSS to better-style the blog quotes
  app/views/content/blog/how-to-find-school-experience.md
  app/webpacker/styles/blog.scss
Labels: Review, Style, content

#1521 Create teachers pension blog
  app/views/content/blog/teachers-pension-scheme.md
  app/webpacker/images/content/blog/whiteboard.jpg
Labels: Review, content

#1607 Update frame-src field to add GA properties
  config/initializers/secure_headers.rb
Labels: Config, Review, ruby

#1592 Support walk in event sign up
  Gemfile.lock
  app/controllers/event_steps_controller.rb
  app/models/events/steps/personal_details.rb
  app/models/wizard/issue_verification_code.rb
  app/views/event_steps/_personal_details.html.erb
  spec/features/event_wizard_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/support/wizard_support.rb
Labels: Review, ruby, test

#1608 Disable Turbolink to see analytics impact
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/packs/application.js
  spec/javascript/controllers/link_controller_spec.js
Labels: Review, test

#1610 Tweak CSP for Google services
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1590 Remove `button--smaller` class and references
  app/components/content/quote_component.html.erb
  app/components/footer/talk_to_us_component.html.erb
  app/components/single_question_survey_component.html.erb
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_3_learn_about_funding.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_your_course.html.erb
  app/webpacker/styles/links-and-buttons.scss
Labels: ruby, Review, Style, content

#1611 New CSP work
  config/initializers/secure_headers.rb
Labels: ruby, Config

#1603 Combine dependabot updates into a single PR
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#1593 Edit published events
  app/controllers/internal/events_controller.rb
  app/views/internal/events/index.html.erb
  app/views/internal/events/open_events.html.erb
  app/views/layouts/internal.html.erb
  app/webpacker/styles/internal.scss
  config/locales/en.yml
  config/routes.rb
  spec/factories/api/event_api_factory.rb
  spec/features/internal_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test, Review, Style, Config

#1609 Revert "Disable Turbolink to see analytics impact"
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/packs/application.js
  spec/javascript/controllers/link_controller_spec.js
Labels: test, Review

#1591 Adding events to the hero image
  app/models/pages/frontmatter.rb
  app/views/content/funding-your-training.md
  app/views/content/home.md
  app/views/content/my-story-into-teaching.md
  app/views/content/ways-to-train.md
Labels: ruby, Review, content

#1539 Improve font size assignment
  app/webpacker/styles/font-sizes.scss
Labels: Review, Style

#1621 Update the pictures in the signup page
  app/webpacker/images/content/mailing-list-signup/left.jpg
  app/webpacker/images/content/mailing-list-signup/right.jpg
Labels: Review

#1616 Update teachers-pension-scheme.md
  app/views/content/blog/teachers-pension-scheme.md
Labels: Review, content

#1617 Update teachers-pension-scheme.md
  app/views/content/blog/teachers-pension-scheme.md
Labels: Review, content

#1622 Add description to the teachers pension blog post
  app/views/content/blog/teachers-pension-scheme.md
Labels: Review, content

#1619 Make Gemma the owner of GIT content and images
  .github/CODEOWNERS
Labels: Review

#1614 Changing meta description to boost CTR
  app/views/content/funding-your-training.md
  app/views/content/home.md
  app/views/content/my-story-into-teaching.md
  app/views/content/salaries-and-benefits.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/ways-to-train.md
Labels: Review, content

#1630 Update from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
Labels: Review, content

#1629 Update abigails-career-progression-story.md
  app/views/content/blog/abigails-career-progression-story.md
Labels: Review, content

#1627 Update overcoming-challenges-to-become-a-teacher-hearing-impairment.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment.md
Labels: Review, content

#1626 Update overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
Labels: Review, content

#1625 Update how-to-find-school-experience.md
  app/views/content/blog/how-to-find-school-experience.md
Labels: Review, content

#1635 Make the blog title display correctly
  app/controllers/blog_controller.rb
Labels: bug, ruby, Review

#1640 Force a width on external link icons
  app/webpacker/styles/links-and-buttons.scss
Labels: Style

#1642 Remove query string from script_src CSP directive
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1641 Remove build req and run on workflow_dispatch
  .github/workflows/anchore.yml
Labels: DevOps, Review

#1639 Add some more blog posts
  app/views/content/blog/how-to-ace-a-video-interview.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/webpacker/images/content/blog/anna-shirley.jpg
  app/webpacker/images/content/blog/calculator.jpg
  app/webpacker/images/content/blog/jan-ashbridge.jpg
Labels: Review, content

#1645 Fix typos in the SCITT acronym
  config/frontmatter.yml
Labels: Review, Config

#1649 Update how-to-ace-a-video-interview.md
  app/views/content/blog/how-to-ace-a-video-interview.md
Labels: Review, content

#1650 Tidy up CSP headers
  config/csp/google_supported_domains.csv
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1651 Add some more domain wildcards to the CSP settings
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1652 Some more CSP tweaks
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1644 Use event list anchor for pagination links
  app/helpers/events_helper.rb
  app/views/event_categories/show.html.erb
  app/views/events/_event_group.html.erb
  app/views/kaminari/_next_page.html.erb
  app/views/kaminari/_page.html.erb
  app/views/kaminari/_prev_page.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_attractive.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/layouts/welcome.html.erb
  app/webpacker/controllers/scroll_controller.js
  spec/features/find_an_event_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/javascript/controllers/scroll_controller_spec.js
Labels: ruby, test, Review

#1648 Add some legacy site redirects
  config/redirects.yml
Labels: Review, Config

#1633 Ensure footer is at bottom of viewport on short pages
  app/components/footer/talk_to_us_component.html.erb
  app/components/header/breadcrumb_component.html.erb
  app/webpacker/styles/components/breadcrumb.scss
  app/webpacker/styles/layout.scss
Labels: ruby, Review, Style

#1613 Update link to support Teach in FE's new site
  app/views/content/become-a-further-education-teacher.md
Labels: Review, content

#1657 Make breadcrumbs bar 100% width up to max page
  app/webpacker/styles/components/breadcrumb.scss
Labels: Review, Style

#1654 Add an extra assertion to redirects spec
  config/redirects.yml
  spec/requests/redirects_spec.rb
Labels: test, Review, Config

#1658 Remove the right margin from extra nav on mobile
  app/webpacker/styles/header/extra-navigation.scss
Labels: Review, Style

#1656 Make the event section layout columnar on mobile
  app/webpacker/styles/events.scss
Labels: Review, Style

#1663 Updated image
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/webpacker/images/content/blog/seminar-room.jpg
Labels: Review, content

#1667 Favour 'Next steps' over 'Next Steps'
  app/components/funding_widget_component.html.erb
  app/views/callbacks/steps/_form.html.erb
  app/views/event_steps/_form.html.erb
  app/views/event_steps/_further_details.html.erb
  app/views/mailing_list/steps/_form.html.erb
  spec/components/funding_widget_component_spec.rb
  spec/features/book_callback_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review

#1668 Add arrows to the welcome guide
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/components/arrow_component.rb
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/welcome/landing/_got-questions.html.erb
  app/views/content/welcome/landing/_my-journey-into-teaching.html.erb
  app/views/content/welcome/landing/_teaching-maths-is-so-rewarding.html.erb
  app/views/content/welcome/landing/_welcome-to-teaching.html.erb
  app/webpacker/styles/components/arrow.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/welcome-guide.scss
  app/webpacker/styles/welcome-guide/_welcome-to-teaching.scss
  spec/components/arrow_component_spec.rb
  spec/components/previews/arrow_component_preview.rb
Labels: ruby, test, Review, Style, content

#1681 Security Tests Moved to Overnight
  .github/workflows/build.yml
Labels: DevOps, Review

#1682 Use tagged Master image
  .github/workflows/link_checker.yml
Labels: DevOps, Review
