Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-03, with the labels that each got.

#948 Add article_classes helper method
  app/helpers/content_helper.rb
  app/views/layouts/content.html.erb
  spec/helpers/content_helper_spec.rb
Labels: ruby, test

#950 Convert front matter hash keys to strings in specs
  spec/components/card_component_spec.rb
  spec/components/cards/find_events_component_spec.rb
  spec/components/cards/latest_event_component_spec.rb
  spec/components/cards/renderer_component_spec.rb
  spec/components/cards/story_component_spec.rb
  spec/components/content/accordion_component_spec.rb
  spec/components/grouped_cards/card_component_spec.rb
  spec/components/grouped_cards/listing_component_spec.rb
  spec/components/sections/hero_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/components/stories/story_component_spec.rb
Labels: test

#952 Add support for title captions
  app/views/layouts/content.html.erb
  app/webpacker/styles/colours.scss
  app/webpacker/styles/layout.scss
Labels: Style, ruby

#949 Add instructions for providers to update a teaching event
  app/views/event_categories/show.html.erb
  app/views/events/index.html.erb
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/events.scss
  spec/features/find_an_event_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
Labels: Style, ruby, test

#940 Add 3 purple box CTAs to event completion pages
  app/views/event_steps/completed.html.erb
Labels: ruby

#954 Change `full_width` to `fullwidth`
  app/helpers/content_helper.rb
  spec/helpers/content_helper_spec.rb
Labels: bug, ruby, test

#955 Make layout header rule only apply to main title
  app/webpacker/styles/layout.scss
Labels: Style

#916 Stop accordion headings from reaching large size
  app/webpacker/styles/accordion.scss
Labels: Style

#956 Remove nowrap from button mixin
  app/views/sections/_footer-signup.html.erb
  app/webpacker/styles/links-and-buttons.scss
Labels: Style, ruby

#958 Black site footer background to match rest of footer when wide
  app/webpacker/styles/footer.scss
Labels: Style

#957 Re-add chevron to "sign up here"
  app/views/sections/_footer-signup.html.erb
Labels: ruby

#947 Circuit breaker redirect
  .gitignore
  Gemfile.lock
  app/components/service_unavailable_component.html.erb
  app/components/service_unavailable_component.rb
  app/controllers/concerns/circuit_breaker.rb
  app/controllers/event_categories_controller.rb
  app/controllers/event_steps_controller.rb
  app/controllers/events_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  app/views/events/not_available.html.erb
  app/views/mailing_list/steps/not_available.html.erb
  config/routes.rb
  spec/components/service_unavailable_component_spec.rb
  spec/requests/circuit_breaker_spec.rb
Labels: ruby, test

#953 Allow mailing list sign up if already signed up for TTA
  app/models/mailing_list/steps/already_subscribed.rb
  app/views/mailing_list/steps/_already_subscribed.html.erb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/steps/already_subscribed_spec.rb
Labels: ruby, test

#960 Standardise the way nav lists are built
  app/components/navigation/navbar_component.html.erb
  spec/features/content_pages_spec.rb
Labels: ruby, test

#961 Update _feedback-bar.erb
  app/views/sections/_feedback-bar.erb
Labels: ruby

#965 Support featured page in stories landing template
  app/views/layouts/stories/landing.html.erb
  app/webpacker/styles/stories.scss
Labels: Style, ruby

#967 Only apply link/button chevron styles after spans
  app/webpacker/styles/utility.scss
Labels: Style

#966 Floating mailing list CTA
  app/views/layouts/application.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/sections/_feedback-bar.erb
  app/views/sections/_footer-signup.html.erb
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-bar.html.erb
  app/webpacker/controllers/mailing-list_controller.js
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/mailing-list-bar.scss
  spec/javascript/controllers/feedback_controller_spec.js
  spec/javascript/controllers/mailing-list_controller_spec.js
Labels: Style, ruby, test

#968 Remove featured story from landing template
  app/views/layouts/stories/landing.html.erb
  spec/requests/page_with_custom_layout_spec.rb
  spec/support/views/content/stories/landing-page.md
Labels: ruby, test

#970 Ensure query string is maintained when redirecting
  config/routes.rb
  spec/requests/redirects_spec.rb
Labels: ruby, test

#971 Add the mailing list banner to stories layouts
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
Labels: ruby

#969 Paginate event search results per category
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  app/presenters/events/group_presenter.rb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/kaminari/_next_page.html.erb
  app/views/kaminari/_page.html.erb
  app/views/kaminari/_prev_page.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/webpacker/controllers/scroll_controller.js
  spec/features/find_an_event_spec.rb
  spec/javascript/controllers/mailing-list_controller_spec.js
  spec/javascript/controllers/scroll_controller_spec.js
  spec/javascript/stubs/local_storage.js
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test

#972 Change to Common Action
  .github/workflows/trello.yml
Labels: DevOps

#975 Make markdown h3 headings bigger than h4
  app/views/layouts/events.html.erb
  app/webpacker/styles/events.scss
  app/webpacker/styles/markdown.scss
Labels: Style, ruby

#976 Prevent mailing list bar from blocking content
  app/views/layouts/application.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-bar.html.erb
  app/webpacker/styles/mailing-list-bar.scss
Labels: Style, ruby

#977 Tweak the mailing list bar styles
  app/webpacker/styles/mailing-list-bar.scss
Labels: Style

#973 Add a basic sitemap generator
  app/controllers/sitemap_controller.rb
  config/routes.rb
  spec/requests/sitemap_controller_spec.rb
Labels: ruby, test

#978 Bump API client to fix deprecation warnings
  Gemfile.lock
  spec/models/mailing_list/wizard_spec.rb
Labels: test

#981 Hack fix to make assessment providers grid work
  app/components/grouped_cards/listing_component.html.erb
Labels: ruby

#987 Forward request_id to the API
  Gemfile.lock
  app/controllers/application_controller.rb
  spec/requests/api_client_request_id_spec.rb
Labels: ruby, test

#990 Eligibility checker
  app/controllers/eligibility_checker_controller.rb
  app/views/eligibility_checker/show.html.erb
  app/webpacker/styles/eligibility-checker.scss
  app/webpacker/styles/git.scss
  config/routes.rb
Labels: Style, ruby

#988 Various spacing fixes.
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/sections/hero.scss
Labels: Style

#986 Enable circuit breaker
  config/initializers/git_api_client.rb
Labels: ruby

#734 Added support for optional preview views folder
  .env.development
  .env.test
  app/models/pages/frontmatter.rb
  app/preview_pages/content/home.md
  config/initializers/preview_pages.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/requests/frontmatter_content_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
  spec/requests/page_with_custom_layout_spec.rb
  spec/support/fake_views.rb
Labels: ruby, test

#991 Update event search radius options
  app/models/events/search.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: ruby, test

#993 Update trello.yml
  .github/workflows/trello.yml
Labels: DevOps

#983 Update Sentry gem
  Gemfile
  Gemfile.lock
  app/components/cards/latest_event_component.rb
  config/initializers/sentry.rb
  spec/components/cards/latest_event_component_spec.rb
Labels: ruby, test

#998 Improved handling of missing non-html pages
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/pages_controller.rb
Labels: ruby

#992 Keep Artefacts Even on Failure
  .github/workflows/build.yml
Labels: DevOps

#1003 Fix breadcrumb error when page has no title
  app/controllers/pages_controller.rb
  spec/features/breadcrumbs_spec.rb
  spec/support/views/content/no-title.md
Labels: ruby, test

#1008 Exclude partials from the Frontmatter.list
  app/models/pages/frontmatter.rb
  spec/fixtures/files/markdown_content/_partial.md
  spec/models/pages/frontmatter_spec.rb
Labels: ruby, test

#994 Ignore cloudfront ip ranges when calculating client IP addresses
  Gemfile
  Gemfile.lock
  config/initializers/exclude_cloudfront_ips.rb
  lib/cloud_front_ip_filter.rb
  spec/lib/cloud_front_ip_filter_spec.rb
Labels: ruby, test

#1011 Show either search bar or menu on mobile
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/controllers/searchbox_controller.js
  spec/javascript/controllers/navigation_controller_spec.js
  spec/javascript/controllers/searchbox_controller_spec.js
Labels: test

#982 New steps layout
  app/components/calls_to_action/next_steps_component.html.erb
  app/controllers/pages_controller.rb
  app/views/layouts/steps.html.erb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/steps.scss
Labels: Style, ruby

#997 Add fail2ban
  .env.preprod
  .env.rolling
  config/environments/preprod.rb
  config/environments/rolling.rb
  config/initializers/rack_attack.rb
Labels: ruby

#1016 Add an id to the steps in the new linear layout
  app/views/layouts/steps.html.erb
Labels: ruby

#1012 Add list of providers to event page
  Gemfile.lock
  app/views/events/show.html.erb
  spec/requests/events_controller_spec.rb
Labels: ruby, test

#1014 Added DfE logo to navbar
  app/views/components/_logo.html.erb
  app/views/sections/_footer.html.erb
  app/webpacker/images/dfelogo-black.svg
  app/webpacker/images/dfelogo-white.svg
  app/webpacker/styles/header.scss
Labels: Style, ruby

#1020 Feature/fix deprecations
  spec/requests/pages_controller_spec.rb
  spec/validators/email_format_validator_spec.rb
  spec/validators/postcode_validator_spec.rb
  spec/validators/telephone_validator_spec.rb
Labels: test

#1019 External link checker
  spec/features/external_links_spec.rb
  spec/spec_helper.rb
  spec/support/page_testing_support.rb
Labels: test

#1022 Instagram doesn't support HEAD requests
  spec/support/page_testing_support.rb
Labels: test

#1024 Upgrade to mimemagic 0.3.9
  Dockerfile
  Gemfile.lock
Labels: docker

#1026 Switch to using new Sentry gem to notify of Bans
  config/initializers/rack_attack.rb
Labels: ruby

#1021 Add some useful links to 404 page
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/error.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/utility.scss
Labels: Style, ruby

#1038 Fix capitalisation: it's now Get Into Teaching
  README.md
  app/components/navigation/navbar_component.html.erb
  app/controllers/searches_controller.rb
  app/helpers/application_helper.rb
  app/views/components/_videoplayer.html.erb
  app/views/searches/show.html.erb
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/controllers/talk-to-us_controller.js
  spec/features/event_wizard_spec.rb
  spec/features/find_an_event_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/javascript/controllers/talk-to-us_controller_spec.js
  spec/views/searches/show.html.erb_spec.rb
Labels: ruby, test

#1039 Add a grades disclaimer beneath checker button
  app/views/eligibility_checker/show.html.erb
  app/webpacker/styles/eligibility-checker.scss
Labels: Style, ruby

#1040 Add more disclaimer text around eligibility result
  app/views/eligibility_checker/show.html.erb
Labels: ruby

#1018 Send Google Page Speed insights to Prometheus
  Gemfile
  Gemfile.lock
  config/puma.rb
  lib/page_speed_score.rb
  lib/prometheus/metrics.rb
  lib/tasks/page_speed_score.rake
  spec/fixtures/files/sitemap.xml
  spec/lib/page_speed_score_spec.rb
  spec/lib/prometheus/metrics_spec.rb
Labels: ruby, test

#984 Remove event-specific styles from grouped cards
  app/components/grouped_cards/card_component.html.erb
  app/components/grouped_cards/listing_component.html.erb
  app/webpacker/styles/components/grouped-cards.scss
  app/webpacker/styles/components/mixins/cards-grid.scss
  app/webpacker/styles/layout.scss
  spec/components/grouped_cards/card_component_spec.rb
  spec/components/grouped_cards/listing_component_spec.rb
Labels: Style, ruby, test

#1023 Make sitemap mailing list page not redirect
  app/controllers/sitemap_controller.rb
Labels: ruby

#1044 Publish page speed scores in preprod instead of rolling
  config/puma.rb
Labels: ruby

#1045 Update mailing list links to point at first page
  app/views/errors/not_found.html.erb
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-bar.html.erb
Labels: ruby

#1051 Add more missing alt attributes
  app/components/card_component.rb
  app/components/cards/chat_online_component.rb
  app/components/cards/featured_story_component.rb
  app/components/cards/find_events_component.rb
  app/components/cards/latest_event_component.rb
  spec/components/cards/chat_online_component_spec.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/components/cards/find_events_component_spec.rb
  spec/components/cards/latest_event_component_spec.rb
Labels: ruby, test

#1053 Add page speed insights key to preprod credentials
  config/credentials/preprod.yml.enc
  lib/page_speed_score.rb
  spec/lib/page_speed_score_spec.rb
Labels: ruby, test
