Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-10, with the labels that each got.

#1813 Remove automated event closed message
  app/views/events/show.html.erb
  spec/requests/events_controller_spec.rb
Labels: ruby, test, Review

#1812 Fix broken postgrad teacher training link
  app/views/content/blog/how-to-apply-for-teacher-training.md
  spec/support/page_testing_support.rb
Labels: test, Review, content

#1828 Dependabot updates for Ocotober 2021
  Gemfile
  Gemfile.lock
  babel.config.js
  package.json
  yarn.lock
Labels: Review

#1815 Make sure dark blue colour is stored in a constant
  app/views/event_categories/show.html.erb
  app/webpacker/styles/colours.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: ruby, Review, Style

#1834 Add AO providers for Lincolnshire and Bradford
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1836 More blue links
  app/views/event_categories/show.html.erb
  app/views/events/index.html.erb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/grouped-cards.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: ruby, Review, Style

#1806 new-blog-post-right-provider
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/webpacker/images/content/blog/right_provider.jpg
Labels: Review, content

#1835 Some more dependabot updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review
