Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-11, with the labels that each got.

#1926 Pull out non-cache code from StaticPages module
  app/controllers/blog/tag_controller.rb
  app/controllers/blog_controller.rb
  app/controllers/concerns/static_page_cache.rb
  app/controllers/concerns/static_pages.rb
  app/controllers/pages_controller.rb
  spec/controllers/concerns/static_page_cache_spec.rb
  spec/requests/pages_controller_spec.rb
Labels: ruby, test, Review

#1665 Refresh the first page of the event signup wizard
  app/components/events/desktop_signup_info.html.erb
  app/components/events/desktop_signup_info.rb
  app/components/events/mobile_signup_info.html.erb
  app/components/events/mobile_signup_info.rb
  app/controllers/event_steps_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  app/views/event_steps/_authenticate.html.erb
  app/views/event_steps/_contact_details.html.erb
  app/views/event_steps/_form.html.erb
  app/views/event_steps/_form_first_page.html.erb
  app/views/event_steps/_further_details.html.erb
  app/views/event_steps/_personalised_updates.html.erb
  app/views/event_steps/show.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/webpacker/images/content/event-signup/birmingham-event-1.jpg
  app/webpacker/images/content/event-signup/birmingham-event-2.jpg
  app/webpacker/images/content/event-signup/birmingham-event-3.jpg
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/events/signup-info.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/registration/with-image-above.scss
  app/webpacker/styles/registration/with-side-images.scss
  config/locales/en.yml
  spec/components/events/desktop_signup_info_spec.rb
  spec/components/events/mobile_signup_info_spec.rb
  spec/features/event_wizard_spec.rb
Labels: ruby, test, Review, Style, Config

#1925 Remove single page mailing list sign up variant
  app/controllers/mailing_list_signups_controller.rb
  app/models/mailing_list/signup.rb
  app/views/mailing_list_signups/README.md
  app/views/mailing_list_signups/edit.html.erb
  app/views/mailing_list_signups/new.html.erb
  config/routes.rb
  spec/features/mailing_list_signup_spec.rb
  spec/models/mailing_list/signup_spec.rb
  spec/requests/gtm_spec.rb
Labels: ruby, test, Review, Config

#1932 Remove Bradford SCITT from AO providers
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1930 Improve caching behaviour of the website
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/blog/tag_controller.rb
  app/controllers/blog_controller.rb
  app/controllers/concerns/static_page_cache.rb
  app/controllers/pages_controller.rb
  app/controllers/sitemap_controller.rb
  app/models/pages/blog.rb
  app/views/layouts/events.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/sections/_head.html.erb
  config/application.rb
  config/initializers/static_pages.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/controllers/concerns/static_page_cache_spec.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/models/pages/blog_spec.rb
  spec/models/pages/data_spec.rb
  spec/models/pages/page_spec.rb
  spec/requests/pages_controller_spec.rb
Labels: ruby, test, Review, Config

#1931 Use event summary as description
  app/helpers/structured_data_helper.rb
  spec/helpers/structured_data_helper_spec.rb
Labels: ruby, test, Review

#1927 Remove Developers from Production Each Night
  .github/workflows/rm-developers.yml
Labels: DevOps, Review

#1928 Create thank-you.md
  app/views/content/thank-you.md
Labels: Review, content

#1935 November 2021 package updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#1942 Fix image processing not working for cached pages
  app/controllers/concerns/static_page_cache.rb
Labels: ruby, Review

#1944 Avoid nil reference error when summary is not set
  app/helpers/structured_data_helper.rb
  spec/helpers/structured_data_helper_spec.rb
Labels: ruby, test, Review

#1943 November 2021 package updates part deux
  Gemfile
  Gemfile.lock
Labels: Review

#1904 Create my-experience-with-the-national-tutoring-programme
  app/views/content/blog/my-experience-with-the-national-tutoring-programme.md
  app/webpacker/images/content/blog/farooq-ahmad.jpg
Labels: Review, content

#1947 Rework how page cache is called
  app/controllers/application_controller.rb
  app/controllers/blog/tag_controller.rb
  app/controllers/blog_controller.rb
  app/controllers/concerns/static_page_cache.rb
  app/controllers/pages_controller.rb
Labels: ruby, Review

#1929 Infrastructure Secrets
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/link_checker.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
  .github/workflows/pagespeed.yml
  .github/workflows/snyk.yml
  .github/workflows/trello.yml
  Makefile
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
Labels: DevOps, Review

#1949 Fix page caching on funding your training page
  app/controllers/application_controller.rb
  app/controllers/pages_controller.rb
  app/views/content/funding-your-training/_funding-widget.html.erb
  config/routes.rb
  spec/requests/pages_controller_spec.rb
Labels: ruby, test, Review, content, Config

#1948 Update AO link for Cambridge Partnership
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1951 Add GITHUB token
  .github/workflows/deploy.yml
Labels: DevOps, Review

#1810 Display email fallback in place of chat when JS is disabled
  app/components/footer/talk_to_us_component.html.erb
  app/helpers/application_helper.rb
  app/views/sections/_head.html.erb
  app/webpacker/packs/fake_browser_time.js
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/sections/talk-to-us.scss
  package.json
  spec/features/chat_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/fake_browser_time_spec.rb
  yarn.lock
Labels: ruby, test, Review, Style

#1950 Only enable structured data for TTT/QT events
  app/helpers/structured_data_helper.rb
  spec/helpers/structured_data_helper_spec.rb
Labels: ruby, test, Review

#1914 Remove legacy chat supplier and Zendesk feature flag
  app/components/footer_component.html.erb
  app/helpers/application_helper.rb
  app/webpacker/controllers/talk-to-us_controller.js
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  spec/components/footer_component_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: ruby, test, Review, Config

#1952 Fix image post-processing for hosted assets
  app/webpacker/styles/header/covid.scss
  config/initializers/mime_types.rb
  config/webpacker.yml
  lib/next_gen_images.rb
  lib/responsive_images.rb
  spec/lib/next_gen_images_spec.rb
  spec/lib/responsive_images_spec.rb
Labels: ruby, test, Review, Style, Config

#1955 adding blog - being myself
  app/views/content/blog/being-myself-in-the-classroom.md
  app/webpacker/images/content/blog/olivia.jpg
Labels: Review, content

#1959 Improve resizing behaviour in the footer
  app/webpacker/styles/footer.scss
Labels: Review, Style

#1960 Minor style tweaks to the navigation menu
  app/webpacker/styles/header/menu-button.scss
  app/webpacker/styles/header/navigation.scss
Labels: Review, Style

#1963 Add temp routes for A/B test
  app/controllers/pages_controller.rb
  config/routes.rb
Labels: ruby, Review, Config

#1964 Add guidance on safeguarding question
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: Review, content

#1965 Add Google Optimize domains to CSP
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1936 Update images for event structured data
  app/helpers/structured_data_helper.rb
  app/webpacker/images/structured_data/ttt_in_person_16x9.jpeg
  app/webpacker/images/structured_data/ttt_in_person_1x1.jpeg
  app/webpacker/images/structured_data/ttt_in_person_4x3.jpeg
  app/webpacker/images/structured_data/ttt_online_16x9.jpeg
  app/webpacker/images/structured_data/ttt_online_1x1.jpeg
  app/webpacker/images/structured_data/ttt_online_4x3.jpeg
  spec/helpers/structured_data_helper_spec.rb
Labels: ruby, test, Review

#1966 Enable event structured data in production
  config/environments/production.rb
Labels: ruby, Review, Config

#1967 Re-introduce CSRF meta tag on internal layout
  app/views/layouts/internal.html.erb
Labels: ruby, Review

#1913 Check Service Principle
  .github/workflows/check_sp.yml
Labels: DevOps, Review

#1969 Perform beta redirect before static page cache
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/pagespeed.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/test.rb
  config/environments/userresearch.rb
  config/routes.rb
  spec/requests/beta_redirect_spec.rb
Labels: ruby, test, Review, Config

#1962 Allow pages to be easily excluded static page cache
  app/controllers/pages_controller.rb
Labels: ruby, Review

#1974 Changing 'of' to 'in' education for PGCE
  config/frontmatter.yml
Labels: Review, Config

#1954 PGCE and QTS pages
  app/views/content/what-is-a-pgce.md
  app/views/content/what-is-qts.md
Labels: Review, content

#1961 Don't show external icon for links to assets
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/internal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/layouts/welcome.html.erb
  app/webpacker/controllers/link_controller.js
  spec/javascript/controllers/link_controller_spec.js
Labels: ruby, test, Review

#1977 Add show welcome guide helper for some users only
  app/helpers/welcome_helper.rb
  app/views/mailing_list/steps/completed.html.erb
  spec/helpers/welcome_helper_spec.rb
Labels: ruby, test, Review

#1978 Simplify the mailing list logic on completion
  app/views/mailing_list/steps/completed.html.erb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review

#1973 Update AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1981 Fix the scribble signup display
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_scribble.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#1982 Send welcome guide variant on ML sign up
  Gemfile.lock
  app/models/mailing_list/wizard.rb
  spec/models/mailing_list/wizard_spec.rb
Labels: ruby, test, Review

#1985 Refactor global hidden style
  app/components/funding_widget_component.html.erb
  app/webpacker/styles/internal.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/page-helpful.scss
Labels: ruby, Review, Style

#1986 Disable welcome_guide_variant field in production
  app/helpers/welcome_helper.rb
  app/views/mailing_list/steps/completed.html.erb
  spec/helpers/welcome_helper_spec.rb
Labels: ruby, test, Review

#1987 Add a new page with information about TTT events
  app/controllers/teaching_events_controller.rb
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_what-theyre-saying.html.erb
  app/webpacker/styles/teaching-events.scss
  config/routes.rb
  spec/features/teaching_events/about_ttt_events_spec.rb
Labels: ruby, test, Review, Style, Config

#1989 Improve rendering of teaching event pagination
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#1988 Various tweaks to teaching events pages
  app/components/teaching_events/event_component.html.erb
  app/helpers/events_helper.rb
  app/helpers/teaching_events_helper.rb
  app/views/teaching_events/index/_filter.html.erb
  app/webpacker/styles/teaching-events.scss
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/helpers/teaching_events_helper_spec.rb
Labels: ruby, test, Review, Style

#1993 Add new research document to page
  app/views/content/research.md
  app/webpacker/documents/bringit-report.pdf
Labels: Review, content

#1976 Update Access-Control-Allow-Origin header for test
  config/environments/preprod.rb
Labels: ruby, Review, Config

#1956 Update README with blog post instructions
  README.md
  doc/content.md
Labels: Review

#1996 Documentation refresh
  README.md
  doc/vulnerabilities.md
  docs/configuration.md
  docs/content.md
  docs/disaster-recovery.md
  docs/mac-setup.md
  docs/setup-development.md
  docs/testing.md
  spec/features/external_links_spec.rb
Labels: test

#1992 Content changes for new events pages
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_location-and-setting.html.erb
  app/views/teaching_events/show/_register-button.html.erb
  spec/features/teaching_events/viewing_spec.rb
Labels: ruby, test, Review

#1994 Prevent external link icon appearing on links to internal assets
  app/controllers/application_controller.rb
  spec/requests/external_links_image_spec.rb
  spec/support/views/content/test.md
Labels: ruby, test, Review

#1998 Move the public file server config inside block
  config/environments/preprod.rb
  spec/features/external_links_spec.rb
Labels: ruby, test, Review, Config

#1999 Create clean-azure.yml
  .github/workflows/clean-azure.yml
Labels: DevOps

#2003 Delete Terraform State
  .github/workflows/destroy.yml
Labels: DevOps, Review

#1991 More welcome guide content fixes
  app/helpers/welcome_helper.rb
  app/views/content/welcome/landing/_did-you-know.html.erb
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/welcome/landing/_subject-specific-story.html.erb
  app/views/content/welcome/landing/_youre-not-the-only-one-with-questions.html.erb
Labels: ruby, Review, content

#1997 Fix broken link checker failing on assets
  config/webpacker.yml
  spec/components/calls_to_action/attachment_component_spec.rb
  spec/components/calls_to_action/homepage_component_spec.rb
  spec/components/card_component_spec.rb
  spec/components/cards/featured_story_component_spec.rb
  spec/components/cards/story_component_spec.rb
  spec/components/content/image_component_spec.rb
  spec/components/stories/card_component_spec.rb
  spec/components/stories/story_component_spec.rb
  spec/helpers/metadata_helper_spec.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: test, Review, Config

#2005 Wrong Storage Account
  .github/workflows/destroy.yml
Labels: DevOps, Review

#1990 Various gem upgrades
  Gemfile
  Gemfile.lock
Labels: Review

#2013 List Links
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#2007 Contact content updated
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
Labels: Review, content

#2004 Teaching events visual tweaks
  app/components/teaching_events/event_component.rb
  app/helpers/teaching_events_helper.rb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/index/_filter.html.erb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_attending-training-providers.html.erb
  app/views/teaching_events/show/_event-summary.html.erb
  app/views/teaching_events/show/_location-and-setting.html.erb
  app/views/teaching_events/show/_register-button.html.erb
  app/views/teaching_events/show/_venue-information.html.erb
  app/views/teaching_events/show/_what-theyre-saying.html.erb
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/teaching-events.scss
  spec/components/teaching_events/event_component_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/features/teaching_events/viewing_spec.rb
  spec/helpers/teaching_events_helper_spec.rb
Labels: ruby, test, Review, Style

#2015 Add descriptions for event types in a details box
  app/views/teaching_events/index.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2014 Link Checker
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#2018 Better align the atteneding providers content
  app/views/teaching_events/show/_attending-training-providers.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2016 Another batch of gem upgrades
  Gemfile
  Gemfile.lock
Labels: Review

#2011 Return 404 for past teaching events
  app/controllers/events_controller.rb
  spec/features/find_an_event_spec.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test, Review

#2022 Link Checker
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#2026 Correct location path reference
  app/webpacker/javascript/gtm.js
  spec/javascript/gtm_spec.js
Labels: test, Review

#1957 Add thumbnail for 'being myself' blog post
  app/views/content/blog/being-myself-in-the-classroom.md
  app/webpacker/images/content/blog/thumbnails/olivia.jpg
Labels: Review, content

#2031 Fix linting errors
  app/controllers/events_controller.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test, Review

#2030 Fix broken link errors
  app/views/content/test.md
Labels: Review, content

#1958 Standardise the chat component
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/chat_online_component.rb
  app/components/cards/chat_online_component.html.erb
  app/components/cards/chat_online_component.rb
  app/components/chat_component.html.erb
  app/components/chat_component.rb
  app/components/footer/talk_to_us_component.html.erb
  app/helpers/application_helper.rb
  app/views/content/funding-your-training.md
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/eligibility_checker/show.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/controllers/chat_controller.js
  app/webpacker/styles/components/chat.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/sections/talk-to-us.scss
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/cards/chat_online_component_spec.rb
  spec/components/chat_component_spec.rb
  spec/components/previews/chat_component_preview.rb
  spec/features/chat_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: ruby, test, Review, Style, content

#2025 Rework Google Optimize for consent
  .env.development
  .env.preprod
  .env.rolling
  app/controllers/pages_controller.rb
  app/helpers/application_helper.rb
  app/views/sections/_google_optimize.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/images/blur.svg
  app/webpacker/javascript/google_optimize.js
  app/webpacker/packs/google_optimize.js
  app/webpacker/styles/git.scss
  app/webpacker/styles/google-optimize.scss
  spec/helpers/application_helper_spec.rb
  spec/javascript/google_optimize_spec.js
  spec/rails_helper.rb
  spec/requests/google_optimize_spec.rb
Labels: ruby, test, Review, Style

#2034 Hide provider website URL for TTT/QT events
  app/views/events/show.html.erb
  spec/requests/events_controller_spec.rb
Labels: ruby, test, Review

#2037 Updating contact details and organisation name
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2039 Trim white space before rendering Markdown placeholders
  lib/template_handlers/markdown.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test, Review

#2044 Revert "Bump ruby from 2.7.4-alpine3.14 to 2.7.5-alpine3.14"
  Dockerfile
Labels: docker, Review

#2045 Bump to Ruby 2.7.5
  .ruby-version
  Dockerfile
  Gemfile.lock
Labels: docker, Review

#2042 Add scope to table headings
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/layouts/teaching_event.html.erb
  app/views/layouts/teaching_events.html.erb
  app/views/layouts/welcome.html.erb
  app/webpacker/controllers/table_controller.js
  spec/javascript/controllers/table_controller_spec.js
Labels: ruby, test, Review

#2043 Consolidate pagination styling
  app/views/event_categories/show.html.erb
  app/views/events/_event_group.html.erb
  app/views/internal/events/index.html.erb
  app/webpacker/styles/blog.scss
  app/webpacker/styles/components/pagination.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/internal.scss
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2048 Fixing typo
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#2024 Replace placeholder welcome guide photos
  app/views/content/welcome/jacks-story/_header.html.erb
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_subject-specific-story.html.erb
  app/webpacker/images/content/welcome-guide/andrew-in-school-crop.jpg
  app/webpacker/images/content/welcome-guide/andrew-in-school.jpg
  app/webpacker/images/content/welcome-guide/andrew-unused.jpg
  app/webpacker/images/content/welcome-guide/jack-moors-crop.jpg
  app/webpacker/images/content/welcome-guide/jack-moors.jpg
  app/webpacker/images/content/welcome-guide/jack-rowing-crop-face.jpg
  app/webpacker/images/content/welcome-guide/jack-rowing-crop.jpg
  app/webpacker/images/content/welcome-guide/jack-rowing.jpg
Labels: ruby, Review, content

#2050 Use different 1x1 transparent GIF
  lib/lazy_load_images.rb
Labels: ruby, Review

#2036 Make time format consistent with GOV.UK design system
  app/helpers/callback_helper.rb
  app/helpers/events_helper.rb
  config/initializers/date_formats.rb
  spec/components/events/event_box_component_spec.rb
  spec/features/book_callback_spec.rb
  spec/helpers/callback_helper_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/requests/callbacks/steps_controller_spec.rb
Labels: ruby, test, Review, Config

#2033 Switch noindex to meta tag method
  app/views/sections/_head.html.erb
  spec/requests/pages_controller_spec.rb
Labels: ruby, test, Review

#2035 Update salary and benefits meta description
  app/views/content/assessment-only-providers.md
  app/views/content/become-a-further-education-teacher.md
  app/views/content/early-years-teaching-training.md
  app/views/content/funding-your-training.md
  app/views/content/home.md
  app/views/content/salaries-and-benefits.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/tips-on-applying-for-teacher-training.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
  app/views/content/ways-to-train.md
Labels: Review, content

#2038 Rework the view teaching event page
  app/components/teaching_events/event_component.rb
  app/controllers/teaching_events_controller.rb
  app/presenters/teaching_events/event_presenter.rb
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/index/_filter.html.erb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_attending-training-providers.html.erb
  app/views/teaching_events/show/_event-attributes.html.erb
  app/views/teaching_events/show/_event-summary.html.erb
  app/views/teaching_events/show/_how-to-attend.html.erb
  app/views/teaching_events/show/_provider-info.html.erb
  app/views/teaching_events/show/_scribble.html.erb
  app/views/teaching_events/show/_venue-information.html.erb
  app/views/teaching_events/show/_what-theyre-saying.html.erb
  app/webpacker/styles/teaching-events.scss
  app/webpacker/styles/utility.scss
  spec/components/teaching_events/event_component_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/features/teaching_events/viewing_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
Labels: ruby, test, Review, Style

#2032 Bump some gem versions
  Gemfile
  Gemfile.lock
Labels: Review
