Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-07, with the labels that each got.

#1453 Exclude URL from external link checker
  spec/support/page_testing_support.rb
Labels: test

#1456 Fix bad CSP directive
  config/initializers/secure_headers.rb
Labels: Config, ruby

#1410 New navigation
  .rubocop.yml
  .stylelintrc.js
  app/components/header/extra_navigation_component.html.erb
  app/components/header/extra_navigation_component.rb
  app/components/header/hero_component.html.erb
  app/components/header/logo_component.html.erb
  app/components/header/logo_component.rb
  app/components/header/navigation_component.html.erb
  app/components/header/navigation_component.rb
  app/components/header_component.html.erb
  app/models/pages/navigation.rb
  app/views/content/home.md
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/styles/application.scss
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/controllers/all.scss
  app/webpacker/styles/controllers/searchbox.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/header/covid.scss
  app/webpacker/styles/header/extra-navigation.scss
  app/webpacker/styles/header/logo.scss
  app/webpacker/styles/header/menu-button.scss
  app/webpacker/styles/header/navigation.scss
  app/webpacker/styles/header/skiplink.scss
  app/webpacker/styles/search-page.scss
  app/webpacker/styles/utility.scss
  spec/components/header/extra_navigation_component_spec.rb
  spec/components/header/logo_component_spec.rb
  spec/components/header/navigation_component_spec.rb
  spec/components/header_component_spec.rb
  spec/features/content_pages_spec.rb
  spec/javascript/controllers/navigation_controller_spec.js
  spec/javascript/controllers/searchbox_controller_spec.js
  spec/models/pages/navigation_spec.rb
Labels: Review, Style, content, ruby, test

#1442 Adding keyword 'average'
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#1455 Add and configure Skylight profiler
  Gemfile
  Gemfile.lock
  config/application.rb
  config/skylight.yml
Labels: Config, Review, ruby

#1459 Ignore www.nett.org.uk in external link check
  spec/support/page_testing_support.rb
Labels: Review, test

#1460 Allow users to paste a date and time into `start at` and `end at` inputs
  app/models/internal/event.rb
  app/views/internal/events/new.html.erb
  app/webpacker/controllers/internal_events_controller.js
  app/webpacker/packs/internal.js
  app/webpacker/styles/internal.scss
  package.json
  spec/javascript/controllers/internal_events_controller_spec.js
  spec/requests/internal/events_controller_spec.rb
  yarn.lock
Labels: Review, Style, ruby, test

#1439 Update Rails, ViewComponent and the form builder
  Gemfile
  Gemfile.lock
Labels: Review

#1464 Set to London timezone on callback booking
  app/controllers/callbacks/steps_controller.rb
  spec/features/book_callback_spec.rb
Labels: ruby, test

#1463 (Hopefully) fix flakey rate limit specs
  spec/support/rate_limiting_support.rb
Labels: Review, test

#1465 Update dependabot.yml
  .github/dependabot.yml
Labels: DevOps, Review

#1462 Update various Ruby and JS packages
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review, dependencies

#1436 Adding a box on the right hand side to promo event
  app/views/content/start-teacher-training-this-september.md
Labels: Review, content

#1438 Add ZAP Rules
  .zap/rules.tsv
Labels: Review

#1477 Remove css for <details> elements
  app/webpacker/styles/steps.scss
Labels: Review, Style

#1476 More Ruby and JavaScript library updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#1480 Re-add the *google.com.sa CSP rule
  config/initializers/secure_headers.rb
Labels: Config, ruby

#1482 Remove double link to `Home` in footer
  app/views/sections/_footer.html.erb
Labels: ruby

#1484 Remove the replacement (correct) CSP entry
  config/initializers/secure_headers.rb
Labels: Config, Review, ruby

#1486 Ensure `events/search` with no params does not raise error
  app/controllers/events_controller.rb
  spec/requests/events_controller_spec.rb
Labels: Review, ruby, test

#1487 Standardise the bottom-of-page furniture with a single component
  app/components/footer/cookie_acceptance_component.html.erb
  app/components/footer/cookie_acceptance_component.rb
  app/components/footer/feedback_component.html.erb
  app/components/footer/feedback_component.rb
  app/components/footer/mailing_list_component.html.erb
  app/components/footer/mailing_list_component.rb
  app/components/footer/talk_to_us_component.html.erb
  app/components/footer/talk_to_us_component.rb
  app/components/footer/video_player_component.html.erb
  app/components/footer/video_player_component.rb
  app/components/footer_component.html.erb
  app/components/footer_component.rb
  app/views/components/_analytics.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/sections/_cookie-acceptance.html.erb
  app/views/sections/_page_helpful.html.erb
  spec/components/footer/cookie_acceptance_component_spec.rb
  spec/components/footer/feedback_component_spec.rb
  spec/components/footer/mailing_list_component_spec.rb
  spec/components/footer/talk_to_us_component_spec.rb
  spec/components/footer/video_player_component_spec.rb
  spec/components/footer_component_spec.rb
  spec/views/sections/_feeback_bar.html.erb_spec.rb
  spec/views/sections/_page_helpful.html.erb_spec.rb
Labels: Review, enhancement, ruby, test

#1490 Update QTS guidance if overseas qualified
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
Labels: Review, content

#1489 Update George Abbot SCITT
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1481 Remove the experimental *google.com.sa wildcard
  config/initializers/secure_headers.rb
Labels: Config, Review, ruby

#1491 Add alt text to blog images
  app/components/content/image_component.rb
  app/helpers/blog_helper.rb
  app/views/blog/_post_preview.html.erb
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/blog/how-to-find-school-experience.md
  app/views/content/blog/how-to-fund-your-teacher-training.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment.md
  app/webpacker/images/content/blog/habiba-cabdi-teacher-applicant.jpg
  app/webpacker/images/content/blog/habiba-cabdi-teacher-applicant.png
  lib/template_handlers/markdown.rb
  spec/components/content/image_component_spec.rb
  spec/helpers/blog_helper_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: Review, content, ruby, test

#1494 Add wildcard redirects
  config/redirects.yml
Labels: Config

#1495 Ignore domain failing SSL check
  spec/support/page_testing_support.rb
Labels: test

#1498 Quick link fix
  app/views/content/ways-to-train.md
Labels: content

#1499 Update author on Blog
  app/views/blog/_date_and_author.html.erb
Labels: Review, ruby

#1497 Remove event listing
  app/views/content/start-teacher-training-this-september.md
Labels: Review, content

#1501 Add resolutions settings to package.json
  package.json
  yarn.lock
Labels: Review

#1500 Add production credentials for internal events portal
  config/credentials/production.yml.enc
Labels: Config, Review

#1503 Add link to privacy policy
  app/views/pages/cookies.md
Labels: Review

#1507 Attempt to Online event tag
  app/components/events/event_box_component.rb
  spec/components/events/event_box_component_spec.rb
Labels: Review, ruby, test

#1506 Wrap list items in li tags in the sidebar
  app/views/layouts/content.html.erb
Labels: Review, ruby

#1496 Initial tidy up styles
  app/components/header/extra_navigation_component.html.erb
  app/webpacker/styles/header/extra-navigation.scss
  app/webpacker/styles/header/logo.scss
  app/webpacker/styles/header/menu-button.scss
  app/webpacker/styles/header/navigation.scss
Labels: Review, Style, ruby

#1508 CVE updates
  Dockerfile
  Gemfile
  Gemfile.lock
  doc/vulnerabilities.md
  yarn.lock
Labels: Review, docker

#1510 Hard-code the mailing list URL in the header and footer
  app/components/footer_component.html.erb
  app/components/header/extra_navigation_component.html.erb
Labels: Review, ruby

#1511 Add custom event 404 page
  app/controllers/events_controller.rb
  app/views/events/not_found.html.erb
  spec/requests/events_controller_spec.rb
Labels: Review, ruby, test

#1514 Load all future events in category view
  app/components/events/search_component.html.erb
  app/components/events/search_component.rb
  app/models/events/search.rb
  spec/components/events/search_component_spec.rb
  spec/models/events/search_spec.rb
  spec/requests/events_by_category_spec.rb
Labels: Review, ruby, test

#1516 Add google-site-verification meta tag
  app/views/sections/_head.html.erb
Labels: Review, ruby

#1512 Revamp the first page of the signup form
  app/controllers/mailing_list/steps_controller.rb
  app/views/layouts/registration_attractive.html.erb
  app/views/mailing_list/steps/_form.html.erb
  app/views/mailing_list/steps/_name.html.erb
  app/webpacker/images/content/hero-images/0025.jpg
  app/webpacker/images/content/hero-images/0026.jpg
  app/webpacker/images/content/hero-images/0027.jpg
  app/webpacker/styles/git.scss
  app/webpacker/styles/registration-attractive.scss
Labels: Review, Style, ruby

#1515 Support Open Graph images
  app/helpers/metadata_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/metadata_helper_spec.rb
Labels: Review, ruby, test

#1518 Use default Prometheus client data store
  config/application.rb
Labels: Config, Review, ruby, test

#1509 Import some more blog posts
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/how-to-fund-your-teacher-training.md
  app/views/content/blog/managing-behaviour-in-the-classroom.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment.md
  app/views/content/blog/why-i-became-a-teacher.md
  app/webpacker/images/content/blog/abigail-beeley.jpg
  app/webpacker/images/content/blog/ben-breen.jpg
  app/webpacker/images/content/blog/giorgio-rubbo.jpg
  app/webpacker/images/content/blog/pupil-chatting-to-teacher-in-classroom.jpg
Labels: Review, content

#1517 Update event descriptions
  config/locales/en.yml
Labels: Config, Review

#1523 Only show teaching logo for first category
  app/helpers/events_helper.rb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  spec/helpers/events_helper_spec.rb
Labels: Review, ruby, test

#1526 Display images of event venues
  app/models/internal/event_building.rb
  app/views/events/show.html.erb
  app/webpacker/styles/components/map.scss
  app/webpacker/styles/event.scss
  spec/factories/api/event_building_api_factory.rb
  spec/factories/internal/event_building_factory.rb
  spec/models/internal/event_building_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Review, Style, ruby, test

#1527 Update CODEOWNERS to reflect new image location
  .github/CODEOWNERS
Labels: Review

#1530 Updating descriptions for Events team
  config/locales/en.yml
Labels: Config, Review

#1528 Update how-to-apply-for-teacher-training.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
Labels: Review, content

#1529 Update 'how to attend' for in-person events
  app/views/events/show.html.erb
  spec/requests/events_controller_spec.rb
Labels: Review, ruby, test

#1524 Update how-to-fund-your-teacher-training.md
  app/views/content/blog/how-to-fund-your-teacher-training.md
Labels: Review, content

#1505 Comment out TI providers and update QTS links
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/funding-your-training.md
  app/views/content/guidance/financial-support-for-international-applicants.md
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: Review, content, ruby

#1492 Start building/experimenting with welcome guide
  app/controllers/pages_controller.rb
  app/views/content/welcome.md
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_did-you-know.html.erb
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/welcome/landing/_got-questions.html.erb
  app/views/content/welcome/landing/_introduction.html.erb
  app/views/content/welcome/landing/_my-journey-into-teaching.html.erb
  app/views/content/welcome/landing/_teaching-maths-is-so-rewarding.html.erb
  app/views/content/welcome/landing/_welcome-to-teaching.html.erb
  app/views/layouts/welcome.html.erb
  app/webpacker/images/content/welcome-guide/click-person.svg
  app/webpacker/images/content/welcome-guide/money-icon.svg
  app/webpacker/images/content/welcome-guide/paper-and-pencil.svg
  app/webpacker/images/content/welcome-guide/person-paper.svg
  app/webpacker/images/content/welcome-guide/school.svg
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/welcome-guide.scss
  app/webpacker/styles/welcome-guide/_welcome-to-teaching.scss
Labels: Review, Style, content, ruby

#1532 Update copy for when there are no TTT events
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  spec/requests/find_an_event_near_you_spec.rb
Labels: Review, ruby, test

#1534 Add a page with link to new content location
  app/views/content/guidance/financial-support-for-international-applicants.md
Labels: Review, content

#1536 Hide footer distractions from registation layout
  app/views/layouts/registration.html.erb
Labels: Review, ruby

#1519 Fix logo ratio
  app/components/header/logo_component.html.erb
  app/webpacker/styles/header/logo.scss
  spec/components/header/logo_component_spec.rb
Labels: Review, Style, ruby, test

#1537 Allow searching by all months
  app/controllers/events_controller.rb
  app/views/events/index.html.erb
  spec/features/find_an_event_spec.rb
Labels: Review, ruby, test

#1535 Add draft status to posts
  app/controllers/sitemap_controller.rb
  app/helpers/navigation_helper.rb
  app/views/content/guidance/financial-support-for-international-applicants.md
  app/views/content/welcome.md
  spec/helpers/navigation_helper_spec.rb
  spec/requests/sitemap_controller_spec.rb
Labels: Review, content, ruby, test

#1525 Amend Events question in COVID page
  app/views/content/covid-19.md
Labels: Review, content

#1541 Keyword changes W/C 26/07/2021
  app/views/content/ways-to-train.md
Labels: content

#1531 Updates to book a callback feature
  Gemfile.lock
  app/models/callbacks/steps/matchback_failed.rb
  app/models/callbacks/steps/talking_points.rb
  app/models/callbacks/wizard.rb
  app/models/wizard/issue_verification_code.rb
  app/views/callbacks/steps/_callback.html.erb
  app/views/callbacks/steps/_matchback_failed.html.erb
  app/views/callbacks/steps/_personal_details.html.erb
  app/views/callbacks/steps/_talking_points.html.erb
  config/locales/en.yml
  spec/features/book_callback_spec.rb
  spec/models/callbacks/steps/matchback_failed_spec.rb
  spec/models/callbacks/steps/talking_points_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/support/wizard_support.rb
Labels: Config, Review, ruby, test

#1542 Update adviser to agent
  app/views/callbacks/steps/_talking_points.html.erb
  app/views/callbacks/steps/completed.html.erb
  spec/features/book_callback_spec.rb
Labels: ruby, test

#1545 Keyword changes W/C 26/07/2021
  app/views/content/funding-your-training.md
Labels: Review, content

#1546 Keyword changes W/C 26/07/2021
  app/views/content/my-story-into-teaching.md
Labels: Review, content

#1394 TTA Page - Rebased
  app/views/content/teacher-training-advisers.md
  app/views/content/teacher-training-advisers/_charlotte.md
  app/views/content/teacher-training-advisers/_matt.md
  app/views/content/teacher-training-advisers/_stuart.md
  app/views/content/teacher-training-advisers/_sue.md
  app/webpacker/styles/accordion.scss
Labels: Review, Style, content

#1543 Keyword changes W/C 26/07/2021
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#1547 Apply abbr style inside table cells
  app/webpacker/styles/markdown.scss
Labels: Review, Style

#1549 Use `is_at_most` matcher
  spec/models/callbacks/steps/personal_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
Labels: Review, test

#1550 Fix and run ESLint
  .eslintrc.js
  app/webpacker/controllers/funding_widget_controller.js
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/controllers/searchbox_controller.js
  package.json
  spec/javascript/controllers/analytics_spec_helper.js
  spec/javascript/controllers/navigation_controller_spec.js
  spec/javascript/controllers/scroll_controller_spec.js
  spec/javascript/controllers/searchbox_controller_spec.js
  spec/javascript/redacter_spec.js
Labels: Review, test

#1540 Begin adding story page content to welcome guide
  app/views/content/welcome/bring-your-lessons-to-life.md
  app/views/content/welcome/bring-your-lessons-to-life/_advice.html.erb
  app/views/content/welcome/bring-your-lessons-to-life/_article.html.erb
  app/views/content/welcome/bring-your-lessons-to-life/_header.html.erb
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_my-journey-into-teaching.html.erb
  app/views/content/welcome/landing/_welcome-to-teaching.html.erb
  app/views/content/welcome/my-journey-into-teaching.md
  app/views/content/welcome/my-journey-into-teaching/_header.html.erb
  app/views/content/welcome/my-journey-into-teaching/_introduction.html.erb
  app/views/content/welcome/my-journey-into-teaching/_special-shout-out.html.erb
  app/views/content/welcome/my-journey-into-teaching/_three-things-youll-never-hear-me-say.html.erb
  app/webpacker/styles/welcome-guide.scss
Labels: Review, Style, content, ruby

#1554 Add 'back to welcome' links to welcome story pages
  app/views/content/welcome/bring-your-lessons-to-life/_advice.html.erb
  app/views/content/welcome/my-journey-into-teaching/_special-shout-out.html.erb
  app/webpacker/styles/welcome-guide.scss
Labels: Style, content, ruby

#1544 Link to callback booking from ML completion page
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/registration.scss
Labels: Review, Style, ruby

#1553 Add new PR release to Research page
  app/views/content/research.md
  app/webpacker/documents/breakthrough-moments.pdf
Labels: Review, content

#1548 Attach external link icons in Ruby
  app/controllers/application_controller.rb
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/utility.scss
  spec/requests/external_links_image_spec.rb
Labels: Review, Style, ruby, test

#1556 Improve blog tag accessibility
  app/webpacker/styles/blog.scss
  app/webpacker/styles/font-sizes.scss
Labels: Review, Style

#1557 Callback copy - final updates
  app/views/callbacks/steps/_talking_points.html.erb
  app/views/mailing_list/steps/completed.html.erb
  spec/features/book_callback_spec.rb
Labels: ruby, test

#1560 Improve the nav link display
  app/webpacker/styles/header/navigation.scss
Labels: Review, Style

#1558 Make the quiz interactive
  app/views/content/welcome/landing/_did-you-know.html.erb
  app/webpacker/controllers/welcome-guide-quiz_controller.js
  app/webpacker/styles/welcome-guide.scss
Labels: Review, Style, content, ruby

#1561 Add welcome guide link from mailing list finish
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/links-and-buttons.scss
Labels: Review, Style, ruby

#1563 Change location of an anchor link to a specific section of gov uk guidance
  app/views/content/guidance/financial-support-for-international-applicants.md
Labels: Review, content
