Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-02, with the labels that each got.

#835 WIP: Update _footer.html.erb
  app/views/sections/_footer.html.erb
Labels: ruby

#808 Change 'Surname' labels to 'Last name'
  config/locales/en.yml
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: test

#834 add heading to call us section in talk component.
  app/views/sections/_talk-to-us.html.erb
Labels: ruby

#841 Fixed card images showing as too wide on mobile
  app/webpacker/styles/components/cards.scss
Labels: Style

#840 Add a little more space above h2s and CTAs
  app/webpacker/styles/markdown.scss
Labels: Style

#844 Improve margin behaviour
  app/components/stories/story_component.html.erb
  app/views/layouts/accordion.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/stories.scss
  spec/components/stories/story_component_spec.rb
Labels: Style, ruby, test

#829 Javascript linting
  .eslintrc.js
  .prettierignore
  .prettierrc.js
  .vscode/settings.json
  README.md
  app/webpacker/controllers/accordion_controller.js
  app/webpacker/controllers/analytics_base_controller.js
  app/webpacker/controllers/bam_controller.js
  app/webpacker/controllers/banner_controller.js
  app/webpacker/controllers/conditional_field_controller.js
  app/webpacker/controllers/cookie-acceptance_controller.js
  app/webpacker/controllers/cookie_preferences_controller.js
  app/webpacker/controllers/facebook_controller.js
  app/webpacker/controllers/feedback_controller.js
  app/webpacker/controllers/gtm_controller.js
  app/webpacker/controllers/hotjar_controller.js
  app/webpacker/controllers/image_pixel_base_controller.js
  app/webpacker/controllers/index.js
  app/webpacker/controllers/last_step_controller.js
  app/webpacker/controllers/lid_controller.js
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/map_controller.js
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/controllers/page_helpful_controller.js
  app/webpacker/controllers/pinterest_controller.js
  app/webpacker/controllers/scribble_controller.js
  app/webpacker/controllers/snapchat_controller.js
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/controllers/twitter_controller.js
  app/webpacker/controllers/video_controller.js
  app/webpacker/javascript/cookie_preferences.js
  app/webpacker/javascript/object_fit.js
  app/webpacker/packs/application.js
  app/webpacker/packs/google_analytics.js
  app/webpacker/polyfills/ie8.js
  package.json
  spec/javascript/controllers/accordion_controller_spec.js
  spec/javascript/controllers/analytics_spec_helper.js
  spec/javascript/controllers/bam_controller_spec.js
  spec/javascript/controllers/banner_controller_spec.js
  spec/javascript/controllers/conditional_field_controller_spec.js
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
  spec/javascript/controllers/cookie_preferences_controller_spec.js
  spec/javascript/controllers/facebook_controller_spec.js
  spec/javascript/controllers/feedback_controller_spec.js
  spec/javascript/controllers/gtm_controller_spec.js
  spec/javascript/controllers/hotjar_controller_spec.js
  spec/javascript/controllers/last_step_controller_spec.js
  spec/javascript/controllers/lid_controller_spec.js
  spec/javascript/controllers/link_controller_spec.js
  spec/javascript/controllers/navigation_controller_spec.js
  spec/javascript/controllers/page_helpful_controller_spec.js
  spec/javascript/controllers/pinterest_controller_spec.js
  spec/javascript/controllers/scribble_controller_spec.js
  spec/javascript/controllers/snapchat_controller_spec.js
  spec/javascript/controllers/talk-to-us_controller_spec.js
  spec/javascript/controllers/twitter_controller_spec.js
  spec/javascript/controllers/video_controller_spec.js
  spec/javascript/cookie_preferences_spec.js
  yarn.lock
Labels: test

#842 Fix too large hero on Safari mobile
  app/webpacker/styles/sections/hero.scss
Labels: Style

#821 Fix jump when dismissing feedback banner
  app/webpacker/controllers/feedback_controller.js
Labels: test

#845 Improve table formatting and allow custom chat text
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/chat_online_component.rb
  app/webpacker/styles/markdown.scss
  spec/components/calls_to_action/chat_online_component_spec.rb
Labels: Style, ruby, test

#827 Search page - phase1 noJS
  app/components/navbar/navbar_component.html.erb
  app/controllers/searches_controller.rb
  app/models/search.rb
  app/views/components/_logo.html.erb
  app/views/searches/show.html.erb
  app/webpacker/images/icon-site-search-close.svg
  app/webpacker/images/icon-site-search.svg
  app/webpacker/styles/forms.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/search-page.scss
  config/locales/en.yml
  config/routes.rb
  spec/fixtures/files/markdown_content/first.md
  spec/fixtures/files/markdown_content/second.md
  spec/fixtures/files/markdown_content/third.md
  spec/models/search_spec.rb
  spec/requests/searches_controller_spec.rb
  spec/views/searches/show.html.erb_spec.rb
Labels: Style, ruby, test

#843 Correct destination of jump link
  app/views/sections/_talk-to-us.html.erb
Labels: ruby

#814 Switch cookies page to markdown
  app/controllers/pages_controller.rb
  app/views/layouts/disclaimer.html.erb
  app/views/pages/cookies.html.erb
  app/views/pages/cookies.md
  app/webpacker/styles/markdown.scss
Labels: Style, ruby

#846 New ML title copy
  app/components/sections/hero_component.html.erb
  app/controllers/mailing_list/steps_controller.rb
  app/views/mailing_list/steps/_name.html.erb
  app/views/sections/_footer-signup.html.erb
  spec/components/sections/hero_component_spec.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test

#853 Css linting
  .scss-lint.yml
  .stylelintrc.js
  Gemfile
  Gemfile.lock
  README.md
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/application.scss
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/campaigns/numbered-headings.scss
  app/webpacker/styles/colours.scss
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/events/no-results.scss
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/grouped-cards.scss
  app/webpacker/styles/components/link-block.scss
  app/webpacker/styles/components/map.scss
  app/webpacker/styles/components/mixins/cards-grid.scss
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/components/search.scss
  app/webpacker/styles/components/type-description.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/error.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/featured.scss
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/govuk-reset.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/page-helpful.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/search-page.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
  app/webpacker/styles/utility.scss
  app/webpacker/styles/video.scss
  package.json
  yarn.lock
Labels: Style

#852 Standardise registration styling
  app/controllers/event_steps_controller.rb
  app/views/event_steps/_form.html.erb
  app/views/event_steps/completed.html.erb
  app/views/layouts/events/registration.html.erb
  app/views/mailing_list/steps/_form.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/registration.scss
Labels: Style, ruby

#819 Reduce font size number
  README.md
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/link-block.scss
  app/webpacker/styles/components/map.scss
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/components/type-description.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/error.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/page-helpful.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
  package.json
Labels: Style

#855 Change event_categories routes to event-categories
  config/routes.rb
  spec/components/events/type_description_component_spec.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test

#856 Create some visual separation between table head and body
  app/webpacker/styles/markdown.scss
Labels: Style

#858 Common Secrets
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/trello.yml
Labels: DevOps

#862 Update build.yml
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/cve.yml
Labels: DevOps

#861 Correct typo in CTA text
  app/components/calls_to_action/next_steps_component.html.erb
Labels: ruby

#863 Swap to new token exchange methods/endpoints
  Gemfile.lock
  app/models/events/steps/authenticate.rb
  app/models/mailing_list/steps/authenticate.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/events/steps/authenticate_spec.rb
  spec/models/mailing_list/steps/authenticate_spec.rb
Labels: ruby, test

#872 Update Provider Event Link in Events Homepage
  app/views/events/index.html.erb
Labels: ruby

#875 NoJS search tweaks
  app/components/navbar/navbar_component.html.erb
  app/views/searches/show.html.erb
  app/webpacker/styles/search-page.scss
Labels: Style, ruby

#864 Homepage refresh
  .stylelintrc.js
  app/components/calls_to_action/homepage_component.html.erb
  app/components/calls_to_action/homepage_component.rb
  app/components/sections/hero_component.html.erb
  app/components/sections/hero_component.rb
  app/views/layouts/home.html.erb
  app/webpacker/images/icon-doc-black.svg
  app/webpacker/images/icon-git-black.svg
  app/webpacker/images/icon-school-black.svg
  app/webpacker/images/steps-graphic-mob.svg
  app/webpacker/images/steps-graphic.svg
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/utility.scss
  spec/components/calls_to_action/homepage_component_spec.rb
  spec/components/sections/hero_component_spec.rb
Labels: Style, ruby, test

#878 Remove partial that no longer exists
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby

#876 Fix for nav items showing too high on wide displays with search enabled
  app/webpacker/styles/header.scss
Labels: Style

#881 Turned search on in production
  app/components/navbar/navbar_component.html.erb
  config/routes.rb
Labels: ruby

#877 Support magic links for mailing list sign up
  Gemfile.lock
  app/controllers/concerns/wizard_steps.rb
  app/models/mailing_list/wizard.rb
  app/models/wizard/base.rb
  app/models/wizard/step.rb
  app/models/wizard/steps/authenticate.rb
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/step_spec.rb
  spec/models/wizard/steps/authenticate_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
Labels: ruby, test

#883 Auto chevroning
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/homepage_component.rb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/calls_to_action/simple_component.rb
  app/components/calls_to_action/story_component.html.erb
  app/components/events/type_description_component.html.erb
  app/components/sections/hero_component.html.erb
  app/views/events/_event_group.html.erb
  app/views/events/show.html.erb
  app/views/mailing_list/steps/_form.html.erb
  app/views/sections/_footer-signup.html.erb
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/controllers/link_controller.js
  app/webpacker/styles/links-and-buttons.scss
  spec/javascript/controllers/link_controller_spec.js
  spec/requests/events_controller_spec.rb
Labels: Style, ruby, test

#885 Add citeable quote variation and make CSS generic
  app/components/cards/chat_online_component.html.erb
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown-figures-and-quotes.scss
  app/webpacker/styles/stories.scss
Labels: Style, ruby

#879 Consolidate authentication logic
  app/models/events/steps/authenticate.rb
  app/models/events/wizard.rb
  app/models/mailing_list/steps/authenticate.rb
  app/models/mailing_list/wizard.rb
  app/models/wizard/base.rb
  app/models/wizard/issue_verification_code.rb
  app/models/wizard/steps/authenticate.rb
  spec/factories/wizard/authenticate_factory.rb
  spec/models/events/steps/authenticate_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/mailing_list/steps/authenticate_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/steps/authenticate_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/support/wizard_support.rb
Labels: ruby, test

#888 Fix save cookies preferences animation
  app/views/cookie_preferences/show.html.erb
  app/webpacker/styles/forms.scss
Labels: Style, ruby

#890 Add a 'button' class to accept all cookies button
  app/views/sections/_cookie-acceptance.html.erb
Labels: ruby

#886 Add a max-height to the hero when in desktop mode
  app/webpacker/styles/sections/hero.scss
Labels: Style

#874 Added javascript search
  app/components/navbar/navbar_component.html.erb
  app/controllers/searches_controller.rb
  app/helpers/searches_helper.rb
  app/models/search.rb
  app/views/searches/_result.html.erb
  app/views/searches/show.html.erb
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/styles/application.scss
  app/webpacker/styles/controllers/all.scss
  app/webpacker/styles/controllers/searchbox.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/search-page.scss
  package.json
  spec/helpers/searches_helper_spec.rb
  spec/javascript/controllers/searchbox_controller_spec.js
  spec/requests/searches_controller_spec.rb
  yarn.lock
Labels: Style, ruby, test

#889 Move form status styles back inside form rule
  .stylelintrc.js
  app/views/cookie_preferences/show.html.erb
  app/webpacker/styles/forms.scss
Labels: Style, ruby

#882 Tweaks to search icon sizing
  app/webpacker/styles/header.scss
Labels: Style

#901 Re-add the ampersands for external link selectors
  app/webpacker/styles/markdown.scss
Labels: Style

#859 Bugfix/button title styling cookie prefs
  app/views/cookie_preferences/show.html.erb
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/markdown.scss
Labels: Style, ruby

#908 Re-instate button class
  app/views/event_steps/_form.html.erb
Labels: ruby

#907 Hide pre-filled optional fields and steps
  app/controllers/event_steps_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  app/models/events/steps/contact_details.rb
  app/models/events/steps/personalised_updates.rb
  app/models/mailing_list/steps/postcode.rb
  app/models/wizard/base.rb
  app/models/wizard/step.rb
  app/models/wizard/steps/authenticate.rb
  app/models/wizard/store.rb
  app/views/event_steps/_personalised_updates.html.erb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/events/steps/contact_details_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/step_spec.rb
  spec/models/wizard/store_spec.rb
  spec/support/wizard_support.rb
Labels: ruby, test

#909 Remove hero size capping
  app/components/sections/hero_component.html.erb
  app/components/sections/hero_component.rb
  app/webpacker/styles/sections/hero.scss
  spec/components/sections/hero_component_spec.rb
Labels: Style, ruby, test

#912 Log address postcodes
  config/initializers/filter_parameter_logging.rb
Labels: ruby

#911 Give precedence to shown steps during export
  app/models/wizard/base.rb
  spec/models/wizard/base_spec.rb
  spec/support/wizard_support.rb
Labels: ruby, test

#913 Some minor styling improvements
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/utility.scss
Labels: Style

#898 Add intro/context to a mailing list sign up via magic link
  app/models/mailing_list/steps/degree_status.rb
  app/models/wizard/base.rb
  app/models/wizard/steps/authenticate.rb
  app/views/mailing_list/steps/_degree_status.html.erb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/steps/authenticate_spec.rb
Labels: ruby, test

#905 Improve styling of attributable quotes on mobile
  app/webpacker/styles/markdown-figures-and-quotes.scss
Labels: Style

#914 Position h1 across both cols on pages without hero
  app/views/layouts/content.html.erb
  app/webpacker/styles/layout.scss
  app/webpacker/styles/margins.scss
  app/webpacker/styles/markdown.scss
Labels: Style, ruby

#915 Support accordions in the content layout
  app/views/layouts/content.html.erb
Labels: ruby

#918 Add temp logging to diagnose postcode validation error
  app/models/events/wizard.rb
  app/models/mailing_list/wizard.rb
Labels: ruby

#917 Remove the accordion layout
  app/views/layouts/accordion.html.erb
  spec/requests/frontmatter_content_spec.rb
  spec/requests/page_with_custom_layout_spec.rb
  spec/support/views/content/accordion-page.md
  spec/support/views/content/content-page.md
  spec/support/views/content/samples/_intro.md
Labels: ruby, test

#920 Create a blocks component for homepage and mailinglist content
  app/components/content/generic_block_component.html.erb
  app/components/content/generic_block_component.rb
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/home.scss
  spec/components/content/generic_block_component_spec.rb
Labels: Style, ruby, test

#922 Tweak grid so the arrows don't overlap the image
  app/webpacker/styles/sections/hero.scss
Labels: Style

#921 Add some left/right margin around blocks on mob
  app/webpacker/styles/blocks.scss
Labels: Style

#930 Log full API request response models
  app/models/events/wizard.rb
  app/models/mailing_list/wizard.rb
  config/initializers/filter_parameter_logging.rb
  lib/attribute_filter.rb
  spec/lib/attribute_filter_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
Labels: ruby, test

#928 Groundwork for adding breadcrumbs to pages
  Gemfile
  Gemfile.lock
  app/components/navigation/breadcrumb_component.html.erb
  app/components/navigation/breadcrumb_component.rb
  app/components/navigation/navbar_component.html.erb
  app/components/navigation/navbar_component.rb
  app/controllers/application_controller.rb
  app/models/pages/page.rb
  app/views/sections/_header.html.erb
  app/webpacker/styles/components/breadcrumb.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/sections/hero.scss
  config/initializers/loaf.rb
  config/locales/loaf.yml
  spec/components/navigation/breadcrumb_component_spec.rb
  spec/components/navigation/navbar_component_spec.rb
  spec/components/previews/navigation/breadcrumb_component_preview.rb
  spec/fixtures/files/markdown_content/subfolder.md
  spec/fixtures/files/markdown_content/subfolder/other.md
  spec/fixtures/files/markdown_content/subfolder/other/page4.md
  spec/fixtures/files/markdown_content/subfolder/transient/page3.md
  spec/models/pages/page_spec.rb
Labels: Style, ruby, test

#929 Add Breadcrumbs to various layouts
  app/components/stories/story_component.html.erb
  app/components/stories/story_component.rb
  app/controllers/application_controller.rb
  app/controllers/event_categories_controller.rb
  app/controllers/event_steps_controller.rb
  app/controllers/events_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  app/controllers/pages_controller.rb
  app/models/pages/page.rb
  app/views/cookie_preferences/show.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/event_categories/show.html.erb
  app/views/event_steps/completed.html.erb
  app/views/event_steps/show.html.erb
  app/views/event_steps/update.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/show.html.erb
  app/views/mailing_list/steps/update.html.erb
  app/views/pages/privacy_policy.html.erb
  app/webpacker/styles/components/breadcrumb.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/stories.scss
  config/locales/loaf.yml
  spec/components/sections/hero_component_spec.rb
  spec/components/stories/story_component_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/support/page_support.rb
  spec/support/views/content/disclaimer.md
  spec/support/views/content/home-page.md
  spec/support/views/content/steps-to-become-a-teacher.md
  spec/support/views/content/test.md
  spec/support/views/content/test/index.md
  spec/support/views/content/test/subfolder.md
  spec/support/views/content/test/subfolder/nested.md
  spec/support/views/content/tracked-page.md
Labels: Style, ruby, test

#931 Add content blocks to the mailing list final page
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: Style, ruby

#933 Track js searches
  .env.preprod
  .env.production
  app/helpers/application_helper.rb
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/javascript/redacter.js
  spec/helpers/application_helper_spec.rb
  spec/javascript/redacter_spec.js
Labels: ruby, test

#910 Enable javascript search in production
  app/components/navigation/navbar_component.html.erb
Labels: ruby

#934 Remove content_for feature from around blocks
  app/views/mailing_list/steps/completed.html.erb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test

#935 Rename online events to online Q&As
  app/components/events/event_box_component.html.erb
  app/components/events/event_box_component.rb
  app/controllers/event_categories_controller.rb
  app/helpers/events_helper.rb
  app/views/event_categories/show.html.erb
  app/webpacker/styles/icons.scss
  config/locales/en.yml
  config/routes.rb
  spec/components/events/event_box_component_spec.rb
  spec/components/events/type_description_component_spec.rb
  spec/features/find_an_event_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
Labels: Style, ruby, test

#937 Capitalise tta -> TTA
  app/components/calls_to_action/next_steps_component.html.erb
  app/views/sections/_talk-to-us.html.erb
  config/locales/en.yml
Labels: ruby

#932 Remove the semantic scaffolding class
  app/views/layouts/application.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/layout.scss
Labels: Style, ruby

#936 Add CTA injector to markdown handler
  app/components/calls_to_action/renderer_component.rb
  app/components/content/accordion_component.rb
  lib/template_handlers/markdown.rb
  spec/components/calls_to_action/renderer_component_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test

#938 Upgrade to Ruby 2.7.2
  .ruby-version
  Dockerfile
  Gemfile.lock
  README.md
Labels: docker

#939 Make the component renderer more generic
  app/components/content/accordion_component.rb
  app/presenters/content/component_injector.rb
  lib/template_handlers/markdown.rb
  spec/presenters/content/component_injector_spec.rb
Labels: ruby, test
