Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-12, with the labels that each got.

#2049 Adding Christmas delay to getting a TTA message
  app/components/footer/talk_to_us_component.html.erb
Labels: ruby, Review

#2047 Updating Christmas contact hours on Steps page
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
Labels: ruby, Review, content

#2046 Updating Christmas contact hours on talk to us footer
  app/components/cards/chat_online_component.rb
  app/components/footer/talk_to_us_component.html.erb
  app/views/content/funding-your-training.md
  app/views/eligibility_checker/show.html.erb
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby, Review, content

#2027 Publish blog on provider application tips
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/webpacker/images/content/blog/rocket.jpg
  app/webpacker/images/content/blog/thumbnails/rocket.jpg
Labels: Review, content

#2062 Disable new GTM container in non-prod environments
  .env.development
  .env.rolling
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/rolling.rb
Labels: ruby, Review, Config

#1883 Enable new GTM container in production
  .env.production
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/layouts/teaching_event.html.erb
  app/views/layouts/teaching_events.html.erb
  app/views/layouts/welcome.html.erb
  app/views/sections/_head.html.erb
  config/environments/pagespeed.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/userresearch.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/gtm_spec.rb
Labels: ruby, test, Review, Config

#2060 Various JS updates
  package.json
  yarn.lock
Labels: Review

#2067 Yet more JS updates
  package.json
  yarn.lock
Labels: Review

#2053 Ensure @front_matter is always declared
  app/controllers/application_controller.rb
  app/views/sections/_head.html.erb
  config/initializers/rack_attack.rb
Labels: ruby, Review, Config

#2054 Teaching event item display tweaks
  app/presenters/teaching_events/event_presenter.rb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_event-image.html.erb
  app/views/teaching_events/show/_event-summary.html.erb
  app/views/teaching_events/show/_how-to-attend.html.erb
  app/views/teaching_events/show/_provider-info.html.erb
  app/views/teaching_events/show/_triangle.html.erb
  app/webpacker/styles/teaching-events.scss
  spec/factories/api/event_api_factory.rb
  spec/features/teaching_events/viewing_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
Labels: ruby, test, Review, Style

#2019 GSE proposal for updating Get school experience page
  app/views/content/get-school-experience.md
Labels: Review, content

#2071 Configure non-prod environments for staging GTM container
  .env.development
  .env.preprod
  .env.rolling
  .env.userresearch
Labels: Review

#2072 Minor bug fix for external link checker
  spec/support/page_testing_support.rb
Labels: test, Review

#2073 Enable new GTM container in non-prod environments
  .env.development
  .env.preprod
  .env.rolling
  .env.userresearch
  config/environments/development.rb
  config/environments/pagespeed.rb
  config/environments/preprod.rb
  config/environments/rolling.rb
  config/environments/userresearch.rb
Labels: ruby, Review, Config

#2052 Try out using an event type model
  app/components/events/event_box_component.rb
  app/components/teaching_events/event_component.html.erb
  app/components/teaching_events/event_component.rb
  app/controllers/events_controller.rb
  app/controllers/internal/events_controller.rb
  app/controllers/teaching_events_controller.rb
  app/helpers/events_helper.rb
  app/helpers/teaching_events_helper.rb
  app/models/event_type.rb
  app/models/events/search.rb
  app/models/internal/event.rb
  spec/components/events/type_description_component_spec.rb
  spec/components/teaching_events/event_component_spec.rb
  spec/factories/api/event_api_factory.rb
  spec/helpers/events_helper_spec.rb
  spec/helpers/teaching_events_helper_spec.rb
  spec/models/event_type_spec.rb
  spec/models/events/category_spec.rb
  spec/models/events/search_spec.rb
  spec/models/internal/event_spec.rb
  spec/models/pages/data_spec.rb
  spec/models/teaching_events/search_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test, Review

#2074 Clear cookies on all domains when opting-out
  app/webpacker/javascript/cookie_preferences.js
Labels: ruby, Review

#2081 Enable Google Optimize in staging for new events design
  .env.production
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#2040 Remove unused methods from application_helper
  app/components/header/hero_component.rb
  app/helpers/application_helper.rb
Labels: ruby, Review

#2069 Create 11-top-tips-for-interview-success
  app/views/content/blog/11-top-tips-for-interview-success.md
  app/webpacker/images/content/blog/interview.jpg
  app/webpacker/images/content/blog/thumbnails/interview.jpg
Labels: Review, content

#2079 Enable the welcome guide
  app/helpers/welcome_helper.rb
  app/views/layouts/welcome.html.erb
  app/views/mailing_list/steps/completed.html.erb
  spec/helpers/welcome_helper_spec.rb
Labels: ruby, test, Review

#2077 Amending name and contact details
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2082 Add canonical links on teaching events pages
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/show.html.erb
Labels: ruby, Review

#2085 Fix Google Optimize redirect experiments
  app/webpacker/javascript/cookie_preferences.js
  app/webpacker/javascript/google_optimize.js
  spec/javascript/cookie_preferences_spec.js
  spec/javascript/google_optimize_spec.js
Labels: test, Review

#2087 Fix broken blog post title
  app/views/content/blog/11-top-tips-for-interview-success.md
Labels: Review, content

#2070 Use IssueVerificationCode module from DFEWizard
  Gemfile
  Gemfile.lock
  app/models/callbacks/steps/personal_details.rb
  app/models/events/steps/personal_details.rb
  app/models/mailing_list/steps/name.rb
  app/models/wizard/issue_verification_code.rb
  spec/models/callbacks/steps/personal_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/requests/callbacks/steps_controller_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/support/wizard_support.rb
Labels: ruby, test, Review

#2076 Retry failed external link checks
  spec/features/external_links_spec.rb
Labels: test, Review

#2086 Improved blog footers
  app/views/blog/closing-paragraphs/_enriching-the-lives-of-young-people.html.erb
  app/views/content/blog/11-top-tips-for-interview-success.md
  app/views/content/blog/5-reasons-to-attend-a-train-to-teach-event.md
  app/views/content/blog/a-diary-of-a-trainee-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/being-myself-in-the-classroom.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/how-to-ace-a-video-interview.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/blog/how-to-find-school-experience.md
  app/views/content/blog/how-to-fund-your-teacher-training.md
  app/views/content/blog/managing-behaviour-in-the-classroom.md
  app/views/content/blog/my-experience-with-the-national-tutoring-programme.md
  app/views/content/blog/my-first-week-as-a-trainee-teacher.md
  app/views/content/blog/stephens-return-to-teaching-story.md
  app/views/content/blog/teachers-pension-scheme.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/views/content/blog/why-i-became-a-teacher.md
  app/views/content/blog/working-to-your-own-beat.md
  app/views/layouts/blog/post.html.erb
  app/webpacker/styles/blog.scss
  doc/content.md
  docs/content.md
  spec/features/blog_spec.rb
Labels: ruby, test, Review, Style, content

#2091 Update 11-top-tips-for-interview-success.md
  app/views/content/blog/11-top-tips-for-interview-success.md
Labels: Review, content

#2094 Change link format from markdown to HTML
  app/views/content/blog/11-top-tips-for-interview-success.md
Labels: Review, content

#2063 Remove underline styles for non-link text
  app/views/content/welcome/andrews-story/_header.html.erb
  app/views/content/welcome/jacks-story/_header.html.erb
  app/views/content/welcome/landing/_teaching-is-so-rewarding.html.erb
  app/views/content/welcome/landing/_welcome-to-teaching.html.erb
  app/views/content/welcome/my-journey-into-teaching/_header.html.erb
  app/views/content/welcome/my-journey-into-teaching/_three-things-youll-never-hear-me-say.html.erb
  app/views/content/welcome/yvonnes-story/_header.html.erb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/welcome-guide.scss
Labels: ruby, Review, Style, content

#2093 Add autocomplete attribute to text input fields
  app/components/events/search_component.html.erb
  app/views/callbacks/steps/_personal_details.html.erb
  app/views/event_steps/_contact_details.html.erb
  app/views/event_steps/_personal_details.html.erb
  app/views/event_steps/_personalised_updates.html.erb
  app/views/mailing_list/steps/_name.html.erb
  app/views/mailing_list/steps/_postcode.html.erb
  app/views/searches/show.html.erb
  app/views/teaching_events/index/_filter.html.erb
  app/views/wizard/steps/_authenticate.html.erb
Labels: ruby, Review

#2092 Fix accessibility issues with autocomplete input
  app/components/header/extra_navigation_component.html.erb
  app/webpacker/controllers/searchbox_controller.js
  spec/javascript/controllers/searchbox_controller_spec.js
Labels: ruby, test, Review

#2078 Update link_checker.yml
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#2095 Track cookie opt-in success rate
  app/controllers/client_metrics_controller.rb
  app/webpacker/controllers/cookie_preferences_controller.js
  app/webpacker/javascript/cookie_preferences.js
  config/initializers/instrumentation.rb
  config/initializers/rack_attack.rb
  config/routes.rb
  lib/prometheus/metrics.rb
  spec/javascript/cookie_preferences_spec.js
  spec/javascript/google_optimize_spec.js
  spec/javascript/gtm_spec.js
  spec/lib/prometheus/metrics_spec.rb
  spec/requests/client_metrics_spec.rb
  spec/requests/instrumentation_spec.rb
Labels: ruby, test, Review, Config

#2096 Ensure welcome guide pages aren't indexed
  app/views/content/welcome.md
  app/views/content/welcome/andrews-story.md
  app/views/content/welcome/jacks-story.md
  app/views/content/welcome/my-journey-into-teaching.md
  app/views/content/welcome/yvonnes-story.md
Labels: Review, content

#2098 No index event sign up page
  app/controllers/event_steps_controller.rb
  app/controllers/pages_controller.rb
  app/models/pages/page.rb
  app/views/sections/_head.html.erb
  spec/requests/event_steps_controller_spec.rb
Labels: ruby, test, Review

#2102 Update event type references to use EventType model
  app/controllers/event_categories_controller.rb
  app/helpers/events_helper.rb
  app/helpers/teaching_events_helper.rb
  app/models/event_type.rb
  app/models/events/search.rb
  app/presenters/events/group_presenter.rb
  app/presenters/teaching_events/event_presenter.rb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/features/internal_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/helpers/teaching_events_helper_spec.rb
  spec/models/event_type_spec.rb
  spec/models/events/search_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/support/api_support.rb
Labels: ruby, test, Review

#2104 Refactor event status logic into new model
  app/controllers/event_steps_controller.rb
  app/controllers/events_controller.rb
  app/controllers/internal/events_controller.rb
  app/helpers/events_helper.rb
  app/helpers/structured_data_helper.rb
  app/models/event_status.rb
  app/models/internal/event.rb
  app/presenters/teaching_events/event_presenter.rb
  app/views/events/show.html.erb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/factories/api/event_api_factory.rb
  spec/features/event_wizard_spec.rb
  spec/features/internal_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/models/event_status_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test, Review

#2080 Updating the returners page
  app/views/content/returning-to-teaching.md
Labels: Review, content, policy sign off

#2106 Fix broken links in funding widget
  app/components/funding_widget_component.html.erb
Labels: ruby, Review

#2075 Changing language of apply link
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_your_course.html.erb
  app/views/content/tips-on-applying-for-teacher-training.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: ruby, Review, content

#2108 Prevent loss of Google Ads tracking parameters
  app/webpacker/javascript/gtm.js
  spec/javascript/gtm_spec.js
Labels: test, Review

#2109 Add the 'Get boosted now' image to the footer
  app/components/footer_component.html.erb
  app/webpacker/images/get-boosted-now.png
  app/webpacker/styles/footer.scss
Labels: ruby, Review, Style

#2113 Show chat as offline on weekends
  app/webpacker/controllers/chat_controller.js
  spec/javascript/controllers/chat_controller_spec.js
Labels: test, Review

#2112 Flesh out content editor documentation
  docs/content.md
  docs/images/content_cta_examples.png
  docs/images/jump_link_examples.png
  docs/images/sidebar_cta_examples.png
Labels: Review

#2061 Christmas 2021 🎄
  app/components/cards/chat_online_component.rb
  app/components/footer/talk_to_us_component.html.erb
  app/views/content/funding-your-training.md
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/eligibility_checker/show.html.erb
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby, Review, content

#2105 Refactor teaching subjects into new model
  app/helpers/welcome_content_helper.rb
  app/helpers/welcome_helper.rb
  app/models/events/steps/personalised_updates.rb
  app/models/mailing_list/steps/subject.rb
  app/models/teaching_subject.rb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/factories/mailing_list/subject_factory.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/welcome_content_helper_spec.rb
  spec/helpers/welcome_helper_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/healthcheck_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/teaching_subject_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/welcome_guide_spec.rb
  spec/support/api_support.rb
  spec/support/wizard_support.rb
Labels: ruby, test, Review

#2116 Fix redirect to support if you are disabled page
  config/redirects.yml
Labels: Review, Config

#2111 Add 'urgent call for qualified teachers' page
  .rubocop.yml
  app/components/footer_component.html.erb
  app/views/content/home.md
  app/views/content/home/_directory.html.erb
  app/views/content/returning-to-teaching.md
  app/views/content/urgent-call-for-qualified-teachers.md
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
  app/views/content/urgent-call-for-qualified-teachers/_list.html.erb
  app/views/content/urgent-call-for-qualified-teachers/_preamble.html.erb
  app/views/layouts/content.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/urgent-call-for-qualified-teachers.scss
  spec/requests/frontmatter_content_spec.rb
Labels: ruby, test, Review, Style, content

#2117 Add and link meta image 'calling all ex teachers'
  app/views/content/urgent-call-for-qualified-teachers.md
  app/webpacker/images/calling-all-ex-teachers.jpg
Labels: Review, content

#2118 Change email listings text to mailto links
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
  app/views/content/urgent-call-for-qualified-teachers/_list.html.erb
Labels: ruby, Review, content

#2120 Make image_meta_tags use asset_pack_url internally
  app/helpers/metadata_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/metadata_helper_spec.rb
Labels: ruby, test, Review

#2121 Urgent call for qualified teachers updates 2021-12-20
  app/views/content/urgent-call-for-qualified-teachers.md
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
Labels: ruby, Review, content

#2124 Urgent call updates 2021-12-21
  app/views/content/urgent-call-for-qualified-teachers.md
  app/views/content/urgent-call-for-qualified-teachers/_list.html.erb
Labels: ruby, Review, content

#2123 Add back to top links as the agency list is long
  app/views/content/urgent-call-for-qualified-teachers/_list.html.erb
  app/webpacker/styles/urgent-call-for-qualified-teachers.scss
Labels: ruby, Review, Style, content

#2125 Remove Welsh entry from the list
  app/views/content/urgent-call-for-qualified-teachers.md
Labels: Review, content

#2130 Urgent call copy updates 2021-12-22
  app/views/content/urgent-call-for-qualified-teachers.md
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
  app/views/content/urgent-call-for-qualified-teachers/_list.html.erb
Labels: ruby, Review, content

#2129 Import latest batch of agency updates
  app/views/content/urgent-call-for-qualified-teachers.md
Labels: Review, content

#2131 Revert homepage CTA to point at mailing list 2021-12-30
  app/views/content/home.md
Labels: Review, content
