Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-04, with the labels that each got.

#1061 Metadata
  app/controllers/sitemap_controller.rb
  app/helpers/metadata_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/metadata_helper_spec.rb
  spec/requests/sitemap_controller_spec.rb
Labels: ruby, test

#1062 Add @front_matter to events for meta descriptions
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test

#1063 Fingerprint content assets
  lib/fingerprinter.rb
  lib/tasks/fingerprinter.rake
  spec/fixtures/files/fingerprinter/assets/file.pdf
  spec/fixtures/files/fingerprinter/assets/image.png
  spec/fixtures/files/fingerprinter/assets/image.svg
  spec/fixtures/files/fingerprinter/assets/nested/image.jpg
  spec/fixtures/files/fingerprinter/content/_partial.html.erb
  spec/fixtures/files/fingerprinter/content/page.md
  spec/lib/fingerprinter_spec.rb
Labels: ruby, test

#1058 H1 in Privacy Policy
  app/views/pages/privacy_policy.html.erb
Labels: ruby

#1055 Make the external link mixin more modular
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/utility.scss
Labels: Style

#1064 Add alt text for external link icons via CSS
  app/webpacker/styles/utility.scss
Labels: Style

#1065 Add rule as fallback for unsupported browsers
  app/webpacker/styles/utility.scss
Labels: Style

#1060 Testing making COVID banner 1 line
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
Labels: Style, ruby

#1042 Add robots controller and beta redirect logic
  app/controllers/robots_controller.rb
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/userresearch.rb
  config/routes.rb
  public/robots.txt
  spec/requests/beta_redirect_spec.rb
  spec/requests/robots_controller_spec.rb
Labels: ruby, test

#1073 Update _head.html.erb
  app/views/sections/_head.html.erb
Labels: ruby

#1071 Remove markdown classes from story card lists
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/webpacker/styles/layout.scss
Labels: Style, ruby

#1072 Reduce covid banner to one line
  app/views/sections/_header.html.erb
  app/webpacker/styles/header.scss
Labels: Style, ruby

#1074 Increase cache TTL to 1 year
  config/environments/production.rb
Labels: ruby

#1075 Remove explicit icon-external classes
  app/views/events/show.html.erb
Labels: ruby

#1079 Fix issues created when adding X to close covid banner.
  app/webpacker/styles/header.scss
Labels: Style

#1076 Reduce Trello Noise
  .github/workflows/build.yml
  .github/workflows/cve.yml
Labels: DevOps

#1083 Instantiate Faraday client with a URL
  spec/support/page_testing_support.rb
Labels: test

#1052 Update for cookie pop up for Public Beta
  app/views/sections/_cookie-acceptance.html.erb
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: Style, ruby

#1084 Serve images in next-gen image formats where possible
  app/controllers/application_controller.rb
  app/views/layouts/steps.html.erb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/stories.scss
  lib/next_gen_images.rb
  spec/lib/next_gen_images_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: Style, ruby, test

#1046 Increase size of landing page numbered headings
  app/webpacker/styles/campaigns/numbered-headings.scss
Labels: Style

#1088 Bug fix check if public asset exists
  lib/next_gen_images.rb
  spec/lib/next_gen_images_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: ruby, test

#1089 Fix CSS img selector
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/stories.scss
Labels: Style

#1091 Enable indexing the website
  app/controllers/robots_controller.rb
  spec/requests/robots_controller_spec.rb
Labels: ruby, test

#1092 Get into teaching -> Get Into Teaching
  app/views/sections/_feedback_bar.html.erb
Labels: ruby

#1090 Fix next gen image paths
  lib/next_gen_images.rb
  spec/lib/next_gen_images_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: ruby, test

#1093 Correct ordering of picture sources
  lib/next_gen_images.rb
  spec/lib/next_gen_images_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: ruby, test

#1087 Post cutover: Update .env.production to reflect new TTA service URL (without beta-)
  .env.production
Labels: Do Not Merge

#1094 Enable beta -> non-beta redirects on production
  config/environments/production.rb
Labels: ruby

#1086 Disable VWO except for specific pages
  app/controllers/application_controller.rb
  app/views/sections/_head.html.erb
  app/webpacker/controllers/analytics_base_controller.js
  config/vwo.yml
  spec/javascript/controllers/analytics_spec_helper.js
  spec/requests/vwo_spec.rb
Labels: Do Not Merge, ruby, test

#1085 Support lazy loading images that are below the fold
  app/controllers/application_controller.rb
  app/webpacker/javascript/lazy_images.js
  app/webpacker/packs/application.js
  app/webpacker/styles/utility.scss
  lib/lazy_load_images.rb
  package.json
  spec/lib/lazy_load_images_spec.rb
  spec/requests/lazy_load_images_spec.rb
  spec/requests/next_gen_images_spec.rb
  yarn.lock
Labels: Style, ruby, test

#1096 Run the page speed task on boot
  .env.pagespeed
  .rubocop.yml
  config/credentials/pagespeed.yml.enc
  config/credentials/preprod.yml.enc
  config/environments/pagespeed.rb
  config/puma.rb
  lib/tasks/page_speed_score.rake
Labels: ruby

#1095 Make image dimensions explicit
  app/components/card_component.rb
  app/components/content/generic_block_component.rb
  app/components/navigation/navbar_component.html.erb
  app/views/components/_logo.html.erb
  app/views/errors/not_found.html.erb
  app/views/event_steps/completed.html.erb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/views/sections/_cookie-acceptance.html.erb
  app/views/sections/_footer.html.erb
  spec/components/content/generic_block_component_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: ruby, test

#1098 Lazy load images correctly with Turbolinks
  app/components/navigation/navbar_component.html.erb
  app/views/components/_logo.html.erb
  app/webpacker/javascript/lazy_images.js
  app/webpacker/styles/utility.scss
  lib/lazy_load_images.rb
  lib/next_gen_images.rb
  spec/lib/lazy_load_images_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: Style, ruby, test

#1106 Hide original images when JS disabled
  app/views/sections/_head.html.erb
  app/webpacker/packs/application_no_js.js
  app/webpacker/styles/application-no-js.scss
Labels: Style, ruby

#1017 Add base controller for internal authentication
  .env.development
  .env.test
  app/controllers/internal/events_controller.rb
  app/controllers/internal_controller.rb
  config/routes.rb
  spec/requests/internal_controller_spec.rb
Labels: ruby, test

#1107 Bug fix hide original img when JS disabled
  app/webpacker/styles/application-no-js.scss
Labels: Style

#1110 Make lazy images more robust
  app/views/sections/_head.html.erb
  app/webpacker/packs/application.js
  app/webpacker/packs/lazy_images.js
  app/webpacker/polyfills/ie11-foreach.js
Labels: ruby

#1109 Add width to stories element to fix IE
  app/webpacker/styles/stories.scss
Labels: Style

#1111 Allow YouTube's privacy-enhanced service iframes
  config/initializers/secure_headers.rb
Labels: ruby

#1115 Smooth transformed elements on mobile Safari
  app/webpacker/styles/utility.scss
Labels: Style

#1100 Internal models
  app/models/concerns/api_model_convertible.rb
  app/models/internal/event.rb
  app/models/internal/event_building.rb
  spec/factories/internal/event_building_factory.rb
  spec/factories/internal/event_factory.rb
  spec/models/concerns/api_model_convertible_spec.rb
  spec/models/internal/event_building_spec.rb
  spec/models/internal/event_spec.rb
Labels: ruby, test

#1097 Enable image processing in all environments
  app/controllers/application_controller.rb
  spec/requests/lazy_load_images_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: ruby, test

#1116 Update content specs to work with image processing code
  spec/features/content_pages_spec.rb
Labels: test

#1117 Add pagespeed env to Gemfile group
  Gemfile
  README.md
  config/routes.rb
Labels: ruby

#1120 Migrate page speed task to endpoint
  config/puma.rb
  config/routes.rb
  spec/requests/pagespeed_spec.rb
Labels: ruby, test

#1118 Internal show
  app/controllers/events_controller.rb
  app/controllers/internal/events_controller.rb
  app/helpers/events_helper.rb
  app/views/events/show.html.erb
  app/views/internal/_event.html.erb
  app/views/internal/index.html.erb
  app/views/internal/show.html.erb
  app/views/layouts/internal.html.erb
  config/routes.rb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/rails_helper.rb
  spec/requests/events_controller_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/internal_controller_spec.rb
  spec/support/spec_helpers/internal.rb
Labels: ruby, test

#1119 Add GitHub action to run page speed task
  .github/workflows/pagespeed.yml
Labels: DevOps

#1121 Add timeout to pagespeed call
  .github/workflows/pagespeed.yml
Labels: DevOps

#1122 Immediately publish page speed metrics to prometheus
  config/routes.rb
  lib/page_speed_score.rb
  spec/lib/page_speed_score_spec.rb
  spec/requests/pagespeed_spec.rb
Labels: ruby, test

#1126 Increase page speed action timeout
  .github/workflows/pagespeed.yml
Labels: DevOps

#1125 Rename the SCSS var $max-content-width to $page-max-width
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/layout.scss
Labels: Style

#1124 Lazy load youtube iframe
  app/helpers/stories_helper.rb
Labels: ruby

#1128 Fix long words causing horizontal scroll
  app/webpacker/styles/markdown.scss
Labels: Style

#1123 Scaling fonts
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/campaigns/numbered-headings.scss
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/components/content-cta.scss
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/grouped-cards.scss
  app/webpacker/styles/components/link-block.scss
  app/webpacker/styles/components/map.scss
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/components/type-description.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/eligibility-checker.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/mailing-list-bar.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/page-helpful.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/steps.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
  config/frontmatter.yml
Labels: Style

#1130 Fix downward arrows in link block
  app/webpacker/styles/components/link-block.scss
Labels: Style

#1129 Improve abbreviation usability
  app/views/layouts/content.html.erb
  app/webpacker/controllers/abbreviation_controller.js
  app/webpacker/styles/markdown.scss
  lib/acronyms.rb
  spec/javascript/controllers/abbreviation_controller_spec.js
  spec/lib/acronyms_spec.rb
Labels: Style, ruby, test

#1135 Log to Sentry when CircuitBrokenError is thrown in client Gem
  app/controllers/concerns/circuit_breaker.rb
  spec/requests/circuit_breaker_spec.rb
Labels: ruby, test

#1134 Enhance the error summary component
  app/views/layouts/registration.html.erb
  app/webpacker/packs/govuk/error_summary.js
Labels: ruby

#1127 Internal create edit
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/internal/events_controller.rb
  app/models/concerns/api_model_convertible.rb
  app/models/internal/event.rb
  app/views/errors/forbidden.html.erb
  app/views/form/_govuk_error_message.html.erb
  app/views/internal/events/_event.html.erb
  app/views/internal/events/index.html.erb
  app/views/internal/events/new.html.erb
  app/views/internal/events/show.html.erb
  app/views/internal/show.html.erb
  app/views/layouts/internal.html.erb
  app/webpacker/packs/internal.js
  app/webpacker/styles/git.scss
  app/webpacker/styles/internal.scss
  config/routes.rb
  package.json
  spec/controllers/errors_controller_spec.rb
  spec/features/internal_spec.rb
  spec/models/internal/event_spec.rb
  spec/requests/internal/events_controller_spec.rb
  yarn.lock
Labels: Style, ruby, test

#1138 Override GOV.UK font face to avoid 404s
  app/webpacker/styles/internal.scss
Labels: Style, bug

#1139 Add credentials for internal login
  .env.test
  app/controllers/internal_controller.rb
  config/credentials/preprod.yml.enc
  config/credentials/production.yml.enc
  config/credentials/rolling.yml.enc
  config/environments/development.rb
  config/environments/production.rb
  spec/features/internal_spec.rb
  spec/support/spec_helpers/internal.rb
Labels: ruby, test

#1141 Add test to prevent internal links with the domain
  spec/features/content_pages_spec.rb
Labels: test

#1136 Update the eligibility checker text
  app/helpers/application_helper.rb
  app/views/eligibility_checker/show.html.erb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test

#1147 Skip site wide authentication in internal section
  app/controllers/application_controller.rb
  app/controllers/healthchecks_controller.rb
  app/controllers/internal_controller.rb
Labels: ruby

#1150 Reduce dependabot's npm/bundler checks to monthly
  .github/dependabot.yml
Labels: DevOps

#1151 Crm form suggestions
  app/models/internal/event.rb
  app/views/internal/events/new.html.erb
  config/locales/en.yml
  spec/features/internal_spec.rb
Labels: ruby, test

#1152 Stub event API calls in content specs
  spec/features/content_pages_spec.rb
Labels: test

#1153 update banner text
  app/views/sections/_header.html.erb
Labels: ruby

#1155 Re-raise non 400 errors
  app/models/internal/event.rb
  spec/models/internal/event_spec.rb
Labels: ruby, test

#1157 Add length validation to match CRM
  app/models/internal/event.rb
  app/models/internal/event_building.rb
  spec/models/internal/event_building_spec.rb
  spec/models/internal/event_spec.rb
Labels: ruby, test

#1158 remove reference to "new website" - not in the user's interest
  app/views/sections/_feedback_bar.html.erb
  app/views/sections/_talk-to-us.html.erb
Labels: ruby

#1160 Place holder actions
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
Labels: DevOps

#1154 Target abbr styles to only paragraphs and lists
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/text.scss
Labels: Style

#1161 Add preset labels to all custom metrics
  .env.test
  config/initializers/01_vcap.rb
  config/initializers/01_vcap_services.rb
  lib/prometheus/metrics.rb
  spec/lib/prometheus/metrics_spec.rb
Labels: ruby, test

#1164 Change Facebook tracking verify method to meta tag
  app/views/sections/_head.html.erb
  public/h1r6sd9bvqql7fyzy5jmdoniuw1rtf.html
Labels: ruby

#1166 Update API cache store
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/git_api_client.rb
  spec/requests/instrumentation_spec.rb
Labels: ruby, test

#1168 Log when duplicate candidate is potentially being created
  app/models/wizard/issue_verification_code.rb
  spec/support/wizard_support.rb
Labels: ruby, test

#1080 Quotes around Trello Body
  .github/workflows/trello.yml
Labels: DevOps, Do Not Merge

#1170 Small fixes to aid development of new ways to train page
  app/components/content/feature_table_component.html.erb
  app/helpers/application_helper.rb
  spec/components/content/feature_table_component_spec.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test

#1171 Increase height of new event description field
  app/webpacker/styles/internal.scss
Labels: Style

#1162 Add spacing beneath buttons in markdown paragraphs
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/markdown.scss
Labels: Style

#1174 Building must be present if venue_type is :existing
  app/models/internal/event.rb
  app/views/internal/events/new.html.erb
  spec/models/internal/event_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test

#1175 Run specs in random order
  spec/spec_helper.rb
Labels: test

#1176 Add some media queries to resize embedded videos
  app/webpacker/styles/markdown.scss
Labels: Style

#1180 Remove temporary stop on production deployment
  .github/workflows/build.yml
Labels: DevOps, Review

#1183 Reinstate redirects
  config/redirects.yml
Labels: Config

#1185 Re-enable turbolinks preview cache on events layout
  app/views/layouts/events.html.erb
Labels: ruby

#1184 Update to Ruby 2.7.3 and Bundler 2.2.8
  .ruby-version
  Dockerfile
  Gemfile.lock
  README.md
Labels: Review, dependencies, docker

#1186 Add a few more wildcard redirects
  config/redirects.yml
Labels: Config, Review

#1187 Replacing broken Teach North link
  app/views/content/teaching-internship-providers.md
Labels: Review

#1189 Remove stray maths paragraph
  app/views/content/my-story-into-teaching/career-changers/transferring-my-skills-to-teaching.md
Labels: Review
