Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-09, with the labels that each got.

#1687 Include Google structured data for events
  app/helpers/structured_data_helper.rb
  app/views/events/show.html.erb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test, Review

#1698 Include Google structured data for breadcrumbs
  app/helpers/structured_data_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review

#1701 Update several gems
  Gemfile
  Gemfile.lock
Labels: Review

#1702 Update several JS libraries
  package.json
  yarn.lock
Labels: Review

#1699 Include Google structured data for logo
  app/helpers/structured_data_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review

#1700 Include Google structured data for site search
  app/helpers/structured_data_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review

#1709 More gem updates
  Gemfile
  Gemfile.lock
Labels: Review

#1720 Only show future pending events
  app/controllers/internal/events_controller.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test, Review

#1723 Enable VWO on salaries and benefits page
  config/vwo.yml
Labels: Review, Config

#1724 Yet another round of gem updates
  Gemfile
  Gemfile.lock
Labels: Review

#1703 Create getting-ready-to-apply.md
  app/views/content/blog/getting-ready-to-apply.md
  app/webpacker/images/content/blog/notepad.jpg
Labels: Review, content

#1721 Stop the auto-addition of `noreferrer` to external links
  app/components/footer/feedback_component.html.erb
  app/components/footer_component.html.erb
  app/webpacker/controllers/link_controller.js
  spec/javascript/controllers/link_controller_spec.js
Labels: ruby, test, Review

#1710 Include Google structured data for blogs
  app/helpers/structured_data_helper.rb
  app/views/content/blog/5-reasons-to-attend-a-train-to-teach-event.md
  app/views/layouts/blog/post.html.erb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review, content

#1685 Changing for UCAS switch over (Sept 2021)
  app/views/content/teacher-training-advisers/_matt.md
Labels: Review, content

#1725 Adding NQT / ECT explanation
  app/components/calls_to_action/ect_component.html.erb
  app/components/calls_to_action/ect_component.rb
  app/presenters/content/call_to_action_component_injector.rb
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/my-story-into-teaching/career-progression/newly-qualified-to-head-of-faculty.md
  app/views/content/my-story-into-teaching/career-progression/nqt-to-head-of-biology.md
  app/views/content/my-story-into-teaching/teacher-training-stories/salaried-teacher-training-classroom-learning.md
  app/views/content/salaries-and-benefits-simplified.md
  app/views/content/salaries-and-benefits.md
  spec/components/calls_to_action/ect_component_spec.rb
Labels: ruby, test, Review, content

#1647 Allow page headings and titles to be set independently
  app/components/header/hero_component.rb
  app/models/pages/navigation.rb
  app/views/layouts/content.html.erb
  spec/components/header/hero_component_spec.rb
  spec/features/content_pages_spec.rb
  spec/models/pages/navigation_spec.rb
  spec/requests/frontmatter_content_spec.rb
  spec/support/views/content/custom-heading.md
Labels: ruby, test, Review, content

#1551 Native support for Question Time events
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  app/models/events/search.rb
  app/presenters/events/group_presenter.rb
  config/locales/en.yml
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/factories/api/event_api_factory.rb
  spec/factories/events/search_factory.rb
  spec/models/events/search_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
Labels: ruby, test, Review, Config

#1716 Swap out `type_id` event search param for `type_ids`
  app/controllers/internal/events_controller.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test, Review

#1727 Update assessment-only-providers.md
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1686 Adding section for Apply
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: Review, content

#1719 Include Google structured data for how-to
  app/helpers/structured_data_helper.rb
  app/views/content/steps-to-become-a-teacher.md
  app/views/sections/_head.html.erb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review, content

#1729 Put each structured data section behind feature flag
  app/helpers/structured_data_helper.rb
  config/environments/development.rb
  config/environments/production.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review, Config

#1731 Enable Rubocop/RSpec context/example wording rule
  .rubocop.yml
  spec/components/cards/latest_event_component_spec.rb
  spec/components/events/event_box_component_spec.rb
  spec/features/book_callback_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/content_pages_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/find_an_event_spec.rb
  spec/features/mailing_list_signup_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/models/callbacks/steps/callback_spec.rb
  spec/models/callbacks/steps/matchback_failed_spec.rb
  spec/models/callbacks/steps/personal_details_spec.rb
  spec/models/callbacks/steps/privacy_policy_spec.rb
  spec/models/callbacks/steps/talking_points_spec.rb
  spec/models/events/category_spec.rb
  spec/models/events/steps/contact_details_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/internal/event_building_spec.rb
  spec/models/mailing_list/signup_spec.rb
  spec/models/mailing_list/steps/already_subscribed_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
  spec/models/mailing_list/steps/privacy_policy_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/models/pages/data_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/pages/page_spec.rb
  spec/models/search_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/step_spec.rb
  spec/models/wizard/steps/authenticate_spec.rb
  spec/requests/callbacks/steps_controller_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/internal_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/support/api_support.rb
  spec/support/env_var_support.rb
  spec/support/page_support.rb
  spec/support/wizard_support.rb
Labels: test

#1732 Enable the RSpec/DescribeClass Rubocop rule
  .rubocop.yml
  spec/features/blog_spec.rb
  spec/requests/beta_redirect_spec.rb
  spec/requests/callbacks/steps_controller_spec.rb
  spec/requests/circuit_breaker_spec.rb
  spec/requests/cookie_preferences_controller_spec.rb
  spec/requests/csp_reports_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/external_links_image_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/frontmatter_content_spec.rb
  spec/requests/healthchecks_controller_spec.rb
  spec/requests/instrumentation_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/internal_controller_spec.rb
  spec/requests/lazy_load_images_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
  spec/requests/mailing_list/calls_to_action_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/next_gen_images_spec.rb
  spec/requests/page_with_custom_layout_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/pagespeed_spec.rb
  spec/requests/privacy_policy_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/requests/redirects_spec.rb
  spec/requests/robots_controller_spec.rb
  spec/requests/searches_controller_spec.rb
  spec/requests/sitemap_controller_spec.rb
  spec/requests/structured_data_spec.rb
  spec/requests/vwo_spec.rb
  spec/views/searches/show.html.erb_spec.rb
Labels: test, Review

#1733 Enable RSpec/NotToNot Rubocop rule
  .rubocop.yml
  spec/features/breadcrumbs_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/find_an_event_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/models/callbacks/steps/callback_spec.rb
  spec/models/callbacks/steps/talking_points_spec.rb
  spec/models/concerns/api_model_convertible_spec.rb
  spec/models/funding_widget_spec.rb
  spec/models/internal/event_building_spec.rb
  spec/models/internal/event_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/support/wizard_support.rb
Labels: test, Review

#1726 Changes following public Beta launch
  app/views/content/become-a-further-education-teacher.md
Labels: Review, content

#1728 Improve tab ordering in the cookie popup
  app/components/footer/cookie_acceptance_component.html.erb
  app/webpacker/controllers/cookie-acceptance_controller.js
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
Labels: ruby, test, Review

#1734 Enable hook-related RSpec Rubocop rules
  .rubocop.yml
  spec/capybara_driver_helper.rb
  spec/components/cards/latest_event_component_spec.rb
  spec/lib/page_speed_score_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/healthcheck_spec.rb
  spec/models/mailing_list/signup_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/pages/data_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/pages/page_spec.rb
  spec/requests/circuit_breaker_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/pagespeed_spec.rb
  spec/requests/vwo_spec.rb
  spec/support/api_support.rb
  spec/validators/number_of_words_validator_spec.rb
Labels: test, Review

#1735 Revert "Adding section for Apply"
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: Review, content

#1736 Enable RSpec/VerifiedDoubles Rubocop rule
  .rubocop.yml
  spec/components/cards/renderer_component_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/models/healthcheck_spec.rb
  spec/validators/number_of_words_validator_spec.rb
Labels: test, Review

#1737 Enable RSpec/InstanceVariables rule
  .rubocop.yml
  spec/requests/csp_reports_spec.rb
Labels: test, Review

#1739 Remaining Rubocop/RSpec rule fixes
  .rubocop.yml
  spec/components/footer/cookie_acceptance_component_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/internal_spec.rb
  spec/helpers/callback_helper_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/helpers/maps_helper_spec.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/lib/next_gen_images_spec.rb
  spec/lib/page_speed_score_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/events/search_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/internal/event_spec.rb
  spec/models/mailing_list/signup_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/pages/navigation_spec.rb
  spec/requests/basic_auth_spec.rb
  spec/requests/beta_redirect_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/healthchecks_controller_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/internal_controller_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
  spec/requests/next_gen_images_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/requests/sitemap_controller_spec.rb
  spec/requests/structured_data_spec.rb
  spec/support/spec_helpers/basic_auth.rb
  spec/views/searches/show.html.erb_spec.rb
Labels: test, Review

#1717 Make some small tap targets bigger
  app/components/footer/feedback_component.html.erb
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/footer.scss
Labels: ruby, Review, Style

#1742 Integrate the Zendesk Chat widget
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/card_component.html.erb
  app/components/cards/chat_online_component.html.erb
  app/components/footer/talk_to_us_component.html.erb
  app/components/footer_component.html.erb
  app/components/stories/story_component.html.erb
  app/helpers/application_helper.rb
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/layouts/stories/landing.html.erb
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/javascript/zendesk_chat_reload.js
  app/webpacker/packs/application.js
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/cards.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/text.scss
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/initializers/secure_headers.rb
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/footer_component_spec.rb
  spec/javascript/controllers/talk-to-us_controller_spec.js
Labels: ruby, test, Review, Style, content, Config

#1745 Replace Anchore with Snyk
  .github/workflows/snyk.yml
Labels: DevOps, Review

#1746 Make the TTA redirect use :moved_permanently
  app/controllers/pages_controller.rb
  spec/requests/pages_controller_spec.rb
Labels: ruby, test, Review

#1748 Hide default Zendesk chat button
  app/webpacker/styles/links-and-buttons.scss
Labels: Style

#1749 Fix Train to Teach events links on Ways to Train
  app/views/content/ways-to-train.md
Labels: Review, content

#1753 Update contact details for Staffs University AO
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1757 Terraform Statuscake Provider Change
  terraform/paas/provider.tf
Labels: DevOps, Review

#1741 Improving 'ways to train' badge style
  app/views/content/ways-to-train.md
  app/webpacker/styles/ways-to-train.scss
Labels: Review, Style, content

#1747 Handle when the chat feature is offline
  app/components/cards/chat_online_component.html.erb
  app/components/footer/talk_to_us_component.html.erb
  app/helpers/application_helper.rb
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/eligibility_checker/show.html.erb
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/sections/talk-to-us.scss
  package.json
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/cards/chat_online_component_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/talk-to-us_controller_spec.js
  yarn.lock
Labels: ruby, test, Review, Style, content

#1756 Stop the purple header hanging outside the checker
  app/views/eligibility_checker/show.html.erb
  app/webpacker/styles/eligibility-checker.scss
Labels: ruby, Review, Style

#1759 Swap order of page title so the name of the individual page comes first
  app/helpers/application_helper.rb
  spec/features/book_callback_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/requests/frontmatter_content_spec.rb
Labels: ruby, test, Review

#1760 Temporarily unpublish the eligibility checker
  config/routes.rb
Labels: ruby, Review, Config

#1763 Fix map image size on desktop
  app/helpers/events_helper.rb
  app/webpacker/styles/components/map.scss
Labels: ruby, Review, Style

#1765 Force height on external link icons
  app/webpacker/styles/links-and-buttons.scss
Labels: Style

#1754 Create my-first-week-as-a-trainee-teacher
  app/views/content/blog/my-first-week-as-a-trainee-teacher.md
  app/webpacker/images/content/blog/cindy-ventura.jpg
Labels: Review, content

#1767 Add Zendesk settings
  app/components/footer_component.html.erb
  app/views/sections/_zendesk_chat.html.erb
Labels: ruby, Review

#1761 Reduce Content Layout Shift in header on desktop
  app/components/header_component.html.erb
  app/webpacker/controllers/banner_controller.js
  app/webpacker/styles/header/covid.scss
  app/webpacker/styles/header/extra-navigation.scss
  spec/javascript/controllers/banner_controller_spec.js
Labels: ruby, test, Review, Style

#1770 Fix search icon being pushed onto next line
  app/webpacker/styles/header/extra-navigation.scss
Labels: Review, Style

#1771 Fix position search box on mobile
  app/webpacker/styles/header/extra-navigation.scss
Labels: Review, Style

#1776 Enable site search structured data in production
  config/environments/production.rb
Labels: ruby, Review, Config

#1752 Extend nightly link checker to ensure internal links work too
  spec/features/external_links_spec.rb
  spec/support/page_testing_support.rb
Labels: test, Review

#1773 Remove CSP whitelist of Google domains
  config/csp/google_supported_domains.csv
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1779 Fix right column cta indentation on funding page
  app/views/content/funding-your-training.md
Labels: Review, content

#1780 Attempt to stop Google CSP violations
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1772 Updating promotion space with the mailing list
  app/views/content/funding-your-training.md
  app/views/content/home.md
  app/views/content/my-story-into-teaching.md
  app/views/content/ways-to-train.md
Labels: Review, content

#1775 Enable Zendesk Chat in production
  config/environments/production.rb
Labels: ruby, Review, Config

#1785 Use correct param on search specs
  spec/requests/searches_controller_spec.rb
Labels: test, Review

#1781 Improve back link text on cookie prefs page
  app/views/cookie_preferences/show.html.erb
  spec/requests/cookie_preferences_controller_spec.rb
Labels: ruby, test, Review

#1783 Revert "Attempt to stop Google CSP violations"
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#1786 Fix possible error on search param
  app/controllers/searches_controller.rb
  spec/requests/searches_controller_spec.rb
Labels: ruby, test, Review

#1782 Remove closing </source> tag from within <picture> elements
  app/controllers/application_controller.rb
  spec/requests/next_gen_images_spec.rb
Labels: ruby, test, Review

#1791 Fix Covid banner not appearing
  app/webpacker/styles/header/covid.scss
Labels: Style

#1789 Various HTML validation fixes
  app/components/footer/video_player_component.html.erb
  app/components/header/navigation_component.html.erb
  app/components/header_component.html.erb
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/returning-to-teaching.md
  app/views/content/teacher-training-advisers.md
  app/views/kaminari/_paginator.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/internal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_attractive.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/layouts/welcome.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/styles/application-no-js.scss
  app/webpacker/styles/utility.scss
  config/initializers/secure_headers.rb
  lib/lazy_load_images.rb
  spec/javascript/controllers/navigation_controller_spec.js
  spec/lib/lazy_load_images_spec.rb
  spec/requests/next_gen_images_spec.rb
Labels: ruby, test, Review, Style, content, Config

#1768 Remove 'Read more' and make heading links clearer
  app/views/blog/_post_preview.html.erb
  app/webpacker/styles/blog.scss
  spec/features/blog_spec.rb
Labels: ruby, test, Review, Style

#1774 Updating content following feedback about accuracy
  app/views/content/ways-to-train.md
Labels: Review, content

#1796 Update assessment only contact details for GUTP
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1795 Fix HTML validation warnings
  app/components/footer/mailing_list_component.html.erb
  app/components/footer/talk_to_us_component.html.erb
  app/components/header_component.html.erb
  app/views/content/home/_calls-to-action.html.erb
  app/views/sections/_zendesk_chat.html.erb
  app/webpacker/styles/sections/talk-to-us.scss
Labels: ruby, Review, Style, content

#1799 Fix broken train to teach events link
  app/views/content/funding-your-training.md
Labels: Review, content

#1794 Load Zendesk JS when user clicks chat button
  app/components/footer/talk_to_us_component.html.erb
  app/components/footer_component.html.erb
  app/helpers/application_helper.rb
  app/views/pages/cookies.md
  app/views/sections/_zendesk_chat.html.erb
  app/views/sections/_zendesk_chat_settings.html.erb
  app/webpacker/controllers/talk-to-us_controller.js
  app/webpacker/javascript/zendesk_chat_reload.js
  app/webpacker/styles/sections/talk-to-us.scss
  package.json
  spec/components/footer_component_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/talk-to-us_controller_spec.js
  spec/requests/cookie_preferences_controller_spec.rb
  spec/requests/privacy_policy_spec.rb
  yarn.lock
Labels: ruby, test, Review, Style

#1804 funding figures are for 2021 to 2022
  app/views/content/funding-your-training.md
  app/views/content/funding-your-training/_end-of-year-warning.html.erb
  app/webpacker/styles/text.scss
Labels: ruby, Review, Style, content

#1797 Enable ERB template linting
  .better-html.yml
  .erb-lint.yml
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  app/components/calls_to_action/attachment_component.html.erb
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/narrow_component.html.erb
  app/components/calls_to_action/simple_component.html.erb
  app/components/events/no_results_component.html.erb
  app/components/footer/video_player_component.html.erb
  app/components/funding_widget_component.html.erb
  app/components/grouped_cards/card_component.html.erb
  app/helpers/events_helper.rb
  app/views/callbacks/steps/_matchback_failed.html.erb
  app/views/components/_videoplayer.html.erb
  app/views/content/_presentations-cta.html.erb
  app/views/content/teaching-internship-providers/_listing.html.erb
  app/views/content/ways-to-train.md
  app/views/content/welcome/bring-your-lessons-to-life/_header.html.erb
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_did-you-know.html.erb
  app/views/content/welcome/my-journey-into-teaching/_header.html.erb
  app/views/content/welcome/my-journey-into-teaching/_introduction.html.erb
  app/views/content/welcome/my-journey-into-teaching/_special-shout-out.html.erb
  app/views/cookie_preferences/show.html.erb
  app/views/eligibility_checker/show.html.erb
  app/views/event_steps/_contact_details.html.erb
  app/views/events/show.html.erb
  app/views/internal/events/new.html.erb
  app/views/kaminari/_gap.html.erb
  app/views/kaminari/_next_page.html.erb
  app/views/kaminari/_prev_page.html.erb
  app/views/layouts/internal.html.erb
  app/views/layouts/mailer.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/welcome.html.erb
  app/views/mailing_list/steps/_degree_status.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/views/sections/_vwo_code.html.erb
  app/views/wizard/steps/_authenticate.html.erb
  config/initializers/better_html.rb
  spec/fixtures/files/fingerprinter/content/_partial.html.erb
  spec/javascript/controllers/video_controller_spec.js
  spec/views/erb_implementation_check_spec.rb
  spec/views/erb_safety_check_spec.rb
Labels: ruby, test, DevOps, Review, content, Config

#1805 Correct attendance mode values
  app/helpers/structured_data_helper.rb
Labels: ruby, Review

#1809 Remove and validate extra characters when creating event partial URL
  app/models/internal/event.rb
  app/webpacker/controllers/internal_events_controller.js
  config/locales/en.yml
  spec/javascript/controllers/internal_events_controller_spec.js
  spec/models/internal/event_spec.rb
Labels: ruby, test, Review, Config

#1800 new-blog-on-new-trainee
  app/views/content/blog/back-to-school-as-a-trainee-teacher.md
  app/webpacker/images/content/blog/jacob.jpg
  app/webpacker/styles/blog.scss
Labels: Review, Style, content

#1798 Enable Markdown linting
  .github/workflows/build.yml
  .mdlrc
  Gemfile
  Gemfile.lock
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/become-a-further-education-teacher.md
  app/views/content/blog/5-reasons-to-attend-a-train-to-teach-event.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/teachers-pension-scheme.md
  app/views/content/early-years-teaching-training.md
  app/views/content/funding-your-training.md
  app/views/content/my-story-into-teaching/career-progression/lawyer-to-assistant-teacher.md
  app/views/content/salaries-and-benefits-simplified.md
  app/views/content/teacher-training-advisers.md
  app/views/content/three-things-to-help-you-get-into-teaching.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
  app/views/pages/cookies.md
Labels: DevOps, Review, content

#1801 Add a new mailing list completed page
  app/components/registration/mailing_list_signup_confirmation_component.html.erb
  app/components/registration/mailing_list_signup_confirmation_component.rb
  app/models/mailing_list/wizard.rb
  app/models/wizard/store.rb
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/registration.scss
  spec/components/registration/mailing_list_signup_confirmation_component_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/wizard/store_spec.rb
Labels: ruby, test, Review, Style

#1811 Remove VWO
  .env.preprod
  .env.production
  .env.rolling
  .env.userresearch
  app/controllers/application_controller.rb
  app/views/pages/cookies.md
  app/views/sections/_head.html.erb
  app/views/sections/_vwo_code.html.erb
  app/webpacker/controllers/analytics_base_controller.js
  config/initializers/secure_headers.rb
  config/vwo.yml
  spec/javascript/controllers/analytics_spec_helper.js
  spec/requests/vwo_spec.rb
Labels: ruby, test, Review, Config

#1814 Remove nested ul tag on related content
  app/views/layouts/content.html.erb
Labels: ruby, Review
