Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2021-06, with the labels that each got.

#1341 Fix console error by importing JavaScript into head with `content_for`
  app/views/layouts/internal.html.erb
Labels: Review, ruby

#1340 Tidy internal request specs
  spec/requests/internal/events_controller_spec.rb
Labels: Review, test

#1339 Remove mailing list popup
  app/views/sections/_footer.html.erb
  app/views/sections/_mailing-list-popup.html.erb
  app/webpacker/controllers/mailing-list-popup_controller.js
  spec/javascript/controllers/mailing-list-popup_controller_spec.js
Labels: Review, ruby, test

#1344 Set `start_at` and `end_at` to nil on duplicate
  app/controllers/internal/events_controller.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test

#1351 Fix bug where mailing list bar behind hero title
  app/webpacker/styles/mailing-list-bar.scss
Labels: Review, Style, bug

#1349 Link to event in confirmation panel
  app/controllers/internal/events_controller.rb
  app/views/internal/events/index.html.erb
  app/webpacker/styles/internal.scss
  spec/features/internal_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Review, Style, ruby, test

#1350 Upgrade a few JS packages to latest versions
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#1352 Change styling of tabbed navigation
  app/views/internal/events/index.html.erb
  app/webpacker/styles/internal.scss
Labels: Review, Style, ruby

#1346 Refactor the footer and add 'Plan for jobs' logo
  app/views/sections/_footer.html.erb
  app/webpacker/images/plan-for-jobs.svg
  app/webpacker/styles/footer.scss
Labels: Review, Style, ruby

#1354 Ensure a title set when mailing list step failed
  app/controllers/mailing_list/steps_controller.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: bug, ruby, test

#1356 Update telephone validation to match API
  app/validators/telephone_validator.rb
  spec/models/events/steps/contact_details_spec.rb
  spec/validators/telephone_validator_spec.rb
Labels: Review, ruby, test

#1326 Promoting TTA service more on the tips page
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: Do Not Merge, Review, content

#1201 Add a funding widget in the funding page
  Dockerfile
  Gemfile
  Gemfile.lock
  Makefile
  README.md
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/events/search_component.html.erb
  app/components/events/search_component.rb
  app/components/funding_widget_component.html.erb
  app/components/funding_widget_component.rb
  app/controllers/pages_controller.rb
  app/models/funding_widget.rb
  app/views/content/funding-your-training.md
  app/views/content/funding-your-training/_funding-widget.html.erb
  app/views/layouts/content.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/controllers/funding_widget_controller.js
  app/webpacker/packs/js_enabled.js
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/search.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/margins.scss
  app/webpacker/styles/widget.scss
  config/locales/en.yml
  package.json
  spec/capybara_driver_helper.rb
  spec/components/funding_widget_component_spec.rb
  spec/features/funding_widget_spec.rb
  spec/javascript/js_enabled_spec.js
  spec/models/funding_widget_spec.rb
  spec/rails_helper.rb
Labels: Config, Review, Style, content, docker, ruby, test

#1353 Adding Events back in
  app/components/navigation/navbar_component.html.erb
Labels: Review, ruby

#1357 Update tips-on-applying-for-teacher-training.md
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: Review, content

#1327 Separate international trainees and teachers into 2 separate pages
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/funding-your-training.md
  app/views/content/international-returners.md
  app/views/content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  app/views/content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/content/train-to-teach-in-england-as-an-international-student.md
  app/views/eligibility_checker/show.html.erb
  config/redirects.yml
Labels: Config, Review, content, ruby

#1360 Add recent 404s to redirects
  config/redirects.yml
Labels: Config

#1361 Updated copy to reflect time of cycle
  Gemfile.lock
  app/views/content/funding-your-training.md
  app/views/content/home.md
  app/views/content/start-teacher-training-this-september.md
  app/views/content/ways-to-train.md
  app/webpacker/styles/markdown.scss
Labels: Review, Style, content

#1365 Stop numeric keywords from breaking the search
  app/models/search.rb
  spec/fixtures/files/markdown_content/second.md
  spec/models/search_spec.rb
Labels: Review, ruby, test

#1364 Update start-teacher-training-this-september.md
  app/views/content/start-teacher-training-this-september.md
Labels: Review, content

#1362 Update Billericay Ed Consortium AO details
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1366 Type search attribute as a string
  app/models/search.rb
  spec/models/search_spec.rb
Labels: ruby, test

#1367 Fix some sonarcube complaints
  app/views/event_steps/completed.html.erb
  app/views/events/show.html.erb
Labels: Review, ruby

#1359 Change a hero image to minimse duplication
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
Labels: Review, content

#1370 update image directory
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: content

#1371 Update pagination to work with other event types
  app/controllers/internal/events_controller.rb
Labels: Review, ruby

#1373 Make sure that users cannot enter a year with more than 4 digits
  app/views/internal/events/new.html.erb
Labels: Review, ruby

#1374 Add the urgency notice in the funding widget
  app/components/funding_widget_component.html.erb
  spec/components/funding_widget_component_spec.rb
Labels: Review, ruby, test

#1376 Add full stop to hero text copy
  app/views/content/start-teacher-training-this-september.md
Labels: Review, content

#1377 Update copy and related spec of funding widget
  app/components/funding_widget_component.html.erb
  spec/components/funding_widget_component_spec.rb
Labels: Review, ruby, test

#1378 Rename accept cookies button id to bypass ad-blockers
  app/views/sections/_cookie-acceptance.html.erb
  app/webpacker/controllers/cookie-acceptance_controller.js
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
Labels: Review, ruby, test

#1379 Update steps to become a teacher graphic
  app/webpacker/images/steps-graphic-mob.svg
  app/webpacker/images/steps-graphic.svg
Labels: Review

#1380 Further AO provider update for Billericay
  app/views/content/assessment-only-providers.md
Labels: content

#1381 Remove international candidates
  app/views/content/international-candidates.md
Labels: content

#1382 Update font-family on SVG
  app/webpacker/images/steps-graphic-mob.svg
  app/webpacker/images/steps-graphic.svg
Labels: Review

#1372 Improve the search logic to prioritise more relevant content
  Gemfile
  Gemfile.lock
  app/controllers/searches_controller.rb
  app/models/search.rb
  app/views/content/guidance/financial-support-for-international-applicants.md
  app/views/content/international-returners.md
  app/views/content/returning-to-teaching.md
  lib/stopwords.rb
  spec/fixtures/files/markdown_content/page1.md
  spec/fixtures/files/markdown_content/subfolder/other.md
  spec/models/pages/data_spec.rb
  spec/models/pages/frontmatter_spec.rb
  spec/models/pages/page_spec.rb
  spec/models/search_spec.rb
Labels: Review, content, ruby, test

#1384 Remove an empty partial
  app/views/content/international-returners/_before-accordion.md
Labels: content

#1388 Add legacy redirects
  config/redirects.yml
Labels: Config, Review

#1389 Lazy-load YouTube iFrame
  app/helpers/stories_helper.rb
  app/views/content/returning-to-teaching.md
  app/views/events/show.html.erb
  spec/components/stories/story_component_spec.rb
  spec/helpers/stories_helper_spec.rb
Labels: Review, content, ruby, test

#1391 Update assessment-only-providers.md
  app/views/content/assessment-only-providers.md
Labels: content

#1392 Rework talk to us section to give phone more prominence
  app/views/sections/_talk-to-us.html.erb
  app/webpacker/styles/sections/talk-to-us.scss
  spec/requests/find_an_event_near_you_spec.rb
Labels: Review, Style, ruby, test

#1397 Button -> button smaller
  app/views/sections/_talk-to-us.html.erb
Labels: Review, ruby

#1398 Amend contact time for TTA
  app/views/content/start-teacher-training-this-september.md
Labels: content

#1390 Auth basic
  .env.development
  .rubocop.yml
  README.md
  app/controllers/application_controller.rb
  app/controllers/healthchecks_controller.rb
  app/controllers/internal/events_controller.rb
  app/controllers/internal_controller.rb
  app/views/internal/events/index.html.erb
  app/views/internal/events/show.html.erb
  app/webpacker/styles/internal.scss
  config/credentials/development.yml.enc
  config/credentials/preprod.yml.enc
  config/credentials/production.yml.enc
  config/credentials/rolling.yml.enc
  config/environments/development.rb
  config/environments/production.rb
  lib/basic_auth.rb
  lib/user.rb
  spec/features/internal_spec.rb
  spec/features/password_protection_spec.rb
  spec/lib/basic_auth_spec.rb
  spec/rails_helper.rb
  spec/requests/basic_auth_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/internal_controller_spec.rb
  spec/support/spec_helpers/basic_auth.rb
  spec/support/spec_helpers/internal.rb
Labels: Config, Review, Style, ruby, test

#1393 Navigation data structure
  app/components/navigation/navbar_component.html.erb
  app/helpers/sitemap_helper.rb
  app/models/pages/navigation.rb
  app/views/sections/_footer.html.erb
  spec/helpers/sitemap_helper_spec.rb
  spec/models/pages/navigation_spec.rb
Labels: Review, ruby, test

#1400 New copy ahead of Euro promo
  app/views/content/home.md
Labels: Review, content

#1402 Update late applicants page based on policy feedback
  app/views/content/start-teacher-training-this-september.md
Labels: Review, content

#1403 Introduce delay before executing search
  app/webpacker/controllers/searchbox_controller.js
  spec/javascript/controllers/searchbox_controller_spec.js
Labels: Review, test

#1405 Log when event is created/updated or approved.
  app/controllers/internal/events_controller.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Review, ruby, test

#1406 Fix non-JS search
  app/helpers/search_helper.rb
  app/views/searches/_result.html.erb
  app/webpacker/styles/search-page.scss
  spec/features/search_spec.rb
  spec/views/searches/show.html.erb_spec.rb
Labels: Style, ruby, test

#1407 Revert "Fix non-JS search"
  app/helpers/search_helper.rb
  app/views/searches/_result.html.erb
  app/webpacker/styles/search-page.scss
  spec/features/search_spec.rb
  spec/views/searches/show.html.erb_spec.rb
Labels: Style, ruby, test

#1319 Return to teaching requests - preview link generation
  app/views/content/returning-to-teaching.md
Labels: Review, content

#1408 Split the inline search out to its own partial
  app/controllers/searches_controller.rb
  app/helpers/search_helper.rb
  app/views/searches/_inline_result.html.erb
  app/views/searches/_result.html.erb
  app/webpacker/styles/search-page.scss
  spec/features/search_spec.rb
  spec/views/searches/show.html.erb_spec.rb
Labels: Review, Style, ruby, test

#1409 Event upsert rate limiting
  config/initializers/rack_attack.rb
  spec/requests/rate_limiting_spec.rb
Labels: Config, Review, ruby, test

#1375 Improve redirect and confirmation panel on success
  app/controllers/internal/events_controller.rb
  app/views/internal/events/index.html.erb
  spec/factories/internal/event_factory.rb
  spec/features/internal_spec.rb
  spec/models/internal/event_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Review, ruby, test

#1399 Create a new header component
  .rubocop.yml
  app/components/header/breadcrumb_component.html.erb
  app/components/header/breadcrumb_component.rb
  app/components/header/hero_component.html.erb
  app/components/header/hero_component.rb
  app/components/header/navigation_component.html.erb
  app/components/header/navigation_component.rb
  app/components/header_component.html.erb
  app/components/header_component.rb
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  app/views/event_categories/show.html.erb
  app/views/events/index.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/sections/_header.html.erb
  spec/components/header/breadcrumb_component_spec.rb
  spec/components/header/hero_component_spec.rb
  spec/components/header/navigation_component_spec.rb
  spec/components/header_component_spec.rb
  spec/components/previews/header/breadcrumb_component_preview.rb
Labels: Review, ruby, test

#1411 Bake in seo terms to Salaries page
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#1413 Remove work on Returners page
  app/views/content/returning-to-teaching.md
Labels: content

#1415 Add check for static asset availability
  .github/workflows/static_asset_checker.yml
  config/routes.rb
  lib/asset_checker.rb
  spec/lib/asset_checker_spec.rb
Labels: Config, DevOps, Review, ruby, test

#1416 Change asset checker to be POST instead of GET
  .github/workflows/static_asset_checker.yml
  config/routes.rb
Labels: Config, DevOps, Review, ruby

#1369 Update Homepage CTA for Events
  app/views/content/home/_calls-to-action.html.erb
Labels: Review, content, ruby

#1417 Add timeout to static asset checker
  .github/workflows/pagespeed.yml
  .github/workflows/static_asset_checker.yml
Labels: DevOps, Review

#1418 Improve traceability
  .github/workflows/build.yml
Labels: DevOps

#1419 Remove schedule task for now
  .github/workflows/pagespeed.yml
  .github/workflows/static_asset_checker.yml
Labels: DevOps, Review

#1420 Run static asset check every minute
  .github/workflows/static_asset_checker.yml
Labels: DevOps, Review

#1396 New further education page (June 2021)
  app/views/content/become-a-further-education-teacher.md
  app/views/content/further-education-teacher-training.md
  app/views/content/steps-to-become-a-teacher/_step_1_decide_who_to_teach.html.erb
  app/views/content/ways-to-train.md
  config/redirects.yml
Labels: Config, Review, content, ruby

#1421 Add redirect for legacy site
  config/redirects.yml
Labels: Config

#1422 Remove Uni of Gloucestershire
  app/views/content/assessment-only-providers.md
Labels: Review, content

#1423 Prevent double clicking form buttons
  app/helpers/text_formatting_helper.rb
  app/views/event_steps/_form.html.erb
  app/views/event_steps/_further_details.html.erb
  app/views/mailing_list/steps/_form.html.erb
  app/webpacker/controllers/last_step_controller.js
  app/webpacker/styles/links-and-buttons.scss
  spec/helpers/text_formatting_helper_spec.rb
  spec/javascript/controllers/last_step_controller_spec.js
Labels: Review, Style, ruby, test

#1424 Add Basic Auth Switch as Environment Variable
  .gitignore
  terraform/paas/application.tf
  terraform/paas/production.env.tfvars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

#1425 Use env variable to control basic auth on/off
  config/environments/development.rb
  config/environments/production.rb
  lib/basic_auth.rb
  spec/lib/basic_auth_spec.rb
  spec/requests/basic_auth_spec.rb
Labels: Config, Review, ruby, test

#1429 Fix 404-external links
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/teaching-internship-providers.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#1431 Correct typo
  app/views/content/funding-your-training.md
Labels: Review, content

#1428 Add more search key terms - Organic Search and SEO
  app/views/content/assessment-only-providers.md
  app/views/content/early-years-teaching-training.md
  app/views/content/funding-your-training.md
  app/views/content/get-school-experience.md
  app/views/content/salaries-and-benefits.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_your_course.html.erb
  app/views/content/tips-on-applying-for-teacher-training.md
  app/views/content/ways-to-train.md
Labels: Review, content, ruby

#1412 Add a callback booking form
  Gemfile.lock
  app/controllers/callbacks/steps_controller.rb
  app/helpers/callback_helper.rb
  app/helpers/session_helper.rb
  app/models/callbacks/steps/callback.rb
  app/models/callbacks/steps/personal_details.rb
  app/models/callbacks/steps/privacy_policy.rb
  app/models/callbacks/wizard.rb
  app/models/concerns/callback_booking_quotas.rb
  app/views/callbacks/steps/_authenticate.html.erb
  app/views/callbacks/steps/_callback.html.erb
  app/views/callbacks/steps/_form.html.erb
  app/views/callbacks/steps/_personal_details.html.erb
  app/views/callbacks/steps/_privacy_policy.html.erb
  app/views/callbacks/steps/completed.html.erb
  app/views/callbacks/steps/not_available.html.erb
  app/views/callbacks/steps/show.html.erb
  app/views/callbacks/steps/update.html.erb
  app/webpacker/styles/registration.scss
  config/initializers/date_formats.rb
  config/locales/en.yml
  config/routes.rb
  spec/factories/callbacks/callback_factory.rb
  spec/factories/callbacks/personal_details_factory.rb
  spec/factories/callbacks/privacy_policy_factory.rb
  spec/features/book_callback_spec.rb
  spec/helpers/callback_helper_spec.rb
  spec/helpers/session_helper_spec.rb
  spec/models/callbacks/steps/callback_spec.rb
  spec/models/callbacks/steps/personal_details_spec.rb
  spec/models/callbacks/steps/privacy_policy_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/requests/callbacks/steps_controller_spec.rb
  spec/requests/circuit_breaker_spec.rb
  spec/support/api_support.rb
  spec/support/callback_booking_quotas.rb
  spec/support/sanitize_input.rb
Labels: Config, Review, Style, ruby, test

#1430 Set `is_online` to true for `online` type events on creation
  app/models/internal/event.rb
  spec/models/internal/event_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: Review, ruby, test

#1414 Remove references to TTAs providing statement of comparability
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#1432 CSP violation fixes
  config/initializers/secure_headers.rb
Labels: Config, Review, ruby

#1434 Remove uneeded `.vscode` shared settings
  .gitignore
  .vscode/settings.json
Labels: Review

#1433 Update covid-19.md
  app/views/content/covid-19.md
Labels: Review, content

#1435 Revamp the events page
  app/components/events/type_description_component.rb
  app/controllers/events_controller.rb
  app/helpers/events_helper.rb
  app/views/events/_event_group.html.erb
  app/views/events/index.html.erb
  app/views/layouts/events.html.erb
  app/webpacker/styles/components/events/no-results.scss
  app/webpacker/styles/events.scss
  config/locales/en.yml
  spec/components/events/type_description_component_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
Labels: Config, Review, Style, ruby, test

#1440 Fix the external link checker
  spec/support/page_testing_support.rb
Labels: test
