Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-08, with the labels that each got.

#2684 New PGCE content
  app/views/content/train-to-be-a-teacher/promos/_find-your-course-pgce.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-pgce.html.erb
  app/views/content/what-is-a-pgce.md
Labels: ruby, Review, content, policy sign off

#2693 Remove acronym expander
  config/frontmatter.yml
  lib/acronyms.rb
  lib/template_handlers/markdown.rb
  spec/lib/acronyms_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test, Review, Config

#2699 Event redirect clean up
  config/redirects.yml
Labels: Review, Config

#2712 Various dependency updates
  .github/workflows/lychee.yml
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: DevOps, Review

#2692 Remove unused urgent call CSS
  app/webpacker/styles/git.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/urgent-call-for-qualified-teachers.scss
Labels: Review, Style

#2722 Various dependency updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2727 Optimise event images
  app/views/layouts/registration_with_image_above.html.erb
  app/webpacker/images/content/event-signup/birmingham-event-1-wide.jpg
  app/webpacker/images/content/event-signup/birmingham-event-1.jpg
  app/webpacker/images/content/event-signup/birmingham-event-2.jpg
  app/webpacker/images/content/event-signup/birmingham-event-3.jpg
Labels: ruby, Review

#2726 Optimise blog images
  app/webpacker/images/content/blog/anna-shirley.jpg
  app/webpacker/images/content/blog/applying-for-teacher.jpg
  app/webpacker/images/content/blog/bedfordshire.jpg
  app/webpacker/images/content/blog/ben-breen.jpg
  app/webpacker/images/content/blog/brooke-harvey.jpg
  app/webpacker/images/content/blog/calculator.jpg
  app/webpacker/images/content/blog/cindy-ventura.jpg
  app/webpacker/images/content/blog/farooq-ahmad.jpg
  app/webpacker/images/content/blog/fellowship.jpg
  app/webpacker/images/content/blog/giorgio-rubbo.jpg
  app/webpacker/images/content/blog/habiba-cabdi-teacher-applicant.jpg
  app/webpacker/images/content/blog/ian-wallace.jpg
  app/webpacker/images/content/blog/interview.jpg
  app/webpacker/images/content/blog/jacob.jpg
  app/webpacker/images/content/blog/jessica-walmsley.jpg
  app/webpacker/images/content/blog/maria.jpg
  app/webpacker/images/content/blog/mel-oconnor.jpg
  app/webpacker/images/content/blog/mel-stta-screen.jpg
  app/webpacker/images/content/blog/notepad.jpg
  app/webpacker/images/content/blog/olivia.jpg
  app/webpacker/images/content/blog/pupil-chatting-to-teacher-in-classroom.jpg
  app/webpacker/images/content/blog/right_provider.jpg
  app/webpacker/images/content/blog/rocket.jpg
  app/webpacker/images/content/blog/school-aisle.jpg
  app/webpacker/images/content/blog/schoolyard.jpg
  app/webpacker/images/content/blog/seminar-room.jpg
  app/webpacker/images/content/blog/stephen.jpg
  app/webpacker/images/content/blog/train-to-teach.jpg
  app/webpacker/images/content/blog/whiteboard.jpg
  docs/content.md
Labels: Review

#2728 Remove unused partials
  app/views/content/funding-and-support/_hero.html.erb
  app/views/content/non-uk-teachers/_hero.html.erb
  app/views/content/train-to-be-a-teacher/_hero.html.erb
Labels: ruby, Review, content

#2731 [648] Run terraform locally
  .tool-versions
  Makefile
  terraform/paas/dev.bk.vars
  terraform/paas/production.bk.vars
  terraform/paas/provider.tf
  terraform/paas/review.bk.vars
  terraform/paas/test.bk.vars
  terraform/paas/ur.bk.vars
  terraform/paas/variables.tf
Labels: DevOps, Review

#2724 Automatically add sizes to image elements
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  Gemfile
  Gemfile.lock
  app/webpacker/styles/subject-specific/_header.scss
  app/webpacker/styles/subject-specific/_text-blocks-with-images.scss
  app/webpacker/styles/teaching-events.scss
  lib/image_sizes.rb
  lib/middleware/html_response_transformer.rb
  spec/lib/image_sizes_spec.rb
  spec/rails_helper.rb
  spec/requests/image_sizes_spec.rb
  spec/support/views/content/content-page.md
Labels: ruby, test, Review, Style

#2734 Fix FastImage exception on timeout
  lib/image_sizes.rb
  spec/lib/image_sizes_spec.rb
  spec/requests/image_sizes_spec.rb
Labels: ruby, test, Review

#2733 Fix h3 styling in grouped cards
  app/webpacker/styles/category.scss
Labels: Review, Style

#2721 Add navigation guidance to content readme
  docs/content.md
Labels: Review

#2735 Minor fixes to image size processing
  app/webpacker/styles/welcome-guide.scss
  lib/image_sizes.rb
Labels: ruby, Review, Style

#2732 Add still time to apply message to top of page
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#2681 Train to teach content tweaks following UR July 22
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2736 editing mailing list promos
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-pgce.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo.html.erb
Labels: ruby, Review, content

#2737 [648] Terraform refactor leftover issues
  Makefile
  terraform/paas/provider.tf
Labels: DevOps, Review

#2739 Allow new staging GTM server in CSP
  config/initializers/secure_headers.rb
Labels: ruby, Config

#2743 Update iQTS promo with next event
  app/views/content/non-uk-teachers/promos/_events-promo-iqts.html.erb
Labels: ruby, Review, content

#2741 Fix image sizing on about TTT events page
  app/webpacker/styles/registration/with-side-images.scss
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2744 Enable image sizing in production
  .env.production
Labels: Review

#2740 [647] Fix review apps concurrency
  .github/workflows/build.yml
Labels: DevOps, Review

#2745 Fix welcome guide video not playing on mobile Safari
  app/helpers/welcome_content_helper.rb
  app/views/content/welcome/landing/_welcome-to-teaching.html.erb
  public/videos/welcome-guide-generic.mp4
  public/videos/welcome-guide-mfl.mp4
  public/videos/welcome-guide-science.mp4
  spec/helpers/welcome_content_helper_spec.rb
Labels: ruby, test, Review, content

#2748 reordering events
  app/views/content/help-and-advice.md
Labels: Review, content

#2749 redirecting old if youre disabled page
  app/views/content/get-support-training-to-teach-if-you-are-disabled.md
  config/redirects.yml
Labels: Review, content, Config

#2750 reordering TTAs and the NTP
  app/views/content/returning-to-teaching.md
Labels: Review, content

#2723 adding meta description and keywords
  app/views/content/subjects/maths.md
Labels: Review, content

#2730 Update copy around why there are no Train to Teach events
  app/controllers/teaching_events_controller.rb
  app/models/teaching_events/search.rb
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/index/_no_results.html.erb
  app/webpacker/styles/teaching-events.scss
  spec/features/teaching_events/about_ttt_events_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/models/teaching_events/search_spec.rb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review, Style

#2753 Fix TTT events banner not showing
  app/controllers/teaching_events_controller.rb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#2694 Clearer contact section
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#2754 Add Kemnal Academies Trust to AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2747 629 update service principal workflow
  .github/workflows/check_sp.yml
Labels: DevOps, Review

#2752 Add dfe-analytics gem
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_pii.yml
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/test.rb
  config/initializers/dfe_analytics.rb
  lib/user.rb
  spec/lib/basic_auth_spec.rb
  spec/rails_helper.rb
  spec/requests/big_query_analytics_spec.rb
  spec/spec_helper.rb
Labels: ruby, test, Review, Config

#2758 Whitelist GTM server side container in CSP
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#2757 Enable dfe-analytics in production
  config/environments/production.rb
Labels: ruby, Review, Config

#2761 Update zlib version in Dockerfile
  Dockerfile
Labels: docker, DevOps, Review

#2763 Remove bottom margin on about TTT events page
  app/views/layouts/teaching_events.html.erb
  app/views/teaching_events/about_ttt_events.html.erb
  app/webpacker/styles/layout.scss
Labels: ruby, Review, Style

#2762 Fix image overlapping text on about TTT events page
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2766 Remove alert before provider update
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#2764 Update Terraform StatusCake provider to 2.0.3
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps, Review

#2767 Fix semantics on steps to become a teacher list
  app/views/layouts/steps.html.erb
Labels: ruby, Review

#2768 Make category cards semantically correct
  app/components/categories/card_component.html.erb
  app/views/layouts/category.html.erb
  app/webpacker/styles/category.scss
  spec/components/categories/card_component_spec.rb
  spec/features/content_pages_spec.rb
Labels: ruby, test, Review, Style

#2751 creating veterans page
  app/views/content/funding-and-support/if-you-come-from-outside-england.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/promos/_get-adviser-veterans-promo.erb
  app/webpacker/styles/category.scss
Labels: ruby, Review, Style, content

#2770 Omit page param from redirects
  config/routes.rb
  spec/requests/redirects_spec.rb
Labels: ruby, test, Review, Config
