Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-10, with the labels that each got.

#2837 Adding scholarships/bursaries holding message
  app/components/funding_widget_component.html.erb
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
Labels: ruby, Review, content

#2605 New routes page copy
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/promos/_find-your-course.html.erb
Labels: ruby, Review, content, policy sign off

#2858 removing (honours) from copy
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: Review, content, policy sign off

#2859 Make closed events viewable but not open for registration
  app/controllers/event_steps_controller.rb
  app/helpers/events_helper.rb
  app/models/event_status.rb
  spec/helpers/events_helper_spec.rb
  spec/models/event_status_spec.rb
  spec/requests/event_steps_controller_spec.rb
Labels: ruby, test, Review

#2860 Update contact details for Mid Essex ITT on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2823 Update event structured data images
  app/webpacker/images/structured_data/git_in_person_16x9.jpeg
  app/webpacker/images/structured_data/git_in_person_1x1.jpeg
  app/webpacker/images/structured_data/git_in_person_4x3.jpeg
  app/webpacker/images/structured_data/git_online_16x9.jpeg
  app/webpacker/images/structured_data/git_online_1x1.jpeg
  app/webpacker/images/structured_data/git_online_4x3.jpeg
  spec/helpers/structured_data_helper_spec.rb
Labels: test, Review

#2865 Update course publication date on Engineers teach physics page
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content

#2862 Redirect /home to root page
  config/redirects.yml
Labels: Review, Config

#2873 adding new scholarship/bursary amounts
  app/components/funding_widget_component.html.erb
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
  config/locales/en.yml
  spec/components/funding_widget_component_spec.rb
Labels: ruby, test, Review, content, Config

#2874 Update funding manual links for early years
  app/views/content/early-years-teaching-training.md
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
Labels: Review, content

#2872 Several small updates to SKE page v1
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
Labels: Review, content, policy sign off

#2869 Fix horizontal scroll on campaign headings
  app/webpacker/styles/components/campaign-header.scss
Labels: Review, Style

#2875 Adding scholarships and bursaries eligibility and payment info
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
Labels: ruby, Review, content, policy sign off

#2861 Clean up layouts
  app/components/content/campaign_hero_component.erb
  app/components/content/campaign_hero_component.rb
  app/components/header_component.html.erb
  app/helpers/application_helper.rb
  app/views/content/explore-teaching-advisers/_header.html.erb
  app/views/content/food-for-thought/_header.html.erb
  app/views/content/subjects/engineers-teach-physics/_header.html.erb
  app/views/content/subjects/maths/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/category.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/internal.html.erb
  app/views/layouts/minimal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/teaching_event.html.erb
  app/views/layouts/teaching_events.html.erb
  app/views/layouts/welcome.html.erb
  app/views/sections/_gtm_fallback.html.erb
  app/views/teaching_events/about_git_events.html.erb
  app/webpacker/styles/components/campaign-hero.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/sections/hero.scss
  spec/components/content/campaign_hero_component_spec.rb
  spec/components/header_component_spec.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review, Style, content

#2885 [701] Stop pinning Github actions to a minor version
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/destroy.yml
  .github/workflows/lychee.yml
Labels: DevOps, Review

#2889 Fix version reference for zaproxy action
  .github/workflows/actions/owasp/action.yml
Labels: DevOps, Review

#2886 Update Lincolnshire SCITT contact details on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2887 New salary amounts
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/salaries-and-benefits.md
Labels: Review, content, policy sign off

#2891 Update service principal expiry Slack message content
  .github/workflows/check_sp.yml
Labels: DevOps, Review

#2884 Add salaries banner to homepage
  app/components/calls_to_action/simple_component.html.erb
  app/components/calls_to_action/simple_component.rb
  app/views/content/home.md
  app/views/content/home/_salaries-banner.html.erb
  app/webpacker/images/icon-money.svg
  app/webpacker/styles/home.scss
  spec/components/calls_to_action/simple_component_spec.rb
Labels: ruby, test, Review, Style, content

#2894 [699] Fix integration test job
  .github/workflows/build.yml
Labels: DevOps, Review

#2899 Fix duplicate text issues on international pages
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#2883 GIT events promo work
  app/controllers/teaching_events_controller.rb
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/promos/_events-promo-disabled.html.erb
  app/views/content/funding-and-support/promos/_events-promo-funding.html.erb
  app/views/content/funding-and-support/promos/_events-promo-parent.html.erb
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/promos/_events-promo-apply.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-ske.html.erb
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
  app/views/teaching_events/about_git_events.html.erb
Labels: ruby, Review, content

#2892 Update homepage to promote Get Into Teaching events
  app/components/content/hero_component.rb
  app/components/header/extra_navigation_component.html.erb
  app/controllers/teaching_events_controller.rb
  app/views/content/explore-teaching-advisers/_article.html.erb
  app/views/content/home.md
  app/views/content/home/_calls-to-action.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/webpacker/controllers/badge_controller.js
  app/webpacker/images/content/hero-images/girl-with-raised-hand--mobile.jpg
  app/webpacker/images/content/hero-images/girl-with-raised-hand--tablet.jpg
  app/webpacker/images/content/hero-images/girl-with-raised-hand.jpg
  app/webpacker/styles/components/badge.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/header/extra-navigation.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/vertical-tags.scss
  config/images.yml
  config/routes.rb
  spec/features/chat_spec.rb
  spec/features/funding_widget_spec.rb
  spec/javascript/controllers/badge_controller_spec.js
  spec/requests/teaching_events_spec.rb
  spec/support/badges_support.rb
Labels: ruby, test, Review, Style, content, Config

#2901 Update hero image for events home page
  app/views/content/home.md
  app/webpacker/images/content/hero-images/event-image--mobile.jpg
  app/webpacker/images/content/hero-images/event-image--tablet.jpg
  app/webpacker/images/content/hero-images/event-image.jpg
  app/webpacker/images/content/hero-images/girl-with-raised-hand--mobile.jpg
  app/webpacker/images/content/hero-images/girl-with-raised-hand--tablet.jpg
  app/webpacker/images/content/hero-images/girl-with-raised-hand.jpg
  config/images.yml
Labels: Review, content, Config

#2893 Updates to ETP programme details.
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content, policy sign off

#2863 iQTS recruitment cycle
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_gain-iqts-and-automatic-qts.md
Labels: Review, content

#2890 Line about scholarship and bursary eligibility
  app/components/funding_widget_component.html.erb
Labels: ruby, Review

#2900 Surface national Get Into Teaching events on no results
  app/controllers/teaching_events_controller.rb
  app/models/teaching_events/search.rb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/index/_no_results.html.erb
  app/webpacker/styles/teaching-events.scss
  spec/features/teaching_events/listing_and_searching_spec.rb
Labels: ruby, test, Review, Style, content

#2905 Removing /covid-19 page
  app/components/footer_component.html.erb
  app/components/header_component.html.erb
  app/views/content/covid-19.md
  app/webpacker/styles/header.scss
  app/webpacker/styles/header/covid.scss
  config/environments/development.rb
  config/environments/production.rb
  config/redirects.yml
  spec/components/header_component_spec.rb
  spec/requests/covid_banner_spec.rb
Labels: ruby, test, Review, Style, content, Config

#2907 Add site name to home page structured data
  app/helpers/structured_data_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/structured_data_helper_spec.rb
Labels: ruby, test, Review

#2912 Allow searching with distance but no postcode
  app/controllers/teaching_events_controller.rb
  app/models/teaching_events/search.rb
  spec/models/teaching_events/search_spec.rb
Labels: ruby, test, Review

#2908 Allow id attribute in HTML
  app/helpers/text_formatting_helper.rb
  spec/helpers/text_formatting_helper_spec.rb
Labels: ruby, test, Review

#2914 Pull in 24 months worth of future events
  app/models/teaching_events/search.rb
  spec/models/teaching_events/search_spec.rb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#2915 Remove NETT and amend London Met Uni details on Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2916 Changing 'teacher training advisers' blog tag to 'advisers'
  app/views/content/blog/5-reasons-to-attend-a-get-into-teaching-event.md
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/back-to-school-as-a-trainee-teacher.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/jills-story-getting-back-into-the-classroom.md
  app/views/content/blog/marias-return-to-teaching-story.md
  app/views/content/blog/my-experience-with-the-national-tutoring-programme.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/stephens-return-to-teaching-story.md
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/views/content/blog/why-i-became-a-teacher.md
  config/tags.yml
  spec/features/blog_spec.rb
Labels: test, Review, content, Config

#2882 Clean up subject specific layouts
  app/components/campaign/text_block_with_one_image_component.html.erb
  app/components/campaign/text_block_with_one_image_component.rb
  app/components/campaign/text_block_with_two_images_component.html.erb
  app/components/campaign/text_block_with_two_images_component.rb
  app/views/content/explore-teaching-advisers.md
  app/views/content/explore-teaching-advisers/_article.html.erb
  app/views/content/subjects/engineers-teach-physics.md
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths.md
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/welcome/landing/_youre-not-the-only-one-with-questions.html.erb
  app/views/layouts/category.html.erb
  app/views/teaching_events/about_git_events.html.erb
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/campaign.scss
  app/webpacker/styles/campaign/_article.scss
  app/webpacker/styles/campaign/_overlapping.scss
  app/webpacker/styles/campaign/_quote.scss
  app/webpacker/styles/campaign/_text-blocks-with-images.scss
  app/webpacker/styles/campaign/_videos.scss
  app/webpacker/styles/category.scss
  app/webpacker/styles/components/campaign-hero.scss
  app/webpacker/styles/components/what-theyre-saying.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/header/menu-button.scss
  app/webpacker/styles/header/navigation.scss
  app/webpacker/styles/header/skiplink.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/subject-specific.scss
  app/webpacker/styles/teaching-events.scss
  app/webpacker/styles/welcome-guide.scss
  spec/components/campaign/text_block_with_one_image_component_spec.rb
  spec/components/campaign/text_block_with_two_images_component_spec.rb
Labels: ruby, test, Review, Style, content

#2913 Make youtube videos consistent
  app/components/content/youtube_video_component.html.erb
  app/views/teaching_events/show/_event-summary.html.erb
  app/webpacker/styles/campaign/_videos.scss
  app/webpacker/styles/components/youtube-video.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/teaching-events.scss
  app/webpacker/styles/utility.scss
  spec/components/content/youtube_video_component_spec.rb
Labels: ruby, test, Review, Style, content

#2917 Upgrade to Stimulus v3
  .browserlistrc
  .browserslistrc
  app/webpacker/controllers/abbreviation_controller.js
  app/webpacker/controllers/accordion_controller.js
  app/webpacker/controllers/aspect_ratio_controller.js
  app/webpacker/controllers/badge_controller.js
  app/webpacker/controllers/banner_controller.js
  app/webpacker/controllers/chat_controller.js
  app/webpacker/controllers/conditional_field_controller.js
  app/webpacker/controllers/cookie-acceptance_controller.js
  app/webpacker/controllers/cookie_preferences_controller.js
  app/webpacker/controllers/funding_widget_controller.js
  app/webpacker/controllers/index.js
  app/webpacker/controllers/internal_events_controller.js
  app/webpacker/controllers/last_step_controller.js
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/mailing-list_controller.js
  app/webpacker/controllers/map_controller.js
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/controllers/scribble_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/controllers/table_controller.js
  app/webpacker/styles/components/campaign-hero.scss
  app/webpacker/styles/sections/hero.scss
  package.json
  spec/javascript/controllers/abbreviation_controller_spec.js
  spec/javascript/controllers/accordion_controller_spec.js
  spec/javascript/controllers/aspect_ratio_controller_spec.js
  spec/javascript/controllers/badge_controller_spec.js
  spec/javascript/controllers/banner_controller_spec.js
  spec/javascript/controllers/chat_controller_spec.js
  spec/javascript/controllers/conditional_field_controller_spec.js
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
  spec/javascript/controllers/cookie_preferences_controller_spec.js
  spec/javascript/controllers/internal_events_controller_spec.js
  spec/javascript/controllers/last_step_controller_spec.js
  spec/javascript/controllers/link_controller_spec.js
  spec/javascript/controllers/mailing-list_controller_spec.js
  spec/javascript/controllers/navigation_controller_spec.js
  spec/javascript/controllers/scribble_controller_spec.js
  spec/javascript/controllers/searchbox_controller_spec.js
  spec/javascript/controllers/table_controller_spec.js
  yarn.lock
Labels: test, Review, Style

#2918 Switch to new events search endpoint
  app/components/events/search_component.html.erb
  app/components/events/search_component.rb
  app/controllers/internal/events_controller.rb
  app/models/events/search.rb
  app/models/teaching_events/search.rb
  app/presenters/events/group_presenter.rb
  spec/components/events/search_component_spec.rb
  spec/factories/events/search_factory.rb
  spec/features/content_pages_spec.rb
  spec/features/internal_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/models/events/search_spec.rb
  spec/models/teaching_events/search_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/rails_helper.rb
  spec/requests/gtm_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/internal_controller_spec.rb
  spec/requests/teaching_events_spec.rb
  spec/support/api_support.rb
  spec/support/badges_support.rb
  spec/support/spec_helpers/events.rb
Labels: ruby, test, Review

#2926 Optimize HTML response transformer middleware
  lib/error_title.rb
  lib/external_links.rb
  lib/image_sizes.rb
  lib/lazy_load_images.rb
  lib/middleware/html_response_transformer.rb
  lib/next_gen_images.rb
  lib/responsive_images.rb
  spec/lib/error_title_spec.rb
  spec/lib/external_links_spec.rb
  spec/lib/image_sizes_spec.rb
  spec/lib/lazy_load_images_spec.rb
  spec/lib/next_gen_images_spec.rb
  spec/lib/responsive_images_spec.rb
Labels: ruby, test, Review

#2924 Rework integration tests to improve success rate
  spec/integration/events_spec.rb
  spec/integration/integration_spec.rb
Labels: test, Review

#2919 Remove remaining sidebars from site
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/returning-to-teaching.md
  app/views/content/teacher-training-advisers.md
  app/webpacker/controllers/aspect_ratio_controller.js
  app/webpacker/styles/components/youtube-video.scss
  spec/javascript/controllers/aspect_ratio_controller_spec.js
Labels: test, Review, Style, content

#2925 Link to Find has been tweaked to prevent confusion
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
Labels: Review, content

#2929 Editing events copy on home page
  app/views/content/home.md
Labels: Review, content
