Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-09, with the labels that each got.

#2774 Update AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2773 Upgrade Terraform to version 1.2.8
  .github/workflows/actions/deploy/action.yml
  .github/workflows/destroy.yml
  .tool-versions
  terraform/paas/.gitignore
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
  terraform/paas/versions.tf
Labels: DevOps, Review

#2786 [672] Fix Check users in space developer role workflow
  .github/workflows/rm-developers.yml
Labels: DevOps, Review

#2772 Standardise videos with a view component
  app/components/content/youtube_video_component.html.erb
  app/components/content/youtube_video_component.rb
  app/helpers/events_helper.rb
  app/presenters/teaching_events/event_presenter.rb
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/returning-to-teaching.md
  app/views/content/teacher-training-advisers.md
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/show/_event-summary.html.erb
  lib/template_handlers/markdown.rb
  spec/components/content/youtube_video_component_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
Labels: ruby, test, Review, content

#2789 Update eligibility for veterans bursary
  app/views/content/funding-and-support/if-youre-a-veteran.md
Labels: Review, content

#2788 Change docker caching from gha to registry
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: docker, DevOps, Review

#2794 Fix focus style on assessment only provider links
  app/webpacker/styles/components/grouped-cards.scss
Labels: Review, Style

#2785 Removing still time to apply messaging
  app/views/content/blog/7-things-to-include-in-your-teacher-training-application.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
Labels: Review, content

#2760 Updating references information in how to apply and blogs copy
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/presentations.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/teaching_events/about_ttt_events.html.erb
  app/webpacker/documents/ready-to-apply.pdf
  app/webpacker/documents/train-to-teach-and-support.pdf
  config/redirects.yml
Labels: ruby, Review, content, Config

#2755 Updates to Ukraine content following UR
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#2795 Change order of on campus case studies
  app/views/content/food-for-thought/_quotes.html.erb
Labels: ruby, Review, content

#2796 Fixing international page typo
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2800 Add GOV.UK to page titles
  app/helpers/application_helper.rb
  app/views/sections/_head.html.erb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review

#2801 Update Thamesmead SCITT contact details on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2803 Reviewing current promos
  app/views/content/blog/5-reasons-to-attend-a-train-to-teach-event.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/how-to-ace-a-video-interview.md
  app/views/content/blog/my-career-change-to-teaching.md
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/views/content/funding-and-support/promos/_events-near-you.html.erb
  app/views/content/salaries-and-benefits.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-ske.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-itt.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-itt.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-no-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-qts.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-salaries.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-who-do-you-want-to-teach.html.erb
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
  app/views/content/what-is-qts.md
  app/views/layouts/blog/post.html.erb
  spec/features/event_near_you_promo_spec.rb
Labels: ruby, test, Review, content

#2720 editing git tta content
  app/components/calls_to_action/next_steps_component.html.erb
  app/components/footer/talk_to_us_component.html.erb
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/blog/5-reasons-to-attend-a-train-to-teach-event.md
  app/views/content/blog/managing-behaviour-in-the-classroom.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment.md
  app/views/content/blog/school-experience-helped-me-decide-to-switch.md
  app/views/content/blog/the-fellowship-of-teachers.md
  app/views/content/blog/the-head-of-science-inspiring-students-in-blackpool.md
  app/views/content/explore-teaching-advisers.md
  app/views/content/explore-teaching-advisers/_article.html.erb
  app/views/content/explore-teaching-advisers/_header.html.erb
  app/views/content/funding-and-support/_questions.html.erb
  app/views/content/help-and-advice.md
  app/views/content/teacher-training-advisers.md
  app/views/content/teaching-internship-providers.md
  app/views/content/three-things-to-help-you-get-into-teaching.md
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-internships.html.erb
  app/views/content/train-to-be-a-teacher/promos/_eta-promo-internships.html.erb
  app/webpacker/images/content/ttalianne.jpg
  config/images.yml
  spec/components/footer/talk_to_us_component_spec.rb
Labels: ruby, test, Review, content, Config

#2808 Remove Question Time events
  app/components/teaching_events/event_component.rb
  app/controllers/teaching_events_controller.rb
  app/helpers/events_helper.rb
  app/helpers/structured_data_helper.rb
  app/helpers/teaching_events_helper.rb
  app/models/event_status.rb
  app/models/event_type.rb
  app/models/events/search.rb
  app/presenters/events/group_presenter.rb
  app/presenters/teaching_events/event_presenter.rb
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/index/_filter.html.erb
  config/locales/en.yml
  spec/components/teaching_events/event_component_spec.rb
  spec/factories/api/event_api_factory.rb
  spec/features/teaching_events/about_ttt_events_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/features/teaching_events/viewing_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/helpers/teaching_events_helper_spec.rb
  spec/models/event_status_spec.rb
  spec/models/event_type_spec.rb
  spec/models/events/search_spec.rb
  spec/models/teaching_events/search_spec.rb
  spec/presenters/events/group_presenter_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review, Config

#2811 Remove phone number for LSJS from AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2810 Change adviser link on food for thought page
  app/views/content/food-for-thought/_promo.html.erb
Labels: ruby, Review, content

#2813 Update events promo on iQTS page
  app/views/content/non-uk-teachers/promos/_events-promo-iqts.html.erb
Labels: ruby, Review, content

#2817 Update Pimlico-London SCITT details on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2818 Show all events on the about GiT events page
  app/controllers/teaching_events_controller.rb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#2816 Use a different event image for online GiT events
  app/presenters/teaching_events/event_presenter.rb
  app/webpacker/images/content/event-signup/event-regional-online.jpg
  spec/presenters/teaching_events/event_presenter_spec.rb
Labels: ruby, test, Review

#2822 Make integration tests more resilient
  spec/integration/events_spec.rb
  spec/support/spec_helpers/integration.rb
Labels: test, Review

#2821 Update promo section on steps to go to mailing list
  app/views/layouts/steps.html.erb
Labels: ruby, Review

#2819 Add meta descriptions for event pages
  app/controllers/teaching_events_controller.rb
  app/views/layouts/teaching_events.html.erb
Labels: ruby, Review

#2820 Remove providers from Engineers teach physics page
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content

#2826 Fix lack of padding on about GiT events page
  app/views/teaching_events/about_git_events.html.erb
  app/webpacker/styles/subject-specific/_article.scss
Labels: ruby, Review, Style

#2824 Fix issues with internal events form
  app/views/layouts/internal.html.erb
  app/webpacker/packs/internal.js
  app/webpacker/packs/js_enabled.js
  config/initializers/rack_attack.rb
  spec/javascript/js_enabled_spec.js
  spec/requests/rate_limiting_spec.rb
Labels: ruby, test, Review, Config

#2827 Update about_git_events.html.erb
  app/views/teaching_events/about_git_events.html.erb
Labels: ruby, Review

#2825 Update internships page with 2023 subjects
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content

#2828 Fix page titles on error
  app/controllers/event_steps_controller.rb
  lib/error_title.rb
  lib/middleware/html_response_transformer.rb
  spec/lib/error_title_spec.rb
Labels: ruby, test, Review

#2831 Render event message as an InsetTextComponent
  app/views/teaching_events/show/_event-summary.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2835 Update webmock to latest version
  Gemfile.lock
Labels: Review

#2832 Use new images for GiT event listings
  app/components/teaching_events/event_component.html.erb
  app/components/teaching_events/event_component.rb
  app/webpacker/images/content/event-signup/event-regional-listing.jpg
  app/webpacker/images/content/event-signup/event-regional-online-listing.jpg
  config/images.yml
  spec/components/teaching_events/event_component_spec.rb
Labels: ruby, test, Review, Config

#2836 Remove North Manchester ITT Partnership from AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2830 Include GiT/Online Q&A events in sitemap
  app/controllers/sitemap_controller.rb
  spec/requests/sitemap_controller_spec.rb
Labels: ruby, test, Review

#2834 Pre-warm the image size cache
  config/initializers/image_sizes.rb
  lib/image_sizes.rb
  spec/lib/image_sizes_spec.rb
Labels: ruby, test, Review, Config

#2839 Whitelist assets host in CSP
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#2840 Update event sign up page images
  app/views/layouts/registration_with_image_above.html.erb
  config/images.yml
Labels: ruby, Review, Config
