Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-11, with the labels that each got.

#2920 Link to funding/ support if you're disabled added
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment.md
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
Labels: Review, content

#2939 Make links on gray background black
  app/views/teaching_events/about_git_events.html.erb
Labels: ruby, Review

#2903 Stop using set-output
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/check_sp.yml
  .github/workflows/destroy.yml
Labels: github_actions, DevOps, Review

#2941 Update AO contact details for University of Buckingham
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2942 Adding Find link to engineers teach physics courses
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content

#2940 Make clear that applicants for iQTS are not eligible for student finance
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_find-out-about-fees.md
Labels: Review, content

#2923 Increase app instance count
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#2945 Changing feedback form and banner
  app/components/footer/feedback_component.html.erb
  spec/components/footer/feedback_component_spec.rb
Labels: ruby, test, Review

#2948 Update Node version for codespaces
  .devcontainer/devcontainer.json
Labels: Review

#2949 Whitelist GitHub preview domain
  config/environments/development.rb
Labels: ruby, Review, Config

#2951 Update dfe-analytics gem
  Gemfile
  Gemfile.lock
  config/initializers/dfe_analytics.rb
  lib/user.rb
  spec/lib/basic_auth_spec.rb
Labels: ruby, test, Review, Config

#2955 Adding proud parents research report
  app/views/content/research.md
  app/webpacker/documents/proud-parents-teaching-report.pdf
Labels: Review, content

#2956 Adding noindex to support for international applicants page
  app/views/content/guidance/financial-support-for-international-applicants.md
Labels: Review, content

#2957 Updating orphan page titles
  app/views/content/assessment-only-providers.md
  app/views/content/subjects/engineers-teach-physics.md
  app/views/content/support-for-early-career-teachers.md
  app/views/content/what-is-qts.md
Labels: Review, content

#2960 Update Ashton on Mersey SCITT contact details on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2965 remove incorrect loan repayments info
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
Labels: Review, content

#2963 Updating train to be a teacher page titles
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-experience.md
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
Labels: Review, content

#2961 Update the content documentation
  app/components/calls_to_action/chat_online_component.html.erb
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/narrow_component.html.erb
  app/components/calls_to_action/narrow_component.rb
  app/presenters/content/call_to_action_component_injector.rb
  app/views/layouts/content.html.erb
  app/views/layouts/shared/_narrow_call_to_action.html.erb
  docs/content.md
  docs/images/content_cta_examples.png
  docs/images/jump_link_examples.png
  docs/images/sidebar_cta_examples.png
  spec/components/calls_to_action/chat_online_component_spec.rb
  spec/components/calls_to_action/narrow_component_spec.rb
  spec/components/content/accordion_component_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
  spec/presenters/content/call_to_action_component_injector_spec.rb
  spec/requests/frontmatter_content_spec.rb
  spec/support/views/content/content-page.md
Labels: ruby, test, Review

#2897 Unwind homepage changes supporting events comms burst
  app/components/calls_to_action/homepage_component.html.erb
  app/components/calls_to_action/homepage_component.rb
  app/components/header/extra_navigation_component.html.erb
  app/views/content/home.md
  app/views/content/home/_calls-to-action.html.erb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/badge.scss
  app/webpacker/styles/header/extra-navigation.scss
  spec/components/calls_to_action/homepage_component_spec.rb
Labels: ruby, test, Review, Style, content

#2968 Changing who do you want to teach page titles
  app/views/content/become-a-further-education-teacher.md
  app/views/content/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
Labels: Review, content

#2970 updating help and support page titles
  app/controllers/mailing_list/steps_controller.rb
  app/controllers/teaching_events_controller.rb
  app/models/mailing_list/steps/name.rb
  app/views/content/help-and-support.md
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review, content

#2958 Add the 'Is teaching right for me?' page
  app/components/calls_to_action/promo/promo_component.rb
  app/components/content/checklist_collage_component.html.erb
  app/components/content/checklist_collage_component.rb
  app/components/content/fact_list_component.html.erb
  app/components/content/fact_list_component.rb
  app/components/content/photo_quote_list_component.html.erb
  app/components/content/photo_quote_list_component.rb
  app/components/content/quote_component.html.erb
  app/components/content/quote_component.rb
  app/components/header_component.html.erb
  app/views/content/is-teaching-right-for-me.md
  app/views/content/is-teaching-right-for-me/_a_job_like_no_other.html.erb
  app/views/content/is-teaching-right-for-me/_are_you_eligible_to_teach.html.erb
  app/views/content/is-teaching-right-for-me/_facts_and_figures.html.erb
  app/views/content/is-teaching-right-for-me/_get_school_experience.html.erb
  app/views/content/is-teaching-right-for-me/_header.html.erb
  app/views/content/is-teaching-right-for-me/_how_to_become_a_teacher.html.erb
  app/views/content/is-teaching-right-for-me/_making_a_difference.html.erb
  app/views/content/is-teaching-right-for-me/_your_career_your_path.html.erb
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/landing/food-for-thought.md
  app/views/content/landing/food-for-thought/_header.html.erb
  app/views/content/landing/food-for-thought/_promo.html.erb
  app/views/content/landing/food-for-thought/_quotes.html.erb
  app/webpacker/images/content/hero-images/Chemistry_MissObi--mobile.jpg
  app/webpacker/images/content/hero-images/Chemistry_MissObi--tablet.jpg
  app/webpacker/images/content/hero-images/Chemistry_MissObi.jpg
  app/webpacker/images/content/is-teaching-right-for-me/History_Class_1.jpg
  app/webpacker/images/content/is-teaching-right-for-me/History_Class_1_promo.jpg
  app/webpacker/images/content/is-teaching-right-for-me/Maths_MrAhmed_1.jpg
  app/webpacker/images/content/is-teaching-right-for-me/Physics_MissHayre_4.jpg
  app/webpacker/images/content/is-teaching-right-for-me/fellowship.jpg
  app/webpacker/images/content/is-teaching-right-for-me/stories-zainab.jpg
  app/webpacker/images/icon-people.svg
  app/webpacker/images/icon-ticket.svg
  app/webpacker/styles/campaign/_article.scss
  app/webpacker/styles/category.scss
  app/webpacker/styles/components/checklist-collage.scss
  app/webpacker/styles/components/fact-list.scss
  app/webpacker/styles/components/mixins/quote.scss
  app/webpacker/styles/components/photo-quote-list.scss
  app/webpacker/styles/components/promo.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/headings.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/sections/talk-to-us.scss
  config/images.yml
  spec/components/calls_to_action/promo/promo_component_spec.rb
  spec/components/content/checklist_collage_component_spec.rb
  spec/components/content/fact_list_component_spec.rb
  spec/components/content/photo_quote_list_component_spec.rb
  spec/components/content/quote_component_spec.rb
  spec/components/previews/content/quote_component_preview.rb
Labels: ruby, test, Review, Style, content, Config

#2977 Prevent GTM loading until consent is set
  app/webpacker/javascript/gtm.js
  spec/javascript/gtm_spec.js
Labels: test, Review

#2983 Update contact details for Essex and Thames SCITT on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2982 Update feedback link in footer
  app/components/footer_component.html.erb
Labels: ruby, test, Review

#2985 Use an older Lychee version
  .github/workflows/lychee.yml
Labels: bug, DevOps, Review

#2984 Update content and link on Returning to teaching page
  app/views/content/returning-to-teaching.md
Labels: Review, content

#2990 Pin page speed task http request action
  .github/workflows/pagespeed.yml
Labels: DevOps, Review

#2988 Get KeyVault name for sp_check from matrix data
  .github/workflows/check_sp.yml
Labels: DevOps, Review

#2987 Removing h2 on food for thought promo
  app/views/content/landing/food-for-thought/_promo.html.erb
Labels: ruby, Review, content

#2974 Update ukraine.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#2995 Update contact details for GORSE SCITT on Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2989 Minor tweaks to layouts/spacing
  app/views/content/help-and-support/_categories.html.erb
  app/views/content/is-teaching-right-for-me/_a_job_like_no_other.html.erb
  app/views/content/is-teaching-right-for-me/_facts_and_figures.html.erb
  app/views/content/is-teaching-right-for-me/_making_a_difference.html.erb
  app/views/content/is-teaching-right-for-me/_your_career_your_path.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/layouts/category.html.erb
  app/webpacker/styles/components/checklist-collage.scss
  app/webpacker/styles/components/photo-quote-list.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/vertical-tags.scss
Labels: ruby, Review, Style, content

#2997 Change site name in structured data
  app/helpers/structured_data_helper.rb
  spec/helpers/structured_data_helper_spec.rb
Labels: ruby, test, Review

#2996 Updating blog footers in is teaching right for me section
  app/views/content/blog/no-two-days-are-the-same.md
  app/views/content/blog/product-engineer-turned-science-teacher.md
  app/views/content/blog/school-experience-helped-me-decide-to-switch.md
  app/views/content/blog/the-head-of-science-inspiring-students-in-blackpool.md
Labels: Review, content

#2991 Fixed version number on action-slack-notify
  .github/workflows/check_sp.yml
Labels: DevOps, Review

#2998 Add no results content for about GiT events page
  app/views/teaching_events/about_git_events.html.erb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#3001 Swtch events/TTA help and support sections
  app/views/content/help-and-support.md
  app/views/content/help-and-support/_categories.html.erb
  app/views/content/help-and-support/_events.html.erb
Labels: ruby, Review, content

#3000 Switch home page CTAs
  app/views/content/home/_calls-to-action.html.erb
  app/webpacker/styles/call-to-action.scss
Labels: ruby, Review, Style, content

#2975 Add a HeadingComponent to standardise headings
  app/components/calls_to_action/homepage_component.html.erb
  app/components/calls_to_action/promo/left_section.html.erb
  app/components/calls_to_action/promo/left_section.rb
  app/components/calls_to_action/promo/right_section.html.erb
  app/components/content/heading_component.rb
  app/views/content/funding-and-support/_why-teach.html.erb
  app/views/content/is-teaching-right-for-me/_get_school_experience.html.erb
  app/views/content/non-uk-teachers/_why-teach.html.erb
  app/views/content/non-uk-teachers/promos/_events-promo-iqts.html.erb
  app/views/content/train-to-be-a-teacher/_why-teach.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-apply.html.erb
  app/views/errors/forbidden.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/steps.html.erb
  app/webpacker/styles/category.scss
  app/webpacker/styles/components/promo.scss
  app/webpacker/styles/headings.scss
  docs/content.md
  spec/components/calls_to_action/promo/promo_component_spec.rb
  spec/components/content/heading_component_spec.rb
Labels: ruby, test, Review, Style, content
