Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-07, with the labels that each got.

#2638 updating international email address
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2656 Fix 302 redirect on root sign up path
  Gemfile.lock
Labels: Review

#2645 Handle when event is returned as nil
  app/controllers/teaching_events_controller.rb
  config/redirects.yml
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review, Config

#2564 New-fund-your-training
  app/components/funding_widget_component.html.erb
  app/controllers/pages_controller.rb
  app/views/callbacks/steps/completed.html.erb
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/blog/how-to-fund-your-teacher-training.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/funding-and-support.md
  app/views/content/funding-and-support/_hero.html.erb
  app/views/content/funding-and-support/_nav-cards.html.erb
  app/views/content/funding-and-support/_questions.html.erb
  app/views/content/funding-and-support/_why-teach.html.erb
  app/views/content/funding-and-support/if-you-come-from-outside-england.md
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/promos/_events-near-you.html.erb
  app/views/content/funding-and-support/promos/_find-your-course.html.erb
  app/views/content/funding-and-support/promos/_find-your-undergraduate-course.html.erb
  app/views/content/funding-and-support/promos/_get-adviser-funding-promo.html.erb
  app/views/content/funding-and-support/promos/_get-adviser-support-promo.html.erb
  app/views/content/funding-and-support/promos/_mailing-list-promo.html.erb
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-your-training.md
  app/views/content/home/_directory.html.erb
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/returning-to-teaching.md
  app/views/content/steps-to-become-a-teacher/_step_3_learn_about_funding.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/tips-on-applying-for-teacher-training.md
  app/views/content/train-to-be-a-teacher.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-experience.md
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/errors/not_found.html.erb
  app/views/event_steps/completed.html.erb
  app/views/mailing_list/steps/completed.html.erb
  config/redirects.yml
  config/routes.rb
  docs/content.md
  spec/components/funding_widget_component_spec.rb
  spec/features/funding_widget_spec.rb
Labels: ruby, test, Review, content, Config, policy sign off

#2659 removing TTT event info from promo
  app/views/content/train-to-be-a-teacher/promos/_events-near-you.html.erb
Labels: ruby, Review, content

#2660 updating nav descriptions
  app/views/content/funding-and-support/_nav-cards.html.erb
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
Labels: ruby, Review, content

#2664 Adjust line-height of hero text
  app/webpacker/styles/sections/hero.scss
Labels: Review, Style

#2663 Break-word on long event links
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2661 uploading career countdown report
  app/views/content/research.md
  app/webpacker/documents/career-countdown-campaign-teaching-report.pdf
Labels: Review, content

#2666 Remove unused nav-cards partials
  app/views/content/funding-and-support/_nav-cards.html.erb
  app/views/content/non-uk-teachers/_nav-cards.html.erb
  app/views/content/train-to-be-a-teacher/_nav-cards.html.erb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: ruby, Review, content

#2665 Move funding widget below first content block
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
Labels: ruby, Review, content

#2667 Fix low contrast on list summary
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2669 Various dependency updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2644 Restrict goal completion to live/viewable events
  app/controllers/event_steps_controller.rb
  app/models/event_status.rb
  app/models/events/wizard.rb
  spec/features/breadcrumbs_spec.rb
  spec/models/event_status_spec.rb
  spec/models/events/wizard_spec.rb
  spec/requests/event_steps_controller_spec.rb
Labels: ruby, test, Review

#2670 Add heading to upcoming non-TTT events
  app/views/teaching_events/index.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2658 Added direct link to eligibility checker
  app/views/content/assessment-only-providers/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#2662 Add component for displaying inset text
  app/components/content/inset_text_component.html.erb
  app/components/content/inset_text_component.rb
  app/views/content/blog/grasp-every-opportunity.md
  app/views/content/blog/nqt-to-head-of-biology.md
  app/views/content/blog/salaried-teacher-training-classroom-learning.md
  app/webpacker/styles/colours.scss
  app/webpacker/styles/components/inset-text.scss
  app/webpacker/styles/git.scss
  docs/content.md
  lib/template_handlers/markdown.rb
  spec/components/content/inset_text_component_spec.rb
  spec/components/previews/content/inset_text_component_preview.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test, Review, Style, content

#2643 personalising non uk teachers and train to be a teacher promos
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/promos/_adviser-promo-iqts.html.erb
  app/views/content/non-uk-teachers/promos/_adviser-promo-returners.html.erb
  app/views/content/non-uk-teachers/promos/_adviser-promo-teach-in-england.html.erb
  app/views/content/non-uk-teachers/promos/_adviser-promo-training-in-england.html.erb
  app/views/content/non-uk-teachers/promos/_events-promo-iqts.html.erb
  app/views/content/non-uk-teachers/promos/_find-your-course.html.erb
  app/views/content/non-uk-teachers/promos/_find-your-undergraduate-course.html.erb
  app/views/content/non-uk-teachers/promos/_mailing-list-promo.html.erb
  app/views/content/non-uk-teachers/promos/promos/_learn-adviser-promo.html.erb
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/support-for-early-career-teachers.md
  app/views/content/teaching-internship-providers.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-experience.md
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-apply.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-assessment-only.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-career-changers.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-ect.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-internships.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-itt.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-course.html.erb
Labels: ruby, Review, content

#2675 Remove duplicate redirects
  config/redirects.yml
Labels: Review, Config

#2672 Whitelist Reddit pixel in CSP
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#2671 expanding acronyms in content
  app/views/content/accessibility.md
  app/views/content/assessment-only-providers.md
  app/views/content/assessment-only-providers/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/going-back-and-giving-back.md
  app/views/content/blog/how-to-ace-a-video-interview.md
  app/views/content/blog/how-to-fund-your-teacher-training.md
  app/views/content/blog/jills-story-getting-back-into-the-classroom.md
  app/views/content/blog/my-career-change-to-teaching.md
  app/views/content/blog/my-first-week-as-a-trainee-teacher.md
  app/views/content/blog/no-two-days-are-the-same.md
  app/views/content/blog/returning-to-teaching-with-international-experience.md
  app/views/content/blog/stephens-return-to-teaching-story.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/views/content/covid-19.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_check-your-eligibility.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_find-your-next-role.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_research-visas-and-immigration.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/tips-on-applying-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-experience.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
  app/views/content/welcome/my-journey-into-teaching/_introduction.html.erb
  app/views/content/what-is-a-pgce.md
  app/views/content/what-is-qts.md
  app/views/teaching_events/index.html.erb
  spec/requests/welcome_guide_spec.rb
Labels: ruby, test, Review, content

#2636 Ukrainian placeholder
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content, policy sign off

#2678 Still time to apply
  app/views/content/blog/7-things-to-include-in-your-teacher-training-application.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
Labels: Review, content

#2677 adding qts and rewording copy
  app/views/content/steps-to-become-a-teacher/_step_1_decide_who_to_teach.html.erb
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
Labels: ruby, Review, content

#2682 Link to Ukraine Embassy
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#2679 removing old funding and tips pages
  app/views/content/funding-your-training.md
  app/views/content/tips-on-applying-for-teacher-training.md
  config/redirects.yml
Labels: Review, content, Config

#2640 updating RTTA subject content
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_support-for-teachers-of-secondary-subjects.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/returning-to-teaching.md
  app/views/content/teacher-training-advisers.md
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
Labels: ruby, Review, content

#2686 Update AO page for three providers
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2687 Add figures are for 2021/22 academic year message
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#2690 Fix baseimage issues for ncurses,libssl,libcrypto
  Dockerfile
Labels: docker, Review

#2691 Unpublish urgent call to arms page
  app/components/footer_component.html.erb
  app/views/content/home.md
  app/views/content/home/_directory.html.erb
  app/views/content/home/_urgent-call.html.erb
  app/views/content/returning-to-teaching.md
  app/views/content/urgent-call-for-qualified-teachers.md
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
  app/views/content/urgent-call-for-qualified-teachers/_list.html.erb
  app/views/content/urgent-call-for-qualified-teachers/_preamble.html.erb
  config/redirects.yml
Labels: ruby, Review, content, Config

#2676 Update wizard to use new repo/gem
  Gemfile
  Gemfile.lock
  app/controllers/callbacks/steps_controller.rb
  app/controllers/event_steps_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  app/models/callbacks/steps/callback.rb
  app/models/callbacks/steps/matchback_failed.rb
  app/models/callbacks/steps/personal_details.rb
  app/models/callbacks/steps/privacy_policy.rb
  app/models/callbacks/steps/talking_points.rb
  app/models/callbacks/wizard.rb
  app/models/events/steps/contact_details.rb
  app/models/events/steps/further_details.rb
  app/models/events/steps/personal_details.rb
  app/models/events/steps/personalised_updates.rb
  app/models/events/wizard.rb
  app/models/mailing_list/steps/already_subscribed.rb
  app/models/mailing_list/steps/degree_status.rb
  app/models/mailing_list/steps/name.rb
  app/models/mailing_list/steps/postcode.rb
  app/models/mailing_list/steps/privacy_policy.rb
  app/models/mailing_list/steps/subject.rb
  app/models/mailing_list/steps/teacher_training.rb
  app/models/mailing_list/wizard.rb
  spec/models/callbacks/steps/personal_details_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/support/wizard_support.rb
Labels: ruby, test, Review

#2696 Clean up School Experience redirects
  config/redirects.yml
Labels: Review, Config

#2698 Subject knowledge enhancement redirects clean up
  config/redirects.yml
Labels: Review, Config
