Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-04, with the labels that each got.

#2417 Tidied up links
  app/views/content/international-qualified-teacher-status.md
  app/views/content/international-qualified-teacher-status/_complete-your-training.md
  app/views/content/international-qualified-teacher-status/_next-steps-for-candidates.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2420 Added full stops to all Contact sentences
  app/views/content/international-returners/_after-accordion.md
Labels: Review, content

#2422 Make urgent call banner less imposing
  app/views/content/home.md
  app/views/content/home/_urgent-call.html.erb
  app/views/layouts/home.html.erb
  app/webpacker/styles/home.scss
Labels: ruby, Review, Style, content

#2424 Update international-qualified-teacher-status.md
  app/views/content/international-qualified-teacher-status.md
Labels: Review, content

#2423 Add googleapis.com to CSP for Google Maps
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#2425 Add iqts redirect
  config/redirects.yml
Labels: Review, Config

#2426 Apply teaching internships spreadsheet updates
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#2430 Add life lessons report to research page
  app/views/content/research.md
  app/webpacker/documents/life-lessons-learnt-campaign-teaching.pdf
Labels: Review, content

#2431 Prevent duplicate canonical tags on events pages
  app/helpers/text_formatting_helper.rb
  app/views/sections/_head.html.erb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/show.html.erb
  spec/helpers/text_formatting_helper_spec.rb
Labels: ruby, test, Review

#2427 April ruby dependabot updates
  Gemfile
  Gemfile.lock
Labels: Review

#2428 Prevent pages from being indexed by search engines
  app/controllers/application_controller.rb
  app/controllers/callbacks/steps_controller.rb
  app/controllers/cookie_preferences_controller.rb
  app/controllers/event_steps_controller.rb
  app/controllers/mailing_list/steps_controller.rb
  app/controllers/robots_controller.rb
  app/controllers/searches_controller.rb
  app/views/content/thank-you.md
  spec/requests/callbacks/steps_controller_spec.rb
  spec/requests/cookie_preferences_controller_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/robots_controller_spec.rb
  spec/requests/searches_controller_spec.rb
  spec/support/matchers/be_indexed_matcher.rb
Labels: ruby, test, Review, content

#2437 Updated script params in rm-developers workflow
  .github/workflows/rm-developers.yml
Labels: DevOps, Review

#2442 Migrate non-production secrets to Azure keyvault
  .env.userresearch
  .rubocop.yml
  Gemfile
  config/application.rb
  config/credentials/pagespeed.yml.enc
  config/credentials/preprod.yml.enc
  config/credentials/rolling.yml.enc
  config/credentials/userresearch.yml.enc
  config/environments/userresearch.rb
  config/skylight.yml
Labels: ruby, Review, Config

#2443 Migrate production secrets to Azure keyvault
  config/credentials/production.yml.enc
Labels: ruby, Review, Config

#2436 Ruby 3.1.1
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  app/components/content/image_component.rb
  app/controllers/pages_controller.rb
  app/helpers/image_helper.rb
  app/models/events/search.rb
  app/models/mailing_list/wizard.rb
  app/models/search.rb
  app/presenters/content/component_injector.rb
  app/presenters/teaching_events/event_presenter.rb
  app/validators/email_format_validator.rb
  app/validators/postcode_validator.rb
  app/validators/telephone_validator.rb
  app/views/callbacks/steps/_callback.html.erb
  app/views/teaching_events/show/_event-image.html.erb
  config/initializers/cookie_store.rb
  lib/acronyms.rb
  lib/asset_checker.rb
  lib/template_handlers/markdown.rb
  spec/components/calls_to_action/attachment_component_spec.rb
  spec/components/calls_to_action/homepage_component_spec.rb
  spec/components/calls_to_action/simple_component_spec.rb
  spec/components/calls_to_action/story_component_spec.rb
  spec/helpers/image_helper_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
  spec/support/page_testing_support.rb
Labels: ruby, docker, test, Review, Config

#2439 April JS Dependabot updates
  package.json
  yarn.lock
Labels: Review

#2444 Migrate local development secrets to Azure
  .env.development
  .env.development.yml
  .gitignore
  Makefile
  config/credentials/development.yml.enc
  docs/configuration.md
  docs/setup-development.md
Labels: Review, Config

#2448 April gem updates (part 2)
  Gemfile
  Gemfile.lock
Labels: Review

#2452 Remove references to Rails credentials
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/git_api_client.rb
  config/initializers/sentry.rb
  lib/page_speed_score.rb
  spec/lib/page_speed_score_spec.rb
Labels: ruby, test, Review, Config

#2453 Update devcontainer base to Ruby 3.1 (Bullseye)
  .devcontainer/devcontainer.json
Labels: Review

#2438 Add manchester university Find link
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content

#2455 Yet more dependabot updates (April 2022)
  Gemfile
  Gemfile.lock
Labels: Review

#2459 Upgrade to Rails 7.0.2.3
  Gemfile
  Gemfile.lock
  spec/views/searches/show.html.erb_spec.rb
Labels: test, Review

#2456 Fix accessibility issue on events list
  app/views/event_categories/show.html.erb
  app/views/events/_event.html.erb
  app/views/events/_event_group.html.erb
  app/views/internal/events/index.html.erb
  app/webpacker/styles/events.scss
Labels: ruby, Review, Style

#2460 Use Rails 7 defaults
  app/controllers/pages_controller.rb
  config/application.rb
Labels: ruby, Review, Config

#2457 Ensure canonical tags match sitemap
  app/controllers/sitemap_controller.rb
Labels: ruby, Review

#2461 More JavaScript updates (April 2022)
  package.json
  yarn.lock
Labels: Review

#2464 Omit pages that are noindexed from site search results
  app/models/search.rb
  spec/fixtures/files/markdown_content/noindex.md
  spec/models/search_spec.rb
Labels: ruby, test, Review

#2465 Remove A/B test pages
  app/views/content/test.md
  app/views/content/test/a.md
  app/views/content/test/b.md
  spec/requests/pages_controller_spec.rb
Labels: test, Review, content

#2466 AO updates 2022-04-14
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2462 Fix mobile usability issues
  app/webpacker/styles/components/breadcrumb.scss
  app/webpacker/styles/header/menu-button.scss
Labels: Review, Style

#2468 Perform full page load on search selection
  app/webpacker/controllers/searchbox_controller.js
Labels: Review

#2470 removing top CTA on TTA page
  app/views/content/teacher-training-advisers.md
Labels: Review, content

#2472 Build permissions for dependabot
  .github/workflows/build.yml
Labels: DevOps, Review

#2475 Update AO page for three providers
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2477 Add workflow to bust docker cache
  .github/workflows/build-no-cache.yml
Labels: DevOps, Review

#2478 Add an aria-label to the primary nav
  app/components/header/navigation_component.html.erb
Labels: ruby, Review

#2480 Remove references to ACTIONS-API-ACCESS-TOKEN
  .github/workflows/build.yml
  .github/workflows/sha.yml
Labels: DevOps, Review

#2481 Move SKYLIGHT_ENV into repository
  .env.pagespeed
  .env.preprod
  .env.production
  .env.rolling
Labels: Review

#2482 Update AO page for Havering and Somerset
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2463 Transition to search box on click
  app/components/footer/video_player_component.html.erb
  app/components/header/extra_navigation_component.html.erb
  app/components/header/navigation_component.html.erb
  app/components/header_component.html.erb
  app/views/components/_videoplayer.html.erb
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/images/icon-mail.svg
  app/webpacker/images/icon-search.svg
  app/webpacker/styles/header.scss
  app/webpacker/styles/header/extra-navigation.scss
  app/webpacker/styles/header/logo.scss
  app/webpacker/styles/icons.scss
  app/webpacker/styles/video.scss
  spec/javascript/controllers/searchbox_controller_spec.js
  spec/javascript/controllers/video_controller_spec.js
Labels: ruby, test, Review, Style

#2483 Update to Ruby 3.1.2
  .ruby-version
  Dockerfile
  Gemfile.lock
  docs/mac-setup.md
Labels: docker, Review
