Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-01, with the labels that each got.

#2107 Refactor remaining constants into OptionSet class
  app/helpers/welcome_helper.rb
  app/models/option_set.rb
  config/initializers/extensions.rb
  lib/extensions/get_into_teaching_api_client/constants.rb
  spec/factories/mailing_list/degree_status_factory.rb
  spec/factories/mailing_list/teacher_training_factory.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/welcome_helper_spec.rb
  spec/models/mailing_list/steps/degree_status_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/teacher_training_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/option_set_spec.rb
  spec/support/api_support.rb
  spec/support/wizard_support.rb
Labels: ruby, test, Review, Config

#2128 Add guidance re blog post layout
  docs/content.md
Labels: Review

#2126 Same link text going to multiple destinations
  app/views/content/accessibility.md
  app/views/content/get-school-experience.md
  app/views/content/research.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2127 Remove and reorganise photos
  app/views/content/home/_calls-to-action.html.erb
  app/views/content/my-story-into-teaching.md
  app/views/content/my-story-into-teaching/career-changers.md
  app/views/content/my-story-into-teaching/career-changers/police-officer-to-pe-teacher.md
  app/webpacker/images/content/events-hero-mob.jpg
  app/webpacker/images/content/events-hero-mob@2x.jpg
  app/webpacker/images/content/funding-hero-mob.jpg
  app/webpacker/images/content/funding-hero-mob@2x.jpg
  app/webpacker/images/content/home-karen.jpg
  app/webpacker/images/content/home-quote.jpg
  app/webpacker/images/content/home-steps.jpg
  app/webpacker/images/content/home-tta.jpg
  app/webpacker/images/content/homepage/science-teacher.jpg
  app/webpacker/images/content/homepage/teacher-training-adviser.jpg
  app/webpacker/images/content/karen-f-home.jpg
  app/webpacker/images/content/life-as-a-teacher-header.jpg
  app/webpacker/images/content/main-header.jpg
  app/webpacker/images/content/my-story-hero-mob.jpg
  app/webpacker/images/content/my-story-hero-mob@2x.jpg
  app/webpacker/images/content/piclink1.jpg
  app/webpacker/images/content/piclink2.jpg
  app/webpacker/images/content/piclink3.jpg
  app/webpacker/images/content/steps-hero-mob.jpg
  app/webpacker/images/content/steps-hero-mob@2x.jpg
  app/webpacker/images/content/steps-to-teacher-header.jpg
  app/webpacker/images/content/stories-karen.jpg
  app/webpacker/images/content/stories/a-day-in-the-life-of-a-teacher.jpg
  app/webpacker/images/content/teaching-as-a-career-hero-mob.jpg
  app/webpacker/images/content/teaching-as-a-career-hero-mob@2x.jpg
  app/webpacker/images/content/victoria.jpg
  app/webpacker/images/events-hero-mob.jpg
  app/webpacker/images/events-hero-mob@2x.jpg
  app/webpacker/images/featured-3.jpg
  app/webpacker/images/home-events.jpg
  app/webpacker/images/map-screen.jpg
  app/webpacker/images/piclink1.jpg
  spec/components/content/quote_component_spec.rb
  spec/components/previews/content/quote_component_preview.rb
Labels: ruby, test, Review, content

#2144 Removing Christmas contact hours from chat component
  app/components/cards/chat_online_component.rb
  app/components/footer/talk_to_us_component.html.erb
  app/views/content/funding-your-training.md
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/eligibility_checker/show.html.erb
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby, Review, content

#2147 Batch update of node modules Jan 2022
  package.json
  yarn.lock
Labels: Review

#2146 Add homepage CTA for the urgent call for teachers
  app/components/header_component.html.erb
  app/components/header_component.rb
  app/views/content/home/_urgent-call.html.erb
  app/views/layouts/home.html.erb
  app/webpacker/styles/home.scss
  spec/components/header_component_spec.rb
Labels: ruby, test, Review, Style, content

#2153 Simplify urgent call CSS and centre text on desktop
  app/webpacker/styles/home.scss
Labels: Review, Style

#2119 Update to v2 of the API client
  Gemfile
  Gemfile.lock
  app/models/callbacks/wizard.rb
  app/models/concerns/api_model_convertible.rb
  app/models/events/wizard.rb
  app/models/internal/event.rb
  app/models/mailing_list/wizard.rb
  app/models/wizard/api_client_support.rb
  app/presenters/events/group_presenter.rb
  config/initializers/git_api_client.rb
  spec/features/book_callback_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/callback_helper_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/lib/attribute_filter_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/concerns/api_model_convertible_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/support/callback_booking_quotas.rb
  spec/support/spec_helpers/events.rb
Labels: ruby, test, Review, Config

#2152 Check Service Principal
  .github/workflows/check_sp.yml
Labels: DevOps, Review

#2154 Update teaching agencies with today's file
  app/views/content/urgent-call-for-qualified-teachers.md
Labels: Review, content

#2101 Welcome guide post-golive tweaks
  app/helpers/welcome_content_helper.rb
  app/helpers/welcome_helper.rb
  app/models/teaching_subject.rb
  app/views/content/welcome/landing/_did-you-know.html.erb
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/welcome/landing/_subject-specific-story.html.erb
  app/webpacker/styles/welcome-guide.scss
  spec/features/event_wizard_spec.rb
  spec/helpers/welcome_content_helper_spec.rb
  spec/helpers/welcome_helper_spec.rb
  spec/requests/welcome_guide_spec.rb
Labels: ruby, test, Review, Style, content

#2103 publish-seven-things-application
  app/views/content/blog/7-things-to-include-in-your-teacher-training-application.md
  app/webpacker/images/content/blog/bedfordshire.jpg
  app/webpacker/images/content/blog/thumbnails/bedfordshire-thumbnail.jpg
Labels: Review, content

#2115 Rework the enter verification code step
  app/views/callbacks/steps/_authenticate.html.erb
  app/views/callbacks/steps/_form.html.erb
  app/views/event_steps/_authenticate.html.erb
  app/views/event_steps/_form.html.erb
  app/views/mailing_list/steps/_already_subscribed.html.erb
  app/views/mailing_list/steps/_authenticate.html.erb
  app/views/mailing_list/steps/_form.html.erb
  app/views/wizard/steps/_authenticate.html.erb
  app/webpacker/styles/registration.scss
  config/locales/en.yml
  spec/features/book_callback_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review, Style, Config

#2156 Remove ViewComponent's engine loading
  config/application.rb
Labels: ruby, Review, Config

#2159 Make event location text line up with other text
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2161 Updating FAQ page to reflect changes in FAQ document
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
Labels: ruby, Review, content

#2158 Use formatted_event_description helper
  app/views/teaching_events/show/_event-summary.html.erb
Labels: ruby, Review

#2163 Updating ways to train page based on TTA feedback
  app/views/content/ways-to-train.md
Labels: Review, content, policy sign off

#2155 Add blog fellowship of teachers
  app/views/content/blog/the-fellowship-of-teachers.md
  app/webpacker/images/content/blog/fellowship.jpg
  app/webpacker/images/content/blog/thumbnails/fellowship-thumbnail.jpg
Labels: Review, content

#2168 Apply agency updates from 2022-01-10
  app/views/content/urgent-call-for-qualified-teachers.md
Labels: Review, content

#2169 Enable the /teaching-events route
  config/routes.rb
Labels: ruby, Review, Config

#2172 Ensure the teaching events pages are noindexed
  app/controllers/teaching_events_controller.rb
Labels: ruby, Review

#2173 Import latest agency changes - 2022-01-11
  app/views/content/urgent-call-for-qualified-teachers.md
Labels: Review, content

#2171 Teaching events visual tweaks
  app/components/teaching_events/event_component.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2170 Enable Sentry for JS exceptions
  app/helpers/application_helper.rb
  app/views/sections/_head.html.erb
  app/webpacker/packs/application.js
  config/initializers/secure_headers.rb
  package.json
  spec/helpers/application_helper_spec.rb
  spec/requests/sentry_js_spec.rb
  yarn.lock
Labels: ruby, test, Review, Config

#2174 Amend TTT description
  app/views/teaching_events/index.html.erb
Labels: ruby, Review

#2167 Change 'Teaching events' to 'Teacher training events'
  app/components/header_component.html.erb
  app/controllers/events_controller.rb
  app/views/content/home/_calls-to-action.html.erb
  app/webpacker/styles/call-to-action.scss
  config/locales/loaf.yml
Labels: ruby, Review, Style, content, Config

#2175 Enable Google Optimize in production
  .env.production
Labels: Review

#2178 Increase the events query limit
  app/models/teaching_events/search.rb
Labels: ruby, Review

#2176 Enable Sentry for client-side errors in production
  app/helpers/application_helper.rb
  app/views/sections/_head.html.erb
  app/webpacker/packs/application.js
  app/webpacker/packs/sentry.js
  spec/helpers/application_helper_spec.rb
  spec/requests/sentry_js_spec.rb
Labels: ruby, test, Review

#2180 Fix error caused by bad postcodes and no distance
  app/models/teaching_events/search.rb
  spec/models/teaching_events/search_spec.rb
Labels: ruby, test, Review

#2181 Add files via upload- career change report
  app/webpacker/documents/be-the-career-change.pdf
Labels: Review

#2182 Uploaded be the change report
  app/views/content/research.md
Labels: Review, content

#2183 Disable Sentry for client-side errors in production
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review

#2184 Add app_instance label to all metrics
  .env.test
  config/initializers/instrumentation.rb
  lib/prometheus/metrics.rb
  spec/lib/prometheus/metrics_spec.rb
Labels: ruby, test, Review, Config

#2099 Subject specific maths page
  app/components/subject_specific/header_component.html.erb
  app/components/subject_specific/header_component.rb
  app/components/subject_specific/text_block_with_one_image_component.html.erb
  app/components/subject_specific/text_block_with_one_image_component.rb
  app/components/subject_specific/text_block_with_two_images_component.html.erb
  app/components/subject_specific/text_block_with_two_images_component.rb
  app/controllers/pages_controller.rb
  app/views/content/subjects/maths.md
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/subjects/maths/_header.html.erb
  app/views/layouts/minimal.html.erb
  app/webpacker/styles/badges.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/subject-specific.scss
  app/webpacker/styles/subject-specific/_article.scss
  app/webpacker/styles/subject-specific/_header.scss
  app/webpacker/styles/subject-specific/_quote.scss
  app/webpacker/styles/subject-specific/_text-blocks-with-images.scss
  app/webpacker/styles/ways-to-train.scss
  spec/components/subject_specific/header_component_spec.rb
  spec/components/subject_specific/text_block_with_one_image_component_spec.rb
  spec/components/subject_specific/text_block_with_two_images_component_spec.rb
Labels: ruby, test, Review, Style, content, policy sign off

#2186 Add GoogleApis to connect-src CSP directive
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#2185 Only apply the abbr substitution in paragraphs
  lib/acronyms.rb
  spec/lib/acronyms_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test, Review

#2160 International amend to funding your training
  app/views/content/funding-your-training.md
Labels: Review, content

#2189 Improve GitHub Workflows
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
Labels: DevOps, Review

#2166 Updating QTS page for SEO
  app/views/content/early-years-teaching-training.md
  app/views/content/funding-your-training.md
  app/views/content/ways-to-train.md
  app/views/content/what-is-qts.md
Labels: Review, content, policy sign off

#2196 Allow deployments when OWASP step fails
  .github/workflows/build.yml
Labels: DevOps, Review

#2100 edited some wording in AO intro and link text
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2197 Fix missing review App
  .github/workflows/build.yml
Labels: DevOps, Review

#2193 Move teaching events over to new icons
  app/webpacker/images/content/icons/icon-calendar.svg
  app/webpacker/images/content/icons/icon-location.svg
  app/webpacker/images/content/icons/icon-online.svg
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2195 Add alt text for the events signup wizard image
  app/views/layouts/registration_with_image_above.html.erb
Labels: ruby, Review

#2198 Make badges all purple and remove slanted edge
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/ways-to-train.md
  app/webpacker/styles/badges.scss
  app/webpacker/styles/ways-to-train.scss
Labels: ruby, Review, Style, content

#2190 Make deployment workflow a reusuable action
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
Labels: DevOps, Review

#2194 Fix typo and link in the footer component
  app/components/footer_component.html.erb
Labels: ruby, Review

#2177 Update mailing list sign up postcode step
  app/models/mailing_list/steps/postcode.rb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/mailing_list/steps/_postcode.html.erb
  app/webpacker/packs/govuk/error_summary.js
  app/webpacker/packs/govuk/frontend.js
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
Labels: ruby, test, Review, Config

#2203 Composite Actions Need Shell
  .github/workflows/actions/owasp/action.yml
Labels: DevOps, Review

#2199 Restyle the puple box, remove black on white text
  app/webpacker/styles/home.scss
Labels: Review, Style

#2201 Adding link to TTAs to CTA Q&A section
  app/views/content/urgent-call-for-qualified-teachers/_faq.html.erb
Labels: ruby, Review, content

#2206 Fix OWASP Action
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
Labels: DevOps, Review

#2164 Centralised store for alt text
  app/components/content/image_component.rb
  app/components/header/hero_component.rb
  app/helpers/blog_helper.rb
  app/helpers/image_helper.rb
  app/models/image.rb
  app/views/content/blog/11-top-tips-for-interview-success.md
  app/views/content/blog/5-reasons-to-attend-a-train-to-teach-event.md
  app/views/content/blog/7-things-to-include-in-your-teacher-training-application.md
  app/views/content/blog/a-diary-of-a-trainee-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/back-to-school-as-a-trainee-teacher.md
  app/views/content/blog/being-myself-in-the-classroom.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/how-to-ace-a-video-interview.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/blog/how-to-find-school-experience.md
  app/views/content/blog/how-to-fund-your-teacher-training.md
  app/views/content/blog/managing-behaviour-in-the-classroom.md
  app/views/content/blog/marias-return-to-teaching-story.md
  app/views/content/blog/my-experience-with-the-national-tutoring-programme.md
  app/views/content/blog/my-first-week-as-a-trainee-teacher.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment.md
  app/views/content/blog/stephens-return-to-teaching-story.md
  app/views/content/blog/the-fellowship-of-teachers.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/views/content/blog/why-i-became-a-teacher.md
  app/views/content/blog/working-to-your-own-beat.md
  app/webpacker/images/content/blog/elliot-bailey-pe-teacher.jpg
  app/webpacker/images/content/blog/jan-ashbridge.jpg
  app/webpacker/images/content/blog/leah-kellogg-pe-teacher-and-professional-cricketer.jpg
  app/webpacker/images/content/blog/thumbnails/bedfordshire.jpg
  app/webpacker/images/content/blog/thumbnails/fellowship-thumbnail.jpg
  app/webpacker/images/content/blog/thumbnails/fellowship.jpg
  config/images.yml
  lib/template_handlers/markdown.rb
  spec/components/content/image_component_spec.rb
  spec/features/content_pages_spec.rb
  spec/helpers/blog_helper_spec.rb
  spec/helpers/image_helper_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
  spec/models/image_spec.rb
Labels: ruby, test, Review, content, Config

#2192 Retry Net::ReadTimeout exceptions during test run
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
Labels: test, Review

#1903 Upgrade to Turbo (take 2)
  .eslintrc.js
  .github/workflows/build.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/pages_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/internal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/javascript/google_optimize.js
  app/webpacker/javascript/gtm.js
  app/webpacker/javascript/zendesk_chat_reload.js
  app/webpacker/packs/application.js
  app/webpacker/packs/lazy_images.js
  app/webpacker/styles/components/turbo-progress-bar.scss
  app/webpacker/styles/git.scss
  config/application.rb
  package.json
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/link_controller_spec.js
  spec/javascript/google_optimize_spec.js
  spec/javascript/gtm_spec.js
  yarn.lock
Labels: ruby, docker, test, DevOps, Review, Style, Config

#2208 Remove rotated text
  app/components/calls_to_action/homepage_component.rb
  app/views/content/three-things-to-help-you-get-into-teaching.md
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/campaigns/numbered-headings.scss
  app/webpacker/styles/eligibility-checker.scss
  app/webpacker/styles/featured.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/hero/content.scss
  app/webpacker/styles/video.scss
Labels: ruby, Review, Style, content

#2188 Editing salaries and benefits page for SEO
  app/views/content/salaries-and-benefits.md
Labels: Review, content, policy sign off

#2212 Bump to Rails 6.1.4.4
  Gemfile
  Gemfile.lock
Labels: Review

#2213 Apply agency list updates from 2022-01-19
  app/views/content/urgent-call-for-qualified-teachers.md
Labels: Review, content

#2215 Removed reference to Transititon to Teach
  app/views/content/ways-to-train.md
Labels: Review, content

#2204 Update teaching events to teacher training events
  app/controllers/teaching_events_controller.rb
  app/views/content/get-school-experience.md
  app/views/content/three-things-to-help-you-get-into-teaching.md
Labels: ruby, Review, content

#2214 Add basic Codespaces setup and config
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
  Procfile.dev
  bin/dev
  config/environments/development.rb
Labels: ruby, Review, Config

#2219 Add presentations to about ttt events page
  app/views/teaching_events/about_ttt_events.html.erb
Labels: ruby, Review

#2221 Make teaching events attend guidance match events
  app/presenters/teaching_events/event_presenter.rb
  app/views/events/show.html.erb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_how-to-attend.html.erb
  spec/features/teaching_events/viewing_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
Labels: ruby, test, Review

#2228 Only send virtual page view on Turbo page change
  app/webpacker/javascript/gtm.js
  spec/javascript/gtm_spec.js
Labels: test, Review

#2157 Make welcome guide use path instead of query
  app/controllers/pages_controller.rb
  app/helpers/welcome_helper.rb
  app/models/mailing_list/wizard.rb
  app/models/option_set.rb
  config/routes.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/option_set_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/welcome_guide_spec.rb
Labels: ruby, test, Review, Config

#2083 Moving Jill's story blog post into new blog
  app/views/content/blog/jills-story-getting-back-into-the-classroom.md
  app/webpacker/images/content/blog/jill.jpg
  app/webpacker/images/content/blog/thumbnails/jill.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#2234 Remove default Prometheus Collector middleware
  config.ru
Labels: Review

#2235 Prevent welcome guide strings with spaces
  app/models/mailing_list/wizard.rb
  spec/models/mailing_list/wizard_spec.rb
Labels: ruby, test, Review

#2225 Added link to FE
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
Labels: ruby, Review, content

#2218 Adding backlinks to maths page
  app/components/funding_widget_component.html.erb
  app/components/funding_widget_component.rb
  app/views/content/blog/a-diary-of-a-trainee-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/stephens-return-to-teaching-story.md
  app/views/content/teaching-internship-providers/_listing.html.erb
  config/locales/en.yml
  spec/components/funding_widget_component_spec.rb
Labels: ruby, test, Review, content, Config

#2229 Rollback Turbo update
  .eslintrc.js
  Gemfile
  Gemfile.lock
  app/controllers/pages_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/internal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/javascript/google_optimize.js
  app/webpacker/javascript/gtm.js
  app/webpacker/javascript/zendesk_chat_reload.js
  app/webpacker/packs/application.js
  app/webpacker/packs/lazy_images.js
  app/webpacker/styles/components/turbolinks-progress-bar.scss
  app/webpacker/styles/git.scss
  package.json
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/link_controller_spec.js
  spec/javascript/google_optimize_spec.js
  spec/javascript/gtm_spec.js
  yarn.lock
Labels: ruby, test, Review, Style

#2223 Remove automatic heading punctuation
  app/webpacker/styles/components/mixins/headings.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/urgent-call-for-qualified-teachers.scss
Labels: Review, Style

#2237 Revert "Rollback Turbo update"
  .eslintrc.js
  Gemfile
  Gemfile.lock
  app/controllers/pages_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/internal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/javascript/google_optimize.js
  app/webpacker/javascript/gtm.js
  app/webpacker/javascript/zendesk_chat_reload.js
  app/webpacker/packs/application.js
  app/webpacker/packs/lazy_images.js
  app/webpacker/styles/components/turbo-progress-bar.scss
  app/webpacker/styles/git.scss
  package.json
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/link_controller_spec.js
  spec/javascript/google_optimize_spec.js
  spec/javascript/gtm_spec.js
  yarn.lock
Labels: ruby, test, Review, Style

#2238 Rollback Turbo update
  .eslintrc.js
  Gemfile
  Gemfile.lock
  app/controllers/pages_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/internal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/controllers/link_controller.js
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/javascript/google_optimize.js
  app/webpacker/javascript/gtm.js
  app/webpacker/javascript/zendesk_chat_reload.js
  app/webpacker/packs/application.js
  app/webpacker/packs/lazy_images.js
  app/webpacker/styles/components/turbolinks-progress-bar.scss
  app/webpacker/styles/git.scss
  package.json
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/link_controller_spec.js
  spec/javascript/google_optimize_spec.js
  spec/javascript/gtm_spec.js
  yarn.lock
Labels: ruby, test, Review, Style

#2244 Fix Manual Deployments
  .github/workflows/manual.yml
Labels: DevOps, Review

#2231 Add Matrix
  .github/workflows/check_sp.yml
Labels: DevOps, Review

#2247 Fix a welcome guide attribute bug and make clearer
  app/helpers/welcome_helper.rb
  app/models/mailing_list/wizard.rb
  spec/helpers/welcome_helper_spec.rb
Labels: ruby, test, Review

#2243 Changing based on feedback from the funding team.
  app/views/content/funding-your-training.md
Labels: Review, content

#2230 Increase Instances
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#2217 Adding content to make the user journey clearer
  app/views/content/funding-your-training.md
Labels: Review, content

#2246 Removing-PDF-links-from-international-returners-page
  app/views/content/international-returners.md
  app/views/content/international-returners/_after-accordion.md
  app/views/content/international-returners/_download-info-pack.md
  app/views/content/international-returners/_find-your-next-role.md
Labels: Review, content

#2240 Add section on alt text to the content docs
  docs/content.md
Labels: Review

#2249 Change to arrow icon on homapage
  app/views/content/home/_directory.html.erb
Labels: ruby, Review, content

#2239 Remove underlines from the hero h1
  app/webpacker/styles/sections/hero.scss
Labels: Review, Style
