Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-03, with the labels that each got.

#2352 Apply latest internship provider updates from spreadsheet
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#2340 Update teaching internship providers 2022-02-28
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#2353 Dependabot ruby updates 2022-03
  Gemfile
  Gemfile.lock
Labels: Review

#2339 Fix cumulative layout shift on desktop
  app/views/sections/_head.html.erb
  app/webpacker/controllers/searchbox_controller.js
Labels: ruby, Review

#2354 Dependabot NPM updates 2022-03
  package.json
  yarn.lock
Labels: Review

#2365 Typo fixed
  app/views/content/international-returners/_after-accordion.md
Labels: Review, content

#2368 Fix abbr underline styles on Safari mobile
  app/webpacker/styles/markdown.scss
Labels: Review, Style

#2369 Removing video from returners page
  app/views/content/returning-to-teaching.md
Labels: Review, content

#2371 Migrate Cypress integration tests into the app
  .github/workflows/build.yml
  config/environments/test.rb
  spec/integration/events_spec.rb
  spec/integration/mailing_list_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/spec_helpers/integration.rb
Labels: ruby, test, DevOps, Review, Config

#2367 Updating-content-around-RTTA-eligibility
  app/components/footer/talk_to_us_component.html.erb
  app/views/content/blog/top-tips-for-returning-teachers.md
  spec/components/footer/talk_to_us_component_spec.rb
Labels: ruby, test, Review, content, policy sign off

#2362 Remove external link icons
  app/controllers/application_controller.rb
  app/views/events/show.html.erb
  app/webpacker/controllers/link_controller.js
  app/webpacker/images/icon-external.svg
  app/webpacker/styles/icons.scss
  spec/javascript/controllers/link_controller_spec.js
  spec/requests/external_links_description_spec.rb
Labels: ruby, test, Review, Style

#2375 Make it more obvious which SHA the input wants
  .github/workflows/sha.yml
Labels: DevOps, Review

#2335 Physics-for-engineers-itt
  .erb-lint.yml
  app/views/content/subjects/engineers-teach-physics.md
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/engineers-teach-physics/_header.html.erb
  spec/components/funding_widget_component_spec.rb
Labels: ruby, test, Review, content, policy sign off

#2378 Re-add links to Engineers teach Physics page
  app/views/content/my-story-into-teaching/career-changers/from-construction-site-to-classroom.md
  app/views/content/my-story-into-teaching/career-changers/natural-transition-from-engineering-to-teaching-physics.md
  config/locales/en.yml
Labels: Review, content, Config

#2380 Revert "Bump skylight from 5.2.0 to 5.3.1"
  Gemfile
  Gemfile.lock
Labels: Review

#2377 Change TTA link in step 4
  app/components/calls_to_action/next_steps_component.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_your_course.html.erb
Labels: ruby, Review, content

#2364 Updating-funding-your-training-scholarships-and-bursaries-section
  app/views/content/funding-your-training.md
Labels: ruby, Review, content, policy sign off

#2376 Various Dependabot JS updates
  package.json
  yarn.lock
Labels: Review

#2384 AO detail updates
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2381 Remove alt text from CTA icons
  app/components/calls_to_action/chat_online_component.rb
  app/components/calls_to_action/ect_component.rb
  app/components/calls_to_action/homepage_component.rb
  app/components/calls_to_action/multiple_buttons_component.rb
  app/components/calls_to_action/next_steps_component.rb
  app/components/calls_to_action/simple_component.rb
  app/components/content/generic_block_component.rb
  app/views/callbacks/steps/completed.html.erb
  app/views/content/home/_directory.html.erb
  app/views/errors/not_found.html.erb
  app/views/event_steps/completed.html.erb
  app/views/mailing_list/steps/completed.html.erb
  spec/components/calls_to_action/homepage_component_spec.rb
  spec/components/calls_to_action/multiple_buttons_component_spec.rb
  spec/components/calls_to_action/simple_component_spec.rb
  spec/components/content/generic_block_component_spec.rb
Labels: ruby, test, Review, content

#2373 Events image replace
  app/controllers/events_controller.rb
  app/views/content/home/_calls-to-action.html.erb
  app/webpacker/images/content/hero-images/0025--mobile.jpg
  app/webpacker/images/content/hero-images/0025--tablet.jpg
  app/webpacker/images/content/hero-images/0025.jpg
  app/webpacker/images/content/homepage/here-to-help.jpg
  app/webpacker/styles/call-to-action.scss
  config/images.yml
Labels: ruby, Review, Style, content, Config

#2386 Remove archive event viewing functionality
  app/controllers/event_categories_controller.rb
  app/models/event_status.rb
  app/models/event_type.rb
  app/views/event_categories/show.html.erb
  config/routes.rb
  spec/features/find_an_event_spec.rb
  spec/models/event_status_spec.rb
  spec/models/event_type_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
Labels: ruby, test, Review, Config

#2387 Add redirect from removed archive page to index
  config/redirects.yml
Labels: Review, Config

#2331 Add mermaid flow diagrams to the docs
  docs/event-flow.md
  docs/mailing-list-flow.md
Labels: Review

#2388 making bullet points lowercase and adding RTTA eligibility
  app/views/content/teacher-training-advisers.md
Labels: Review, content

#2392 Apply teaching internship updates from 2021-03-21
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#2389 Fixing-disorderly-headers
  app/views/content/assessment-only-providers.md
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/early-years-teaching-training.md
Labels: Review, content

#2391 Send sub_channel to BAM tracking pixel
  app/models/mailing_list/steps/name.rb
  app/models/mailing_list/wizard.rb
  app/views/mailing_list/steps/_name.html.erb
  app/views/mailing_list/steps/completed.html.erb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
Labels: ruby, test, Review

#2383 Fix typo in meta description and amend link
  app/views/content/subjects/engineers-teach-physics.md
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content

#2395 updating further education email and number
  app/views/content/become-a-further-education-teacher.md
Labels: Review, content

#2397 Updating ECF content
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#2402 Editing tips on applying page
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: Review, content

#2403 Engineers itt providers update
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content

#2405 Update and improve the subject-specific styling
  app/views/content/subjects/maths.md
  app/views/content/subjects/maths/_article.html.erb
  app/webpacker/styles/subject-specific/_header.scss
  app/webpacker/styles/subject-specific/_text-blocks-with-images.scss
Labels: ruby, Review, Style, content
