Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-02, with the labels that each got.

#2250 Editing title and meta description for teaching internships
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/how-to-find-school-experience.md
  app/views/content/get-school-experience.md
  app/views/content/steps-to-become-a-teacher/_step_1_decide_who_to_teach.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/teaching-internship-providers.md
  app/views/content/teaching-internship-providers/_listing.html.erb
  app/webpacker/styles/markdown.scss
Labels: ruby, Review, Style, content

#2262 Increase to 4 instances
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#2263 Gem updates for Feb 2022
  Gemfile
  Gemfile.lock
Labels: Review

#2264 Node package updates for Feb 2022
  package.json
  yarn.lock
Labels: Review

#2270 Gem updates for Feb 2022 (part 2)
  Gemfile
  Gemfile.lock
  config/initializers/rack_attack.rb
Labels: ruby, Review, Config

#2275 Gem updates Feb 2022 part 3
  Gemfile
  Gemfile.lock
Labels: Review

#2248 New Secret Action
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
  .github/workflows/check_sp.yml
  .github/workflows/link_checker.yml
  .github/workflows/manual.yml
  .github/workflows/pagespeed.yml
  .github/workflows/rm-developers.yml
  .github/workflows/snyk.yml
  .github/workflows/trello.yml
Labels: DevOps, Review

#2001 I qts copy test
  app/views/content/international-qualified-teacher-status.md
  app/views/content/international-qualified-teacher-status/_after-accordion.md
  app/views/content/international-qualified-teacher-status/_apply.md
  app/views/content/international-qualified-teacher-status/_check-your-eligibility.md
  app/views/content/international-qualified-teacher-status/_choose-your-training-provider.md
  app/views/content/international-qualified-teacher-status/_complete-your-training.md
  app/views/content/international-qualified-teacher-status/_find-out-about-fees.md
  app/views/content/international-qualified-teacher-status/_next-steps-for-candidates.md
Labels: Review, content

#2281 Updating 'learn more' funding link for 2022/23
  app/views/content/early-years-teaching-training.md
Labels: Review, content

#2282 Update Reading details on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2245 Create my-career-change-to-teaching-ian-wallace
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/my-career-change-to-teaching.md
  app/webpacker/images/content/blog/ian-wallace.jpg
  app/webpacker/images/content/blog/thumbnails/ian-wallace.jpg
  config/images.yml
Labels: Review, content, Config

#2283 Gem updates Feb 2022 (part 4)
  Gemfile
  Gemfile.lock
Labels: Review

#2233 Make past events not viewable
  app/controllers/teaching_events_controller.rb
  app/views/teaching_events/not_found.md
  spec/features/teaching_events/viewing_spec.rb
Labels: ruby, test, Review

#2207 Make location display consistent on teaching events
  app/components/teaching_events/event_component.html.erb
  app/presenters/teaching_events/event_presenter.rb
  app/views/teaching_events/show/_location-and-setting.html.erb
  app/webpacker/styles/teaching-events.scss
  spec/presenters/teaching_events/event_presenter_spec.rb
Labels: ruby, test, Review, Style

#2288 More dependabot gem updates
  Gemfile
  Gemfile.lock
Labels: Review

#2273 Improve Core Web Vitals scores
  app/components/footer_component.html.erb
  app/components/header/extra_navigation_component.html.erb
  app/views/sections/_head.html.erb
  app/webpacker/controllers/searchbox_controller.js
  app/webpacker/styles/blog.scss
  app/webpacker/styles/header/extra-navigation.scss
  app/webpacker/styles/sections/hero.scss
  spec/components/header/extra_navigation_component_spec.rb
  spec/javascript/controllers/searchbox_controller_spec.js
  spec/models/mailing_list/steps/postcode_spec.rb
Labels: ruby, test, Review, Style

#2289 Remove alt text from blog post as it's centralised
  app/views/content/blog/teachers-pension-scheme.md
Labels: Review, content

#2280 add-blog-head-of-science
  app/views/content/blog/the-head-of-science-inspiring-students-in-blackpool.md
  app/webpacker/images/content/blog/jessica-walmsley.jpg
  app/webpacker/images/content/blog/thumbnails/jessica-walmsley.jpg
  config/images.yml
  spec/features/blog_spec.rb
Labels: test, Review, content, Config

#2291 Updated list of providers with new provider
  app/views/content/international-qualified-teacher-status/_choose-your-training-provider.md
Labels: Review, content

#2294 Use Redis for session storage
  Gemfile
  Gemfile.lock
  config/initializers/02_redis.rb
  config/initializers/cookie_store.rb
Labels: ruby, Review, Config

#2260 Delete CODEOWNERS
  .github/CODEOWNERS
Labels: Review

#2300 Ensure all iFrame elements have a title
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/returning-to-teaching.md
  app/views/content/teacher-training-advisers.md
  app/views/sections/_gtm_fallback.html.erb
  docs/content.md
Labels: ruby, Review, content

#2299 Update teaching internship providers
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#2301 Remove page helpful from feedback bar
  app/components/footer/feedback_component.html.erb
  app/webpacker/controllers/feedback_controller.js
  app/webpacker/styles/feedback-bar.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/page-helpful.scss
  spec/components/footer/feedback_component_spec.rb
  spec/javascript/controllers/feedback_controller_spec.js
Labels: ruby, test, Review, Style

#2302 Update AO page for four providers
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2308 Make lychee ignore any email address
  .lycheeignore
Labels: Review

#2303 Make 'Not now' button accessible
  app/components/footer/mailing_list_component.html.erb
Labels: ruby, Review

#2310 Send Perfume.JS events to GA
  app/webpacker/javascript/perfume.js
  app/webpacker/packs/application.js
  package.json
  yarn.lock
Labels: Review

#2304 Run tests in parallel during CI
  .github/workflows/build.yml
  .rubocop.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  lib/tasks/coverage.rake
  spec/requests/redirects_spec.rb
  spec/spec_helper.rb
Labels: ruby, docker, test, DevOps, Review

#2315 Run all tests on deployment workflow
  .github/workflows/build.yml
Labels: DevOps, Review

#2317 Fix build dependency for master run
  .github/workflows/build.yml
Labels: DevOps, Review

#2318 Fix build pipeline
  .github/workflows/build.yml
Labels: DevOps, Review

#2320 Ensure events start and finish on the same day
  app/models/internal/event.rb
  spec/factories/internal/event_factory.rb
  spec/features/internal_spec.rb
  spec/models/internal/event_spec.rb
Labels: ruby, test, Review

#2321 Fix spec causing future time validation to fail
  spec/features/internal_spec.rb
  spec/models/internal/event_spec.rb
Labels: test, Review

#2319 Split dockerfile for test/release
  .github/workflows/build.yml
  Dockerfile
Labels: docker, DevOps, Review

#2324 Add canonical tags to all web pages
  .github/workflows/build.yml
  app/views/sections/_head.html.erb
  config/initializers/canonical_rails.rb
  spec/requests/canonical_urls_spec.rb
Labels: ruby, test, DevOps, Review, Config

#2323 Fix headers in iQTS for accessibility
  app/views/content/international-qualified-teacher-status/_check-your-eligibility.md
  app/views/content/international-qualified-teacher-status/_choose-your-training-provider.md
  app/views/content/international-qualified-teacher-status/_next-steps-for-candidates.md
Labels: Review, content

#2322 Links added to iQTS from international pages
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2325 Add link checker step that posts results to Slack
  .github/workflows/lychee.yml
Labels: DevOps, Review

#2332 Update @sentry/tracing to 6.17.4
  package.json
  yarn.lock
Labels: Review

#2334 Output Broken links to SLACK
  .github/workflows/link_checker.yml
  .github/workflows/lychee.yml
Labels: DevOps, Review

#2333 Improve Network Policies
  .github/workflows/build.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/network.tf
  terraform/paas/pagespeed.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/space.tf
  terraform/paas/test.env.tfvars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#2312 Remove external link checking specs
  docs/link-checking.md
  spec/features/external_links_spec.rb
  spec/features/internal_links_spec.rb
  spec/support/page_testing_support.rb
Labels: test, Review

#2328 editing tips page content
  app/views/content/blog/7-things-to-include-in-your-teacher-training-application.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_your_course.html.erb
  app/views/content/tips-on-applying-for-teacher-training.md
Labels: ruby, Review, content
