Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-12, with the labels that each got.

#2979 Editing if you do not have a degree content
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
Labels: Review, content, policy sign off

#2946 Updates to Ukraine, iQTS and teach in England pages re Apply for QTS …
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3015 Editing link to Find on teach SEND page
  app/views/content/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
Labels: Review, content

#3014 Editing-interview-blog
  app/views/content/blog/11-top-tips-for-interview-success.md
Labels: Review, content

#3003 Change event box colors
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#3004 Update button type to be submit
  app/views/cookie_preferences/show.html.erb
Labels: ruby, Review

#3017 Fix typo on SEND page
  app/views/content/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
Labels: Review, content

#3018 Make book a callback button primary/green
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby, Review

#2978 Include privacy policy notice links on first step of sign up journies
  app/models/callbacks/steps/personal_details.rb
  app/models/callbacks/steps/privacy_policy.rb
  app/models/callbacks/wizard.rb
  app/models/events/steps/further_details.rb
  app/models/events/steps/personal_details.rb
  app/models/mailing_list/steps/name.rb
  app/models/mailing_list/steps/privacy_policy.rb
  app/models/mailing_list/wizard.rb
  app/views/callbacks/steps/_personal_details.html.erb
  app/views/callbacks/steps/_privacy_policy.html.erb
  app/views/event_steps/_further_details.html.erb
  app/views/event_steps/_personal_details.html.erb
  app/views/mailing_list/steps/_name.html.erb
  app/views/mailing_list/steps/_privacy_policy.erb
  config/initializers/rack_attack.rb
  config/locales/en.yml
  spec/factories/callbacks/personal_details_factory.rb
  spec/factories/callbacks/privacy_policy_factory.rb
  spec/factories/callbacks/talking_points_factory.rb
  spec/factories/events/personal_details_factory.rb
  spec/factories/mailing_list/name_factory.rb
  spec/factories/mailing_list/privacy_policy_factory.rb
  spec/factories/mailing_list/subject_factory.rb
  spec/features/book_callback_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/models/callbacks/steps/personal_details_spec.rb
  spec/models/callbacks/steps/privacy_policy_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/steps/privacy_policy_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/requests/circuit_breaker_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/support/api_support.rb
Labels: ruby, test, Review, Config

#3023 Update integration specs for new privacy policy
  spec/integration/integration_spec.rb
Labels: test, Review

#3020 Fix unused promo section
  app/views/content/train-to-be-a-teacher/promos/_events-promo-apply.html.erb
Labels: ruby, Review, content

#3019 Replace images on is teaching right for me page
  app/views/content/is-teaching-right-for-me.md
  app/views/content/is-teaching-right-for-me/_your_career_your_path.html.erb
  app/webpacker/images/content/hero-images/Chemistry_MissObi--mobile.jpg
  app/webpacker/images/content/hero-images/Chemistry_MissObi--tablet.jpg
  app/webpacker/images/content/hero-images/Chemistry_MissObi.jpg
  app/webpacker/images/content/hero-images/M_DFE_Southfeilds_Room_A360_10445--mobile.jpg
  app/webpacker/images/content/hero-images/M_DFE_Southfeilds_Room_A360_10445--tablet.jpg
  app/webpacker/images/content/hero-images/M_DFE_Southfeilds_Room_A360_10445.jpg
  app/webpacker/images/content/is-teaching-right-for-me/History_Class_1.jpg
  app/webpacker/images/content/is-teaching-right-for-me/History_Class_1_promo.jpg
  app/webpacker/images/content/is-teaching-right-for-me/Maths_MrAhmed_1.jpg
  app/webpacker/images/content/is-teaching-right-for-me/collage1.jpg
  app/webpacker/images/content/is-teaching-right-for-me/collage2.jpg
  config/images.yml
  spec/components/content/checklist_collage_component_spec.rb
Labels: ruby, test, Review, content, Config

#3024 Add South West Teacher Training to Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#3030 Remove bursary banner from international student page
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#3029 Update accessibility statement
  app/views/content/accessibility.md
  app/webpacker/documents/dac_git_report.pdf
  spec/presenters/content/call_to_action_component_injector_spec.rb
Labels: test, Review, content

#3035 Update image showing advisers
  app/webpacker/images/content/homepage/teacher-training-adviser.jpg
  app/webpacker/styles/components/promo.scss
  config/images.yml
Labels: Review, Style, Config

#3031 [735] Remove HTTP auth from pagespeed
  .github/workflows/pagespeed.yml
Labels: DevOps, Review

#3028 adding bank holidays to opening hours
  app/components/content/talk_to_us_component.html.erb
  app/components/footer/talk_to_us_component.html.erb
  app/views/content/become-a-further-education-teacher.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby, Review, content

#3044 Changing international funding card description
  app/views/content/funding-and-support/if-you-come-from-outside-england.md
Labels: Review, content

#3002 Creating new pensions information page
  app/views/content/blog/teachers-pension-scheme.md
  app/views/content/salaries-and-benefits.md
  app/views/content/what-pension-does-a-teacher-get.md
  config/redirects.yml
  config/tags.yml
Labels: Review, content, Config

#3045 Fix CSS linting errors
  .github/workflows/build.yml
  .stylelintrc.js
  app/webpacker/styles/application-no-js.scss
  app/webpacker/styles/application.scss
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/blog.scss
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/category.scss
  app/webpacker/styles/colours.scss
  app/webpacker/styles/components/badge.scss
  app/webpacker/styles/components/breadcrumb.scss
  app/webpacker/styles/components/campaign-hero.scss
  app/webpacker/styles/components/checklist-collage.scss
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/components/event-box.scss
  app/webpacker/styles/components/fact-list.scss
  app/webpacker/styles/components/feature-table.scss
  app/webpacker/styles/components/inset-text.scss
  app/webpacker/styles/components/mixins/quote.scss
  app/webpacker/styles/components/pagination.scss
  app/webpacker/styles/components/photo-quote-list.scss
  app/webpacker/styles/components/promo.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/footer.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/google-optimize.scss
  app/webpacker/styles/govuk-reset.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/header/extra-navigation.scss
  app/webpacker/styles/header/logo.scss
  app/webpacker/styles/header/menu-button.scss
  app/webpacker/styles/header/navigation.scss
  app/webpacker/styles/headings.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/icons.scss
  app/webpacker/styles/internal.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/registration/with-side-images.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/sections/hero/content.scss
  app/webpacker/styles/sections/talk-to-us.scss
  app/webpacker/styles/statement.scss
  app/webpacker/styles/teaching-events.scss
  app/webpacker/styles/text.scss
  app/webpacker/styles/vertical-tags.scss
  app/webpacker/styles/welcome-guide.scss
  package.json
  yarn.lock
Labels: DevOps, Review, Style

#3046 Remove Essex Primary SCITT and Cumbria Teacher Training SCITT from Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#3033 Improving TTA promo page
  app/views/content/teacher-training-advisers.md
  app/views/content/teacher-training-advisers/_blog_links.html.erb
  app/webpacker/images/content/blog/thumbnails/david-payling.jpg
Labels: ruby, Review, content

#3042 Updating to add info to internship page
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content

#3049 Update teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#3051 Update teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content
