Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-06, with the labels that each got.

#2572 Update integration text with new postcode text
  spec/integration/mailing_list_spec.rb
Labels: test, Review

#2582 Make the non-UK teacher heading blend with content
  app/views/content/non-uk-teachers.md
Labels: Review, content

#2567 SKE-page
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/tips-on-applying-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
Labels: ruby, Review, content

#2585 Remove space between autocomplete result items
  app/webpacker/styles/header/extra-navigation.scss
Labels: Review, Style

#2587 making why teach caption purple
  app/views/content/non-uk-teachers/_why-teach.html.erb
Labels: ruby, Review, content

#2586 Various Ruby updates June 2022 (part 1)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/components/registration/mailing_list_signup_confirmation_component.rb
  spec/components/content/hero_component_spec.rb
  spec/components/content/image_component_spec.rb
  spec/components/footer/cookie_acceptance_component_spec.rb
  spec/components/registration/mailing_list_signup_confirmation_component_spec.rb
Labels: ruby, test, Review

#2583 Handle invalid IP address gracefully
  lib/cloud_front_ip_filter.rb
  spec/lib/cloud_front_ip_filter_spec.rb
Labels: ruby, test, Review

#2570 Add landmark roles to improve document structure
  app/components/footer_component.html.erb
  app/components/header/breadcrumb_component.html.erb
  app/components/header/extra_navigation_component.html.erb
  app/components/header/navigation_component.html.erb
  app/components/header_component.html.erb
  app/views/errors/not_found.html.erb
  app/views/kaminari/_paginator.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/category.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/internal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/layouts/teaching_event.html.erb
  app/views/layouts/teaching_events.html.erb
  app/views/layouts/welcome.html.erb
  app/views/teaching_events/show.html.erb
Labels: ruby, Review

#2589 JavaScript updates June 2022 (part 1)
  package.json
  yarn.lock
Labels: Review

#2584 setting up redirects for new nav pages
  app/components/funding_widget_component.html.erb
  app/views/callbacks/steps/completed.html.erb
  app/views/content/assessment-only-providers/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  app/views/content/blog/how-to-find-school-experience.md
  app/views/content/blog/my-move-from-canada-to-teach-in-england.md
  app/views/content/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk.md
  app/views/content/get-school-experience.md
  app/views/content/improve-your-subject-knowledge.md
  app/views/content/international-qualified-teacher-status.md
  app/views/content/international-returners.md
  app/views/content/international-returners/_check-your-qualifications.md
  app/views/content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  app/views/content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/returning-to-teaching.md
  app/views/content/steps-to-become-a-teacher/_step_1_decide_who_to_teach.html.erb
  app/views/content/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
  app/views/content/ways-to-train.md
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/eligibility_checker/show.html.erb
  app/views/errors/not_found.html.erb
  app/views/event_steps/completed.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/git.scss
  app/webpacker/styles/ways-to-train.scss
  config/redirects.yml
  spec/features/breadcrumbs_spec.rb
  spec/requests/canonical_urls_spec.rb
  spec/requests/cookie_preferences_controller_spec.rb
  spec/requests/sitemap_controller_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review, Style, content, Config

#2562 Add current page to breadcrumb component
  app/components/header/breadcrumb_component.html.erb
  app/controllers/blog/tag_controller.rb
  app/controllers/blog_controller.rb
  app/controllers/events_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/teaching_events_controller.rb
  app/models/pages/page.rb
  app/webpacker/styles/components/breadcrumb.scss
  spec/components/header/breadcrumb_component_spec.rb
  spec/features/breadcrumbs_spec.rb
Labels: ruby, test, Review, Style

#2593 Make long headers on teaching-events resize better
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2592 Fix broken link checker Slack notifications
  .github/workflows/lychee.yml
Labels: DevOps, Review

#2597 Come to teach in England international redirect
  config/redirects.yml
Labels: Review, Config

#2595 Change the photo on non-UK teachers page
  app/views/content/non-uk-teachers.md
Labels: Review, content

#2604 Fix broken links to University of Birmingham Dubai
  app/views/content/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
Labels: Review, content

#2603 Make the teaching-event quote flush with footer
  app/views/layouts/teaching_event.html.erb
  app/webpacker/styles/category.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2606 Add spacing between blog title and image on listings page
  app/webpacker/styles/blog.scss
Labels: Review, Style

#2601 Move the details descriptions to an expandable box
  app/views/teaching_events/index.html.erb
  app/webpacker/images/content/icons/icon-building.svg
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2602 Make the Scribble box wider
  app/views/teaching_events/show.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#2610 Make the scribble box grow to fill the space
  app/webpacker/styles/teaching-events.scss
Labels: Review, Style

#2607 Adding bohunt education trust link
  app/views/content/blog/my-move-from-canada-to-teach-in-england.md
Labels: Review, content

#2609 Log when we perform a redirect
  config/routes.rb
  spec/requests/redirects_spec.rb
Labels: ruby, test, Review, Config

#2608 Phone line not free from overseas
  app/views/content/international-qualified-teacher-status/_after-accordion.md
  app/views/content/international-qualified-teacher-status/_apply.md
  app/views/content/international-qualified-teacher-status/_next-steps-for-candidates.md
  app/views/content/international-returners/_after-accordion.md
  app/views/content/international-returners/_read-up-on-changes-to-english-education.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_apply.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_check-your-eligibility.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_find-out-about-fees.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_gain-iqts-and-automatic-qts.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_next-steps-for-candidates.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/international-qualified-teacher-status/_check-your-eligibility.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/international-qualified-teacher-status/_find-out-about-fees.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/international-qualified-teacher-status/_gain-iqts-and-automatic-qts.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_check-your-qualifications.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_find-your-next-role.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_get-ready-to-apply.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_get-started-on-your-personal-and-professional-admin.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_read-up-on-changes-to-english-education.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_research-visas-and-immigration.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_support-for-teachers-of-shortage-subjects.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/international-returners/_check-your-qualifications.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/international-returners/_find-your-next-role.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/international-returners/_get-ready-to-apply.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/international-returners/_get-started-on-your-personal-and-professional-admin.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/international-returners/_research-visas-and-immigration.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/international-returners/_support-for-teachers-of-shortage-subjects.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2600 Update logo alt text for accessibility
  app/components/header/logo_component.html.erb
Labels: ruby, Review

#2615 Change Bohunt link to https in Canada blog
  app/views/content/blog/my-move-from-canada-to-teach-in-england.md
Labels: Review, content

#2617 updating events module
  app/views/content/train-to-be-a-teacher/promos/_events-near-you.html.erb
Labels: ruby, Review, content

#2612 Update no results page on teaching events search
  app/helpers/teaching_events_helper.rb
  app/models/teaching_events/search.rb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/index/_filter.html.erb
  app/views/teaching_events/index/_no_results.html.erb
  app/webpacker/styles/teaching-events.scss
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/helpers/teaching_events_helper_spec.rb
  spec/models/teaching_events/search_spec.rb
Labels: ruby, test, Review, Style

#2618 Small subject-specific page tweaks
  app/views/content/subjects/maths/_article.html.erb
  app/webpacker/styles/subject-specific/_article.scss
Labels: ruby, Review, Style, content

#2568 Add warning to top of teaching internships
  app/views/content/teaching-internship-providers.md
  app/views/content/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/webpacker/images/icon-warning.svg
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/icons.scss
Labels: ruby, Review, Style, content

#2622 Whitelist blog tags with a centralised config file
  app/controllers/application_controller.rb
  app/controllers/blog_controller.rb
  app/helpers/content_helper.rb
  app/models/pages/blog.rb
  app/models/pages/content_error.rb
  app/models/pages/post.rb
  app/views/layouts/application.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/minimal.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/welcome.html.erb
  app/views/sections/_content_errors.html.erb
  config/environments/rolling.rb
  config/tags.yml
  docs/content.md
  spec/features/blog_spec.rb
  spec/features/content_pages_spec.rb
  spec/helpers/content_helper_spec.rb
  spec/models/pages/blog_spec.rb
  spec/models/pages/post_spec.rb
  spec/support/views/content/blog/post_invalid_tag.md
Labels: ruby, test, Review, Config

#2623 Functioning link for Education Endowment Foundation
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2613 Replace events with teaching events
  app/components/teaching_events/event_component.html.erb
  app/controllers/events_controller.rb
  app/controllers/internal/events_controller.rb
  app/controllers/teaching_events_controller.rb
  app/presenters/teaching_events/event_presenter.rb
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/blog/5-reasons-to-attend-a-train-to-teach-event.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/funding-your-training.md
  app/views/content/help-and-advice.md
  app/views/content/non-uk-teachers/promos/promos/_events-near-you.html.erb
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/promos/_events-near-you.html.erb
  app/views/event_categories/show.html.erb
  app/views/events/_event.html.erb
  app/views/events/_event_group.html.erb
  app/views/events/gone.html.erb
  app/views/events/index.html.erb
  app/views/events/show.html.erb
  app/views/internal/events/show.html.erb
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/gone.md
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/index/_filter.html.erb
  app/views/teaching_events/index/_no_results.html.erb
  app/views/teaching_events/not_available.html.erb
  app/views/teaching_events/show.html.erb
  app/webpacker/styles/components/events/no-results.scss
  app/webpacker/styles/event.scss
  app/webpacker/styles/events.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/teaching-events.scss
  config/redirects.yml
  config/routes.rb
  spec/components/teaching_events/event_component_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/event_near_you_promo_spec.rb
  spec/features/find_an_event_spec.rb
  spec/features/teaching_events/about_ttt_events_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/features/teaching_events/viewing_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
  spec/requests/circuit_breaker_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/find_an_event_near_you_spec.rb
  spec/requests/gtm_spec.rb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review, Style, content, Config

#2625 Adjust events integration spec for new design
  spec/integration/events_spec.rb
Labels: test, Review

#2627 Add teaching-events redirect
  config/redirects.yml
Labels: Review, Config

#2620 Cleaning up after events and stories
  app/components/calls_to_action/story_component.html.erb
  app/components/calls_to_action/story_component.rb
  app/components/cards/latest_event_component.rb
  app/components/cards/renderer_component.rb
  app/controllers/event_categories_controller.rb
  app/models/events/category.rb
  app/models/pages/data.rb
  app/presenters/content/call_to_action_component_injector.rb
  config/redirects.yml
  config/routes.rb
  spec/components/calls_to_action/story_component_spec.rb
  spec/components/cards/latest_event_component_spec.rb
  spec/components/cards/renderer_component_spec.rb
  spec/components/content/accordion_component_spec.rb
  spec/features/event_near_you_promo_spec.rb
  spec/models/events/category_spec.rb
  spec/models/pages/data_spec.rb
  spec/presenters/content/call_to_action_component_injector_spec.rb
Labels: ruby, test, Review, content, Config

#2628 removing providers
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#2535 Ensure a pointer cursor is used on all buttons
  app/webpacker/styles/forms.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: Review, Style

#2633 Add original request to redirect logs
  config/routes.rb
  spec/requests/redirects_spec.rb
Labels: ruby, test, Review, Config

#2632 Add rake task to identify unused redirects
  lib/tasks/redirects.rake
Labels: ruby, Review

#2626 Add visa helpdesk info to int. teacher page
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#2634 iQTS page link to Sheffield Hallam University updated
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
Labels: Review, content

#2629 Make event search params more analytics friendly
  app/models/event_type.rb
  app/models/teaching_events/search.rb
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/index/_filter.html.erb
  spec/features/teaching_events/about_ttt_events_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/models/event_type_spec.rb
  spec/models/teaching_events/search_spec.rb
Labels: ruby, test, Review

#2624 Returners page: guidance on QTS now consistent with GOV.UK
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_check-your-qualifications.md
Labels: Review, content

#2637 Move online event instructions to conditional
  app/presenters/teaching_events/event_presenter.rb
  app/views/teaching_events/show/_how-to-attend.html.erb
  spec/features/teaching_events/viewing_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
Labels: ruby, test, Review
