Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2022-05, with the labels that each got.

#2496 Dependabot Ruby updates for May 2022 (part 1)
  Gemfile
  Gemfile.lock
Labels: Review

#2499 Remove empty <aside> element when not fullwidth
  app/views/layouts/application.html.erb
Labels: ruby, Review

#2498 [528] Remove GITHUB_TOKEN when not necessary
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
  .github/workflows/check_sp.yml
  .github/workflows/lychee.yml
  .github/workflows/pagespeed.yml
  .github/workflows/rm-developers.yml
  .github/workflows/sha.yml
  .github/workflows/snyk.yml
  .github/workflows/trello.yml
Labels: DevOps, Review

#2500 Dependabot JavaScript updates for May 2022 (part 1)
  .nvmrc
  package.json
  yarn.lock
Labels: Review

#2508 Updating maintenance loan amount
  app/views/content/funding-your-training.md
Labels: Review, content

#2507 New nav URL and page changes
  app/views/content/train-to-be-a-teacher/_questions.html.erb
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
  app/views/content/train-to-be-a-teacher/other-training-you-can-get.md
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
Labels: ruby, Review, content

#2502 Fixes for mobile usability issues
  app/webpacker/styles/font-sizes.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/text.scss
Labels: Review, Style

#2509 Make flex shrink to prevent horiozontal scroll
  app/webpacker/styles/category.scss
Labels: Review, Style

#2515 Convert steps to be an ordered list
  app/views/layouts/steps.html.erb
  app/webpacker/styles/steps.scss
Labels: ruby, Review, Style

#2519 Allow hero title background color to be customised
  app/components/header/hero_component.html.erb
  app/components/header/hero_component.rb
  app/webpacker/styles/sections/hero.scss
  spec/components/header/hero_component_spec.rb
Labels: ruby, test, Review, Style

#2518 Improve cookie dialog tabbing behaviour for screen readers
  app/webpacker/controllers/cookie-acceptance_controller.js
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
Labels: test, Review

#2522 Update support hours for further education
  app/views/content/become-a-further-education-teacher.md
Labels: Review, content

#2527 Dependabot Ruby updates 2022-05-11
  Gemfile
  Gemfile.lock
Labels: Review

#2521 Make pagination component accessible
  app/views/kaminari/_page.html.erb
Labels: ruby, Review

#2495 Ensure postcodes are not sent to Google Analytics
  .env.test
  Gemfile
  Gemfile.lock
  app/components/events/search_component.html.erb
  app/controllers/event_categories_controller.rb
  app/controllers/events_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/teaching_events_controller.rb
  app/models/concerns/encrypted_attributes.rb
  app/models/events/search.rb
  app/models/teaching_events/search.rb
  app/views/content/train-to-be-a-teacher/promos/_events-near-you.html.erb
  app/views/teaching_events/index/_filter.html.erb
  config/routes.rb
  lib/encryptor.rb
  spec/components/events/search_component_spec.rb
  spec/factories/events/search_factory.rb
  spec/features/event_near_you_promo_spec.rb
  spec/features/find_an_event_spec.rb
  spec/lib/encryptor_spec.rb
  spec/models/concerns/encrypted_attributes_spec.rb
  spec/models/events/search_spec.rb
  spec/models/teaching_events/search_spec.rb
  spec/requests/events_by_category_spec.rb
  spec/requests/events_controller_spec.rb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review, content, Config

#2528 Dependabot JavaScript updates 2022-05-11
  package.json
  yarn.lock
Labels: Review

#2530 Use h2 tag for funding heading
  app/components/funding_widget_component.html.erb
  app/webpacker/styles/call-to-action.scss
Labels: ruby, Review, Style

#2531 Use h2 tag for next steps heading
  app/components/calls_to_action/next_steps_component.html.erb
Labels: ruby, Review

#2536 Enable hero background colour to be customised
  app/components/header/hero_component.rb
  app/webpacker/styles/sections/hero.scss
  spec/components/header/hero_component_spec.rb
Labels: ruby, test, Review, Style

#2534 Make contact option titles heading tags
  app/components/footer/talk_to_us_component.html.erb
  app/webpacker/styles/sections/talk-to-us.scss
Labels: ruby, Review, Style

#2532 Ensure links have sufficient contrast on focus
  app/components/footer/mailing_list_component.html.erb
  app/views/layouts/stories/landing.html.erb
  app/webpacker/styles/colours.scss
  app/webpacker/styles/components/chat.scss
  app/webpacker/styles/components/content-alert.scss
  app/webpacker/styles/components/events/no-results.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/mailing-list-bar.scss
  app/webpacker/styles/stories.scss
  app/webpacker/styles/text.scss
Labels: ruby, Review, Style

#2523 Ensure dialog cannot be accessed by screen readers when dismissed
  app/webpacker/styles/dialog.scss
Labels: Review, Style

#2533 Make completed wizard step headings h1 tags
  app/components/content/generic_block_component.html.erb
  app/components/registration/mailing_list_signup_confirmation_component.html.erb
  app/components/single_question_survey_component.html.erb
  app/views/callbacks/steps/completed.html.erb
  app/views/event_steps/completed.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/webpacker/styles/registration.scss
  spec/components/content/generic_block_component_spec.rb
  spec/components/single_question_survey_component_spec.rb
Labels: ruby, test, Review, Style

#2537 Disable Google Optimize on events pages
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#2510 Update how-to-apply-for-teacher-training.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
Labels: Review, content

#2542 Hide mail icon from screen readers
  app/components/header/extra_navigation_component.html.erb
Labels: ruby, Review

#2524 Return focus after minimizing chat window
  app/webpacker/controllers/chat_controller.js
  spec/javascript/controllers/chat_controller_spec.js
Labels: test, Review

#2538 Allow blending the main content with the hero section
  app/components/header/hero_component.rb
  app/views/content/salaries-and-benefits.md
  app/views/content/train-to-be-a-teacher.md
  app/webpacker/styles/sections/hero.scss
  spec/components/header/hero_component_spec.rb
Labels: ruby, test, Review, Style, content

#2544 Updating events promo
  app/views/content/train-to-be-a-teacher/promos/_events-near-you.html.erb
Labels: ruby, Review, content

#2546 Update images in train to be a teacher sections
  app/components/calls_to_action/promo/left_section.html.erb
  app/components/calls_to_action/promo/left_section.rb
  app/views/content/train-to-be-a-teacher/promos/_get-adviser-promo.html.erb
  app/views/content/train-to-be-a-teacher/promos/_learn-adviser-promo.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo.html.erb
  app/webpacker/styles/category.scss
  spec/components/calls_to_action/promo/promo_component_spec.rb
Labels: ruby, test, Review, Style, content

#2548 updating guidance on tta page for international candidates
  app/views/content/teacher-training-advisers.md
Labels: Review, content

#2543 New-ecf-page
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/being-myself-in-the-classroom.md
  app/views/content/salaries-and-benefits.md
  app/views/content/support-for-early-career-teachers.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
Labels: Review, content, policy sign off

#2550 Breadcrumb structure updates
  app/components/content/hero_component.html.erb
  app/components/content/hero_component.rb
  app/components/header/breadcrumb_component.html.erb
  app/components/header_component.html.erb
  app/components/header_component.rb
  app/views/content/home.md
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/campaigns/landing_page_with_hero_nav.html.erb
  app/views/layouts/category.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/stories/landing.html.erb
  app/views/layouts/stories/list.html.erb
  app/views/layouts/stories/story.html.erb
  app/views/layouts/teaching_event.html.erb
  app/views/layouts/teaching_events.html.erb
  app/views/layouts/welcome.html.erb
  app/views/teaching_events/about_ttt_events.html.erb
  app/views/teaching_events/show.html.erb
  app/webpacker/styles/components/breadcrumb.scss
  app/webpacker/styles/home.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/sections/hero.scss
  app/webpacker/styles/teaching-events.scss
  spec/components/content/hero_component_spec.rb
  spec/components/header/breadcrumb_component_spec.rb
  spec/components/header_component_spec.rb
  spec/features/breadcrumbs_spec.rb
Labels: ruby, test, Review, Style, content

#2554 Update AO page to temporarily remove Bishop Grosseteste
  app/views/content/assessment-only-providers.md
Labels: Review, content

#2558 Enforce a `margin-bottom` on main
  app/webpacker/styles/layout.scss
Labels: Review, Style

#2551 Add border to buttons for high contrast mode
  app/webpacker/styles/header/logo.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: Review, Style

#2555 Adding ITT backlinks
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/how-to-apply-for-teacher-training.md
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
Labels: Review, content

#2560 Update homepage promo sections
  app/components/calls_to_action/homepage_component.html.erb
  app/components/calls_to_action/homepage_component.rb
  app/views/content/home/_calls-to-action.html.erb
  app/webpacker/styles/call-to-action.scss
  spec/components/calls_to_action/homepage_component_spec.rb
Labels: ruby, test, Review, Style, content

#2517 Brooke-harvey-blog-international
  app/views/content/blog/my-move-from-canada-to-teach-in-england.md
  app/webpacker/images/content/blog/brooke-harvey.jpg
  app/webpacker/images/content/blog/thumbnails/brooke-harvey.jpg
  config/images.yml
Labels: Review, content, Config

#2390 Update train-to-teach-in-england-as-an-international-student.md
  app/views/content/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#2545 adding apprenticeships info
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: Review, content, policy sign off

#2561 Removing-capital-teachers-standards
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/returning-to-teaching.md
Labels: Review, content

#2553 Revert changes to postcode step
  app/models/mailing_list/steps/postcode.rb
  app/views/mailing_list/steps/_postcode.html.erb
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
Labels: ruby, test, Review, Config

#2566 updating TES contact details on AO page
  app/views/content/assessment-only-providers.md
Labels: Review, content
