Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-08, with the labels that each got.

#3445 Fixing error on salaries page
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#3432 Creating on campus landing page
  app/components/content/campaign_hero_component.html.erb
  app/views/content/landing/campus-mailing-list.md
  app/views/content/landing/campus-mailing-list/_header.html.erb
  app/views/content/landing/campus-mailing-list/_mailing-list.html.erb
  app/webpacker/images/content/campus-mailing-list/campus-mailing-list.jpeg
  config/images.yml
Labels: ruby, Review, content, Config

#3447 Add additional domains to secure headers for VWO
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3446 Various dependency updates for ruby
  Gemfile
  Gemfile.lock
Labels: Review

#3433 Updated .logo__image background colour
  app/webpacker/styles/colours.scss
  app/webpacker/styles/header/logo.scss
Labels: Review, Style

#3444 Delete and redirect thank you page
  app/views/content/thank-you.md
  config/redirects.yml
  spec/requests/pages_controller_spec.rb
Labels: test, Review, content, Config

#3443 'Find' module update and 'Apply' module build
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/promos/_apply-for-your-course.html.erb
  app/views/content/train-to-be-a-teacher/teacher-training-personal-statement.md
  app/views/content/train-to-be-a-teacher/teacher-training-references.md
  app/views/content/what-is-a-pgce.md
  app/views/layouts/content.html.erb
  app/webpacker/styles/category.scss
  app/webpacker/styles/components/promo.scss
  app/webpacker/styles/layout.scss
Labels: ruby, Review, Style, content

#3434 delete financial support for international page
  app/views/content/guidance/financial-support-for-international-applicants.md
  config/redirects.yml
Labels: Review, content, Config

#3454 Updated 'Apply' module link
  app/views/content/train-to-be-a-teacher/promos/_apply-for-your-course.html.erb
  yarn.lock
Labels: ruby, Review, content

#3456 Remove some vwo reference from attributes in the secure headers
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3460 Updated the subject-knowledge-enhancement template
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
Labels: Review, content

#3462 Reconfigured spacing in hero banners sitewide
  app/webpacker/styles/sections/hero.scss
Labels: Review, Style

#3466 Updated the dev config to point to new GITAPI AKS dev environment
  config/environments/development.rb
Labels: ruby, Review, Config

#3464 Add additional integration test
  spec/integration/mailing_list_spec.rb
  spec/support/spec_helpers/integration.rb
Labels: test, Review

#3453 Updates to completed and book_a_callback documents
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/completed/shared/_book_a_callback.html.erb
  app/webpacker/styles/registration.scss
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review, Style

#3469 Emboldened service proposition paragraph
  .erb-lint.yml
  app/components/content/hero_component.html.erb
  app/views/content/home.md
Labels: ruby, Review, content

#3470 Add files via upload
  app/views/content/home.md
  app/webpacker/images/content/hero-images/0026.jpg
  app/webpacker/images/content/hero-images/0026—mobile.jpg
  app/webpacker/images/content/hero-images/0026—tablet.jpg
  app/webpacker/styles/sections/hero.scss
  config/images.yml
Labels: Review, Style, content, Config

#3474 Amended home.md title_paragraph
  app/views/content/home.md
Labels: Review, content

#3473 Updated link from Ukraine page to IRP page
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3476 Removing full stop from link on Ukraine page
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3477 Remove assessment only funding
  app/views/content/non-uk-teachers/ukraine.md
  config/analytics_blocklist.yml
Labels: Review, content, Config

#3486 Remove e-Qualitas and update Essex and Thames SCITT details on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3461 Adding guidance on completing personal statement
  app/views/content/train-to-be-a-teacher/teacher-training-personal-statement.md
Labels: Review, content

#3459 Adding information about what you can teach
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
Labels: Review, content, policy sign off

#3487 Change API to aks url
  config/environments/rolling.rb
Labels: ruby, Review, Config

#3489 Remove references to beta domains
  config/environments/production.rb
  config/environments/test.rb
  spec/requests/beta_redirect_spec.rb
Labels: ruby, test, Review, Config

#3493 Revert "Remove references to beta domains"
  config/environments/production.rb
  config/environments/test.rb
  spec/requests/beta_redirect_spec.rb
Labels: ruby, test, Review, Config

#3494 Change the url to the API for AKS one
  config/environments/production.rb
Labels: ruby, Review, Config

#3467 Edits to train to teach and teach in England re PSs and CVs
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#3435 Restructure of iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_check-your-eligibility.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_find-out-about-fees.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_gain-iqts-and-automatic-qts.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_next-steps-for-candidates.md
  config/redirects.yml
Labels: Review, content, Config
