Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-01, with the labels that each got.

#3053 Fix colour contrast warning on WAVE tool
  app/webpacker/styles/header/skiplink.scss
  app/webpacker/styles/home.scss
Labels: Review, Style

#3041 Update wizard gem for new Identity step
  Gemfile.lock
  app/models/callbacks/steps/personal_details.rb
  app/models/events/steps/personal_details.rb
  app/models/mailing_list/steps/name.rb
  app/validators/email_format_validator.rb
  spec/factories/callbacks/personal_details_factory.rb
  spec/factories/events/personal_details_factory.rb
  spec/factories/mailing_list/name_factory.rb
  spec/features/book_callback_spec.rb
  spec/features/event_wizard_spec.rb
  spec/models/callbacks/steps/personal_details_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/support/api_support.rb
  spec/validators/email_format_validator_spec.rb
Labels: ruby, test, Review

#3055 Update link for Mid Essex SCITT on Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#3054 Forward query params to cookie preferences
  app/components/footer/cookie_acceptance_component.html.erb
Labels: ruby, Review

#3067 Handle when there are no callback slots available
  app/helpers/callback_helper.rb
  app/models/callbacks/steps/callback.rb
  app/views/callbacks/steps/_callback.html.erb
  app/views/callbacks/steps/callback/_available.html.erb
  app/views/callbacks/steps/callback/_unavailable.html.erb
  app/views/mailing_list/steps/completed.html.erb
  spec/features/book_callback_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/callback_helper_spec.rb
  spec/models/callbacks/steps/callback_spec.rb
  spec/requests/callbacks/steps_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/support/api_support.rb
Labels: ruby, test, Review

#3070 Prevent cookie acceptance on privacy page with query param
  app/webpacker/controllers/cookie-acceptance_controller.js
Labels: Review

#3071 Fix retaining query params on cookie prefs link
  app/components/footer/cookie_acceptance_component.html.erb
  app/webpacker/controllers/cookie-acceptance_controller.js
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
Labels: ruby, test, Review

#3068 Add quotes to TTA promo page
  app/components/content/photo_quote_list_component.rb
  app/components/content/quote_component.html.erb
  app/components/content/quote_list_component.html.erb
  app/components/content/quote_list_component.rb
  app/views/content/teacher-training-advisers.md
  app/views/content/teacher-training-advisers/_blog_links.html.erb
  app/views/content/teacher-training-advisers/_charlotte.md
  app/views/content/teacher-training-advisers/_matt.md
  app/views/content/teacher-training-advisers/_stuart.md
  app/views/content/teacher-training-advisers/_sue.md
  app/webpacker/styles/components/quote-list.scss
  app/webpacker/styles/git.scss
  lib/template_handlers/markdown.rb
  spec/components/content/quote_component_spec.rb
  spec/components/content/quote_list_component_spec.rb
Labels: ruby, test, Review, Style, content

#3072 Add inset component with event links
  app/components/content/inset_text_component.html.erb
  app/components/content/inset_text_component.rb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_other-events.erb
  app/webpacker/styles/components/inset-text.scss
  spec/components/content/inset_text_component_spec.rb
Labels: ruby, test, Review, Style

#2969 Updating SKE page
  app/views/content/train-to-be-a-teacher/promos/_find-your-ske-course.html.erb
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
Labels: ruby, Review, content, policy sign off

#3079 Ensure events signposting is below scribble form
  app/views/teaching_events/show.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#3081 Remove Thamesmead SCITT from Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#3084 Adding links to Find
  app/views/content/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
Labels: Review, content

#3089 [745] Pin buildx to 0.9.1
  .github/workflows/build.yml
Labels: DevOps, Review

#3091 Amend wording on event signposting inset component
  app/views/teaching_events/show/_other-events.erb
Labels: ruby, Review

#3085 Update internship providers list
  app/views/content/assessment-only-providers/_listing.html.erb
  app/views/content/teaching-internship-providers.md
  app/views/content/teaching-internship-providers/_listing.html.erb
  app/webpacker/styles/components/grouped-cards.scss
  lib/agency.rb
  lib/internship_provider.rb
  lib/tasks/csv_to_yaml.rake
Labels: ruby, Review, Style, content

#3092 Updating scholarship page information
  app/views/content/funding-and-support/scholarships-and-bursaries.md
Labels: Review, content, policy sign off

#3093 Editing QTS page content
  app/views/content/what-is-qts.md
Labels: Review, content

#3090 Addling links to promote internships
  app/views/content/steps-to-become-a-teacher/_step_1_decide_who_to_teach.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/train-to-be-a-teacher/get-school-experience.md
Labels: ruby, Review, content

#3083 Adding iQTS providers to iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
Labels: Review, content, policy sign off

#3073 improving the early years page
  app/views/content/early-years-teaching-training.md
Labels: Review, content

#3094 Changing NITE iQTS provider name
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_apply-to-your-chosen-iqts-teacher-training-provider.md
Labels: Review, content

#3095 Editing the fund your training section
  app/views/content/funding-and-support.md
  app/views/content/funding-and-support/if-you-come-from-outside-england.md
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
Labels: Review, content

#3074 Countries removed from list of roll out for Apply for QTS
  app/views/content/assessment-only-providers.md
  app/views/content/assessment-only-providers/_listing.html.erb
  app/views/content/assessment-only-providers/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_check-your-qualifications.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: ruby, Review, content

#3098 Fixing disability rights uk link on if youre disabled page
  app/views/content/funding-and-support/if-youre-disabled.md
Labels: Review, content

#3097 Amend email for TES on Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#3099 Updating telephone link text to make it clearer
  app/views/content/become-a-further-education-teacher.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/teacher-training-advisers.md
Labels: Review, content
