Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-11, with the labels that each got.

#3675 Remove api.smooch.io from zendesk list of secure headers
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config, Review_v2

#3655 Add simple feature flag for feedback that can be enabled / disabled per env
  app/components/footer_component.html.erb
  app/controllers/feedback/steps_controller.rb
  config/environments/development.rb
  config/environments/pagespeed.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/test.rb
Labels: ruby, Review, Config, Review_v2

#3676 Migrate prod env to AKS
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/destroy.yml
  .github/workflows/lychee.yml
  .github/workflows/pagespeed.yml
  .github/workflows/rm-developers.yml
  .github/workflows/sha.yml
  .github/workflows/snyk.yml
  .github/workflows/trello.yml
  terraform/aks/config/production_aks.tfvars.json
  terraform/domains/environment_domains/config/production.tfvars.json
Labels: DevOps, Review_v2

#3677 Revert "Add simple feature flag for feedback that can be enabled / disabled per env"
  app/components/footer_component.html.erb
  app/controllers/feedback/steps_controller.rb
  config/environments/development.rb
  config/environments/pagespeed.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/test.rb
Labels: ruby, Review, Config, Review_v2

#3680 Fix slack vars in build workflow
  .github/workflows/build.yml
Labels: DevOps, Review_v2

#3678 IRP applications closed
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: content, Review_v2

#3682 Change salary block heading from h3 to h2
  app/views/content/home/_salaries-banner.html.erb
  app/webpacker/styles/home.scss
Labels: ruby, Style, content, Review_v2

#3664 updating Equality Act link
  app/views/content/funding-and-support/if-youre-disabled.md
Labels: Review, content, Review_v2

#3683 updating link
  app/views/content/funding-and-support/if-youre-disabled.md
Labels: content

#3681 New iQTS providers added
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: content, Review_v2

#3686 Fixed breadcrumb pseudo-element issue
  app/webpacker/styles/components/breadcrumb.scss
Labels: Style, Review_v2

#3659 Adding signposting to choose a course
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-interview.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: ruby, Review, content, Review_v2

#3688 Update video titles on About GIT events page
  app/views/teaching_events/about_git_events.html.erb
Labels: ruby, Review_v2

#3690 Changed quotation marks colour to improve contrast
  app/webpacker/styles/components/what-theyre-saying.scss
Labels: Style, Review_v2

#3689 764 redirect beta getintoteaching domain
  .tool-versions
  Makefile
  global_config/beta_aks.sh
  terraform/aks/.terraform.lock.hcl
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/config/beta.tfvars.json
  terraform/domains/environment_domains/config/beta_Terrafile
  terraform/domains/environment_domains/main.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/config/zones.tfvars.json
  terraform/domains/infrastructure/main.tf
  terraform/domains/infrastructure/variables.tf
Labels: DevOps, Review_v2

#3691 Fixed quotation mark alignment
  app/webpacker/styles/components/what-theyre-saying.scss
Labels: Style, Review_v2

#3692 Update link text for Google Maps on event pages
  app/views/teaching_events/show/_venue-information.html.erb
Labels: ruby, Review_v2

#3695 Update internship listings page
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: content, Review_v2

#3696 Match search icon size to other icons in bonus bar
  app/webpacker/styles/header/extra-navigation.scss
Labels: Style, Review_v2

#3660 Revert "Remove code that starts and appends chat widget to the DOM"
  app/webpacker/controllers/chat_controller.js
  app/webpacker/styles/links-and-buttons.scss
  config/initializers/secure_headers.rb
  spec/features/chat_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
Labels: ruby, test, Review, Style, Config, Review_v2

#3698 Updated checklist tick icon colour contrast
  app/components/content/checklist_collage_component.html.erb
  app/webpacker/styles/blog.scss
  app/webpacker/styles/components/checklist-collage.scss
  app/webpacker/styles/header/extra-navigation.scss
  spec/components/content/checklist_collage_component_spec.rb
Labels: ruby, test, Style, Review_v2

#3699 Fixed hierarchy on the 'About GIT Events' page
  app/views/teaching_events/about_git_events.html.erb
Labels: ruby, test, Review_v2

#3702 Update visas-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: content, Review_v2

#3704 Add Future Teacher Training to Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: content, Review_v2

#3709 Add University of Derby to Non-UK section on Assessment only page and reorder
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: content, Review_v2

#3697 Update get teaching experience page and merge get teaching experience blog
  app/views/content/blog/how-to-find-school-experience.md
  app/views/content/is-teaching-right-for-me/get-school-experience.md
  config/redirects.yml
  spec/requests/external_links_spec.rb
Labels: test, content, Config, Review_v2

#3706 Create separate Events card component
  app/components/events/card_component.html.erb
  app/components/events/card_component.rb
  app/views/teaching_events/about_git_events.html.erb
Labels: ruby, Review_v2

#3707 Added quote to SEND page
  app/views/content/is-teaching-right-for-me/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
Labels: content, Review_v2

#3705 New page: When to apply
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
Labels: content, Review_v2

#3712 Add html html attributes for accessibility audit for screen readers
  app/components/footer/cookie_acceptance_component.html.erb
Labels: ruby, Review_v2

#3711 Update wording on personal statement word count
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: content, Review_v2

#3714 Update maths scholarship link
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/subjects/maths/_article.html.erb
Labels: ruby, content, policy sign off, Review_v2

#3718 Add alerting for backing services and webapp
  Makefile
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/monitoring.tf
  terraform/aks/statuscake.tf
  terraform/aks/variables.tf
Labels: DevOps, Review_v2

#3717 Missing expanded aria menu
  app/components/header/navigation_component.html.erb
  app/components/header_component.html.erb
  app/webpacker/controllers/navigation_controller.js
Labels: ruby, Review_v2

#3722 Updating internship list with latest csv on 29/11/2023
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: content, Review_v2

#3719 Delete events videos
  app/views/teaching_events/about_git_events.html.erb
Labels: ruby, Review_v2
