Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-09, with the labels that each got.

#3490 Add Terraform code to manage DNS
  .gitignore
  Makefile
  global_config/domains.sh
  global_config/production.sh
  terraform/domains/environment_domains/config/development.tfvars.json
  terraform/domains/environment_domains/config/development_Terrafile
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/config/test_Terrafile
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/config/zones.tfvars.json
  terraform/domains/infrastructure/config/zones_Terrafile
  terraform/domains/infrastructure/main.tf
  terraform/domains/infrastructure/terraform.tf
  terraform/domains/infrastructure/variables.tf
Labels: DevOps, Review

#3495 Add hidden fields for channel and sub_channel in order to enable attribute sign-ups in the reporting
  app/components/content/mailing_list_component.html.erb
  app/components/home/mailing_list_component.html.erb
Labels: ruby, Review

#3505 updating internships banner
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content

#3485 IRP launch content update
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content

#3506 Change start date so 2023 is removed from the list of teacher training years in adviser funnel
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
Labels: ruby, test, Review

#3507 removing still time to apply messaging
  app/views/content/landing/still-time-to-apply.md
  app/views/content/landing/still-time-to-apply/_content.html.erb
  app/views/content/landing/still-time-to-apply/_header.html.erb
  app/views/content/landing/still-time-to-apply/_promo.html.erb
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/teacher-training-personal-statement.md
  app/views/content/train-to-be-a-teacher/teacher-training-references.md
  config/redirects.yml
Labels: ruby, Review, content, Config

#3512 updating guidance on two personal statements
  app/views/content/train-to-be-a-teacher/teacher-training-personal-statement.md
Labels: Review, content

#3513 create on campus adviser landing page
  app/views/content/landing/campus-advisers.md
  app/views/content/landing/campus-advisers/_adviser.html.erb
  app/views/content/landing/campus-advisers/_header.html.erb
  app/webpacker/images/content/campus-advisers/adviser.jpeg
  config/images.yml
Labels: ruby, Review, content, Config

#3515 Add hidden fields to adviser component
  app/components/content/adviser_component.html.erb
  spec/features/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review

#3517 Fix AZ_SUBSCRIPTION
  Makefile
Labels: Review

#3516 Add unsafe-inline and unsafe-eval only in script_src and style_src
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3510 Bump versions of the dependency libraries
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  package.json
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
  yarn.lock
Labels: DevOps, Review

#3519 updating content changes
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
Labels: Review, content

#3479 Updating adviser messaging
  app/components/funding_widget_component.html.erb
  app/views/callbacks/steps/completed.html.erb
  app/views/content/blog/5-reasons-to-attend-a-get-into-teaching-event.md
  app/views/content/blog/7-things-to-include-in-your-teacher-training-application.md
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/the-head-of-science-inspiring-students-in-blackpool.md
  app/views/content/explore-teaching-advisers/_article.html.erb
  app/views/content/help-and-support/_categories.html.erb
  app/views/content/home/_calls-to-action.html.erb
  app/views/content/landing/food-for-thought/_promo.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/train-to-be-a-teacher/if-your-application-is-unsuccessful.md
Labels: ruby, Review, content

#3520 undoing non uk redirects
  config/redirects.yml
Labels: Review, Config

#3522 restoring non-uk blogs
  app/views/content/blog/my-move-from-canada-to-teach-in-england.md
  app/views/content/blog/returning-to-teaching-with-international-experience.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  config/images.yml
Labels: Review, content, Config

#3465 Moving returners content to Teaching Vacancies
  app/views/blog/_highlights.erb
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/jills-story-getting-back-into-the-classroom.md
  app/views/content/blog/marias-return-to-teaching-story.md
  app/views/content/blog/my-experience-with-the-national-tutoring-programme.md
  app/views/content/blog/my-move-from-canada-to-teach-in-england.md
  app/views/content/blog/returning-to-teaching-with-international-experience.md
  app/views/content/blog/stephens-return-to-teaching-story.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/home/_directory.html.erb
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/returning-to-teaching.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/teacher-training-advisers/_article.html.erb
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/errors/not_found.html.erb
  app/views/mailing_list/steps/_already_qualified.html.erb
  app/views/teacher_training_adviser/steps/_primary_returner.erb
  config/images.yml
  config/redirects.yml
  config/routes.rb
  config/tags.yml
  spec/features/blog_spec.rb
  spec/requests/redirects_spec.rb
Labels: ruby, test, Review, content, Config

#3524 fixing international blog image
  config/images.yml
Labels: Review, Config

#3527 Updating events block on homepage
  app/views/content/home/_calls-to-action.html.erb
  app/views/content/home/_directory.html.erb
Labels: ruby, Review, content

#3533 Removing Talk to us component from IRP page
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content

#3528 Updating food for thought page
  app/views/content/landing/food-for-thought/_quotes.html.erb
  app/webpacker/images/content/food-for-thought/Amrita_Panesar.jpg
  config/images.yml
Labels: ruby, Review, content, Config

#3541 ENIC e-statement tweak
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3526 Creating new apply section
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/funding-and-support.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/help-and-support.md
  app/views/content/home/_directory.html.erb
  app/views/content/how-to-apply-for-teacher-training.md
  app/views/content/how-to-apply-for-teacher-training/_questions.html.erb
  app/views/content/how-to-apply-for-teacher-training/_why-teach.html.erb
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-interview.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/non-uk-teachers.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/salaries-and-benefits.md
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_teacher_training.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/train-to-be-a-teacher.md
  app/views/content/train-to-be-a-teacher/_questions.html.erb
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/what-is-qts.md
  config/redirects.yml
Labels: ruby, Review, content, Config

#3543 Continuous applications changes
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
Labels: Review, content

#3554 Add manual route for campus mailing list page
  app/controllers/pages_controller.rb
  config/routes.rb
Labels: ruby, Review, Config

#3542 Deploy azure resources for aks terraform
  Makefile
  global_config/production_aks.sh
  global_config/review_aks.sh
  terraform/aks/cluster_data.tf
  terraform/aks/config/review_aks.tfvars.json
  terraform/aks/config/review_aks_Terrafile
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
Labels: DevOps, Review

#3544 Update Twitter logo in footer
  app/components/footer_component.html.erb
  app/webpacker/styles/footer.scss
  package.json
Labels: ruby, Review, Style

#3553 Add Bishop Challoner to Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3545 Deleting application blogs
  app/views/content/blog/7-things-to-include-in-your-teacher-training-application.md
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
  app/webpacker/images/content/blog/bedfordshire.jpg
  app/webpacker/images/content/blog/rocket.jpg
  config/images.yml
  config/redirects.yml
  config/tags.yml
  spec/features/blog_spec.rb
Labels: test, Review, content, Config

#3558 Update early years funding manual links
  app/views/content/early-years-teaching-training.md
Labels: Review, content

#3548 Remove google optimize
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  app/helpers/application_helper.rb
  app/views/sections/_head.html.erb
  app/webpacker/javascript/google_optimize.js
  app/webpacker/packs/google_optimize.js
  app/webpacker/styles/git.scss
  app/webpacker/styles/google-optimize.scss
  config/google_optimize.yml
  config/initializers/secure_headers.rb
  spec/helpers/application_helper_spec.rb
  spec/javascript/google_optimize_spec.js
Labels: ruby, test, Review, Style, Config

#3546 Remove the feedback component from the website
  app/components/footer_component.rb
  app/helpers/application_helper.rb
  app/views/content/help-and-support.md
  spec/components/footer_component_spec.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review, content

#3536 Remove online Q&A events
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/teaching_events/about_git_events.html.erb
  app/views/teaching_events/index.html.erb
  app/views/teaching_events/index/_filter.html.erb
  spec/features/teaching_events/listing_and_searching_spec.rb
Labels: ruby, test, Review, content

#3559 Replace references to Twitter
  app/views/content/blog/returning-to-teaching-with-international-experience.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_get-ready-to-apply.md
Labels: Review, content

#3556 Adding holding message to funding pages
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/subjects/physics/_article.html.erb
Labels: ruby, Review, content, policy sign off

#3565 Add Inspiring Leaders and remove Bradford College - Assessment only
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3566 Add AKS review app terraform
  Makefile
  config/database.yml
  config/environments/production.rb
  config/routes.rb
  terraform/aks/application.tf
  terraform/aks/config/review_aks.tfvars.json
  terraform/aks/database.tf
  terraform/aks/output.tf
  terraform/aks/secrets.tf
  terraform/aks/statuscake.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
Labels: ruby, DevOps, Review, Config

#3563 Adding the ske link to physics page
  app/views/content/subjects/physics/_article.html.erb
Labels: ruby, Review, content
