Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-02, with the labels that each got.

#3108 Update Assessment only page for Buckingham Partnership and Future Teacher Training
  app/views/content/assessment-only-providers.md
Labels: Review, content

#3110 Update internship providers
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#3114 Stronger wording for non-UK assesment only
  app/views/content/assessment-only-providers.md
  app/views/content/assessment-only-providers/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  spec/features/content_pages_spec.rb
Labels: test, Review, content

#3115 Fix broken link on SEND page
  app/views/content/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
Labels: Review, content

#3119 Add salaries and benefits test variants
  app/views/content/salaries-and-benefits-search.md
  app/views/content/salaries-and-benefits-social.md
Labels: Review, content

#3120 Update internship providers list
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#3125 Fix broken link on Who do you want to teach page
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
Labels: Review, content

#3126 Add variant for salaries and benefits A/B test
  app/controllers/pages_controller.rb
  app/views/content/landing/how-much-do-teachers-get-paid-social.md
  spec/support/page_testing_support.rb
Labels: ruby, test, Review, content

#3127 Enable Google Optimize for Salaries & Benefits A/B test
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#3124 Update GiT API client
  Gemfile.lock
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
Labels: test, Review

#3136 Update internship providers
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#3137 Changing mailing list copy
  app/views/mailing_list/steps/_name.html.erb
  docs/mailing-list-flow.md
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review

#3138 Update integration tests for new ML journey
  spec/integration/integration_spec.rb
Labels: test, Review

#3139 Disable integration tests
  spec/integration/integration_spec.rb
Labels: test, Review

#3141 Add i2i Teaching Partnership to Assessment only page
  app/views/content/assessment-only-providers.md
Labels: Review, content

#3142 Patch openssl vulerabilities
  Dockerfile
Labels: docker, Review

#3143 Downgrade Knapsack
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  Rakefile
  knapsack_rspec_report.json
  spec/spec_helper.rb
Labels: test, DevOps, Review

#3145 Enable Google Optimize on mailing list sign up
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config
