Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-04, with the labels that each got.

#3219 Enable Google Optimize on variant test pages
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#3223 Update details for Tommy Flowers SCITT on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3222 Remove blur from Optimize experiment
  app/webpacker/javascript/google_optimize.js
  spec/javascript/google_optimize_spec.js
Labels: test, Review

#3206 creating rejected candidates page
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-your-application-is-unsuccessful.md
Labels: Review, content

#3225 Add test to check for cached dynamic pages
  spec/features/content_pages_spec.rb
  spec/support/page_testing_support.rb
Labels: test, Review

#3227 Adding primary and secondary language to the salaries page
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#3228 Unwind steps to become a teacher A/B test
  app/views/content/steps-to-become-a-teacher-search.md
  config/google_optimize.yml
  config/redirects.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, content, Config

#3226 Automatically exclude pages from the cache
  app/controllers/pages_controller.rb
  config/initializers/middleware.rb
  lib/middleware/page_cache_exclusion.rb
  spec/features/content_pages_spec.rb
  spec/lib/middleware/page_cache_exclusion_spec.rb
Labels: ruby, test, Review, Config

#3234 Update meta description on blog index page
  app/controllers/blog_controller.rb
Labels: ruby, Review

#3240 Update home page with variant
  app/views/content/home.md
  app/views/content/home/_directory-variant.html.erb
  app/views/content/home/_directory.html.erb
  app/views/content/landing/home.md
  config/google_optimize.yml
  config/redirects.yml
  spec/components/content/mailing_list_component_spec.rb
  spec/components/home/mailing_list_component_spec.rb
  spec/features/book_callback_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/events/steps/further_details_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/rails_helper.rb
  spec/requests/callbacks/steps_controller_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/requests/redirects_spec.rb
  spec/support/api_support.rb
Labels: ruby, test, Review, content, Config

#3244 Fix cache deletion for home page
  lib/middleware/page_cache_exclusion.rb
  spec/lib/middleware/page_cache_exclusion_spec.rb
Labels: ruby, test, Review

#3238 tweaking ske message on rejected candidates
  app/views/content/train-to-be-a-teacher/if-your-application-is-unsuccessful.md
Labels: Review, content

#3237 Refactor steps into view component
  app/components/content/steps_component.html.erb
  app/components/content/steps_component.rb
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_2_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
  app/views/content/steps-to-become-a-teacher/_step_3_consider_getting_experience.html.erb
  app/views/content/steps-to-become-a-teacher/_step_3_learn_about_funding.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_the_right_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_teacher_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_your_course.html.erb
  app/views/layouts/steps.html.erb
  app/webpacker/images/icon-tick.svg
  app/webpacker/styles/steps.scss
  lib/template_handlers/markdown.rb
  spec/components/content/steps_component_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test, Review, Style, content

#3243 Update steps to become a teacher banner
  app/views/content/home/_purple-box.html
  app/webpacker/images/steps-graphic-mob.svg
  app/webpacker/images/steps-graphic.svg
  app/webpacker/styles/home.scss
Labels: Review, Style, content

#3241 Setup access to Postgres
  .github/workflows/build.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  app/models/application_record.rb
  app/models/healthcheck.rb
  config/application.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  db/schema.rb
  spec/models/healthcheck_spec.rb
  spec/requests/healthchecks_controller_spec.rb
  terraform/paas/.terraform.lock.hcl
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/pagespeed.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
Labels: ruby, docker, test, DevOps, Review, Config

#3247 fixing full stops
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-your-application-is-unsuccessful.md
Labels: Review, content

#3250 Line space added
  app/views/content/non-uk-teachers/fees-and-funding-for-non-UK-trainees.md
Labels: Review, content

#3251 Remove Yorkshire Three Counties Alliance SCITT from Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3252 Remove noindex from homepage
  app/views/content/home.md
Labels: Review, content

#3254 Run postgres for integration tests
  .github/workflows/build.yml
Labels: DevOps, Review

#3256 Fix integration tests
  .github/workflows/build.yml
Labels: DevOps, Review

#3187 updating how to apply removing reference to 2 sections
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
Labels: ruby, Review, content

#3258 Improving the if you're a parent or carer page
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
Labels: Review, content
