Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-05, with the labels that each got.

#3245 Migrate feedback forms from the TTA service
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  .env.test
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  app/helpers/application_helper.rb
  app/models/teacher_training_adviser/feedback.rb
  app/models/teacher_training_adviser/feedback_search.rb
  app/views/teacher_training_adviser/feedbacks/_export_form.html.erb
  app/views/teacher_training_adviser/feedbacks/_recent.html.erb
  app/views/teacher_training_adviser/feedbacks/index.html.erb
  app/views/teacher_training_adviser/feedbacks/new.html.erb
  app/views/teacher_training_adviser/feedbacks/thank_you.erb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/initializers/instrumentation.rb
  config/initializers/invisible_captcha.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20210415104621_create_feedbacks.rb
  db/schema.rb
  lib/prometheus/metrics.rb
  lib/teacher_training_adviser/feedback_exporter.rb
  lib/user.rb
  spec/factories/teacher_training_adviser/feedbacks.rb
  spec/features/teacher_training_adviser/feedback_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/lib/prometheus/metrics_spec.rb
  spec/lib/teacher_training_adviser/feedback_exporter_spec.rb
  spec/models/teacher_training_adviser/feedback_search_spec.rb
  spec/models/teacher_training_adviser/feedback_spec.rb
  spec/rails_helper.rb
  spec/requests/basic_auth_spec.rb
  spec/requests/big_query_analytics_spec.rb
  spec/requests/instrumentation_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/internal_controller_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/requests/teacher_training_adviser/feedback_spec.rb
  spec/support/spec_helpers/basic_auth.rb
Labels: ruby, docker, test, DevOps, Review, Config

#3275 Update guidance for markdown filenames
  docs/content.md
Labels: Review

#3276 Updating page titles and meta descriptions
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/become-a-further-education-teacher.md
  app/views/content/early-years-teaching-training.md
  app/views/content/funding-and-support.md
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/scholarships-and-bursaries-search.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/help-and-support.md
  app/views/content/home.md
  app/views/content/is-teaching-right-for-me.md
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
Labels: Review, content

#3279 Remove Google Optimize from the mailing list
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#3284 Unwind remaining A/B tests
  app/views/content/funding-and-support/scholarships-and-bursaries-search.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree-search.md
  config/google_optimize.yml
  config/redirects.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, content, Config

#3281 adding in structured data images and descriptions
  app/views/content/steps-to-become-a-teacher.md
Labels: Review, content

#3285 Namespace dfe-analytics web_request events
  app/controllers/application_controller.rb
  spec/requests/big_query_analytics_spec.rb
Labels: ruby, test, Review

#3277 creating a landing page for on campus campaign
  app/views/content/landing/secure-your-september.md
  app/views/content/landing/secure-your-september/_content.html.erb
  app/views/content/landing/secure-your-september/_header.html.erb
  app/views/content/landing/secure-your-september/_mailing_list.html.erb
  app/views/content/landing/secure-your-september/_promo.html.erb
  app/views/content/landing/secure-your-september/_steps.html.erb
Labels: ruby, Review, content

#3283 Creating train to teach landing page
  app/views/content/landing/train-to-teach.md
  app/views/content/landing/train-to-teach/_collage.html.erb
  app/views/content/landing/train-to-teach/_content.html.erb
  app/views/content/landing/train-to-teach/_header.html.erb
  app/views/content/landing/train-to-teach/_mailing_list.html.erb
  app/views/content/landing/train-to-teach/_promo.html.erb
Labels: ruby, Review, content

#3289 Enable Optimize on train to be a teacher pages
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#3286 Update README documentation
  README.md
  docs/configuration.md
  docs/deployment.md
  docs/development.md
  docs/disaster-recovery.md
  docs/event-flow.md
  docs/events-portal.md
  docs/link-checking.md
  docs/mac-setup.md
  docs/mailing-list-flow.md
  docs/monitoring.md
  docs/setup-development.md
  docs/sign-up-journeys.md
  docs/testing.md
Labels: Review

#3291 Minor fixes to README headings
  docs/deployment.md
  docs/development.md
  docs/monitoring.md
Labels: Review

#3273 Support 'course full' on internship providers page
  app/components/grouped_cards/card_component.html.erb
  app/components/grouped_cards/card_component.rb
  app/views/content/teaching-internship-providers.md
  app/webpacker/styles/components/grouped-cards.scss
  lib/internship_provider.rb
  spec/components/grouped_cards/card_component_spec.rb
Labels: ruby, test, Review, Style, content

#3295 Remove plan for jobs logo from footer
  app/components/footer_component.html.erb
  app/webpacker/images/plan-for-jobs.svg
Labels: ruby, Review

#3296 Fix integration specs on TTA sign up
  spec/integration/teacher_training_adviser_spec.rb
  spec/support/spec_helpers/integration.rb
Labels: test, Review

#3294 Adding international content to bursaries page
  app/components/funding_widget_component.html.erb
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  config/locales/en.yml
  spec/components/funding_widget_component_spec.rb
Labels: ruby, test, Review, content, Config

#3287 Tweak to fees and funding to clarify 'right immigration status'
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: Review, content

#3297 Update images on TTA start page
  app/views/layouts/registration_with_side_images.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/webpacker/images/content/tta-sign-up/left.jpg
  app/webpacker/images/content/tta-sign-up/mobile.jpg
  app/webpacker/images/content/tta-sign-up/right.jpg
Labels: ruby, Review

#3282 Improve page cache exclusion logic
  lib/middleware/page_cache_exclusion.rb
Labels: ruby, Review

#3302 Add Postgres to Codespaces
  .devcontainer/devcontainer.json
  .ruby-version
  Dockerfile
  Gemfile.lock
  README.md
  docs/codespaces.md
Labels: docker, Review

#3255 Add visa pages for non-UK trainees
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content, Config

#3304 changing info box link
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#3305 Update internships providers list (19/05/23)
  app/views/content/teaching-internship-providers.md
  docs/content.md
Labels: Review, content

#3306 Update accessibility statement to remove audit reference
  app/views/content/accessibility.md
Labels: Review, content

#3303 Ensure no direct links to TTA service
  app/controllers/application_controller.rb
  app/controllers/concerns/utm_codes.rb
  app/controllers/pages_controller.rb
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/marias-return-to-teaching-story.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/returning-to-teaching.md
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  spec/features/content_pages_spec.rb
  spec/requests/pages_controller_spec.rb
Labels: ruby, test, Review, content

#3308 Update focus state for accessibility
  app/webpacker/styles/forms.scss
Labels: Review, Style

#3301 Adding indented text for internationals to parents/carers and disabled page
  app/components/funding_widget_component.html.erb
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  config/locales/en.yml
  spec/components/funding_widget_component_spec.rb
Labels: ruby, test, Review, content, Config

#3272 Adviser funnel content changes
  app/views/content/returning-to-teaching.md
  app/views/content/teacher-training-advisers.md
  app/views/teacher_training_adviser/steps/_already_signed_up.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_primary_returner.erb
  app/views/teacher_training_adviser/steps/_qualification_required.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  config/locales/en.yml
  spec/features/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review, content, Config

#3312 Update focus state for accessibility
  app/components/content/talk_to_us_component.html.erb
  app/components/funding_widget_component.html.erb
  app/views/content/help-and-support/_events.html.erb
  app/webpacker/styles/components/mailing-list.scss
  app/webpacker/styles/components/promo.scss
  app/webpacker/styles/forms.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/sections/talk-to-us.scss
Labels: ruby, Review, Style, content

#3310 Remove HotJar from the website
  app/views/pages/cookies.md
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3315 Investigate possible bug with survey buttons at the end of the event funnel
  app/webpacker/controllers/feedback_controller.js
  spec/javascript/controllers/feedback_controller_spec.js
Labels: test, Review

#3314 Disable Turbolinks on TTA service paths
  lib/disable_turbolinks.rb
  lib/middleware/html_response_transformer.rb
  spec/lib/disable_turbolinks_spec.rb
Labels: ruby, test, Review

#3320 Changes ahead of TTA sign up rollout
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  .env.test
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  app/controllers/teacher_training_adviser/steps_controller.rb
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
  spec/requests/teacher_training_adviser/feedback_spec.rb
  spec/requests/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review, Config

#3298 Tailored content on mailing list completion page
  app/controllers/mailing_list/steps_controller.rb
  app/helpers/mailing_list_helper.rb
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/completed/_final_year_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_final_year_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_first_or_second_year_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_first_or_second_year_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_have_degree_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_have_degree_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_no_degree_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_no_degree_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_other_high_low_commitment.html.erb
  app/views/mailing_list/steps/completed/shared/_book_a_callback.html.erb
  app/views/mailing_list/steps/completed/shared/_find_a_teacher_training_course.html.erb
  app/views/mailing_list/steps/completed/shared/_get_an_adviser_high_commitment.html.erb
  app/views/mailing_list/steps/completed/shared/_get_an_adviser_low_commitment.html.erb
  app/views/mailing_list/steps/completed/shared/_is_teaching_right_for_me.html.erb
  app/views/mailing_list/steps/completed/shared/_steps_to_become_a_teacher.html.erb
  app/views/mailing_list/steps/completed/shared/_train_to_teach_no_degree.html.erb
  app/views/mailing_list/steps/completed/shared/_welcome_guide.html.erb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/mailing_list_helper_spec.rb
Labels: ruby, test, Review

#3325 Enable tracking of YouTube video interactions
  app/components/content/youtube_video_component.html.erb
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  spec/components/content/youtube_video_component_spec.rb
  spec/features/content_pages_spec.rb
Labels: ruby, test, Review, content
