Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-07, with the labels that each got.

#3362 Replace devcontainer with database aware one
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/boot.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .nvmrc
  config/database.yml
Labels: Review, Config

#3383 Remove teacher-training-adviser/sign_up/identity from the optimize
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#3323 Bursary content added to visa page
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#3381 New how to apply guidance
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/application-tips-from-a-teacher-training-provider.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/teacher-training-personal-statement.md
  app/views/content/train-to-be-a-teacher/teacher-training-references.md
Labels: Review, content

#3389 Adding backlinks to apply guidance
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/train-to-be-a-teacher/if-your-application-is-unsuccessful.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
Labels: Review, content

#3386 Add clarity javascript snippet and the domains to secure header
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  app/views/sections/_head.html.erb
  app/webpacker/javascript/clarity.js
  app/webpacker/packs/clarity.js
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3391 Add clarity domains to other csp sources
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3387 adding further questions to If you have a degree
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: Review, content

#3399 updating no events message
  app/views/teaching_events/about_git_events.html.erb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#3397 Adding context to salaries pages re maintained schools
  app/views/content/landing/how-much-do-teachers-get-paid/_collage.html.erb
  app/views/content/salaries-and-benefits.md
Labels: ruby, Review, content

#3396 updating the cookie policy
  app/views/cookie_preferences/show.html.erb
  app/views/pages/cookies.md
Labels: ruby, Review

#3401 Bump versions of various libraries
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#3403 delete and redirect landing page
  app/views/content/landing/secure-your-september.md
  app/views/content/landing/secure-your-september/_content.html.erb
  app/views/content/landing/secure-your-september/_header.html.erb
  app/views/content/landing/secure-your-september/_mailing_list.html.erb
  app/views/content/landing/secure-your-september/_promo.html.erb
  app/views/content/landing/secure-your-september/_steps.html.erb
  config/redirects.yml
Labels: ruby, Review, content, Config

#3410 Adding holding message to salaries page
  app/views/content/salaries-and-benefits.md
Labels: Review, content

#3412 Updating salaries in line with the new pay award
  app/views/content/home/_salaries-banner.html.erb
  app/views/content/is-teaching-right-for-me/_facts_and_figures.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid.md
  app/views/content/landing/how-much-do-teachers-get-paid/_collage.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/salaries-and-benefits.md
Labels: ruby, Review, content

#3395 Fix styling spacing
  app/components/calls_to_action/homepage_component.html.erb
  app/webpacker/styles/call-to-action.scss
Labels: ruby, Review, Style

#3388 Update how to attend content
  app/presenters/teaching_events/event_presenter.rb
  app/views/teaching_events/show/_how-to-attend.html.erb
  spec/features/teaching_events/viewing_spec.rb
Labels: ruby, test, Review

#3416 delete outdated step
  app/views/content/steps-to-become-a-teacher/_step_1_decide_who_to_teach.html.erb
Labels: ruby, Review, content

#3392 Add vwo header js code
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  .env.test
  app/views/sections/_head.html.erb
  app/webpacker/javascript/vwo.js
  app/webpacker/packs/vwo.js
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3414 removing reference to 5 step guide
  app/views/content/is-teaching-right-for-me/_how_to_become_a_teacher.html.erb
Labels: ruby, Review, content

#3423 Updating salaries page info
  app/views/content/landing/how-much-do-teachers-get-paid/_collage.html.erb
  app/views/content/salaries-and-benefits.md
  app/views/content/what-pension-does-a-teacher-get.md
Labels: ruby, Review, content

#3422 Remove providers groups as it's been removed from the page
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#3425 Fix vwo as it has to be exact code even with linting errors
  .erb-lint.yml
  app/views/sections/_head.html.erb
Labels: ruby, Review

#3427 Creating new salaried courses page
  app/views/content/blog/salaried-teacher-training-classroom-learning.md
  app/views/content/blog/why-dont-you-teach-miss.md
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/salaries-and-benefits.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: Review, content

#3371 Added Jersey and Guernsey
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#3420 Replace /tta-service path with the /teacher-training-adviser/sign_up/identity
  .env.development.yml
  .env.pagespeed
  .env.preprod
  .env.production
  .env.rolling
  .env.test
  app/components/footer/talk_to_us_component.html.erb
  app/controllers/pages_controller.rb
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/views/callbacks/steps/completed.html.erb
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/getting-ready-to-apply.md
  app/views/content/blog/jills-story-getting-back-into-the-classroom.md
  app/views/content/blog/marias-return-to-teaching-story.md
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-autism.md
  app/views/content/blog/top-tips-for-returning-teachers.md
  app/views/content/blog/why-i-became-a-teacher.md
  app/views/content/explore-teaching-advisers/_article.html.erb
  app/views/content/funding-and-support/_questions.html.erb
  app/views/content/home/_calls-to-action.html.erb
  app/views/content/home/_directory.html.erb
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_support-for-teachers-of-secondary-subjects.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/returning-to-teaching.md
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/teacher-training-advisers.md
  app/views/errors/not_found.html.erb
  app/views/event_steps/completed.html.erb
  config/initializers/secure_headers.rb
  config/redirects.yml
  config/routes.rb
  lib/disable_turbolinks.rb
  lib/middleware/html_response_transformer.rb
  spec/features/content_pages_spec.rb
  spec/lib/disable_turbolinks_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review, content, Config

#3429 Re-order international pages
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3428 improve adviser completion page for international callbacks
  app/views/teacher_training_adviser/steps/completed.html.erb
  spec/features/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review

#3431 Fix failing integration test
  spec/integration/teacher_training_adviser_spec.rb
Labels: test, Review

#3424 creating a new physics page
  app/views/content/subjects/physics.md
  app/views/content/subjects/physics/_adviser-promo-physics.html.erb
  app/views/content/subjects/physics/_article.html.erb
  app/views/content/subjects/physics/_header.html.erb
  app/views/content/teaching-internship-providers/_listing.html.erb
  config/locales/en.yml
Labels: ruby, Review, content, Config

#3411 Differentiating between fee-paying and salaried trainees
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content
