Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-06, with the labels that each got.

#3336 Update links in inset text component to be consistent colour with other site links
  app/webpacker/styles/components/inset-text.scss
Labels: Review, Style

#3300 Create get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3338 Fix ncurses vulnerability
  Dockerfile
Labels: docker, Review

#3339 Optimising page titles and descriptions for SEO
  app/views/content/returning-to-teaching.md
  app/views/content/salaries-and-benefits.md
  app/views/content/subjects/engineers-teach-physics.md
  app/views/content/subjects/maths.md
  app/views/content/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
  app/views/content/teacher-training-advisers.md
  app/views/content/teaching-internship-providers.md
  app/views/content/train-to-be-a-teacher.md
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-want-to-change-career.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/subject-knowledge-enhancement.md
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
  app/views/content/what-pension-does-a-teacher-get.md
Labels: Review, content

#3342 Adviser funnel tweaks
  app/views/wizard/steps/_authenticate.html.erb
  config/locales/en.yml
  spec/features/book_callback_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/features/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review, Config

#3346 Bump versions of libcrypto and libssl1.1
  Dockerfile
Labels: docker, Review

#3318 Fix broken iQTS (teaching in Wales)
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: ruby, docker, test, Review, content

#3321 Enable the TTA sign up in production
  .env.production
Labels: Review

#3352 Updating feedback form link in the footer
  app/components/footer_component.html.erb
Labels: ruby, Review

#3353 updating internships page
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content

#3356 Unwind train to be a teacher split test test 12
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, Config

#3354 Various dependency updates
  Gemfile
  Gemfile.lock
  app/webpacker/styles/components/photo-quote-list.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/google-optimize.scss
  package.json
  yarn.lock
Labels: Review, Style

#3357 How to become a teacher tweaks
  app/views/content/steps-to-become-a-teacher/_step_7_apply_for_a_teaching_role.erb
  app/views/content/support-for-early-career-teachers.md
Labels: ruby, Review, content

#3359 Update extra-navigation.scss
  app/webpacker/styles/header/extra-navigation.scss
Labels: Review, Style

#3309 Consolidate TeachingSubject presentation
  app/helpers/welcome_content_helper.rb
  app/models/crm/teaching_subject.rb
  app/models/events/steps/personalised_updates.rb
  app/models/mailing_list/steps/subject.rb
  app/models/teacher_training_adviser/steps/subject_interested_teaching.rb
  app/models/teacher_training_adviser/steps/subject_like_to_teach.rb
  app/models/teacher_training_adviser/steps/subject_taught.rb
  app/models/teacher_training_adviser/steps/what_subject_degree.rb
  spec/factories/events/personalised_updates_factory.rb
  spec/features/event_wizard_spec.rb
  spec/helpers/welcome_helper_spec.rb
  spec/models/crm/teaching_subject_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/mailing_list/steps/subject_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/teacher_training_adviser/steps/subject_interested_teaching_spec.rb
  spec/models/teacher_training_adviser/steps/subject_like_to_teach_spec.rb
  spec/models/teacher_training_adviser/steps/subject_taught_spec.rb
  spec/models/teacher_training_adviser/steps/what_subject_degree_spec.rb
  spec/support/wizard_support.rb
Labels: ruby, test, Review

#3347 Update get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content

#3366 Set version of shakapacker to match its version in package.json
  Gemfile
  Gemfile.lock
Labels: Review

#3365 Unwind How to be a teacher iterated design split test (Test 13)
  app/views/content/landing/how-to-become-a-teacher-mailing-list.md
  app/views/content/landing/how-to-become-a-teacher-mailing-list/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher-mailing-list/_header.html.erb
  app/views/content/landing/how-to-become-a-teacher-mailing-list/_promo.html.erb
  app/views/content/landing/how-to-become-a-teacher-mailing-list/_steps.html.erb
  app/views/content/landing/how-to-become-a-teacher.md
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher/_mailing-list.html.erb
  app/views/content/landing/how-to-become-a-teacher/_mailing_list.html.erb
  app/views/content/landing/how-to-become-a-teacher/_promo.html.erb
  app/views/content/landing/how-to-become-a-teacher/_steps.html.erb
  config/google_optimize.yml
  config/redirects.yml
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review, content, Config

#3367 updating still time to apply page
  app/views/content/landing/still-time-to-apply/_content.html.erb
Labels: ruby, Review, content
