Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-10, with the labels that each got.

#3562 Clarifying degree you need to teach
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: ruby, Review, content, policy sign off

#3560 Remove duplicated links from the footer
  app/components/footer_component.html.erb
  app/webpacker/styles/footer.scss
Labels: ruby, Review, Style

#3581 Updating degree subjects on physics page for 2023
  app/views/content/subjects/physics/_article.html.erb
Labels: ruby, Review, content

#3508 removing references to School Direct
  app/views/content/blog/a-diary-of-a-trainee-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/why-dont-you-teach-miss.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
Labels: Review, content, policy sign off

#3567 Updating wording on SKE page
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
Labels: Review, content, policy sign off

#3568 Add deploy workflow for review_aks env
  .github/common_environment_aks.yml
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build.yml
  .github/workflows/destroy_aks.yml
  tests/confidence/healthcheck_aks.sh
Labels: test, DevOps, Review, Review_v2

#3564 Load new internship providers
  app/views/content/teaching-internship-providers.md
  app/views/content/teaching-internship-providers/_listing.html.erb
  lib/internship_provider.rb
Labels: ruby, Review, content

#3561 Update internships page for new cycle
  app/views/content/home/_directory.html.erb
  app/views/content/teaching-internship-providers.md
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content, Review_v2

#3585 Update dns and azure front door for aks
  Makefile
  global_config/test_aks.sh
  terraform/domains/environment_domains/analytics.tf
  terraform/domains/environment_domains/config/development.tfvars.json
  terraform/domains/environment_domains/config/development_Terrafile
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
Labels: DevOps, Review, Review_v2

#3587 Fixing internship listing
  app/views/content/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content, Review_v2

#3582 Add focus state to menu button
  app/webpacker/images/icon-arrow-down-white.svg
  app/webpacker/styles/header/menu-button.scss
Labels: Review, Style

#3580 Word length added to PS section on Train to teach
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#3586 Updating hint text about QTS on adviser funnel
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
Labels: ruby, Review, Review_v2

#3588 Encouraging candidates to apply early
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
Labels: Review, content, Review_v2

#3590 Remove a non-breaking space from docs
  docs/development.md
Labels: Review, Review_v2

#3594 Fix secrets for dependabot review apps
  .github/workflows/build.yml
Labels: DevOps, Review, Review_v2

#3592 Add Colchester TTC and update Uni of Derby on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content, Review_v2

#3591 fix command instruction
  docs/development.md
Labels: Review, Review_v2

#3552 Improving maths page
  app/views/content/subjects/maths.md
  app/views/content/subjects/maths/_adviser-promo-maths.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/subjects/maths/_header.html.erb
  app/webpacker/images/content/subjects/rotna-roy.jpeg
  config/images.yml
Labels: ruby, Review, content, Config, Review_v2

#3595 Increase spacing between page numbers
  app/webpacker/styles/components/pagination.scss
Labels: Review, Style, Review_v2

#3589 Improving guidance around QTS
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/salaries-and-benefits.md
  app/views/content/support-for-early-career-teachers.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/what-is-a-pgce.md
  app/views/content/what-is-qts.md
Labels: ruby, Review, content, policy sign off, Review_v2

#3598 Bursaries and scholarships updates
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/is-teaching-right-for-me/_facts_and_figures.html.erb
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/how-to-fund-your-teacher-training/_collage.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/subjects/physics/_article.html.erb
  config/locales/en.yml
  spec/components/funding_widget_component_spec.rb
Labels: ruby, test, Review, content, Config, Review_v2

#3584 Year 2 updates and eligibility changes
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content, Review_v2

#3593 Add AKS development environment
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/actions/owasp_v2/action.yml
  .github/workflows/build.yml
  Makefile
  global_config/development_aks.sh
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/config/development_aks_Terrafile
  terraform/aks/variables.tf
Labels: DevOps, Review, Review_v2

#3597 Remove the span tag from ul list, update class of list to be the flex container, move margin from being on the right of the span, to the left of the search icon
  app/components/header/extra_navigation_component.html.erb
  app/webpacker/styles/header/extra-navigation.scss
  spec/components/header/extra_navigation_component_spec.rb
Labels: ruby, test, Review, Style, Review_v2

#3605 Uni of Derby bust link
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content, Review_v2

#3604 Move order of keys to create change in order of markdown output
  lib/internship_provider.rb
Labels: ruby, Review, Review_v2

#3603 Update details on Assessment only page for University of Sussex and NITE
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content, Review_v2

#3611 Amending wording around salaries
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/salaries-and-benefits.md
Labels: ruby, Review, content, Review_v2

#3615 Fix hostname for test front door origin group
  terraform/domains/environment_domains/config/test.tfvars.json
Labels: DevOps, Review, Review_v2

#3614 Removing salaries consultation banner
  app/views/content/salaries-and-benefits.md
Labels: Review, content, Review_v2

#3607 Add AKS test env
  .github/workflows/build.yml
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/config/test_aks_Terrafile
Labels: ruby, DevOps, Review, Review_v2

#3609 Update get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content, Review_v2

#3602 Updated category page styling
  app/components/categories/card_component.html.erb
  app/webpacker/styles/category.scss
  app/webpacker/styles/sections/hero.scss
  spec/components/categories/card_component_spec.rb
Labels: ruby, test, Review, Style, Review_v2

#3622 Fix 'Get help and support' formatting
  app/views/content/help-and-support/_mailing_list.html.erb
Labels: ruby, Review, content, Review_v2

#3497 Upgrade zendesk chat widget with the new code snippet
  app/webpacker/controllers/chat_controller.js
  config/initializers/secure_headers.rb
  spec/javascript/controllers/chat_controller_spec.js
Labels: ruby, test, Review, Config, Review_v2

#3620 Create AKS prod environment
  .github/workflows/build.yml
  Makefile
  terraform/aks/application.tf
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/config/production_aks_Terrafile
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/database.tf
  terraform/aks/variables.tf
Labels: DevOps, Review, Review_v2

#3628 Add api.smooch.io to zendesk list for secure headers
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config, Review_v2

#3623 Add workflow to copy PaaS database to AKS
  .github/workflows/actions/backup_and_restore/action.yml
  .github/workflows/backup-and-restore.yml
  .gitignore
  Makefile
  terraform/aks/database.tf
Labels: DevOps, Review, Review_v2

#3630 Remove code that starts and appends chat widget to the DOM
  app/webpacker/controllers/chat_controller.js
  spec/features/chat_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
Labels: test, Review, Review_v2

#3640 Remove nodejs pkg version from Dockerfile
  Dockerfile
Labels: docker, Review, Review_v2

#3621 Create new rake task that utilizes an ERB file to generate the teaching internship providers page and update the documentation
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  docs/content.md
  lib/internship_provider.rb
  lib/tasks/csv_to_yaml.rake
  lib/tasks/generate_teaching_internship_providers.rake
  lib/tasks/support/internship_providers.csv
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: ruby, test, Review, content, Review_v2

#3642 Fix alignment issues on landing page headers
  app/webpacker/styles/components/campaign-hero.scss
Labels: Review, Style, Review_v2

#3644 Update order of keys in listings and update to latest version of CSV
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: Review, content, Review_v2

#3646 Remove applications open inset text
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: Review, content, Review_v2

#3645 Exclude file types from compression for aks
  config.ru
Labels: Review, Review_v2

#3637 Move-QTS-and-PGCE-pages-into-train-to-be-a-teacher
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/is-teaching-right-for-me/if-you-want-to-change-career.md
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/non-uk-teachers/_questions.html.erb
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
  config/redirects.yml
Labels: ruby, Review, content, Config, policy sign off, Review_v2

#3649 Adding-inital-teacher-training-page-to-nav
  app/views/content/train-to-be-a-teacher.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
Labels: Review, content, Review_v2

#3641 Change page titles to match the category
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
Labels: Review, content, Review_v2

#3652 Remove GLF Schools from Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content, Review_v2

#3650 Updating classics bursary wording
  config/locales/en.yml
Labels: Review, Config, Review_v2

#3653 Fix category page padding issue
  app/webpacker/styles/category.scss
Labels: Review, Style, Review_v2

#3651 Migrate dev env to aks
  .github/workflows/build.yml
Labels: DevOps, Review, Review_v2

#3625 Choose your course guidance retry
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: Review, content, Review_v2

#3654 Fix events card component issue
  app/views/teaching_events/about_git_events.html.erb
  app/webpacker/styles/category.scss
Labels: ruby, Review, Style, Review_v2

#3658 749 migrate test env to aks
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build.yml
  config/environments/test.rb
Labels: ruby, DevOps, Review, Config, Review_v2

#3657 Minor improvements to the internships page
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  app/views/content/is-teaching-right-for-me/teaching-internship-providers/_listing.html.erb
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: ruby, Review, content, Review_v2

#3662 Add URL for Leeds Trinity on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content, Review_v2

#3663 Enable AKS production
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps, Review, Review_v2
