Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-12, with the labels that each got.

#3525 Fees and funding cut and restructure
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: Review, content, Review_v2

#3725 Update pay scales
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
Labels: content, Review_v2

#3723 Dependant visa update
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: content, Review_v2

#3741 Update message on About GIT events page when no events listed
  app/views/teaching_events/about_git_events.html.erb
Labels: Review_v2

#3747 Delete Uni of Bedfordshire from Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review_v2

#3743 Overseas returner changes for teaching vacancies
  app/views/content/blog/returning-to-teaching-with-international-experience.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_check-your-qualifications.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_find-your-next-role.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_get-ready-to-apply.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_get-started-on-your-personal-and-professional-admin.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_read-up-on-changes-to-english-education.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_research-visas-and-immigration.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_support-for-teachers-of-secondary-subjects.md
  app/views/teacher_training_adviser/steps/_primary_returner.erb
  app/webpacker/images/content/blog/thumbnails/stories-katie.jpg
  config/redirects.yml
  config/routes.rb
  config/tags.yml
Labels: Review_v2

#3751 Redirect Return to England content to Teaching Vacancies v2
  app/views/content/blog/returning-to-teaching-with-international-experience.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_after-accordion.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_check-your-qualifications.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_find-your-next-role.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_get-ready-to-apply.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_get-started-on-your-personal-and-professional-admin.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_read-up-on-changes-to-english-education.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_research-visas-and-immigration.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_support-for-teachers-of-secondary-subjects.md
  app/views/teacher_training_adviser/steps/_primary_returner.erb
  app/webpacker/images/content/blog/thumbnails/stories-katie.jpg
  config/redirects.yml
  config/routes.rb
  config/tags.yml
Labels: Review_v2

#3752 Update to cookie content
  app/views/cookie_preferences/show.html.erb
  app/views/pages/cookies.md
Labels: Review_v2

#3687 Rejig teacher training adviser flow to allow for primary candidates to also get an adviser instead of stopping the flow
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/models/teacher_training_adviser/steps/primary_returner.rb
  app/models/teacher_training_adviser/steps/stage_interested_teaching.rb
  app/models/teacher_training_adviser/steps/stage_taught.rb
  app/models/teacher_training_adviser/steps/subject_like_to_teach.rb
  app/models/teacher_training_adviser/steps/subject_taught.rb
  app/models/teacher_training_adviser/wizard.rb
  app/views/teacher_training_adviser/steps/_has_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_previous_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_primary_returner.erb
  app/views/teacher_training_adviser/steps/_stage_taught.html.erb
  config/locales/en.yml
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  spec/contracts/teacher_training_adviser_spec.rb
  spec/features/teacher_training_adviser/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/primary_returner_spec.rb
  spec/models/teacher_training_adviser/steps/stage_taught_spec.rb
  spec/models/teacher_training_adviser/steps/subject_taught_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/support/spec_helpers/contract.rb
Labels: ruby, test, Config, Review_v2

#3753 Updates to video transcripts
  app/views/content/how-to-apply-for-teacher-training/ske-explained-transcript.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/why-train-to-teach-transcript.md
Labels: Review_v2

#3749 Update accessibility statement to remove video content issue
  app/views/content/accessibility.md
Labels: Review_v2

#3745 Update How to become a teacher landing with campaign messaging
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/steps-to-become-a-teacher/_step_8_start_your_career.erb
Labels: Review_v2

#3721 Update content.md
  docs/content.md
Labels: Review_v2

#3757 Fix for labeler v5
  .github/labeler.yml
Labels: Review_v2

#3756 Remove caption from why-teach component
  app/views/content/funding-and-support/_why-teach.html.erb
  app/views/content/how-to-apply-for-teacher-training/_why-teach.html.erb
  app/views/content/non-uk-teachers/_why-teach.html.erb
  app/views/content/train-to-be-a-teacher/_why-teach.html.erb
  app/webpacker/styles/category.scss
Labels: ruby, Style, content, Review_v2

#3754 Update train to be a teacher landing page with campaign messaging
  app/views/content/train-to-be-a-teacher.md
Labels: Review_v2

#3758 Internships update for 14 Dec 2023
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: content, Review_v2

#3759 Homepage update service proposition to reflect campaign messaging
  app/views/content/home.md
Labels: content, Review_v2

#3762 Add message re holiday response time on adviser funnel completed page
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: ruby, Review_v2

#3767 Remove check service principal workflow
  .github/workflows/check_sp.yml
Labels: DevOps, Review_v2

#3768 766 git add aks statuscake monitoring for prod
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/monitoring.tf
  terraform/aks/statuscake.tf
  terraform/aks/variables.tf
Labels: DevOps, Review_v2
