Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2023-03, with the labels that each got.

#3156 Prevent caching of JS/CSS assets in development
  config/webpack/webpack.config.js
  config/webpacker.yml
Labels: Review, Config

#3146 updating How to apply page
  app/views/content/blog/9-tips-to-help-you-apply-for-teacher-training.md
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
Labels: Review, content

#3159 Remove cache read metric
  config/initializers/instrumentation.rb
  lib/prometheus/metrics.rb
  spec/lib/prometheus/metrics_spec.rb
  spec/requests/instrumentation_spec.rb
Labels: ruby, test, Review, Config

#3161 Duplicate steps page for A/B test
  app/views/content/steps-to-become-a-teacher-search.md
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, content, Config

#3162 Update copy on mailing list postcode step
  app/views/mailing_list/steps/_postcode.html.erb
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
  spec/integration/integration_spec.rb
Labels: ruby, test, Review, Config

#3163 Updating SKE card description and CTA
  app/views/content/train-to-be-a-teacher/_questions.html.erb
Labels: ruby, Review, content

#3140 refresh of who do you want to teach
  app/views/content/become-a-further-education-teacher.md
  app/views/content/train-to-be-a-teacher/who-do-you-want-to-teach.md
Labels: Review, content

#3167 Fix link color for accessibility
  app/components/content/talk_to_us_component.html.erb
Labels: ruby, Review

#3164 Fix mailing list integration tests
  spec/integration/integration_spec.rb
Labels: test, Review

#3168 No-index blog tag pages
  app/controllers/blog/tag_controller.rb
Labels: ruby, Review

#3169 Update link color for accessibility
  app/components/chat_component.html.erb
Labels: ruby, Review

#3130 Consolidating assessment only pages
  app/views/content/non-uk-teachers/fees-and-funding-for-non-UK-trainees.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas/_check-your-qualifications.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/_listing.html.erb
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/_update-details.erb
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  app/views/content/train-to-be-a-teacher/if-you-have-experience.md
  app/views/content/what-is-qts.md
  config/redirects.yml
Labels: ruby, Review, content, Config, policy sign off

#3158 Add landing page for steps to become a teacher
  app/components/content/mailing_list_component.html.erb
  app/components/content/mailing_list_component.rb
  app/controllers/pages_controller.rb
  app/views/content/landing/how-much-do-teachers-get-paid/_mailing_list.html.erb
  app/views/content/landing/how-to-become-a-teacher.md
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher/_header.html.erb
  app/views/content/landing/how-to-become-a-teacher/_mailing_list.html.erb
  app/views/content/landing/how-to-become-a-teacher/_promo.html.erb
  app/views/content/landing/how-to-become-a-teacher/_steps.html.erb
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/steps.scss
  spec/components/content/mailing_list_component_spec.rb
  spec/support/page_testing_support.rb
Labels: ruby, test, Review, Style, content

#3172 Updating maintenance loan amount
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
Labels: Review, content

#3176 Update guidance re EOI
  app/views/content/non-uk-teachers/fees-and-funding-for-non-UK-trainees.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#3173 tweaking non-UK meta descriptions
  app/views/content/non-uk-teachers/fees-and-funding-for-non-UK-trainees.md
  app/views/content/non-uk-teachers/return-to-england-after-teaching-overseas.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#3180 Update internship providers
  app/views/content/teaching-internship-providers.md
Labels: Review, content

#3174 adding messages on primary and secondary training
  app/views/content/train-to-be-a-teacher/how-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/what-is-a-pgce.md
  app/views/content/what-is-qts.md
Labels: Review, content

#3183 Update GIT accessibility statement with holding text
  app/views/content/accessibility.md
Labels: Review, content

#3182 Unwind salaries and benefits landing pages/tests
  app/views/content/landing/how-much-do-teachers-get-paid-social.md
  app/views/content/salaries-and-benefits-search.md
  app/views/content/salaries-and-benefits-social.md
  config/google_optimize.yml
  config/redirects.yml
  spec/helpers/application_helper_spec.rb
  spec/requests/redirects_spec.rb
Labels: test, Review, content, Config

#3178 Add funding your training landing page
  app/components/content/checklist_collage_component.html.erb
  app/components/content/checklist_collage_component.rb
  app/controllers/pages_controller.rb
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/how-to-fund-your-teacher-training/_collage.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_header.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_mailing_list.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_promo.html.erb
  app/webpacker/styles/components/checklist-collage.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown.scss
  app/webpacker/styles/table.scss
  spec/components/content/checklist_collage_component_spec.rb
  spec/support/page_testing_support.rb
Labels: ruby, test, Review, Style, content, policy sign off

#3181 Duplicate scholarship/bursaries page for test
  app/controllers/pages_controller.rb
  app/views/content/funding-and-support/scholarships-and-bursaries-search.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  config/google_optimize.yml
  config/routes.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review, content, Config

#3190 Updates for A/B tests
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree-search.md
  config/google_optimize.yml
  spec/helpers/application_helper_spec.rb
Labels: test, Review, content, Config

#3194 Add Chepping View Primary Academy SCITT to Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3195 minor tweak to IRP indent text
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#3200 Adding research report
  app/views/content/research.md
  app/webpacker/documents/lessons-shape-lives-teaching-report.pdf
Labels: Review, content

#3202 Updating postcode error message
  config/locales/en.yml
  spec/models/events/steps/personalised_updates_spec.rb
  spec/models/mailing_list/steps/postcode_spec.rb
Labels: test, Review, Config

#3203 Accessibility updates
  app/views/teaching_events/index/_filter.html.erb
  lib/accessible_footnotes.rb
  lib/middleware/html_response_transformer.rb
  spec/lib/accessible_footnotes_spec.rb
  spec/requests/accessible_footnotes_spec.rb
  spec/support/views/content/content-page.md
Labels: ruby, test, Review
