Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-04, with the labels that each got.

#3929 Update RTTA landing page title and meta description
  app/views/content/landing/return-to-teaching-advisers.md
Labels: Review, content

#3912 IRP eligibility criteria updated and trainee content removed
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/why-train-to-teach-transcript.md
Labels: Review, content

#3933 Update pension contributions
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/is-teaching-right-for-me/what-pension-does-a-teacher-get.md
Labels: Review, content

#3935 Delete work to your own beat blog post
  app/views/content/blog/working-to-your-own-beat.md
  config/redirects.yml
Labels: Review, content

#3930 Why train to teach in England video transcript deleted and redirect c…
  app/views/content/non-uk-teachers/why-train-to-teach-transcript.md
  config/redirects.yml
Labels: Review, content, Config

#3941 Update internships for April 2024
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#3940 Update fund teacher training landing page
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
Labels: Review, content

#3938 Non-UK citizen update
  app/views/content/non-uk-teachers.md
Labels: Review, content

#3932 Update SKE page
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
Labels: Review, content, policy sign off

#3943 Update contact details for University of Derby on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3944 Improve integration test reliability
  spec/integration/mailing_list_spec.rb
Labels: test, Review

#3934 Added deep link to engineers teach physics courses on Find
  app/views/content/is-teaching-right-for-me/engineers-teach-physics/_article.html.erb
Labels: ruby, Review, content

#3949 Set word break on cookies form
  app/webpacker/styles/forms.scss
Labels: Review, Style

#3947 Update govuk frontend to 5.3.0
  app/components/footer_component.html.erb
  app/components/header_component.html.erb
  app/helpers/application_helper.rb
  app/views/kaminari/_paginator.html.erb
  package.json
  spec/helpers/application_helper_spec.rb
  yarn.lock
Labels: ruby, test, Review

#3937 Visa sponsorship salary thresholds updated
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#3948 Allow adviser component to support html intro text
  app/components/content/adviser_component.html.erb
  app/components/content/adviser_component.rb
  app/views/content/landing/return-to-teaching-advisers/_adviser.html.erb
Labels: ruby, Review, content

#3951 Remove double space from Step 2 of How to become a teacher
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
Labels: ruby, Review, content

#3939 Update QTS and PGCE references to be consistent with Find
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-interview.md
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/promos/_find-your-course-pgce.html.erb
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: ruby, Review, content, policy sign off

#3952 Added infra team group to statuscake
  terraform/aks/variables.tf
Labels: DevOps, Review

#3927 Fees page
  app/views/content/funding-and-support.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-and-support/tuition-fees.md
Labels: ruby, Review, content, policy sign off

#3954 Update README.md
  README.md
Labels: Review

#3953 Content doc updates
  docs/content.md
Labels: Review

#3950 Wording changed on bursaries and scholarships
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: Review, content

#3902 Train to teach TTA guidance updated
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#3956 Fix sonarcloud issue
  app/components/single_question_survey_component.html.erb
  app/helpers/application_helper.rb
  app/views/feedback/steps/_purpose.html.erb
  app/views/feedbacks/_recent.html.erb
  app/views/internal/events/new.html.erb
  app/views/layouts/minimal.html.erb
  config/routes.rb
  spec/components/single_question_survey_component_spec.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review, Config

#3957 Delete Yorkshire and Humber Teacher Training from Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3955 IRP application window extended
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content
