Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-12, with the labels that each got.

#4379 Simplify text partials
  app/views/content/shared/quotes/_quote_career_change_jack.html.erb
  app/views/content/shared/quotes/_quote_career_change_jodie.html.erb
  app/views/content/shared/quotes/_quote_career_change_mark.html.erb
  app/views/content/shared/quotes/_quote_career_change_phil.html.erb
  app/views/content/shared/quotes/_quote_computing_shiulee.html.erb
  app/views/content/shared/quotes/_quote_design_technology_andrew.html.erb
  app/views/content/shared/quotes/_quote_drama_itasha.html.erb
  app/views/content/shared/quotes/_quote_engineers_teach_physics_chris.html.erb
  app/views/content/shared/quotes/_quote_engineers_teach_physics_roger.html.erb
  app/views/content/shared/quotes/_quote_english_laura.html.erb
  app/views/content/shared/quotes/_quote_history_jack.html.erb
  app/views/content/shared/quotes/_quote_languages_jacqui.html.erb
  app/views/content/shared/quotes/_quote_languages_tom.html.erb
  app/views/content/shared/quotes/_quote_maths_dimitra.html.erb
  app/views/content/shared/quotes/_quote_maths_rotna.html.erb
  app/views/content/shared/quotes/_quote_progression_chris.html.erb
  app/views/content/shared/quotes/_quote_religiouseducation_sandra.html.erb
  app/views/content/shared/quotes/_quote_science_holly.html.erb
  app/views/content/shared/quotes/_quote_science_jane.html.erb
  app/views/content/shared/quotes/_quote_send_gloria.html.erb
Labels: ruby, Review, content

#4376 Close button on search
  app/components/header/extra_navigation_component.html.erb
  app/webpacker/controllers/searchbox_controller.js
  spec/javascript/controllers/searchbox_controller_spec.js
Labels: ruby, test, Review

#4381 Replace terrafile
  .gitignore
  Makefile
  global_config/beta.sh
  global_config/development.sh
  global_config/domains.sh
  global_config/production.sh
  global_config/review.sh
  global_config/test.sh
  terraform/aks/config/development_Terrafile
  terraform/aks/config/production_Terrafile
  terraform/aks/config/review_Terrafile
  terraform/aks/config/test_Terrafile
  terraform/domains/environment_domains/config/beta_Terrafile
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/config/test_Terrafile
  terraform/domains/infrastructure/config/zones_Terrafile
Labels: DevOps, Review

#4377 Remove manual dates from content pages
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/home.md
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-interview.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression.md
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: Review, content

#4393 Update Now Teach content
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_article.html.erb
Labels: ruby, Review, content

#4375 Adviser promo component
  app/components/calls_to_action/adviser_component.html.erb
  app/components/calls_to_action/adviser_component.rb
  app/presenters/content/component_injector.rb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-degree.html.erb
  app/webpacker/images/adviser-black.png
  app/webpacker/styles/components/adviser.scss
  app/webpacker/styles/git.scss
  docs/content.md
  lib/template_handlers/markdown.rb
  spec/components/calls_to_action/adviser_component_spec.rb
Labels: ruby, test, Review, Style, content

#4396 Tweak ordering on Assessment only page and Internships page to ignore case
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/generate_assessment_only_providers.rake
  lib/tasks/generate_teaching_internship_providers.rake
  lib/tasks/support/assessment-only-route-to-qts.md.erb
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: ruby, Review, content

#4401 Rolling back Ruby 3.3 to Ruby 3.1 (again)
  .devcontainer/devcontainer.json
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  lib/patch_rack_page_caching.rb
  spec/capybara_driver_helper.rb
  spec/features/chat_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
Labels: ruby, docker, test, Review, Config

#4402 Updated latest internship providers list
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#4374 Amends image block component to support an optional title color
  app/components/content/image_block_component.html.erb
  app/components/content/image_block_component.rb
Labels: ruby, Review

#4403 Update events holding message
  app/views/teaching_events/about_git_events.html.erb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#4385 Add navigation directory component to life as a teacher category pages
  app/views/content/life-as-a-teacher/_directory-nav.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms.md
  app/views/content/life-as-a-teacher/change-careers.md
  app/views/content/life-as-a-teacher/explore-subjects.md
  app/views/content/life-as-a-teacher/pay-and-benefits.md
  app/views/content/life-as-a-teacher/teaching-as-a-career.md
  app/webpacker/images/content/homepage/directory1.jpg
  app/webpacker/images/content/homepage/directory2.jpg
  app/webpacker/images/content/homepage/directory3.jpg
  app/webpacker/styles/blocks.scss
  config/images.yml
Labels: ruby, Review, Style, content, Config

#4406 Updated aria label for chat button to match link text
  app/components/chat_component.html.erb
Labels: ruby, Review

#4407 Replace adviser promos in the funding section
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/promos/_get-adviser-funding-promo.html.erb
  app/views/content/funding-and-support/promos/_get-adviser-support-promo.html.erb
  app/views/content/funding-and-support/promos/_get-adviser-veterans-promo.erb
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-and-support/tuition-fees.md
Labels: ruby, Review, content

#4408 Fix height of images in landing hero component
  app/webpacker/styles/sections/hero.scss
Labels: Review, Style

#4409 Replace adviser promo in the apply section
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-interview.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-apply.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-interviews.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-ske.html.erb
Labels: ruby, Review, content

#4356 updating mentions of overseas on the website
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/mailing_list/steps/_already_qualified.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  config/locales/en.yml
Labels: ruby, test, Review, content, Config

#4299 Enable big query config in aks service
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/destroy_review.yml
  config/initializers/dfe_analytics.rb
  terraform/aks/.terraform.lock.hcl
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/review.tfvars.json
  terraform/aks/dfe_analytics.tf
  terraform/aks/variables.tf
Labels: ruby, DevOps, Review, Config

#4413 Update adviser promos in Life as a teacher section
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers.md
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher.md
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers.md
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/early-career-teachers.md
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-career-changers.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-ect.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-send.erb
Labels: ruby, Review, content

#4416 Update Assessment Only provider list
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment-only-route-to-qts.md.erb
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4418 Fix CI build persmissions
  .github/workflows/build.yml
Labels: DevOps, Review

#4395 Update career progression content
  app/views/content/life-as-a-teacher/teaching-as-a-career/_categories.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression/_header.html.erb
  app/views/content/shared/quotes/_quote-teaching-abigail.html.erb
  app/views/content/shared/quotes/_quote_progression_aaron.html.erb
  app/views/content/shared/quotes/_quote_progression_gloria.html.erb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: ruby, Review, content, policy sign off

#4399 changes to the iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#4414 Update adviser promo in train to teach section
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/_update-details.erb
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-apply.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-assessment-only.html.erb
  app/views/content/train-to-be-a-teacher/promos/_adviser-promo-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_eta-promo-internships.html.erb
  app/views/content/train-to-be-a-teacher/school-placements.md
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/assessment-only-route-to-qts.md.erb
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: ruby, Review, content

#4423 Enable federated auth for big query
  terraform/aks/config/production.tfvars.json
Labels: DevOps, Review

#4410 Update webchat code to version 06-12-2024
  app/webpacker/javascript/index-24235727.js
  app/webpacker/packs/chat.js
Labels: Review

#4424 Replace adviser promos on non-uk and steps page
  app/views/content/life-as-a-teacher/change-careers/_adviser-promo-change-careers.html.erb
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/promos/_adviser-promo-returners.html.erb
  app/views/content/non-uk-teachers/promos/_adviser-promo-teach-in-england.html.erb
  app/views/content/non-uk-teachers/promos/_adviser-promo-training-in-england.html.erb
  app/views/content/non-uk-teachers/promos/_adviser-promo-ukraine.html.erb
  app/views/content/non-uk-teachers/promos/_events-promo-iqts.html.erb
  app/views/layouts/steps.html.erb
Labels: ruby, Review, content

#4373 Change date formats on check answers page in adviser funnel
  app/helpers/answer_helper.rb
  spec/helpers/answer_helper_spec.rb
Labels: ruby, test, Review

#4425 Update links to Teach in further education site
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
Labels: ruby, Review, content

#4422 Update mailing list start page
  app/views/mailing_list/steps/_name.html.erb
  docs/sign-up-journeys.md
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review

#4427 Fixes issue with wrapping on section containers
  app/webpacker/styles/layout.scss
Labels: Review, Style

#4429 Revert "Fixes issue with wrapping on section containers that cause th…
  app/webpacker/styles/layout.scss
Labels: Review, Style

#4428 Replace adviser promo on subject pages
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design.md
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology.md
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry.md
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/drama.md
  app/views/content/life-as-a-teacher/explore-subjects/drama/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/english.md
  app/views/content/life-as-a-teacher/explore-subjects/english/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/geography.md
  app/views/content/life-as-a-teacher/explore-subjects/geography/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/history.md
  app/views/content/life-as-a-teacher/explore-subjects/history/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages.md
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths.md
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/music.md
  app/views/content/life-as-a-teacher/explore-subjects/music/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/religious-education.md
  app/views/content/life-as-a-teacher/explore-subjects/religious-education/_article.html.erb
  app/views/content/shared/subject-pages/_adviser-promo.html.erb
  docs/content.md
  spec/views/content/shared/adviser_promo.html.erb_spec.rb
Labels: ruby, test, Review, content

#4432 Update accessibility statement for WCAG 2.2
  app/views/content/accessibility.md
Labels: Review, content

#4434 updated assessment only provider listings
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content
