Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-08, with the labels that each got.

#4104 Explore teaching advisers
  app/views/content/explore-teaching-advisers.md
  app/views/content/explore-teaching-advisers/_article.html.erb
  app/views/content/explore-teaching-advisers/_ending.html.erb
  app/views/content/explore-teaching-advisers/_header.html.erb
Labels: ruby, Review, content

#4103 Move qualifications content
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/if-you-want-to-change-career.md
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
  app/views/content/is-teaching-right-for-me/physics/_article.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_qualification_required.html.erb
  config/redirects.yml
Labels: ruby, Review, content, Config

#4086 IRP split page changes
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content

#4107 Sign up page updates
  app/views/layouts/registration_with_side_images.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/webpacker/images/content/mailing-list-signup/left.jpg
  app/webpacker/images/content/mailing-list-signup/right.jpg
  app/webpacker/images/content/tta-sign-up/left.jpg
  app/webpacker/images/content/tta-sign-up/right.jpg
Labels: ruby, Review

#4122 add id to details tag in expander
  app/components/content/expander_component.html.erb
  app/components/content/expander_component.rb
  spec/components/content/expander_component_spec.rb
Labels: ruby, test, Review

#4123 Downgrade sidekiq to version 6.5
  Gemfile
  Gemfile.lock
Labels: Review

#4119 Enable DFE Analytics entity table check job
  Gemfile
  Gemfile.lock
  config/initializers/dfe_analytics.rb
  config/schedule.yml
Labels: ruby, Review, Config

#4127 Fix codespaces not working since introduction of redis dependency
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  Procfile.dev
Labels: Review

#4125 Implement international relocation payment (IRP) variables
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/ukraine.md
  config/values/nonuk.yml
Labels: Review, content, Config

#4128 Add non-UK fee variable to Fees and funding page
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: Review, content

#4039 Test for monetary values
  spec/support/page_testing_support.rb
  spec/views/identify_missing_values_spec.rb
Labels: test, Review

#4126 Add image tag to card component
  app/components/categories/card_component.html.erb
  app/components/categories/card_component.rb
  app/models/pages/navigation.rb
  app/webpacker/styles/category.scss
  spec/components/categories/card_component_spec.rb
Labels: ruby, test, Review, Style, content

#4121 New webchat widget
  app/components/chat_component.html.erb
  app/controllers/chats_controller.rb
  app/models/chat.rb
  app/views/chats/show.html.erb
  app/views/layouts/chat.html.erb
  app/webpacker/controllers/chat_controller.js
  config/routes.rb
  spec/features/chat_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
  spec/models/chat_spec.rb
Labels: ruby, test, Review, Config

#4132 Update links to Teaching Vacancies site
  app/views/content/steps-to-become-a-teacher/_step_7_apply_for_a_teaching_role.erb
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/mailing_list/steps/_already_qualified.html.erb
  config/routes.rb
  spec/requests/redirects_spec.rb
Labels: ruby, test, Review, content, Config

#4131 IRP changes to overseas page
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#4133 Teacher degree apprenticeship page changes
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
Labels: Review, content

#4130 Assessment only non-UK component
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/_listing.html.erb
Labels: ruby, Review, content

#4142 Update find domain URL
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/landing/still-time-to-apply/_content.html.erb
  app/views/content/life-as-a-teacher/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/if-you-want-to-change-career.md
  app/views/content/life-as-a-teacher/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/promos/_find-your-course-pgce.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-course.html.erb
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/mailing_list/steps/completed/shared/_find_a_teacher_training_course.html.erb
Labels: ruby, Review, content

#4134 Update guidance on non-UK components
  docs/content.md
Labels: Review

#4146 [1839] Upgrade terraform providers
  terraform/aks/.terraform.lock.hcl
  terraform/aks/terraform.tf
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/terraform.tf
Labels: DevOps, Review

#4148 Improve breadcrumbs across layouts
  app/components/header_component.rb
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/searches_controller.rb
  app/controllers/teaching_events_controller.rb
  app/views/content/home.md
  app/views/content/landing/campus-advisers.md
  app/views/content/landing/campus-mailing-list.md
  app/views/content/landing/careers.md
  app/views/content/landing/food-for-thought.md
  app/views/content/landing/grow.md
  app/views/content/landing/how-much-do-teachers-get-paid.md
  app/views/content/landing/how-to-become-a-teacher.md
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/mailing-list-1.md
  app/views/content/landing/mailing-list-2.md
  app/views/content/landing/mailing-list-3.md
  app/views/content/landing/mailing-list.md
  app/views/content/landing/return-to-teaching-advisers.md
  app/views/content/landing/still-time-to-apply.md
  app/views/content/landing/train-to-teach-if-you-have-a-degree.md
  app/views/content/landing/train-to-teach.md
  app/views/content/landing/what-teaching-taught-me.md
  app/views/content/trainees/start-your-teacher-training.md
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/category.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/feedback.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/minimal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/teaching_event.html.erb
  app/views/layouts/teaching_events.html.erb
  app/views/layouts/welcome.html.erb
  docs/content.md
  spec/components/events/event_box_component_spec.rb
  spec/features/breadcrumbs_spec.rb
  spec/features/content_pages_spec.rb
  spec/features/event_wizard_spec.rb
  spec/features/teaching_events/listing_and_searching_spec.rb
  spec/features/teaching_events/viewing_spec.rb
  spec/models/events/steps/personalised_updates_spec.rb
  spec/requests/event_steps_controller_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/support/api_support.rb
  spec/support/views/content/home-page.md
Labels: ruby, test, Review, content

#4137 Refactor Pay and Benefits to a standalone page
  app/components/content/landing_hero_component.rb
  app/views/callbacks/steps/completed.html.erb
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/home/_directory.html.erb
  app/views/content/home/_salaries-banner.html.erb
  app/views/content/landing/careers/_content.html.erb
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
  app/views/content/life-as-a-teacher.md
  app/views/content/life-as-a-teacher/_categories.html.erb
  app/views/content/life-as-a-teacher/_header.html.erb
  app/views/content/life-as-a-teacher/_how-to-become-a-teacher-cta.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits.md
  app/views/content/life-as-a-teacher/pay-and-benefits/_categories.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/career-progression.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme.md
  app/views/content/non-uk-teachers/_why-teach.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/errors/not_found.html.erb
  app/views/event_steps/completed.html.erb
  config/redirects.yml
Labels: ruby, Review, Style, content, Config

#4145 Hero image update
  app/views/content/home.md
  app/views/content/landing/grow.md
  app/views/content/landing/mailing-list-1.md
  app/views/content/landing/mailing-list-3.md
  app/views/content/landing/mailing-list.md
  app/views/content/landing/what-teaching-taught-me.md
  app/webpacker/images/content/hero-images/0027.jpg
  app/webpacker/images/content/hero-images/0027—mobile.jpg
  app/webpacker/images/content/hero-images/0027—tablet.jpg
  app/webpacker/images/content/hero-images/0028.jpg
  app/webpacker/images/content/hero-images/0028—mobile.jpg
  app/webpacker/images/content/hero-images/0028—tablet.jpg
  app/webpacker/images/content/hero-images/chemistry-crop--mobile.jpg
  app/webpacker/images/content/hero-images/chemistry-crop--tablet.jpg
  app/webpacker/images/content/hero-images/chemistry-crop.jpg
  config/images.yml
  spec/components/content/checklist_collage_component_spec.rb
  spec/components/text_block_with_two_images_component_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: test, Review, content, Config

#4153 Capture degree status
  app/controllers/mailing_list/steps_controller.rb
  app/views/mailing_list/steps/completed.html.erb
Labels: ruby, Review

#4150 subject page guidance
  docs/content.md
Labels: Review

#4156 Improve regex for financial variables check
  app/views/content/home/_salaries-banner.html.erb
  spec/support/page_testing_support.rb
Labels: ruby, test, Review, content
