Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-07, with the labels that each got.

#4028 Implement teachinginternship.yml as variables
  app/views/content/is-teaching-right-for-me/teaching-internship-providers/_listing.html.erb
  config/values/teachinginternship.yml
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: ruby, Review, content, Config

#4047 Ensure buttons styles as links are transparent in safari
  app/webpacker/styles/header/navigation.scss
Labels: Review, Style

#4025 Implement earlyyears.yml variables
  app/views/content/is-teaching-right-for-me/become-an-early-years-teacher.md
  config/values/earlyyears.yml
Labels: Review, content, Config

#4056 small fix for Safari
  app/webpacker/styles/header/navigation.scss
Labels: Review, Style

#4057 Expander component
  app/components/content/expander_component.html.erb
  app/components/content/expander_component.rb
  app/webpacker/images/navigation/arrow-down-purple.svg
  app/webpacker/images/navigation/arrow-up-purple.svg
  app/webpacker/styles/components/expander.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/links-and-buttons.scss
  docs/content.md
  lib/template_handlers/markdown.rb
  spec/components/content/expander_component_spec.rb
Labels: ruby, test, Review, Style

#4034 Implement headteacher salaries (merge into existing Salaries PR)
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/landing/careers/_content.html.erb
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
  config/values/salaries.yml
Labels: ruby, Review, content, Config

#4026 Implement finance.yml as variables
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  config/values/finance.yml
Labels: ruby, Review, content, Config

#4060 Adding internships applications closed warning
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  app/views/content/is-teaching-right-for-me/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/promos/_application-closure.html.erb
  app/webpacker/images/icon-warning-black.svg
  app/webpacker/styles/components/content-alert.scss
Labels: ruby, Review, Style, content

#4059 Update github action versions
  .github/workflows/actions/deploy/action.yml
Labels: DevOps, Review

#2541 Table captions
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/internal/events/open_events.html.erb
  app/views/pages/cookies.md
  app/views/pages/values/_table.html.erb
  app/webpacker/styles/markdown.scss
  lib/table_captions.rb
  lib/template_handlers/markdown.rb
  spec/lib/table_captions_spec.rb
  spec/lib/template_handlers/markdown_spec.rb
  spec/support/matchers/html_matcher.rb
Labels: ruby, test, Review, Style, content

#4068 Update University of Northampton link on iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#4063 still time to apply content and messaging for 23/24 cycle
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/landing/still-time-to-apply.md
  app/views/content/landing/still-time-to-apply/_content.html.erb
  app/views/content/landing/still-time-to-apply/_header.html.erb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  config/redirects.yml
Labels: ruby, Review, content, Config

#4036 Qualified teacher and summary salary implement as variables (Merge into existing Salaries PR)
  app/views/content/home/_salaries-banner.html.erb
  app/views/content/is-teaching-right-for-me/career-progression.md
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/landing/careers/_content.html.erb
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_collage.html.erb
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  config/values/salaries.yml
Labels: ruby, Review, content, Config

#4066 Scrape custom metrics
  lib/prometheus/metrics.rb
  spec/lib/prometheus/metrics_spec.rb
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/variables.tf
Labels: ruby, test, DevOps, Review

#3974 Apply for your visa to teach in england
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
Labels: Review, content, policy sign off

#4062 Content updates to event information page / prevent 2d scrolling
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_how-to-attend.html.erb
  app/views/teaching_events/show/_online-register-button.html.erb
  app/views/teaching_events/show/_provider-info.html.erb
  app/views/teaching_events/show/_venue-information.html.erb
  spec/features/teaching_events/viewing_spec.rb
Labels: ruby, test, Review

#4058 Non-UK inset text component
  app/components/content/inset_text_component.html.erb
  app/components/content/inset_text_component.rb
  app/views/content/steps-to-become-a-teacher.md
  app/webpacker/styles/components/inset-text.scss
  docs/content.md
  spec/components/content/inset_text_component_spec.rb
Labels: ruby, test, Review, Style, content

#4029 Implement bursaries.yml as variables
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/engineers-teach-physics/_article.html.erb
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
  app/views/content/is-teaching-right-for-me/physics/_article.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  config/locales/en.yml
  config/values/bursaries.yml
Labels: ruby, Review, content, Config

#4069 start your teacher training landing page
  app/views/content/trainees/start-your-teacher-training.md
  app/views/content/trainees/start-your-teacher-training/_content.html.erb
  app/views/content/trainees/start-your-teacher-training/_header.html.erb
Labels: ruby, Review, content, policy sign off

#4074 Fix broken link on Teach in England if you trained overseas
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#4070 Changes to the non-uk video transcript
  app/views/content/non-uk-teachers/why-train-to-teach-in-england-video-transcript.md
Labels: Review, content

#4077 Add Prestolee SCITT to Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#4079 Implement unqualified teacher salary variables
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
Labels: Review, content

#4071 Non-uk signposting - expanders and inset text updates
  app/components/content/expander_component.html.erb
  app/components/content/talk_to_us_component.html.erb
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/get-school-experience.md
  app/views/content/is-teaching-right-for-me/if-you-want-to-change-career.md
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
  app/views/content/is-teaching-right-for-me/physics/_article.html.erb
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/is-teaching-right-for-me/teaching-internship-providers/_listing.html.erb
  app/views/content/is-teaching-right-for-me/who-do-you-want-to-teach.md
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
  app/views/content/steps-to-become-a-teacher/_step_3_consider_getting_experience.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_teacher_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_7_apply_for_a_teaching_role.erb
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
  app/webpacker/styles/components/inset-text.scss
Labels: ruby, Review, Style, content, policy sign off

#4081 Delete visa minimum savings variables
  config/values/nonuk.yml
Labels: Review, Config

#4080 Implement TLR salary variables
  app/views/content/is-teaching-right-for-me/career-progression.md
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  config/values/salaries.yml
Labels: ruby, Review, content, Config

#4083 Add Exchange Teacher Training to Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#4082 Move statement of comparability cost variable to nonuk values file
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  config/values/finance.yml
  config/values/nonuk.yml
Labels: Review, content, Config

#4091 update chat email address
  app/components/chat_component.html.erb
  spec/components/chat_component_spec.rb
  spec/features/chat_spec.rb
Labels: ruby, test, Review

#4085 Implement visa savings threshold variables
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  config/values/nonuk.yml
  config/values/salaries.yml
Labels: Review, content, Config

#4089 Integrate vars into hero component
  app/components/content/adviser_component.rb
  app/components/content/expander_component.rb
  app/components/content/generic_block_component.rb
  app/components/content/heading_component.rb
  app/components/content/hero_component.rb
  app/components/content/image_block_component.rb
  app/components/content/inset_text_component.rb
  app/components/content/landing_hero_component.rb
  app/components/content/mailing_list_component.rb
  app/components/content/purple_box_component.rb
  app/components/content/quote_component.rb
  app/components/content/youtube_video_component.rb
  app/helpers/content_helper.rb
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/train-to-be-a-teacher.md
  app/views/sections/_head.html.erb
  lib/template_handlers/markdown.rb
  lib/values.rb
Labels: ruby, Review, content

#4090 Update Teach in England if you trained overseas page re fraud prevention
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content, policy sign off

#4092 Event promo module accessibility
  app/views/content/help-and-support/_events.html.erb
Labels: ruby, Review, content

#4088 Implement international fee variables
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  config/values/fees.yml
Labels: Review, content, Config, policy sign off

#4093 Remove teaching internship providers list
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
Labels: Review, content

#4094 Implement PGITT and UGITT variables
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/train-to-teach-if-you-have-a-degree/_content.html.erb
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  config/values/finance.yml
Labels: ruby, Review, content, Config

#4097 Add non-UK expander for TDA
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
Labels: Review, content

#4100 fix internships template to support variables
  app/components/categories/card_component.rb
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: ruby, Review, content

#4099 Implement additional international fee variables
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: Review, content

#4101 Remove Henry Maynard Training from Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#4072 Subject page updates
  app/components/content/landing_hero_component.html.erb
  app/views/content/is-teaching-right-for-me/computing.md
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/computing/_header.html.erb
  app/views/content/is-teaching-right-for-me/engineers-teach-physics.md
  app/views/content/is-teaching-right-for-me/engineers-teach-physics/_article.html.erb
  app/views/content/is-teaching-right-for-me/engineers-teach-physics/_header.html.erb
  app/views/content/is-teaching-right-for-me/maths.md
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
  app/views/content/is-teaching-right-for-me/maths/_header.html.erb
  app/views/content/is-teaching-right-for-me/physics.md
  app/views/content/is-teaching-right-for-me/physics/_article.html.erb
  app/views/content/is-teaching-right-for-me/physics/_header.html.erb
  app/webpacker/styles/sections/hero.scss
Labels: ruby, Review, Style, content

#3981 Wraparound content
  app/views/content/is-teaching-right-for-me/get-school-experience.md
Labels: Review, content, policy sign off

#4105 Remove deprecated how_to structured data
  app/helpers/structured_data_helper.rb
  app/views/content/steps-to-become-a-teacher.md
  app/views/sections/_head.html.erb
  config/environments/development.rb
  config/environments/production.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/requests/structured_data_spec.rb
Labels: ruby, test, Review, content, Config

#4087 Move school experience pages
  app/views/content/blog/from-the-army-to-teacher-training.md
  app/views/content/blog/no-two-days-are-the-same.md
  app/views/content/funding-and-support/_why-teach.html.erb
  app/views/content/home/_directory.html.erb
  app/views/content/how-to-apply-for-teacher-training/_why-teach.html.erb
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
  app/views/content/is-teaching-right-for-me/physics/_article.html.erb
  app/views/content/is-teaching-right-for-me/who-do-you-want-to-teach.md
  app/views/content/steps-to-become-a-teacher/_step_3_consider_getting_experience.html.erb
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  config/redirects.yml
  lib/tasks/generate_teaching_internship_providers.rake
  lib/tasks/support/teaching-internship-providers.md.erb
  lib/values.rb
  spec/features/content_pages_spec.rb
  spec/javascript/controllers/navigation_controller_spec.js
Labels: ruby, test, Review, content, Config
