Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-11, with the labels that each got.

#4305 Delete product engineer to physics teacher blog
  app/views/content/blog/product-engineer-turned-science-teacher.md
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/webpacker/images/content/blog/thumbnails/chris-wallis.jpg
  config/images.yml
  config/redirects.yml
Labels: ruby, Review, content, Config

#4315 Run migrations prior to booting app and worker
  Dockerfile
  terraform/aks/application.tf
Labels: docker, DevOps, Review

#4306 Delete transferring my skills to teaching blog
  app/views/content/blog/transferring-my-skills-to-teaching.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/change-careers.md
  app/webpacker/images/content/blog/thumbnails/stories-will.jpg
  config/images.yml
  config/redirects.yml
  config/tags.yml
Labels: Review, content, Config

#4316 Delete my first week as a trainee teacher blog
  app/views/content/blog/my-first-week-as-a-trainee-teacher.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
  app/webpacker/images/content/blog/cindy-ventura.jpg
  app/webpacker/images/content/blog/thumbnails/cindy-ventura.jpg
  config/images.yml
  config/redirects.yml
  spec/features/blog_spec.rb
Labels: test, Review, content, Config

#4318 Delete being myself in the classroom
  app/views/content/blog/being-myself-in-the-classroom.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/early-career-teachers.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/webpacker/images/content/blog/olivia.jpg
  app/webpacker/images/content/blog/thumbnails/olivia.jpg
  config/images.yml
  config/redirects.yml
  spec/features/blog_spec.rb
Labels: test, Review, content, Config

#4319 Delete from the army to teacher training blog
  app/views/content/blog/from-the-army-to-teacher-training.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/webpacker/images/content/blog/thumbnails/david-payling.jpg
  config/images.yml
  config/redirects.yml
Labels: test, Review, content, Config

#4320 Delete my move from canada blog
  app/views/content/blog/my-move-from-canada-to-teach-in-england.md
  app/views/content/non-uk-teachers/_why-teach.html.erb
  app/webpacker/images/content/blog/brooke-harvey.jpg
  app/webpacker/images/content/blog/thumbnails/brooke-harvey.jpg
  config/images.yml
  config/redirects.yml
Labels: ruby, Review, content, Config

#4321 Delete the head of science inspiring students in blackpool blog
  app/views/content/blog/the-head-of-science-inspiring-students-in-blackpool.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/webpacker/images/content/blog/jessica-walmsley.jpg
  app/webpacker/images/content/blog/thumbnails/jessica-walmsley.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#4322 Delete overcoming challenges to become a teacher blog
  app/views/content/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/teacher-training-advisers/_article.html.erb
  app/webpacker/images/content/blog/habiba-cabdi-teacher-applicant.jpg
  app/webpacker/images/content/blog/thumbnails/habiba-cabdi-teacher-applicant.jpg
  config/images.yml
  config/redirects.yml
Labels: ruby, Review, content, Config

#4323 Delete a diary of a trainee teacher blog
  app/views/content/blog/a-diary-of-a-trainee-teacher.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/webpacker/images/content/blog/mel-oconnor.jpg
  app/webpacker/images/content/blog/thumbnails/mel-oconnor.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#4296 update computing page with components
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/computing/_adviser-promo-computing.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_header.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/shared/quotes/_quote_computing_shiulee.html.erb
  app/views/content/shared/teaching/_funding_support.html.erb
Labels: ruby, Review, content

#4325 Delete managing behaviour blog
  app/views/content/blog/managing-behaviour-in-the-classroom.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/early-career-teachers.md
  config/redirects.yml
Labels: Review, content, Config

#4317 Improve link on Get school experience page for accessibility
  app/views/content/train-to-be-a-teacher/get-school-experience.md
Labels: Review, content

#4327 Remove blog tags and set up redirect
  app/models/pages/post.rb
  app/webpacker/images/content/blog/applying-for-teacher.jpg
  app/webpacker/images/content/blog/calculator.jpg
  app/webpacker/images/content/blog/farooq-ahmad.jpg
  app/webpacker/images/content/blog/get-into-teaching.jpg
  app/webpacker/images/content/blog/interview.jpg
  app/webpacker/images/content/blog/maria.jpg
  app/webpacker/images/content/blog/mel-stta-screen.jpg
  app/webpacker/images/content/blog/right_provider.jpg
  app/webpacker/images/content/blog/school-aisle.jpg
  app/webpacker/images/content/blog/schoolyard.jpg
  app/webpacker/images/content/blog/seminar-room.jpg
  app/webpacker/images/content/blog/stephen.jpg
  app/webpacker/images/content/blog/thumbnails/0013.jpg
  app/webpacker/images/content/blog/thumbnails/applying-for-teacher.jpg
  app/webpacker/images/content/blog/thumbnails/bedfordshire.jpg
  app/webpacker/images/content/blog/thumbnails/ben-breen.jpg
  app/webpacker/images/content/blog/thumbnails/calculator.jpg
  app/webpacker/images/content/blog/thumbnails/elliot-bailey-pe-teacher.jpg
  app/webpacker/images/content/blog/thumbnails/farooq-ahmad.jpg
  app/webpacker/images/content/blog/thumbnails/get-into-teaching.jpg
  app/webpacker/images/content/blog/thumbnails/interview.jpg
  app/webpacker/images/content/blog/thumbnails/jan-ashbridge.jpg
  app/webpacker/images/content/blog/thumbnails/leah-kellogg-pe-teacher-and-professional-cricketer.jpg
  app/webpacker/images/content/blog/thumbnails/maria.jpg
  app/webpacker/images/content/blog/thumbnails/mel-stta-screen.jpg
  app/webpacker/images/content/blog/thumbnails/notepad.jpg
  app/webpacker/images/content/blog/thumbnails/pupil-chatting-to-teacher-in-classroom.jpg
  app/webpacker/images/content/blog/thumbnails/right_provider.jpg
  app/webpacker/images/content/blog/thumbnails/rocket.jpg
  app/webpacker/images/content/blog/thumbnails/school-aisle.jpg
  app/webpacker/images/content/blog/thumbnails/schoolyard.jpg
  app/webpacker/images/content/blog/thumbnails/seminar-room.jpg
  app/webpacker/images/content/blog/thumbnails/staff-room.jpg
  app/webpacker/images/content/blog/thumbnails/stephen.jpg
  app/webpacker/images/content/blog/thumbnails/stories-claire.jpg
  app/webpacker/images/content/blog/thumbnails/stories-generic.jpg
  app/webpacker/images/content/blog/thumbnails/stories-jill.jpg
  app/webpacker/images/content/blog/thumbnails/stories-peter.jpg
  app/webpacker/images/content/blog/thumbnails/stories-sarah-f.jpg
  app/webpacker/images/content/blog/thumbnails/stories-zainab.jpg
  app/webpacker/images/content/blog/thumbnails/whiteboard.jpg
  app/webpacker/images/content/blog/whiteboard.jpg
  config/redirects.yml
  config/tags.yml
  spec/models/pages/post_spec.rb
Labels: ruby, test, Review, Config

#4328 Updated internship listings
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#4304 Change physics content with components
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/physics/_adviser-promo-physics.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_header.html.erb
  app/views/content/shared/quotes/_quote_science_jane.html.erb
  app/views/content/shared/teaching/_ages_abilities.html.erb
Labels: ruby, Review, content

#4331 Update art and design with components
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design.md
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_adviser-promo-art-and-design.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_header.html.erb
  app/views/content/shared/teaching/_bursary_only.html.erb
Labels: ruby, Review, content

#4330 Update next audit date in accessibility statement
  app/views/content/accessibility.md
Labels: Review, content

#4332 update design and technology pages
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_adviser-promo-design-and-technology.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_header.html.erb
  app/views/content/shared/quotes/_quote_design_technology_andrew.html.erb
Labels: ruby, Review, content

#4335 Reorder application rejection reasons
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
Labels: Review, content

#4336 update languages page with components
  app/views/content/life-as-a-teacher/explore-subjects/languages.md
  app/views/content/life-as-a-teacher/explore-subjects/languages/_adviser-promo-languages.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_header.html.erb
  app/views/content/shared/quotes/_quote_languages_jacqui.html.erb
  app/views/content/shared/quotes/_quote_languages_tom.html.erb
  app/views/content/shared/teaching/_bursary_languages.html.erb
Labels: ruby, Review, content

#4342 Removed styling for 'what they're saying' component
  app/webpacker/styles/components/what-theyre-saying.scss
  app/webpacker/styles/git.scss
Labels: Review, Style

#4347 Make bursary and scholarships information clearer on non-UK fees page
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  config/values/bursaries.yml
Labels: Review, content, Config

#4334 Bumped govuk frontend
  package.json
  yarn.lock
Labels: Review

#4338 SEO updates to busaries page
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: ruby, Review, content

#4262 Update link opening style
  app/components/chat_component.html.erb
  app/components/footer_component.html.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_previous_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teaching_events/index.html.erb
  app/webpacker/controllers/link_controller.js
  config/locales/en.yml
  lib/external_links.rb
  lib/middleware/html_response_transformer.rb
  lib/new_tab_links.rb
  spec/features/chat_spec.rb
  spec/javascript/controllers/link_controller_spec.js
  spec/lib/external_links_spec.rb
  spec/lib/new_tab_links_spec.rb
Labels: ruby, test, Review, content, Config

#4340 Allow link text in funding widget
  app/components/funding_widget_component.html.erb
  config/locales/en.yml
Labels: ruby, Review, Config

#4348 create religious education subject page
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/religious-education.md
  app/views/content/life-as-a-teacher/explore-subjects/religious-education/_article.html.erb
  app/views/content/shared/quotes/_quote_religiouseducation_sandra.html.erb
Labels: ruby, Review, content

#4354 Update feedback purpose
  app/views/feedback/steps/_purpose.html.erb
Labels: ruby, Review

#4337 create English subject page
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/english.md
  app/views/content/life-as-a-teacher/explore-subjects/english/_article.html.erb
  app/views/content/shared/quotes/_quote_english_laura.html.erb
  app/views/content/shared/teaching/_bursary_only.html.erb
Labels: ruby, Review, content

#4343 create music page
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/music.md
  app/views/content/life-as-a-teacher/explore-subjects/music/_article.html.erb
Labels: ruby, test, DevOps, Review, Style, content, Config

#4360 updates to the iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content, policy sign off

#4293 Improve QuoteWithImage component for use in markdown files
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/webpacker/styles/components/quote-with-image.scss
Labels: ruby, Review, Style, content

#4273 adding guidance
  docs/content.md
Labels: Review

#4364 Highlight state for details component within forms
  app/webpacker/styles/govuk-reset.scss
Labels: Review, Style

#4357 Upgrade ruby v3 3
  .devcontainer/devcontainer.json
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  lib/patch_rack_page_caching.rb
Labels: ruby, docker, Review, Config

#4367 Revert "Upgrade ruby v3 3 (#4357)"
  .devcontainer/devcontainer.json
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  lib/patch_rack_page_caching.rb
Labels: ruby, docker, Review, Config

#4269 Assessment Only spreadsheet upload
  app/components/grouped_cards/card_component.html.erb
  app/components/grouped_cards/card_component.rb
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/webpacker/styles/components/grouped-cards.scss
  lib/assessment_only_provider.rb
  lib/tasks/generate_assessment_only_providers.rake
  lib/tasks/support/assessment-only-route-to-qts.md.erb
  lib/tasks/support/assessment_only_providers.csv
  spec/components/grouped_cards/card_component_spec.rb
  spec/lib/assessment_only_provider_spec.rb
Labels: ruby, test, Review, Style, content

#4361 ITT fee increase
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  config/values/earlyyears.yml
  config/values/fees.yml
  config/values/finance.yml
Labels: Review, content, Config, policy sign off

#4359 updates to send page
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/shared/quotes/_quote_send_gloria.html.erb
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
Labels: ruby, docker, Review, content, Config, policy sign off

#4369 Updated internships list
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#4333 update engineers teach physics
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics.md
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_header.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/shared/quotes/_quote_engineers_teach_physics_chris.html.erb
  app/views/content/shared/quotes/_quote_engineers_teach_physics_roger.html.erb
Labels: ruby, Review, content

#4276 Update career changer page
  app/components/footer_component.html.erb
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/life-as-a-teacher/_categories.html.erb
  app/views/content/life-as-a-teacher/change-careers.md
  app/views/content/life-as-a-teacher/change-careers/_adviser-promo-change-careers.html.erb
  app/views/content/life-as-a-teacher/change-careers/_categories.html.erb
  app/views/content/life-as-a-teacher/change-careers/_what-teachers-have-to-say.html.erb
  app/views/content/life-as-a-teacher/change-careers/becoming-a-parent-sparked-my-interest-in-teaching.md
  app/views/content/life-as-a-teacher/change-careers/becoming-a-parent-sparked-my-interest-in-teaching/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/becoming-a-parent-sparked-my-interest-in-teaching/_header.html.erb
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers.md
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers/_header.html.erb
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher.md
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_header.html.erb
  app/views/content/life-as-a-teacher/change-careers/making-a-career-change-to-teaching.md
  app/views/content/life-as-a-teacher/change-careers/making-a-career-change-to-teaching/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/making-a-career-change-to-teaching/_header.html.erb
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers.md
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_header.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/_categories.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/_what-teachers-have-to-say.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/change-careers.md
  app/views/content/shared/quotes/_quote_career_change_jack.html.erb
  app/views/content/shared/quotes/_quote_career_change_jodie.html.erb
  app/views/content/shared/quotes/_quote_career_change_mark.html.erb
  app/views/content/shared/quotes/_quote_career_change_phil.html.erb
  app/views/content/shared/teaching/_benefits_generic.html.erb
  config/redirects.yml
Labels: ruby, Review, content, Config

#4368 Links styled as buttons
  app/components/calls_to_action/homepage_component.html.erb
  app/components/calls_to_action/homepage_component.rb
  app/components/content/link_as_button_component.html.erb
  app/components/content/link_as_button_component.rb
  app/components/content/purple_box_component.html.erb
  app/components/content/purple_box_component.rb
  app/components/footer/cookie_acceptance_component.html.erb
  app/components/home/mailing_list_component.html.erb
  spec/components/content/link_as_button_component_spec.rb
Labels: ruby, test, Review, content

#4378 update dfe_analytics to v1.15.1
  Gemfile
  Gemfile.lock
  config/analytics_pii.yml
Labels: Review, Config

#4382 Update link to early years funding manual
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
Labels: Review, content

#4383 Added manual pages to last mod tracking
  lib/page_modification_tracker.rb
  spec/lib/page_modification_tracker_spec.rb
Labels: ruby, test, Review
