Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-03, with the labels that each got.

#3882 image change for campus mailing list page to new campaign image
  app/views/content/landing/campus-mailing-list.md
Labels: Review, content

#3872 Replace logo with SVG image
  app/components/footer/cookie_acceptance_component.html.erb
  app/components/header/logo_component.html.erb
  app/webpacker/images/logo/teaching_black_background.svg
  app/webpacker/images/logo/teaching_black_background_pink_underline.svg
  app/webpacker/images/logo/teaching_blue_background.svg
  app/webpacker/images/logo/teaching_pink_background.svg
  app/webpacker/images/logo/teaching_white_background.svg
  app/webpacker/styles/header/logo.scss
Labels: ruby, Review, Style

#3821 Computing page created
  app/views/content/blog/a-diary-of-a-trainee-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/product-engineer-turned-science-teacher.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/is-teaching-right-for-me/computing.md
  app/views/content/is-teaching-right-for-me/computing/_adviser-promo-computing.html.erb
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/computing/_header.html.erb
  app/views/content/is-teaching-right-for-me/engineers-teach-physics.md
  app/views/content/is-teaching-right-for-me/engineers-teach-physics/_article.html.erb
  app/views/content/is-teaching-right-for-me/engineers-teach-physics/_header.html.erb
  app/views/content/is-teaching-right-for-me/if-you-want-to-change-career.md
  app/views/content/is-teaching-right-for-me/maths.md
  app/views/content/is-teaching-right-for-me/maths/_adviser-promo-maths.html.erb
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
  app/views/content/is-teaching-right-for-me/maths/_header.html.erb
  app/views/content/is-teaching-right-for-me/physics.md
  app/views/content/is-teaching-right-for-me/physics/_adviser-promo-physics.html.erb
  app/views/content/is-teaching-right-for-me/physics/_article.html.erb
  app/views/content/is-teaching-right-for-me/physics/_header.html.erb
  app/views/content/subjects/maths.md
  app/views/content/subjects/maths/_article.html.erb
  app/views/content/subjects/physics.md
  app/views/content/subjects/physics/_article.html.erb
  app/webpacker/images/content/hero-images/0036.jpg
  app/webpacker/images/content/hero-images/0036—mobile.jpg
  app/webpacker/images/content/hero-images/0036—tablet.jpg
  app/webpacker/images/content/hero-images/0037.jpg
  app/webpacker/images/content/hero-images/0037—mobile.jpg
  app/webpacker/images/content/hero-images/0037—tablet.jpg
  app/webpacker/images/content/hero-images/physics_1383-mobile.jpg
  app/webpacker/images/content/hero-images/physics_1383-tablet.jpg
  app/webpacker/images/content/hero-images/physics_1383.jpg
  config/images.yml
  config/redirects.yml
Labels: ruby, Review, content, Config

#3871 Ukraine Family Scheme visa shut
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3746 Non-UK fees and funding integration test
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content, Review_v2

#3884 fees consistent
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#3887 Update adviser start page and guidance re subject eligibility for RTTAs
  app/views/content/teacher-training-advisers/_article.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
Labels: ruby, Review, content

#3892 Uni of Derby email removed, link added
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#3885 Student-loans
  app/views/content/funding-and-support/promos/_get-adviser-funding-promo.html.erb
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
Labels: ruby, Review, content, policy sign off

#3895 Upgrade GovUK Frontend v5.2.0
  app/webpacker/styles/application.scss
  package.json
  yarn.lock
Labels: Review, Style

#3831 Create non-UK qualifications page
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#3896 Add-computing-links
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  config/locales/en.yml
Labels: Review, content, Config

#3889 dual courses content
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
Labels: Review, content

#3891 Delete-events-blog
  app/views/content/blog/5-reasons-to-attend-a-get-into-teaching-event.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/teaching_events/about_git_events.html.erb
  config/redirects.yml
  config/tags.yml
  spec/features/blog_spec.rb
Labels: ruby, test, Review, content, Config

#3894 Mailing-list-landing-pages-variants-for-split-testing
  app/views/content/landing/mailing-list-1.md
  app/views/content/landing/mailing-list-1/_header.html.erb
  app/views/content/landing/mailing-list-1/_mailing-list.html.erb
  app/views/content/landing/mailing-list-2.md
  app/views/content/landing/mailing-list-2/_header.html.erb
  app/views/content/landing/mailing-list-2/_mailing-list.html.erb
  app/views/content/landing/mailing-list-3.md
  app/views/content/landing/mailing-list-3/_header.html.erb
  app/views/content/landing/mailing-list-3/_mailing-list.html.erb
Labels: ruby, Review, content

#3898 Mailing-list-version-3-update
  app/views/content/landing/mailing-list-1/_mailing-list.html.erb
  app/views/content/landing/mailing-list-3/_mailing-list.html.erb
Labels: ruby, Review, content

#3899 Add Gloucestershire Initial Teacher Education Partnership to Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3900 Update internship providers
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#3906 Update maths page
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/maths.md
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
Labels: ruby, Review, content

#3907 Update physics page
  app/views/content/is-teaching-right-for-me/physics/_article.html.erb
  config/images.yml
Labels: ruby, Review, content, Config

#3874 Move menu button
  app/components/header/extra_navigation_component.html.erb
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/header.scss
  app/webpacker/styles/header/logo.scss
  app/webpacker/styles/header/menu-button.scss
  app/webpacker/styles/utility.scss
Labels: ruby, Review, Style

#3904 Update computing page
  app/views/content/is-teaching-right-for-me/computing.md
  app/views/content/is-teaching-right-for-me/computing/_article.html.erb
  app/views/content/is-teaching-right-for-me/physics.md
Labels: ruby, Review, content

#3911 Change national curriculum link on maths page
  app/views/content/is-teaching-right-for-me/maths/_article.html.erb
Labels: ruby, Review, content

#3914 Add Educate Group to West Midlands section on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3908 Delete what to expect on teacher training blog post
  app/views/content/blog/what-to-expect-on-your-teacher-training.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  config/redirects.yml
  spec/features/blog_spec.rb
Labels: ruby, test, Review, content, Config

#3916 Delete school experience blog
  app/views/content/blog/school-experience-helped-me-decide-to-switch.md
  app/views/content/is-teaching-right-for-me/get-school-experience.md
  config/redirects.yml
Labels: Review, content, Config

#3903 Return to teaching advisers landing page
  app/views/content/landing/return-to-teaching-advisers.md
  app/views/content/landing/return-to-teaching-advisers/_adviser.html.erb
  app/views/content/landing/return-to-teaching-advisers/_header.html.erb
  app/webpacker/styles/components/campaign-hero.scss
Labels: ruby, Review, Style, content
