Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-10, with the labels that each got.

#4138 Art and design subject page
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design.md
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_adviser-promo-art-and-design.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_header.html.erb
Labels: ruby, Review, content

#4207 Links to subject and age group pages
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/age-groups-you-could-teach.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
Labels: ruby, Review, content

#4223 Remove National Tutoring Programme from RTTA funnel completion page
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: ruby, Review

#4211 Show icon funding widget mobile
  app/components/calls_to_action/simple_component.html.erb
  app/webpacker/styles/call-to-action.scss
Labels: ruby, Review, Style

#4224 Update zaproxy/action-full-scan
  .github/workflows/actions/owasp/action.yml
Labels: DevOps, Review

#4190 Testing sonar scanner
  .github/workflows/build.yml
Labels: ruby, Review

#4226 Update accessibility statement re next scheduled audit
  app/views/content/accessibility.md
Labels: Review, content

#4228 Tidy up salary bullets on landing pages
  app/views/content/landing/careers/_content.html.erb
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
Labels: ruby, Review, content

#4230 update docker setup-buildx-action version
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: DevOps, Review

#4225 Career changers inspirational section
  app/views/content/blog/becoming-a-mum-sparked-my-interest-in-teaching.md
  app/views/content/blog/financiers-future-in-maths.md
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/life-as-a-teacher/teaching-as-a-career.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/_what-teachers-have-to-say.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/becoming-a-parent-sparked-my-interest-in-teaching.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/becoming-a-parent-sparked-my-interest-in-teaching/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/becoming-a-parent-sparked-my-interest-in-teaching/_header.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/making-a-career-change-to-teaching.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/making-a-career-change-to-teaching/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/making-a-career-change-to-teaching/_header.html.erb
  config/images.yml
  config/redirects.yml
Labels: ruby, Review, Style, content, Config

#4231 Bursaries removal of content
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/how-to-fund-your-teacher-training/_collage.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design.md
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology.md
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry.md
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages.md
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths.md
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  config/locales/en.yml
  config/locales/test.yml
  config/values/bursaries.yml
  config/values/scholarships.yml
  spec/components/funding_widget_component_spec.rb
  spec/features/funding_widget_spec.rb
Labels: ruby, test, Review, content, Config

#4233 Remove related link to force push deployment
  app/views/content/funding-and-support/scholarships-and-bursaries.md
Labels: Review, content

#4229 Privacy notice link opening in new tab changes
  app/components/content/adviser_component.html.erb
  app/components/content/mailing_list_component.html.erb
  app/components/home/mailing_list_component.html.erb
  app/views/callbacks/steps/_personal_details.html.erb
  app/views/event_steps/_personal_details.html.erb
  app/views/mailing_list/steps/_name.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  spec/components/content/adviser_component_spec.rb
  spec/components/content/mailing_list_component_spec.rb
  spec/components/home/mailing_list_component_spec.rb
Labels: ruby, test, Review

#4213 School placements page
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/school-placements.md
  app/views/content/train-to-be-a-teacher/teaching-internships.md
Labels: Review, content

#4239 removal of bursary header messaging
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
Labels: ruby, Review, content

#4240 remove holding message from non-uk page and add bursary content
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  config/values/bursaries.yml
  config/values/scholarships.yml
Labels: Review, content, Config

#4246 Update link to funding manual
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
Labels: Review, content

#4241 Add bursary content back to landing pages
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/how-to-fund-your-teacher-training/_collage.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  config/values/scholarships.yml
Labels: ruby, Review, content, Config

#4242 Add bursary content to subject pages
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design.md
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology.md
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry.md
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages.md
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths.md
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
Labels: ruby, Review, content

#4247 add bursary content to steps and qualifications pages
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  config/values/scholarships.yml
Labels: ruby, Review, content, Config

#4159 Webchat sourcecode
  app/components/chat_component.html.erb
  app/controllers/chats_controller.rb
  app/controllers/healthchecks_controller.rb
  app/models/chat.rb
  app/views/chats/show.html.erb
  app/views/layouts/chat.html.erb
  app/webpacker/controllers/chat_controller.js
  app/webpacker/packs/chat.js
  config/initializers/secure_headers.rb
  config/shakapacker.yml
  public/chat/bold-affa96571d-v2-5a2a9252.woff
  public/chat/bold-b542beb274-v2-06eba01b.woff2
  public/chat/chaticon.svg
  public/chat/git_logo-2587dcae.png
  public/chat/index-77d633bb.js
  public/chat/index-95f0ba89.css
  public/chat/light-94a07e06a1-v2-eedfb3c2.woff2
  public/chat/light-f591b13f7d-v2-091aa300.woff
  spec/features/chat_spec.rb
  spec/features/content_pages_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
  spec/models/chat_spec.rb
  terraform/domains/environment_domains/config/production.tfvars.json
Labels: ruby, test, Review, Style, Config, Assets

#4248 Update SKE bursary funding dates
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
Labels: Review, content

#4243 Update cookie notice to include CXOne webchat and remove Zendesk
  app/views/pages/cookies.md
Labels: Review

#4252 Re-order subject pages
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
Labels: ruby, Review, content

#4249 Add eligible wording to funding widget
  config/locales/en.yml
Labels: Review, Config

#4245 Delete research page and associated PDFs
  app/views/content/research.md
  app/webpacker/documents/.keep
  app/webpacker/documents/ICT_skills_audit_returners.pdf
  app/webpacker/documents/be-the-career-change.pdf
  app/webpacker/documents/breakthrough-moments.pdf
  app/webpacker/documents/bringit-report.pdf
  app/webpacker/documents/career-change-research.pdf
  app/webpacker/documents/career-conundrum.pdf
  app/webpacker/documents/career-countdown-campaign-teaching-report.pdf
  app/webpacker/documents/career-survey-summary.pdf
  app/webpacker/documents/exploring-career-aspirations-in-the-wake-of-2020.pdf
  app/webpacker/documents/it-takes-you-to-teach.pdf
  app/webpacker/documents/lessons-shape-lives-teaching-report.pdf
  app/webpacker/documents/life-lessons-learnt-campaign-teaching.pdf
  app/webpacker/documents/millenial-career-crossroads.pdf
  app/webpacker/documents/my-favourite-subject.pdf
  app/webpacker/documents/perceptions-of-influence.pdf
  app/webpacker/documents/proud-parents-teaching-report.pdf
  app/webpacker/documents/soft-messaging.pdf
  app/webpacker/documents/thank-a-teacher.pdf
  config/redirects.yml
  config/routes.rb
  spec/components/calls_to_action/attachment_component_spec.rb
Labels: ruby, test, Review, content, Config

#4237 Adding career progression inspiration pages to teaching as a career subcategory
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/nqt-to-head-of-biology.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/_what-teachers-have-to-say.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/abigails-career-progression-story.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/abigails-career-progression-story/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/abigails-career-progression-story/_header.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/early-career-teachers.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-qualified-teacher-to-head-of-biology.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-qualified-teacher-to-head-of-biology/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-qualified-teacher-to-head-of-biology/_header.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-teaching-internship-to-leadership-roles.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-teaching-internship-to-leadership-roles/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-teaching-internship-to-leadership-roles/_header.html.erb
  app/webpacker/images/content/blog/thumbnails/abigail-beeley.jpg
  config/images.yml
  config/redirects.yml
Labels: ruby, Review, Style, content, Config

#4254 Remove providers from Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#4257 Fix casings in Dockerfile to resolve github warnings
  Dockerfile
Labels: docker, Review

#4256 Fix overlap on title of inspiration component
  app/webpacker/styles/category.scss
Labels: Review, Style

#4258 updated-TDA-Page
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
Labels: Review, content

#4260 fix-to-last-paragraph
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
Labels: Review, content

#4259 Updated internship listings
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: Review, content

#4261 Fix heading overlap
  app/components/content/inspiration_card_component.html.erb
  app/webpacker/styles/category.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: ruby, Review, Style

#4232 Target size list styles
  app/webpacker/styles/text.scss
Labels: Review, Style

#4253 update guidance for adding inspirational pages
  docs/content.md
Labels: Review

#4263 Update content.md
  docs/content.md
Labels: Review

#4267 added-link-to-early-years-campaign
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
Labels: Review, content

#4234 Quote with image component
  app/components/content/quote_with_image_component.html.erb
  app/components/content/quote_with_image_component.rb
  app/webpacker/styles/components/quote-with-image.scss
  app/webpacker/styles/git.scss
  config/images.yml
Labels: ruby, Review, Style, content, Config

#4270 Create new inspiration page and remove blog page
  app/views/content/blog/turning-a-tough-lesson-into-a-success.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/_what-teachers-have-to-say.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/turning-a-tough-lesson-into-a-success.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/turning-a-tough-lesson-into-a-success/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/turning-a-tough-lesson-into-a-success/_header.html.erb
  app/webpacker/images/content/blog/thumbnails/stories-danny.jpg
  config/images.yml
  config/redirects.yml
Labels: ruby, Review, content, Config

#4274 Non-uk-link-WCAG-changes
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#4277 Remove chat_enabled feature flag
  app/components/chat_component.html.erb
  app/models/chat.rb
  app/webpacker/controllers/chat_controller.js
  spec/features/chat_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
  spec/models/chat_spec.rb
Labels: ruby, test, Review

#4271 WCAG tap target improvements
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: Review, content

#4275 Remove overseas qualification checks from Get the most from an event page
  app/views/content/events/get-the-most-from-events/_content.html.erb
  app/webpacker/images/content/events/event-image--mobile.jpg
  app/webpacker/images/content/events/event-image--tablet.jpg
  app/webpacker/images/content/events/event-image.jpg
  config/images.yml
Labels: ruby, Review, content, Config

#4281 Delete going back and giving back blog
  app/views/content/blog/going-back-and-giving-back.md
  app/webpacker/images/content/blog/thumbnails/stories-sandra.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#4284 Updated internship listings
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#4282 Delete grasp every opportunity blog
  app/views/content/blog/grasp-every-opportunity.md
  app/webpacker/images/content/blog/thumbnails/stories-paul.jpg
  config/images.yml
  config/redirects.yml
  spec/features/blog_spec.rb
Labels: test, Review, content, Config

#4222 Subject page text components
  Gemfile
  Gemfile.lock
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry.md
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_adviser-promo-chemistry.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/shared/qualifications-training/_check_qualifcations.html.erb
  app/views/content/shared/qualifications-training/_non_uk_qualifications.html.erb
  app/views/content/shared/qualifications-training/_paid_internships.html.erb
  app/views/content/shared/qualifications-training/_subject_knowledge.html.erb
  app/views/content/shared/quotes/_quote_progression_chris.html.erb
  app/views/content/shared/quotes/_quote_science_holly.html.erb
  app/views/content/shared/subject-pages/_adviser-promo.html.erb
  app/views/content/shared/subject-pages/_header.html.erb
  app/views/content/shared/teaching/_ages_abilities.html.erb
  app/views/content/shared/teaching/_benefits.html.erb
  app/views/content/shared/teaching/_bursary_only.html.erb
  app/views/content/shared/teaching/_bursary_scholarship.html.erb
  app/views/content/shared/teaching/_ect_support.html.erb
  app/views/content/shared/teaching/_funding_support.html.erb
  spec/views/content/shared/adviser_promo.html.erb_spec.rb
  spec/views/content/shared/benefits.html.erb_spec.rb
  spec/views/content/shared/bursary_scholarship.html.erb_spec.rb
Labels: ruby, test, Review, content

#4280 Delete teacher training it's worth it blog
  app/views/content/blog/teacher-training-its-worth-it.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  config/redirects.yml
Labels: ruby, Review, content, Config

#4286 delete no two days blog
  app/views/content/blog/no-two-days-are-the-same.md
  app/webpacker/images/content/blog/thumbnails/stories-gavin.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#4287 Delete why don't you teach miss blog
  app/views/content/blog/why-dont-you-teach-miss.md
  app/webpacker/images/content/blog/thumbnails/stories-emma.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#4288 Delete leaping to head of department blog
  app/views/content/blog/leaping-to-head-of-department.md
  app/webpacker/images/content/blog/thumbnails/stories-jon.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#4289 Delete natural transition from engineering blog
  app/views/content/blog/natural-transition-from-engineering-to-teaching-physics.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/change-careers.md
  app/webpacker/images/content/blog/thumbnails/stories-roger.jpg
  config/images.yml
  config/redirects.yml
Labels: Review, content, Config

#4292 Remove old zendesk code
  app/components/footer_component.html.erb
  app/views/sections/_zendesk_chat_settings.html.erb
  app/webpacker/javascript/zendesk_chat_reload.js
  app/webpacker/packs/application.js
  config/initializers/secure_headers.rb
  spec/components/footer_component_spec.rb
  spec/javascript/controllers/chat_controller_spec.js
Labels: ruby, test, Review, Config

#4268 Redesign of footer to include new links and design
  app/components/footer/talk_to_us_component.html.erb
  app/components/footer/talk_to_us_component.rb
  app/components/footer_component.html.erb
  app/components/footer_component.rb
  app/helpers/application_helper.rb
  app/views/content/events/get-the-most-from-events.md
  app/views/content/help-and-support.md
  app/views/content/landing/campus-advisers.md
  app/views/content/landing/campus-mailing-list.md
  app/views/content/landing/careers.md
  app/views/content/landing/grow.md
  app/views/content/landing/how-much-do-teachers-get-paid.md
  app/views/content/landing/how-to-become-a-teacher.md
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/mailing-list-1.md
  app/views/content/landing/mailing-list-2.md
  app/views/content/landing/mailing-list-3.md
  app/views/content/landing/mailing-list.md
  app/views/content/landing/return-to-teaching-advisers.md
  app/views/content/landing/train-to-teach-if-you-have-a-degree.md
  app/views/content/landing/train-to-teach.md
  app/views/content/landing/what-teaching-taught-me.md
  app/views/content/life-as-a-teacher.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers.md
  app/views/content/life-as-a-teacher/explore-subjects.md
  app/views/content/life-as-a-teacher/pay-and-benefits.md
  app/views/content/life-as-a-teacher/teaching-as-a-career.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/teacher-training-advisers.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/trainees/start-your-teacher-training.md
  app/views/layouts/category.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/feedback.html.erb
  app/views/layouts/minimal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/welcome.html.erb
  app/webpacker/images/dfelogo-black.svg
  app/webpacker/images/dfelogo-white.svg
  app/webpacker/styles/footer.scss
  spec/components/footer/talk_to_us_component_spec.rb
  spec/components/footer_component_spec.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review, Style, content

#4278 Update quote component on events page
  app/views/teaching_events/about_git_events.html.erb
  app/views/teaching_events/show/_what-theyre-saying.html.erb
Labels: ruby, Review

#4290 Replace links to blog home
  app/views/callbacks/steps/completed.html.erb
  app/views/content/funding-and-support/_why-teach.html.erb
  app/views/content/how-to-apply-for-teacher-training/_why-teach.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/errors/not_found.html.erb
  app/views/event_steps/completed.html.erb
  config/redirects.yml
  config/tags.yml
  spec/requests/redirects_spec.rb
Labels: ruby, test, Review, content, Config

#4297 Delete fellowship of teachers blog
  app/views/content/blog/the-fellowship-of-teachers.md
  app/webpacker/images/content/blog/fellowship.jpg
  app/webpacker/images/content/blog/thumbnails/fellowship.jpg
  config/images.yml
  config/redirects.yml
  spec/helpers/metadata_helper_spec.rb
  spec/models/image_spec.rb
Labels: test, Review, content, Config

#4283 add-links-to-other-pages-to-qts
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content

#4279 added-seo-to-qts-page
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: Review, content

#4298 Amend teaching internship payment content
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: ruby, Review, content

#4291 Update biology pages new content
  app/views/content/life-as-a-teacher/explore-subjects/biology.md
  app/views/content/life-as-a-teacher/explore-subjects/biology/_adviser-promo-biology.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology/_header.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/shared/qualifications-training/_find_out_more.html.erb
Labels: ruby, Review, content

#4300 Delete how to ace a video interview blog
  app/views/content/blog/how-to-ace-a-video-interview.md
  app/webpacker/images/content/blog/anna-shirley.jpg
  app/webpacker/images/content/blog/thumbnails/anna-shirley.jpg
  config/images.yml
  config/redirects.yml
  spec/requests/structured_data_spec.rb
Labels: test, Review, content, Config

#4301 Delete why I became a teacher blog
  app/views/content/blog/why-i-became-a-teacher.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/webpacker/images/content/blog/giorgio-rubbo.jpg
  app/webpacker/images/content/blog/thumbnails/giorgio-rubbo.jpg
  config/images.yml
  config/redirects.yml
  spec/features/blog_spec.rb
Labels: test, Review, content, Config

#4302 Delete back to school as a trainee teacher
  app/views/content/blog/back-to-school-as-a-trainee-teacher.md
  app/webpacker/images/content/blog/jacob.jpg
  app/webpacker/images/content/blog/thumbnails/jacob.jpg
  config/images.yml
  config/redirects.yml
  config/tags.yml
  spec/features/blog_spec.rb
  spec/requests/canonical_urls_spec.rb
  spec/requests/gtm_spec.rb
Labels: test, Review, content, Config
