Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-06, with the labels that each got.

#3998 Config tweak to allow for easier local app+api
  config/initializers/git_api_client.rb
  docs/development.md
  lib/uri_checker.rb
  spec/lib/uri_checker_spec.rb
Labels: ruby, test, Review, Config

#4009 URGENT Revert "Config tweak to allow for easier local app+api (#3998)"
  config/initializers/git_api_client.rb
  docs/development.md
  lib/uri_checker.rb
  spec/lib/uri_checker_spec.rb
Labels: ruby, test, Review, Config

#3999 Experiment with Google Tag menu events
  app/webpacker/controllers/navigation_controller.js
Labels: Review

#4013 Upgrade selenium webdriver to 4.21.1
  Gemfile
  Gemfile.lock
Labels: Review

#4012 Update naming convention for variables already in prod
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  config/values/fees.yml
Labels: Review, content, Config

#4010 Revert "Revert "Config tweak to allow for easier local app+api (#3998…
  config/initializers/git_api_client.rb
  docs/development.md
  lib/uri_checker.rb
  spec/lib/uri_checker_spec.rb
Labels: ruby, test, Review, Config

#4014 Include menu level in gtag tracking payload
  app/webpacker/controllers/navigation_controller.js
Labels: Review

#4017 Update Middlesex Uni AO address
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#4019 Update Astra Alliance AO Details
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#4021 Monthly internships update
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#4016 Create bursary and scholarship yml files and update some initial values
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  config/values/bursaries.yml
  config/values/scholarships.yml
Labels: Review, content, Config

#4020 Create yml files for miscellanous values and begin populating variables
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  config/values/earlyyears.yml
  config/values/finance.yml
  config/values/nonuk.yml
  config/values/teachinginternship.yml
Labels: ruby, Review, content, Config

#4023 Eng lang proficiency tweak
  app/views/content/non-uk-teachers/non-uk-qualifications.md
Labels: Review, content

#4024 re-parse the output of components for values
  lib/template_handlers/markdown.rb
  spec/lib/template_handlers/markdown_spec.rb
Labels: ruby, test, Review

#4030 iQTS correction
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#4031 Enabled logit.io on nonprod
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/variables.tf
Labels: DevOps, Review

#4033 Update link styles
  app/webpacker/styles/category.scss
  app/webpacker/styles/links-and-buttons.scss
Labels: Review, Style

#4043 Hover state dropdown menu
  app/components/header/navigation_component.html.erb
  app/components/header/navigation_component.rb
  app/webpacker/styles/links-and-buttons.scss
Labels: ruby, Review, Style

#4044 Update to Ukraine page
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#4046 Remove feedback component
  app/components/footer/feedback_component.html.erb
  app/components/footer/feedback_component.rb
  app/components/footer_component.html.erb
  app/components/footer_component.rb
  app/helpers/application_helper.rb
  app/views/content/help-and-support.md
  app/views/content/is-teaching-right-for-me/become-a-further-education-teacher.md
  app/views/content/is-teaching-right-for-me/become-an-early-years-teacher.md
  app/views/layouts/category.html.erb
  app/views/layouts/feedback.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/welcome.html.erb
  spec/components/footer/feedback_component_spec.rb
  spec/components/footer_component_spec.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, test, Review, content
