Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-01, with the labels that each got.

#3765 Update Chemistry scholarship link on bursaries page
  app/views/content/funding-and-support/scholarships-and-bursaries.md
Labels: content, Review_v2

#3739 International relocation payments reopen
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: content, Review_v2

#3766 Add DAX pixel to cookie policy
  app/views/pages/cookies.md
Labels: Review_v2

#3738 Ukraine page: specific dates removed from ITT recruitment cycle
  app/views/content/non-uk-teachers/ukraine.md
Labels: content, Review_v2

#3701 Updates to choose your teacher training course page merging some of the choosing course provider blog post
  app/views/content/blog/choosing-the-right-teacher-training-course-provider.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  config/redirects.yml
  spec/features/blog_spec.rb
  spec/requests/canonical_urls_spec.rb
  spec/requests/gtm_spec.rb
Labels: test, content, Config, Review_v2

#3776 Update Is teaching right for me category page with campaign messaging
  app/views/content/is-teaching-right-for-me.md
Labels: Review, content, Review_v2

#3778 Tweaked starting salary content to align campaign
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
Labels: Review, content, Review_v2

#3783 Tweak content on qualifications page to add in campaign messaging
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
Labels: content, Review_v2

#3777 Remove message re holiday response time on adviser funnel completed page
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: ruby, Review_v2

#3782 Update content in homepage salary component
  app/views/content/home/_salaries-banner.html.erb
Labels: ruby, Review, content, Review_v2

#3785 Correct link for St Mary's university iQTS provider
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: content, Review_v2

#3788 Update accessibility statement following brand colour update
  app/views/content/accessibility.md
Labels: content, Review_v2

#3529 Add channel id to events page and carry this param to the register form
  Gemfile.lock
  app/helpers/events_helper.rb
  app/models/events/steps/personal_details.rb
  app/views/event_steps/_personal_details.html.erb
  app/views/teaching_events/about_git_events.html.erb
  app/views/teaching_events/show/_register-button.html.erb
  spec/helpers/events_helper_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/events/wizard_spec.rb
Labels: ruby, test, Review, Review_v2

#3736 Add search aria attributes
  app/components/header/extra_navigation_component.html.erb
  app/webpacker/controllers/searchbox_controller.js
Labels: ruby, Review_v2

#3764 Remove Zimbabwe and direct links to Apply for QTS service from Teach in England
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: content, Review_v2

#3793 Fix broken link on /train-to-be-a-teacher/assessment-only-route-to-qts
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
Labels: content, Review_v2

#3763 Changed font colour from white to black in non-CTA components
  app/components/content/adviser_component.rb
  app/components/content/mailing_list_component.rb
  app/components/content/talk_to_us_component.html.erb
  app/components/footer/talk_to_us_component.html.erb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/components/photo-quote-list.scss
  app/webpacker/styles/components/quote-list.scss
  app/webpacker/styles/headings.scss
  app/webpacker/styles/teaching-events.scss
  app/webpacker/styles/vertical-tags.scss
  spec/components/content/adviser_component_spec.rb
  spec/components/content/mailing_list_component_spec.rb
Labels: ruby, test, Style, Review_v2

#3794 Spec fixes following colour changes
  spec/components/content/adviser_component_spec.rb
  spec/components/content/mailing_list_component_spec.rb
Labels: test, Review_v2

#3798 Update career changer page with campaign messaging.
  app/views/content/is-teaching-right-for-me/if-you-want-to-change-career.md
Labels: content, Review_v2

#3786 Clean up code after migration
  .github/common_environment.yml
  .github/common_environment_aks.yml
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/destroy_review.yml
  .github/workflows/lychee.yml
  .github/workflows/pagespeed.yml
  .github/workflows/sha.yml
  .github/workflows/snyk.yml
  .github/workflows/trello.yml
  Makefile
  global_config/beta.sh
  global_config/development.sh
  global_config/production.sh
  global_config/review.sh
  global_config/test.sh
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/development_Terrafile
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/production_Terrafile
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/review_Terrafile
  terraform/aks/config/test.tfvars.json
  terraform/aks/config/test_Terrafile
  tests/confidence/healthcheck.sh
  tests/confidence/healthcheck_aks.sh
Labels: test, DevOps, Review

#3755 Create campaign landing page
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/landing/grow.md
  app/views/content/landing/grow/_collage.html.erb
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/grow/_header.html.erb
  app/views/content/landing/grow/_mailing_list.html.erb
  app/views/content/landing/grow/_promo.html.erb
  app/views/content/landing/train-to-teach/_content.html.erb
  app/webpacker/images/content/grow/Smiling_Student.jpg
  app/webpacker/images/content/hero-images/0027.jpg
  app/webpacker/images/content/hero-images/0027—mobile.jpg
  app/webpacker/images/content/hero-images/0027—tablet.jpg
  app/webpacker/styles/components/campaign-hero.scss
  app/webpacker/styles/layout.scss
  config/images.yml
Labels: ruby, Review, Style, content, Config, Review_v2

#3796 Update 2024 campaign images
  app/views/content/funding-and-support.md
  app/views/content/home.md
  app/views/content/home/_directory.html.erb
  app/views/content/is-teaching-right-for-me.md
  app/views/content/non-uk-teachers.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/train-to-be-a-teacher.md
  app/webpacker/images/content/hero-images/0028.jpg
  app/webpacker/images/content/hero-images/0028—mobile.jpg
  app/webpacker/images/content/hero-images/0028—tablet.jpg
  app/webpacker/images/content/hero-images/0029.jpg
  app/webpacker/images/content/hero-images/0029—mobile.jpg
  app/webpacker/images/content/hero-images/0029—tablet.jpg
  app/webpacker/images/content/hero-images/0030.jpg
  app/webpacker/images/content/hero-images/0030—mobile.jpg
  app/webpacker/images/content/hero-images/0030—tablet.jpg
  app/webpacker/images/content/hero-images/0031.jpg
  app/webpacker/images/content/hero-images/0031—mobile.jpg
  app/webpacker/images/content/hero-images/0031—tablet.jpg
  app/webpacker/images/content/hero-images/0032.jpg
  app/webpacker/images/content/hero-images/0032—mobile.jpg
  app/webpacker/images/content/hero-images/0032—tablet.jpg
  app/webpacker/images/content/hero-images/0034.jpg
  app/webpacker/images/content/hero-images/0034—mobile.jpg
  app/webpacker/images/content/hero-images/0034—tablet.jpg
  app/webpacker/images/content/hero-images/0035.jpg
  app/webpacker/images/content/hero-images/0035—mobile.jpg
  app/webpacker/images/content/hero-images/0035—tablet.jpg
  app/webpacker/images/content/homepage/directory4.jpg
  app/webpacker/images/content/homepage/directory5.jpg
  app/webpacker/images/content/homepage/directory6.jpg
  app/webpacker/styles/components/promo.scss
  config/images.yml
Labels: ruby, Review, Style, content, Config, Review_v2

#3801 Add redirect to campaign landing page
  config/redirects.yml
Labels: Review, Config

#3800 Remove paas DNS validation domains
  terraform/domains/environment_domains/config/production.tfvars.json
Labels: DevOps, Review

#3779 Bypass blocks
  app/components/back_component.html.erb
  app/components/back_component.rb
  app/helpers/application_helper.rb
  app/views/event_steps/_form_first_page.html.erb
  app/views/form/_sign_up.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/webpacker/images/1x1.png
  app/webpacker/styles/layout.scss
  app/webpacker/styles/registration.scss
Labels: ruby, Review, Style, Review_v2

#3795 Update accessibility statement to remove bypass blocks issue
  app/views/content/accessibility.md
Labels: Review, content, Review_v2

#3797 Update cookie policy to remove UA cookie
  app/views/pages/cookies.md
Labels: Review, Review_v2

#3805 Add NOSONAR comment
  app/components/events/card_component.html.erb
Labels: ruby, Review

#3804 Various colour and accessibility fixes
  app/views/content/home/_purple-box.html.erb
  app/views/content/landing/how-to-become-a-teacher/_promo.html.erb
  app/views/layouts/steps.html.erb
  app/webpacker/images/adviser-graphic-black.png
  app/webpacker/images/ml-graphic-black.png
  app/webpacker/images/steps-graphic-black.png
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/colours.scss
  app/webpacker/styles/components/purple-box.scss
  app/webpacker/styles/dialog.scss
  app/webpacker/styles/header/logo.scss
  app/webpacker/styles/links-and-buttons.scss
  spec/components/content/purple_box_component_spec.rb
Labels: ruby, test, Review, Style, content

#3808 Update accessibility statement to remove colour contrast issues
  app/views/content/accessibility.md
Labels: Review, content

#3809 Add Bath Spa and update North Lincs SCITT on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3807 Apply campaign updates to paid search and social landing pages
  app/views/content/landing/how-much-do-teachers-get-paid.md
  app/views/content/landing/how-much-do-teachers-get-paid/_collage.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_header.html.erb
  app/views/content/landing/how-to-become-a-teacher.md
  app/views/content/landing/how-to-become-a-teacher/_header.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/how-to-fund-your-teacher-training/_collage.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_header.html.erb
  app/views/content/landing/train-to-teach-if-you-have-a-degree.md
  app/views/content/landing/train-to-teach-if-you-have-a-degree/_collage.html.erb
  app/views/content/landing/train-to-teach-if-you-have-a-degree/_header.html.erb
  app/views/content/landing/train-to-teach.md
  app/views/content/landing/train-to-teach/_collage.html.erb
  app/views/content/landing/train-to-teach/_header.html.erb
  app/webpacker/images/content/landing/how-much-do-teachers-get-paid-1.jpg
  app/webpacker/images/content/landing/how-to-become-a-teacher-1.jpg
  app/webpacker/images/content/landing/how-to-become-a-teacher-2.jpg
  app/webpacker/images/content/landing/how-to-fund-your-teacher-training-1.jpg
  app/webpacker/images/content/landing/how-to-fund-your-teacher-training-2.jpg
  app/webpacker/images/content/landing/train-to-teach-if-you-have-a-degree-1.jpg
  app/webpacker/images/content/landing/train-to-teach-if-you-have-a-degree-2.jpg
  app/webpacker/images/content/landing/train-to-teach.jpg
  config/images.yml
Labels: ruby, Review, content, Config

#3811 Re-enable scss linting
  .github/workflows/build.yml
  Dockerfile
  app/webpacker/styles/blocks.scss
  app/webpacker/styles/components/badge.scss
  app/webpacker/styles/components/fact-list.scss
  app/webpacker/styles/components/promo.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/registration.scss
  app/webpacker/styles/sections/action-container.scss
Labels: docker, DevOps, Review, Style

#3790 Top tips for career progression
  app/views/content/is-teaching-right-for-me/career-progression.md
Labels: Review, content, policy sign off, Review_v2

#3812 Update-career-progression-links
  app/views/content/is-teaching-right-for-me/teacher-pay-and-benefits.md
  app/views/content/landing/grow/_content.html.erb
Labels: ruby, Review, content

#3813 Remove PGDE references from Teach First
  app/views/content/funding-and-support/salaried-teacher-training.md
Labels: Review, content

#3814 Change-Talk-to-adviser-H3s
  app/views/content/help-and-support/_categories.html.erb
Labels: ruby, Review, content

#3817 Add missing slack notifications to jobs
  .github/workflows/build.yml
Labels: DevOps, Review

#3802 Remove auto-submit on funding widget and enable submit button
  app/components/funding_widget_component.html.erb
  app/components/funding_widget_component.rb
  app/controllers/pages_controller.rb
  app/models/funding_widget.rb
  app/views/sections/_content_errors.html.erb
  app/webpacker/styles/call-to-action.scss
  spec/features/funding_widget_spec.rb
Labels: ruby, test, Review, Style

#3819 Subhead now h2 for greater clarity
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#3820 Add chatGPT content to personal statement
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
Labels: Review, content

#3825 Increase dev replicas
  .github/workflows/build.yml
  terraform/aks/config/development.tfvars.json
Labels: DevOps, Review

#3810 Create a landing page for Buzzfeed
  app/views/content/landing/what-teaching-taught-me.md
  app/views/content/landing/what-teaching-taught-me/_collage.html.erb
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
  app/views/content/landing/what-teaching-taught-me/_header.html.erb
  app/views/content/landing/what-teaching-taught-me/_mailing-list.html.erb
  app/views/content/landing/what-teaching-taught-me/_promo.html.erb
  app/webpacker/images/content/grow/buzzfeed-red-logo-text.png
  app/webpacker/styles/associated-logos.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/layout.scss
Labels: ruby, Review, Style, content

#3816 Remove alt text on hero images
  app/components/calls_to_action/homepage_component.rb
  app/components/calls_to_action/simple_component.rb
  app/components/content/campaign_hero_component.rb
  app/components/content/checklist_collage_component.rb
  app/components/content/fact_list_component.rb
  app/components/content/generic_block_component.rb
  app/components/content/hero_component.rb
  app/components/content/image_block_component.rb
  app/components/content/image_component.rb
  app/components/content/photo_quote_list_component.html.erb
  app/components/content/steps_component.html.erb
  app/components/teaching_events/event_component.rb
  app/components/text_block_with_one_image_component.rb
  app/components/text_block_with_two_images_component.rb
  app/helpers/image_helper.rb
  app/views/content/funding-and-support/_why-teach.html.erb
  app/views/content/home/_purple-box.html.erb
  app/views/content/how-to-apply-for-teacher-training/_why-teach.html.erb
  app/views/content/landing/how-to-become-a-teacher/_promo.html.erb
  app/views/content/non-uk-teachers/_why-teach.html.erb
  app/views/content/train-to-be-a-teacher/promos/_apply-for-your-course.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-course-pgce.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-course.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-ske-course.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-undergraduate-course.html.erb
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/welcome/landing/_subject-specific-story.html.erb
  app/views/content/welcome/my-journey-into-teaching/_header.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/teaching_events/show/_date-and-time.html.erb
  app/views/teaching_events/show/_event-image.html.erb
  config/images.yml
  spec/helpers/image_helper_spec.rb
  spec/helpers/metadata_helper_spec.rb
  spec/models/image_spec.rb
Labels: ruby, test, Review, content, Config

#3829 Update Yorkshire and Humber Teacher Training on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
Labels: Review, content

#3827 Add sub_channel_id to events signup
  app/helpers/events_helper.rb
  app/models/events/steps/personal_details.rb
  app/models/events/wizard.rb
  app/views/event_steps/_personal_details.html.erb
  app/views/event_steps/completed.html.erb
  app/views/teaching_events/show/_register-button.html.erb
  spec/helpers/events_helper_spec.rb
  spec/models/events/steps/personal_details_spec.rb
Labels: ruby, test, Review

#3830 Update internship list from 26/1/2024 spreadsheet
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#3818 Update what-is-qts.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: Review, content

#3828 Enable azure rbac deployment
  .github/workflows/actions/deploy/action.yml
  .github/workflows/destroy_review.yml
  Makefile
  terraform/aks/terraform.tf
Labels: DevOps, Review
