Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-02, with the labels that each got.

#3847 Update accessibility statement following funding widget fix
  app/views/content/accessibility.md
Labels: Review, content

#3849 Update CSP for Reddit
  config/initializers/secure_headers.rb
Labels: ruby, Review, Config

#3824 Social email sign up landing page
  app/components/content/mailing_list_component.html.erb
  app/components/content/mailing_list_component.rb
  app/views/content/landing/mailing-list.md
  app/views/content/landing/mailing-list/_header.html.erb
  app/views/content/landing/mailing-list/_mailing-list.html.erb
  app/views/content/landing/social-mailing-list/_header.html.erb
  app/views/content/landing/social-mailing-list/_mailing-list.html.erb
Labels: ruby, Review, content

#3851 Improve Testing Pipeline
  .github/workflows/build.yml
  knapsack_rspec_report.json
  spec/requests/big_query_analytics_spec.rb
Labels: test, DevOps, Review

#3852 Tweak-internship-payments-wording
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  app/views/content/is-teaching-right-for-me/teaching-internship-providers/_listing.html.erb
Labels: ruby, Review, content

#3853 Speed up slow tests
  config/environments/test.rb
  config/shakapacker.yml
  knapsack_rspec_report.json
  spec/lib/accessible_footnotes_spec.rb
  spec/lib/asset_checker_spec.rb
  spec/lib/error_title_spec.rb
  spec/lib/external_links_spec.rb
  spec/lib/lazy_load_images_spec.rb
  spec/lib/rack/deflater_with_exclusions_spec.rb
  spec/lib/responsive_images_spec.rb
  spec/rails_helper.rb
  spec/requests/big_query_analytics_spec.rb
  spec/spec_helper.rb
  spec/views/erb_implementation_check_spec.rb
Labels: ruby, test, Review, Config

#3855 Remove accordion component from codebase
  app/components/content/accordion_component.html.erb
  app/components/content/accordion_component.rb
  app/views/layouts/content.html.erb
  app/webpacker/styles/accordion.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/markdown.scss
  spec/components/content/accordion_component_spec.rb
  spec/javascript/controllers/abbreviation_controller_spec.js
  spec/javascript/controllers/accordion_controller_spec.js
  spec/requests/frontmatter_content_spec.rb
  spec/support/views/content/content-page.md
Labels: ruby, test, Review, Style

#3856 Set autocomplete on signup forms
  app/components/content/adviser_component.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
Labels: ruby, Review

#3857 Fix Next Step button when javascript is disabled
  app/components/content/adviser_component.html.erb
  app/components/content/mailing_list_component.html.erb
  app/components/home/mailing_list_component.html.erb
Labels: ruby, Review

#3815 Update blockquote styling
  app/components/content/quote_component.rb
  app/components/content/quote_list_component.html.erb
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/explore-teaching-advisers/_article.html.erb
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
  app/views/content/is-teaching-right-for-me/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
  app/views/content/is-teaching-right-for-me/teaching-internship-providers/_listing.html.erb
  app/views/content/subjects/engineers-teach-physics/_article.html.erb
  app/views/content/subjects/physics/_article.html.erb
  app/views/content/teacher-training-advisers/_article.html.erb
  app/views/content/welcome/my-journey-into-teaching/_introduction.html.erb
  app/webpacker/styles/blog.scss
  app/webpacker/styles/components/mixins/quote.scss
  app/webpacker/styles/components/quote.scss
  app/webpacker/styles/components/what-theyre-saying.scss
  app/webpacker/styles/welcome-guide.scss
  spec/components/content/quote_component_spec.rb
Labels: ruby, test, Review, Style, content

#3859 Regenerate internship list
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: Review, content

#3858 Remove scribble
  app/controllers/internal/events_controller.rb
  app/models/internal/event.rb
  app/presenters/teaching_events/event_presenter.rb
  app/views/internal/events/new.html.erb
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_scribble.html.erb
  app/webpacker/controllers/scribble_controller.js
  app/webpacker/styles/teaching-events.scss
  config/initializers/secure_headers.rb
  config/locales/en.yml
  spec/factories/internal/event_factory.rb
  spec/features/internal_spec.rb
  spec/javascript/controllers/scribble_controller_spec.js
  spec/models/internal/event_spec.rb
  spec/presenters/teaching_events/event_presenter_spec.rb
  spec/requests/internal/events_controller_spec.rb
Labels: ruby, test, Review, Style, Config

#3860 Update SKE bursary content
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
Labels: Review, content

#3833 Subcategory added to non-UK category page
  app/views/content/non-uk-teachers.md
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#3865 update button style colour to green
  app/webpacker/styles/links-and-buttons.scss
Labels: Review, Style

#3867 Validation of Privacy Policy id
  app/controllers/pages_controller.rb
  app/views/errors/bad_request.erb
  spec/requests/privacy_policy_spec.rb
Labels: ruby, test, Review

#3868 Delete social mailing list folder from landing pages
  app/views/content/landing/social-mailing-list/_header.html.erb
  app/views/content/landing/social-mailing-list/_mailing-list.html.erb
Labels: ruby, Review, content

#3863 Upgrade govuk frontend library to version 5.1.0
  app/components/header_component.html.erb
  app/helpers/maps_helper.rb
  app/views/event_steps/_personalised_updates.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/views/layouts/category.html.erb
  app/views/layouts/component_preview.html.erb
  app/views/layouts/content.html.erb
  app/views/layouts/disclaimer.html.erb
  app/views/layouts/events.html.erb
  app/views/layouts/feedback.html.erb
  app/views/layouts/home.html.erb
  app/views/layouts/internal.html.erb
  app/views/layouts/minimal.html.erb
  app/views/layouts/registration.html.erb
  app/views/layouts/registration_with_image_above.html.erb
  app/views/layouts/registration_with_side_images.html.erb
  app/views/layouts/steps.html.erb
  app/views/layouts/teaching_event.html.erb
  app/views/layouts/teaching_events.html.erb
  app/views/layouts/welcome.html.erb
  app/views/mailing_list/steps/_postcode.html.erb
  app/views/sections/_govuk_javascript.html.erb
  app/views/sections/_head.html.erb
  app/views/teacher_training_adviser/steps/_gcse_maths_english.html.erb
  app/views/teacher_training_adviser/steps/_has_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_previous_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/webpacker/packs/clarity.js
  app/webpacker/packs/govuk_frontend.js
  app/webpacker/packs/gtm.js
  app/webpacker/styles/application.scss
  app/webpacker/styles/internal.scss
  config/shakapacker.yml
  package.json
  yarn.lock
Labels: ruby, Review, Style, Config

#3826 All-subject-pages
  app/views/content/is-teaching-right-for-me/teacher-training-subjects.md
Labels: Review, content

#3866 TDA-holding-message
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/promos/_find-your-undergraduate-course.html.erb
Labels: ruby, Review, content

#3869 Change-H1-on-social-mailing-list-landing-page
  app/views/content/landing/mailing-list.md
  app/views/content/landing/mailing-list/_header.html.erb
Labels: ruby, Review, content
