Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-09, with the labels that each got.

#4161 Remove redundant iQTS folder and file
  app/views/content/non-uk-teachers/international-qualified-teacher-status/_after-accordion.md
Labels: ruby, Review, content

#4162 Remove vertical tags style from code
  app/webpacker/styles/git.scss
  app/webpacker/styles/vertical-tags.scss
Labels: ruby, Review, Style

#4171 Ensure that 2024 is removed from the list of teacher training years in adviser funnel
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
Labels: ruby, test, Review

#4155 Update salaries information in line with pay award
  app/views/content/home/_salaries-banner.html.erb
  app/views/content/landing/careers/_content.html.erb
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/career-progression.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  config/values/salaries.yml
Labels: ruby, Review, content, Config, policy sign off

#4172 Amend test descriptions for teacher training advisor funnel
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
Labels: test, Review

#4158 Degree subject autocomplete
  .erb-lint.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/models/teacher_training_adviser/steps/what_subject_degree.rb
  app/views/teacher_training_adviser/steps/_what_subject_degree.html.erb
  app/webpacker/packs/application.js
  app/webpacker/styles/application.scss
  config/initializers/inflections.rb
  config/locales/en.yml
  package.json
  spec/contracts/data/teacher_training_adviser/candidates.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_not_returning_has_degree_secondary_retaking_gcses_overseas_and_no_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  spec/contracts/teacher_training_adviser_spec.rb
  spec/features/teacher_training_adviser/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/what_subject_degree_spec.rb
  yarn.lock
Labels: ruby, test, Review, Style, Config

#4178 Add bursaries variable
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  config/values/bursaries.yml
Labels: ruby, Review, content, Config

#4157 What you could teach sub-category page
  app/views/content/blog/a-diary-of-a-trainee-teacher.md
  app/views/content/blog/abigails-career-progression-story.md
  app/views/content/blog/from-teaching-internship-to-assistant-head-of-maths.md
  app/views/content/blog/product-engineer-turned-science-teacher.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/life-as-a-teacher/_categories.html.erb
  app/views/content/life-as-a-teacher/_header.html.erb
  app/views/content/life-as-a-teacher/explore-subjects.md
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/computing/_adviser-promo-computing.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_header.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics.md
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_header.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths.md
  app/views/content/life-as-a-teacher/explore-subjects/maths/_adviser-promo-maths.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_header.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/physics/_adviser-promo-physics.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_header.html.erb
  app/views/content/life-as-a-teacher/if-you-want-to-change-career.md
  app/views/content/life-as-a-teacher/pay-and-benefits.md
  app/webpacker/images/content/hero-images/0036.jpg
  config/locales/en.yml
  config/redirects.yml
Labels: ruby, Review, content, Config

#4175 Add consultation banner to salaries page
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
Labels: Review, content

#4180 Replace Oak Academy link on Get school experience page
  app/views/content/train-to-be-a-teacher/get-school-experience.md
Labels: Review, content

#4181 Amend salaried teacher training non-UK content
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
Labels: Review, content

#4143 Create Inspiration Card Component
  app/components/content/inspiration_card_component.html.erb
  app/components/content/inspiration_card_component.rb
  app/views/content/life-as-a-teacher/pay-and-benefits/_what-teachers-have-to-say.html.erb
  app/webpacker/styles/category.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  spec/components/content/inspiration_card_component_spec.rb
Labels: ruby, test, Review, Style, content

#4174 Tidy up financial variables
  config/locales/test.yml
  config/values/dates.yml
  config/values/fees.yml
  config/values/salaries.yml
  docs/content.md
  spec/components/funding_widget_component_spec.rb
  spec/models/value_spec.rb
Labels: test, Review, Config

#4184 Non javascript degree autocomplete
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/models/teacher_training_adviser/steps/what_subject_degree.rb
  app/views/teacher_training_adviser/steps/_what_subject_degree.html.erb
  app/webpacker/controllers/what_subject_degree_controller.js
  app/webpacker/styles/git.scss
  app/webpacker/styles/registration/what-degree-subject.scss
  config/locales/en.yml
  spec/contracts/teacher_training_adviser_spec.rb
  spec/features/teacher_training_adviser/sign_up_spec.rb
  spec/support/spec_helpers/contract.rb
Labels: ruby, test, Review, Style, Config

#4187 Revert "Tidy up financial variables"
  config/locales/test.yml
  config/values/dates.yml
  config/values/fees.yml
  config/values/salaries.yml
  docs/content.md
  spec/components/funding_widget_component_spec.rb
  spec/models/value_spec.rb
Labels: test, Review, Config

#4189 Copy analytics pii and update to v.1.14.2
  Gemfile
  Gemfile.lock
  config/analytics_hidden_pii.yml
Labels: Review, Config

#4188 Tidy up financial variables
  config/locales/test.yml
  config/values/dates.yml
  config/values/fees.yml
  config/values/salaries.yml
  docs/content.md
  spec/components/funding_widget_component_spec.rb
  spec/models/value_spec.rb
Labels: test, Review, Config

#4191 Update survey options on event completion page
  app/views/event_steps/completed.html.erb
Labels: ruby, Review

#4193 Remove Edge Hill and Bristol from iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#4194 update branch to include master and fix a link
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
Labels: ruby, Review, content

#4140 Design and technology subject page
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_adviser-promo-design-and-technology.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_header.html.erb
Labels: ruby, test, Review, content

#4173 Add test to check for orphan yaml variables in the content
  app/views/content/blog/natural-transition-from-engineering-to-teaching-physics.md
  app/views/content/life-as-a-teacher/teach-disabled-pupils-and-pupils-with-special-educational-needs.md
  spec/views/identify_orphan_variables_spec.rb
Labels: ruby, test, Review, content

#4196 Update GOV.UK Frontend to v5.6.0 on GIT website
  package.json
  yarn.lock
Labels: Review

#4197 Update internships application opening date
  app/views/content/train-to-be-a-teacher/promos/_application-closure.html.erb
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_listing.html.erb
  config/values/recruitmentcycle.yml
  config/values/teachinginternship.yml
Labels: ruby, Review, content, Config

#4200 Remove config file to allow internships PR to merge
  config/values/recruitmentcycle.yml
Labels: Review, Config

#4195 Remove time to apply banner
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/landing/still-time-to-apply.md
  app/views/content/landing/still-time-to-apply/_content.html.erb
  app/views/content/landing/still-time-to-apply/_header.html.erb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  config/redirects.yml
Labels: ruby, Review, content, Config

#4192 Who to teach subcategory page
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/life-as-a-teacher/_categories.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/_categories.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/age-groups-you-could-teach.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
  app/views/mailing_list/steps/completed/_no_degree_high_commitment.html.erb
  config/redirects.yml
Labels: ruby, Review, content, Config

#4185 Update to the order of the Ukraine page
  app/views/content/non-uk-teachers/ukraine.md
Labels: Review, content

#4199 Update application dates for 2025 cycle
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
  config/values/recruitmentcycle.yml
Labels: Review, content, Config

#4201 Updates to visas for non uk trainees page
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#4202 Life as a teacher description update
  app/views/content/life-as-a-teacher.md
Labels: Review, content

#4205 Salary changes to paid langing pages
  app/components/content/checklist_collage_component.rb
  app/views/content/landing/grow/_collage.html.erb
  app/views/content/landing/how-to-become-a-teacher/_promo.html.erb
  app/views/content/landing/train-to-teach-if-you-have-a-degree/_promo.html.erb
Labels: ruby, Review, content

#4208 Updates to the IRP page - application now open
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content

#4210 Add holding content for bursaries and scholarships
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology.md
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry.md
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths.md
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: ruby, Review, content
