Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2024-05, with the labels that each got.

#3960 Monthly update of internships
  app/views/content/is-teaching-right-for-me/teaching-internship-providers.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#3959 Values and Variables
  app/controllers/pages_controller.rb
  app/helpers/content_helper.rb
  app/models/value.rb
  app/views/pages/values.md
  app/views/pages/values/_table.html.erb
  config/routes.rb
  config/values/dates.yml
  config/values/salaries.yml
  docs/content.md
  lib/template_handlers/markdown.rb
  spec/fixtures/files/example_values/data1.yml
  spec/fixtures/files/example_values/data2.yml
  spec/lib/template_handlers/markdown_spec.rb
  spec/models/value_spec.rb
Labels: ruby, test, Review, content, Config

#3973 Fix alignment of mailing list title
  app/components/home/mailing_list_component.html.erb
  app/webpacker/styles/components/mailing-list.scss
Labels: ruby, Review, Style

#3967 Create fees.yml and Implement assessment only fees as variables
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
  config/values/fees.yml
Labels: Review, content, Config

#3970 remove ttalianne.jpg image
  app/webpacker/images/content/ttalianne.jpg
  config/images.yml
  spec/helpers/metadata_helper_spec.rb
  spec/models/image_spec.rb
Labels: test, Review, Config

#3971 Remove CampaignHeroComponent
  app/components/content/campaign_hero_component.html.erb
  app/components/content/campaign_hero_component.rb
  spec/components/content/campaign_hero_component_spec.rb
Labels: ruby, test, Review

#3917 Expandable/dropdown menus
  app/components/header/navigation_component.html.erb
  app/components/header/navigation_component.rb
  app/components/header_component.html.erb
  app/components/header_component.rb
  app/models/pages/navigation.rb
  app/views/layouts/category.html.erb
  app/views/layouts/content.html.erb
  app/views/pages/browse.html.erb
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/images/navigation/arrow-down-black.svg
  app/webpacker/images/navigation/arrow-down-pink.svg
  app/webpacker/images/navigation/arrow-right-black.svg
  app/webpacker/images/navigation/arrow-right-white.svg
  app/webpacker/images/navigation/arrow-up-black.svg
  app/webpacker/images/navigation/arrow-up-pink.svg
  app/webpacker/images/navigation/cross.svg
  app/webpacker/packs/js_enabled.js
  app/webpacker/styles/header.scss
  app/webpacker/styles/header/navigation.scss
  app/webpacker/styles/links-and-buttons.scss
  app/webpacker/styles/utility.scss
  config/routes.rb
  spec/components/header/navigation_component_spec.rb
  spec/features/content_pages_spec.rb
  spec/javascript/controllers/navigation_controller_spec.js
  spec/models/pages/navigation_spec.rb
Labels: ruby, test, Review, Style, Config

#3976 Add iQTS fees into variables
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  config/values/fees.yml
Labels: Review, content, Config

#3958 Simplified apply for your visa to train to teach
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/ukraine.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#3985 Fix zap scan docker name
  .github/workflows/actions/owasp/action.yml
Labels: DevOps, Review

#3983 Support values/variables in I18n YAML files
  app/components/events/event_box_component.rb
  app/components/funding_widget_component.rb
  app/helpers/content_helper.rb
  app/helpers/events_helper.rb
  app/helpers/option_set_helper.rb
  app/models/teacher_training_adviser/steps/have_a_degree.rb
  app/models/value.rb
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/feedbacks/_recent.html.erb
  app/views/internal/events/index.html.erb
  app/views/mailing_list/steps/_degree_status.html.erb
  app/views/mailing_list/steps/_postcode.html.erb
  app/views/mailing_list/steps/_subject.html.erb
  app/views/mailing_list/steps/_teacher_training.html.erb
  app/views/teacher_training_adviser/steps/review_answers/_answer.html.erb
  app/views/wizard/steps/_authenticate.html.erb
  config/locales/test.yml
  docs/content.md
  lib/template_handlers/markdown.rb
  spec/components/funding_widget_component_spec.rb
  spec/fixtures/files/example_values/data2.yml
  spec/models/value_spec.rb
Labels: ruby, test, Review, content, Config

#3945 TDA page
  app/views/content/is-teaching-right-for-me/qualifications-you-need-to-teach.md
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
  spec/helpers/categories_helper_spec.rb
Labels: ruby, test, Review, content, policy sign off

#3991 Update email signup header
  app/components/home/mailing_list_component.html.erb
Labels: ruby, Review

#3993 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Review

#3995 Create .merge-test
  .merge-test
Labels: Review

#3994 Update govuk frontend 5.4.0
  app/webpacker/styles/application.scss
  app/webpacker/styles/internal.scss
  package.json
  yarn.lock
Labels: Review, Style

#3992 Improve menu tabbing flow
  app/components/header/breadcrumb_component.html.erb
  app/components/header/navigation_component.rb
  app/helpers/application_helper.rb
  app/webpacker/controllers/navigation_controller.js
  spec/components/header/navigation_component_spec.rb
  spec/javascript/controllers/navigation_controller_spec.js
Labels: ruby, test, Review

#3996 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Review
