Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-09, with the labels that each got.

#4927 Update accessibility post webchat updates.md
  app/views/content/accessibility.md
Labels: Review, content

#4922 Remove time to apply banner and landing page
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/landing/still-time-to-apply.md
  app/views/content/landing/still-time-to-apply/_content.html.erb
  app/views/content/landing/still-time-to-apply/_header.html.erb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  config/redirects.yml
Labels: ruby, Review, content, Config

#4923 Add holding content for scholarships and bursaries
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_collage.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design.md
  app/views/content/life-as-a-teacher/explore-subjects/biology.md
  app/views/content/life-as-a-teacher/explore-subjects/chemistry.md
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics.md
  app/views/content/life-as-a-teacher/explore-subjects/english.md
  app/views/content/life-as-a-teacher/explore-subjects/geography.md
  app/views/content/life-as-a-teacher/explore-subjects/languages.md
  app/views/content/life-as-a-teacher/explore-subjects/maths.md
  app/views/content/life-as-a-teacher/explore-subjects/music.md
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/religious-education.md
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/shared/teaching/_bursary_languages.html.erb
  app/views/content/shared/teaching/_bursary_only.html.erb
  app/views/content/shared/teaching/_bursary_scholarship.html.erb
Labels: ruby, Review, content

#4929 Update IRP page for opening of second payment application window
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content

#4932 Update content on visa question in mailing list funnel
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
Labels: test, Review, Config
