Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-08, with the labels that each got.

#4865 use build-docker-image github action
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  Dockerfile
Labels: docker, DevOps, Review

#4868 Add life stage to mailing list
  app/helpers/option_set_helper.rb
  app/models/mailing_list/steps/already_qualified.rb
  app/models/mailing_list/steps/degree_status.rb
  app/models/mailing_list/steps/life_stage.rb
  app/models/mailing_list/steps/returning_teacher.rb
  app/models/mailing_list/wizard.rb
  app/presenters/pick_list_items_api_presenter.rb
  app/views/content/shared/qualifications-training/_qts_for_teachers.html.erb
  app/views/mailing_list/steps/_already_qualified.html.erb
  app/views/mailing_list/steps/_degree_status.html.erb
  app/views/mailing_list/steps/_life_stage.html.erb
  app/views/mailing_list/steps/_returning_teacher.html.erb
  config/locales/en.yml
  spec/factories/picklists/situation_factory.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/option_set_helper_spec.rb
  spec/integration/mailing_list_spec.rb
  spec/models/mailing_list/steps/already_qualified_spec.rb
  spec/models/mailing_list/steps/life_stage_spec.rb
  spec/models/mailing_list/steps/returning_teacher_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/support/wizard_support.rb
Labels: ruby, test, Review, content, Config

#4888 Mailing List integration test fixes
  config/locales/en.yml
  spec/integration/mailing_list_spec.rb
Labels: test, Review, Config

#4891 Run applicaton as non-root user
  Dockerfile
  terraform/aks/application.tf
Labels: docker, DevOps, Review

#4894 Remove videos from PGCE and Adjustments pages
  app/views/content/train-to-be-a-teacher/accessibility-adjustments.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
Labels: Review, content

#4897 Remove Google Maps integration and related helpers
  app/helpers/maps_helper.rb
  app/webpacker/controllers/index.js
  app/webpacker/controllers/map_controller.js
  app/webpacker/styles/application.scss
  app/webpacker/styles/components/map.scss
  app/webpacker/styles/teaching-events.scss
  config/environments/development.rb
  config/environments/production.rb
  spec/helpers/events_helper_spec.rb
  spec/helpers/maps_helper_spec.rb
Labels: ruby, test, Review, Style, Config

#4901 Update salaries to 2025 amounts
  config/values/salaries.yml
  spec/components/funding_widget_component_spec.rb
Labels: test, Review, content, Config
