Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-01, with the labels that each got.

#4426 SEO updates for the PGCE page
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
Labels: Review, content, policy sign off

#4436 SEO changes to the teachers pension page
  app/views/content/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme.md
Labels: Review, content, policy sign off

#4439 change wording on benefits partial
  app/views/content/landing/how-much-do-teachers-get-paid/_collage.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/_categories.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/shared/teaching/_benefits.html.erb
  app/views/content/shared/teaching/_benefits_generic.html.erb
  spec/views/content/shared/benefits.html.erb_spec.rb
Labels: ruby, test, Review, content

#4421 Salaried teacher training - adding info on fees
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
Labels: ruby, Review, content, policy sign off

#4433 Update postcode content on the mailing list
  app/views/event_steps/_personalised_updates.html.erb
  app/views/mailing_list/steps/_postcode.html.erb
  config/locales/en.yml
  docs/sign-up-journeys.md
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/integration/mailing_list_spec.rb
Labels: ruby, test, Review, Config

#4438 Update subject question on events and mailing list
  app/views/mailing_list/steps/_subject.html.erb
  config/locales/en.yml
  docs/sign-up-journeys.md
  spec/features/event_wizard_spec.rb
  spec/features/mailing_list_wizard_spec.rb
  spec/integration/mailing_list_spec.rb
Labels: ruby, test, Review, Config

#4453 SEO updates to teacher pay page
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: Review, content, policy sign off

#4404 routes promo component
  app/components/calls_to_action/routes_component.html.erb
  app/components/calls_to_action/routes_component.rb
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/webpacker/images/routes.png
  app/webpacker/styles/components/routes.scss
  app/webpacker/styles/git.scss
  docs/content.md
  lib/template_handlers/markdown.rb
  spec/components/calls_to_action/routes_component_spec.rb
Labels: ruby, test, Review, Style, content

#4467 updating SEO content guidance
  docs/content.md
Labels: Review

#4420 Updates to the TDA page
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
Labels: Review, content, policy sign off

#4465 create a partial guidance
  docs/content.md
Labels: Review

#4468 Update H1 on adviser start page
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  spec/features/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review

#4454 Removing reference to non-UK citizens on AO page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
Labels: Review, content

#4469 Add non-uk inset text to career changers pages
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_article.html.erb
Labels: ruby, Review, content

#4363 Create secondary subject page
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/_categories.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/age-groups-you-could-teach.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/drama/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/english/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/geography/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/history/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/music/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/religious-education/_article.html.erb
  app/views/content/shared/qualifications-training/_get_school_experience.html.erb
  app/views/content/shared/quotes/_quote_art_richard.html.erb
  app/views/content/shared/quotes/_quote_maths_gloria.html.erb
  app/views/content/shared/subject-pages/_adviser_promo.html.erb
  app/views/content/shared/teaching/_teaching_send.html.erb
Labels: ruby, Review, content, policy sign off

#4444 why become a teacher new page
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/drama/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/english/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/geography/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/history/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/music/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/religious-education/_article.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/_categories.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/why-teach.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/why-teach/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/why-teach/_header.html.erb
  app/views/content/shared/quotes/_quote_why_teach_chelsea.html.erb
  app/views/content/shared/quotes/_quote_why_teach_gloria.html.erb
  app/views/content/shared/quotes/_quote_why_teach_helen.html.erb
  app/views/content/shared/quotes/_quote_why_teach_jack.html.erb
  app/views/content/shared/quotes/_quote_why_teach_shaniqua.html.erb
  app/views/content/shared/teaching/_why_teach.html.erb
Labels: ruby, Review, content

#4452 ukraine inset added to the non-uk teachers pages
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
Labels: Review, content

#4405 What is it like being a teacher page
  app/views/content/a-day-in-the-life-of-a-teacher.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/_categories.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/what-its-like-to-be-a-teacher.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/what-its-like-to-be-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/what-its-like-to-be-a-teacher/_header.html.erb
  app/views/content/non-uk-teachers/_questions.html.erb
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/shared/quotes/_quote_behaviour_jane.html.erb
  app/views/content/shared/quotes/_quote_food_helen.html.erb
  app/views/content/shared/quotes/_quote_ict_gavin.html.erb
  app/views/content/shared/quotes/_quote_science_jessica.html.erb
  app/views/content/shared/quotes/_quote_secondary_mike.html.erb
  app/views/content/shared/quotes/_quote_secondary_phil.html.erb
  config/redirects.yml
Labels: ruby, Review, content, Config, policy sign off

#4449 ukraine and refugee expanders on non-uk pages
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#4445 ukraine and refugee expanders on domestic pages
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: Review, content

#4455 Remove blog tech debt
  app/controllers/blog/tag_controller.rb
  app/controllers/blog_controller.rb
  app/controllers/sitemap_controller.rb
  app/helpers/blog_helper.rb
  app/helpers/structured_data_helper.rb
  app/models/pages/blog.rb
  app/views/blog/_date_and_author.html.erb
  app/views/blog/_header.html.erb
  app/views/blog/_highlights.erb
  app/views/blog/_post_preview.html.erb
  app/views/blog/_tag_list.html.erb
  app/views/blog/closing-paragraphs/_enriching-the-lives-of-young-people.html.erb
  app/views/blog/index.html.erb
  app/views/blog/tag/show.html.erb
  app/views/content/how-to-apply-for-teacher-training.md
  app/views/layouts/blog/index.html.erb
  app/views/layouts/blog/post.html.erb
  app/webpacker/images/content/application/notepad.jpg
  app/webpacker/styles/blog.scss
  app/webpacker/styles/git.scss
  config/environments/development.rb
  config/environments/production.rb
  config/images.yml
  config/routes.rb
  spec/features/content_pages_spec.rb
  spec/helpers/blog_helper_spec.rb
  spec/helpers/structured_data_helper_spec.rb
  spec/models/pages/blog_spec.rb
  spec/requests/structured_data_spec.rb
  spec/support/views/content/blog/post_invalid_tag.md
Labels: ruby, test, Review, Style, content, Config

#4451 deleting and redirecting the Ukraine page
  app/views/content/non-uk-teachers/ukraine.md
  config/redirects.yml
Labels: DevOps, Review, content, Config

#4473 Remove blog from content guidance
  docs/content.md
Labels: Review

#4472 Routes wizard results box
  app/components/content/results_box_component.html.erb
  app/components/content/results_box_component.rb
  app/webpacker/styles/components/results-box.scss
  app/webpacker/styles/git.scss
  spec/components/content/results_box_component_spec.rb
Labels: ruby, test, Review, Style

#4479 change typo in content to what it's like to be a teacher
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#4482 correct typo on secondary page
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary/_article.html.erb
Labels: ruby, Review, content

#4485 Replace broken link on veterans page
  app/views/content/funding-and-support/if-youre-a-veteran.md
Labels: Review, content

#4475 Updates to the non-UK eligibility page
  app/views/content/non-uk-teachers/non-uk-qualifications.md
Labels: Review, content, policy sign off

#4478 Create primary page and change misspelling of qualifications in files
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/_categories.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/drama/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/english/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/geography/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/history/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/music/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/religious-education/_article.html.erb
  app/views/content/shared/qualifications-training/_check_qualifications.html.erb
  app/views/content/shared/quotes/_quote_primary_jodie.html.erb
  app/views/content/shared/quotes/_quote_primary_phil.html.erb
  docs/content.md
Labels: ruby, Review, content

#4481 add in teaching assistant information for seo
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/why-teach/_article.html.erb
  app/views/content/shared/quotes/_quote_teaching_assistant_emma.html.erb
Labels: ruby, Review, content

#4486 Update of assessment only providers list
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4443 Create routes wizard logic
  app/components/content/results_box_component.rb
  app/controllers/routes_into_teaching/steps_controller.rb
  app/models/routes_into_teaching/routes.rb
  app/models/routes_into_teaching/steps/undergraduate_degree.rb
  app/models/routes_into_teaching/steps/unqualified_teacher.rb
  app/views/routes_into_teaching/steps/_undergraduate_degree.html.erb
  app/views/routes_into_teaching/steps/_unqualified_teacher.html.erb
  app/views/routes_into_teaching/steps/completed.html.erb
  config/routes_into_teaching.yml
  spec/models/routes_into_teaching/routes_spec.rb
Labels: ruby, test, Review, Config

#4448 CTA links component
  app/views/content/shared/links_and_buttons/_cta_circle_button_link.html.erb
  app/webpacker/styles/links-and-buttons.scss
Labels: ruby, Review, Style, content

#4477 non-uk citizen visas page updates
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content, policy sign off

#4494 Adds a closing paragraph tag on the fees and funding for non uk train…
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: Review, content

#4487 Change Non-UK heading to Outside the UK on Assessment only page
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/generate_assessment_only_providers.rake
  lib/tasks/support/assessment-only-route-to-qts.md.erb
  lib/tasks/support/assessment_only_providers.csv
Labels: ruby, Review, content

#4497 Bump kramdown from 2.4.0 to 2.5.1
  Gemfile.lock
  spec/requests/accessible_footnotes_spec.rb
Labels: test, Review

#4498 Add green CTA partial to ResultsBoxComponent
  app/components/content/results_box_component.html.erb
  app/webpacker/styles/links-and-buttons.scss
Labels: ruby, Review, Style

#4500 Routes wizard no results text
  app/views/routes_into_teaching/steps/completed.html.erb
Labels: ruby, test, Review, Style, Config

#4501 Routes wizard start page
  app/views/routes_into_teaching/steps/index.html.erb
  app/webpacker/images/route-hero.png
  config/images.yml
Labels: ruby, Review, Config

#4503 Upload latest internships listings
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#4489 adding classics paragraph to history subject page
  app/views/content/life-as-a-teacher/explore-subjects/_categories.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/history/_article.html.erb
Labels: ruby, Review, content, policy sign off

#4505 Bumped GOVUK frontend to 5.8.0
  package.json
  yarn.lock
Labels: Review

#4450 updates to train to teach non-uk page
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
Labels: Review, content

#4504 Update VWO SmartCode
  app/views/sections/_head.html.erb
Labels: ruby, Review

#4510 update prompt for subject step on mailing list
  app/views/mailing_list/steps/_subject.html.erb
Labels: ruby, Review

#4512 Changed final step button text
  app/views/routes_into_teaching/steps/show.html.erb
Labels: ruby, Review

#4492 content updates for routes wizard results pages
  app/helpers/routes_into_teaching_helper.rb
  config/routes_into_teaching.yml
Labels: ruby, Review, Config

#4514 Update prompts on events funnel mailing list sign up
  app/views/event_steps/_personalised_updates.html.erb
Labels: ruby, Review

#4511 Routes wizard tracking
  app/views/routes_into_teaching/steps/completed.html.erb
Labels: ruby, Review

#4513 Routes Wizard - No index everything except the index action
  app/controllers/routes_into_teaching/steps_controller.rb
  app/controllers/sitemap_controller.rb
  lib/page_modification_tracker.rb
Labels: ruby, Review

#4515 Update order of mailing list funnel questions
  app/views/event_steps/_personalised_updates.html.erb
Labels: ruby, test, Review

#4518 Upload latest assessment only provider listings
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4520 Update audit date in accessibility statement
  app/views/content/accessibility.md
Labels: Review, content

#4488 Add early years teacher degree apprenticeship
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  config/values/earlyyears.yml
Labels: Review, content, Config, policy sign off

#4525 Routes wizard back button
  app/components/content/results_box_component.html.erb
  app/views/routes_into_teaching/steps/_undergraduate_degree.html.erb
  app/views/routes_into_teaching/steps/completed.html.erb
Labels: ruby, Review

#4528 Expand QTS acronym and remove full stop from routes wizard
  config/routes_into_teaching.yml
Labels: Review, Config

#4529 Amend AO wording on routes wizard
  config/routes_into_teaching.yml
Labels: Review, Config

#4411 Routes Wizard
  app/components/content/quote_with_image_component.html.erb
  app/components/content/quote_with_image_component.rb
  app/components/content/results_box_component.html.erb
  app/components/content/results_box_component.rb
  app/controllers/routes_into_teaching/steps_controller.rb
  app/controllers/sitemap_controller.rb
  app/helpers/routes_into_teaching_helper.rb
  app/models/routes_into_teaching/routes.rb
  app/models/routes_into_teaching/steps/location.rb
  app/models/routes_into_teaching/steps/undergraduate_degree.rb
  app/models/routes_into_teaching/steps/unqualified_teacher.rb
  app/models/routes_into_teaching/wizard.rb
  app/views/routes_into_teaching/steps/_location.html.erb
  app/views/routes_into_teaching/steps/_undergraduate_degree.html.erb
  app/views/routes_into_teaching/steps/_unqualified_teacher.html.erb
  app/views/routes_into_teaching/steps/completed.html.erb
  app/views/routes_into_teaching/steps/index.html.erb
  app/views/routes_into_teaching/steps/show.html.erb
  app/webpacker/images/route-hero.png
  app/webpacker/styles/components/results-box.scss
  app/webpacker/styles/git.scss
  app/webpacker/styles/layout.scss
  app/webpacker/styles/links-and-buttons.scss
  config/images.yml
  config/routes.rb
  config/routes_into_teaching.yml
  lib/page_modification_tracker.rb
  spec/components/content/results_box_component_spec.rb
  spec/models/routes_into_teaching/routes_spec.rb
Labels: ruby, test, Review, Style, Config

#4519 Update redirect and accessibility guidance
  docs/content.md
Labels: Review

#4527 Remove unused promos
  app/views/content/funding-and-support/promos/_events-promo-disabled.html.erb
  app/views/content/funding-and-support/promos/_events-promo-funding.html.erb
  app/views/content/funding-and-support/promos/_events-promo-parent.html.erb
  app/views/content/funding-and-support/promos/_mailing-list-promo.html.erb
  app/views/content/train-to-be-a-teacher/promos/_application-closure.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-apply.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_events-promo-ske.html.erb
Labels: ruby, Review, content

#4530 Update funding on TDA for routes
  config/routes_into_teaching.yml
Labels: Review, Config

#4476 find and apply promos
  app/components/calls_to_action/apply_component.html.erb
  app/components/calls_to_action/apply_component.rb
  app/components/calls_to_action/find_component.html.erb
  app/components/calls_to_action/find_component.rb
  app/presenters/content/call_to_action_component_injector.rb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/webpacker/styles/call-to-action.scss
  spec/components/calls_to_action/apply_component_spec.rb
  spec/components/calls_to_action/find_component_spec.rb
  spec/presenters/content/call_to_action_component_injector_spec.rb
Labels: ruby, test, Review, Style, content

#4522 add routes promo to homepage
  app/views/content/home.md
  app/views/content/home/_routes-promo.html.erb
  app/views/routes_into_teaching/steps/index.html.erb
  spec/features/content_pages_spec.rb
Labels: ruby, test, Review, Style, content

#4509 Send signal to Clarity when cookie consent is given
  app/webpacker/javascript/clarity.js
Labels: Review

#4533 Routes wizard fallback
  app/helpers/routes_into_teaching_helper.rb
  app/models/routes_into_teaching/routes.rb
  app/views/routes_into_teaching/steps/completed.html.erb
Labels: ruby, Review

#4532 Add internal links to how to become a teacher page
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary/_article.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/what-its-like-to-be-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/why-teach/why-become-a-teacher/_article.html.erb
Labels: ruby, Review, content
