Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-05, with the labels that each got.

#4535 Adds conditional extra question to degree status step of mailing list
  Gemfile
  Gemfile.lock
  app/controllers/mailing_list/steps_controller.rb
  app/helpers/mailing_list_helper.rb
  app/helpers/option_set_helper.rb
  app/helpers/welcome_helper.rb
  app/models/crm/option_set.rb
  app/models/events/steps/personalised_updates.rb
  app/models/mailing_list/steps/degree_status.rb
  app/models/mailing_list/wizard.rb
  app/presenters/pick_list_items_api_presenter.rb
  app/views/event_steps/_personalised_updates.html.erb
  app/views/mailing_list/steps/_degree_status.html.erb
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/completed/_final_year_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_final_year_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_first_or_second_year_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_first_or_second_year_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_have_degree_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_have_degree_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_no_degree_high_commitment.html.erb
  app/views/mailing_list/steps/completed/_no_degree_low_commitment.html.erb
  app/views/mailing_list/steps/completed/_other_high_low_commitment.html.erb
  app/views/mailing_list/steps/completed/shared/_is_teaching_right_for_me.html.erb
  app/views/mailing_list/steps/completed/shared/_steps_to_become_a_teacher.html.erb
  app/views/mailing_list/steps/completed/shared/_train_to_teach_no_degree.html.erb
  app/webpacker/styles/forms.scss
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
  spec/helpers/mailing_list_helper_spec.rb
  spec/helpers/option_set_helper_spec.rb
  spec/helpers/welcome_helper_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/presenters/pick_list_items_api_presenter_spec.rb
  spec/support/api_support.rb
  spec/support/wizard_support.rb
Labels: ruby, test, Review, Style, Config

#4777 integration test fixes
  spec/integration/mailing_list_spec.rb
Labels: test, Review

#4776 Remove grey background from callback partial
  app/views/mailing_list/steps/completed/shared/_book_a_callback.html.erb
Labels: ruby, Review

#4778 Update advisers partial on mailing list completion page
  app/views/mailing_list/steps/completed/shared/_get_an_adviser_high_commitment.html.erb
  app/views/mailing_list/steps/completed/shared/_get_an_adviser_low_commitment.html.erb
  docs/content.md
Labels: ruby, Review

#4764 Fix overflow of text in markdown sections at 400% zoom
  app/components/funding_widget_component.html.erb
  app/components/funding_widget_component.rb
  app/webpacker/styles/call-to-action.scss
  app/webpacker/styles/markdown.scss
Labels: ruby, Review, Style

#4788 Increase prod rate limiting to 400 requests
  terraform/domains/environment_domains/config/production.tfvars.json
Labels: DevOps, Review

#4787 Update PGTA duration
  app/views/content/funding-and-support/salaried-teacher-training.md
Labels: Review, content, policy sign off

#4784 Remove collage and replace image on landing pages
  app/views/content/landing/how-much-do-teachers-get-paid/_collage.html.erb
  app/views/content/landing/train-to-teach/_collage.html.erb
  app/webpacker/images/content/landing/train-to-teach.jpg
  config/images.yml
Labels: ruby, Review, content, Config

#4779 Remove SKE video and add quotes
  app/views/content/how-to-apply-for-teacher-training/ske-explained-transcript.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  config/redirects.yml
  docs/content.md
Labels: Review, content, Config

#4783 Better table formatting at high zoom
  app/webpacker/styles/table.scss
Labels: Review, Style

#4790 Add guidance about transcripts
  docs/content.md
Labels: Review

#4794 Remove welcome guide from mailing list completion page
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/completed/shared/_welcome_guide.html.erb
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review

#4796 Update assessment only providers 13/5/2025
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4797 Remove welcome guide
  app/views/content/welcome.md
  app/views/content/welcome/andrews-story.md
  app/views/content/welcome/andrews-story/_advice.html.erb
  app/views/content/welcome/andrews-story/_article.html.erb
  app/views/content/welcome/andrews-story/_header.html.erb
  app/views/content/welcome/jacks-story.md
  app/views/content/welcome/jacks-story/_advice.html.erb
  app/views/content/welcome/jacks-story/_article.html.erb
  app/views/content/welcome/jacks-story/_header.html.erb
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_did-you-know.html.erb
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/welcome/landing/_introduction.html.erb
  app/views/content/welcome/landing/_my-journey-into-teaching.html.erb
  app/views/content/welcome/landing/_subject-specific-story.html.erb
  app/views/content/welcome/landing/_teaching-is-so-rewarding.html.erb
  app/views/content/welcome/landing/_welcome-to-teaching.html.erb
  app/views/content/welcome/landing/_youre-not-the-only-one-with-questions.html.erb
  app/views/content/welcome/my-journey-into-teaching.md
  app/views/content/welcome/my-journey-into-teaching/_header.html.erb
  app/views/content/welcome/my-journey-into-teaching/_introduction.html.erb
  app/views/content/welcome/my-journey-into-teaching/_special-shout-out.html.erb
  app/views/content/welcome/my-journey-into-teaching/_three-things-youll-never-hear-me-say.html.erb
  app/views/content/welcome/yvonnes-story.md
  app/views/content/welcome/yvonnes-story/_advice.html.erb
  app/views/content/welcome/yvonnes-story/_article.html.erb
  app/views/content/welcome/yvonnes-story/_header.html.erb
  config/redirects.yml
  config/routes.rb
  db/schema.rb
  spec/requests/canonical_urls_spec.rb
  spec/requests/gtm_spec.rb
  spec/requests/pages_controller_spec.rb
  spec/requests/welcome_guide_spec.rb
Labels: ruby, test, Review, content, Config

#4795 Update ruby to 3.4.3
  .devcontainer/devcontainer.json
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile.lock
Labels: docker, Review

#4798 removed box styling around the call back module
  app/webpacker/styles/registration.scss
Labels: Review, Style

#4803 Update of accessbility audit
  app/views/content/accessibility.md
Labels: Review, content

#4802 2340 rate limiting facebook agent
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/variables.tf
Labels: DevOps, Review

#4806 Update AO providers list 21/5/2025
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4807 Update internship listings 22/5/2025
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: Review, content
