Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-03, with the labels that each got.

#4620 Remove related content from train to teach pages
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
  db/schema.rb
Labels: ruby, Review, content

#4633 Page title on event completion page
  app/controllers/event_steps_controller.rb
  spec/features/event_wizard_spec.rb
Labels: ruby, test, Review

#4632 Page titles in adviser funnel
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/models/teacher_training_adviser/steps/gcse_maths_english.rb
  app/models/teacher_training_adviser/steps/has_teacher_id.rb
  app/models/teacher_training_adviser/steps/overseas_callback.rb
  app/models/teacher_training_adviser/steps/overseas_country.rb
  app/models/teacher_training_adviser/steps/overseas_telephone.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/models/teacher_training_adviser/steps/previous_teacher_id.rb
  app/models/teacher_training_adviser/steps/qualification_required.rb
  app/models/teacher_training_adviser/steps/retake_gcse_maths_english.rb
  app/models/teacher_training_adviser/steps/stage_interested_teaching.rb
  app/models/teacher_training_adviser/steps/stage_of_degree.rb
  app/models/teacher_training_adviser/steps/stage_trained.rb
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  app/models/teacher_training_adviser/steps/subject_interested_teaching.rb
  app/models/teacher_training_adviser/steps/subject_like_to_teach.rb
  app/models/teacher_training_adviser/steps/subject_trained.rb
  app/models/teacher_training_adviser/steps/uk_address.rb
  app/models/teacher_training_adviser/steps/uk_or_overseas.rb
  app/models/teacher_training_adviser/steps/what_degree_class.rb
  app/models/teacher_training_adviser/steps/what_subject_degree.rb
  app/views/teacher_training_adviser/not_available.html.erb
  app/views/teacher_training_adviser/steps/_already_signed_up.html.erb
  app/views/teacher_training_adviser/steps/_authenticate.html.erb
  app/views/teacher_training_adviser/steps/_date_of_birth.html.erb
  app/views/teacher_training_adviser/steps/_gcse_maths_english.html.erb
  app/views/teacher_training_adviser/steps/_gcse_science.html.erb
  app/views/teacher_training_adviser/steps/_have_a_degree.html.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_not_eligible.html.erb
  app/views/teacher_training_adviser/steps/_overseas_callback.html.erb
  app/views/teacher_training_adviser/steps/_overseas_country.html.erb
  app/views/teacher_training_adviser/steps/_overseas_telephone.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/_paid_teaching_experience_in_uk.html.erb
  app/views/teacher_training_adviser/steps/_qualification_required.html.erb
  app/views/teacher_training_adviser/steps/_retake_gcse_maths_english.html.erb
  app/views/teacher_training_adviser/steps/_retake_gcse_science.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teacher_training_adviser/steps/_review_answers.html.erb
  app/views/teacher_training_adviser/steps/_stage_interested_teaching.html.erb
  app/views/teacher_training_adviser/steps/_stage_of_degree.html.erb
  app/views/teacher_training_adviser/steps/_stage_taught.html.erb
  app/views/teacher_training_adviser/steps/_stage_trained.html.erb
  app/views/teacher_training_adviser/steps/_start_teacher_training.html.erb
  app/views/teacher_training_adviser/steps/_subject_interested_teaching.html.erb
  app/views/teacher_training_adviser/steps/_subject_like_to_teach.html.erb
  app/views/teacher_training_adviser/steps/_subject_taught.html.erb
  app/views/teacher_training_adviser/steps/_subject_trained.html.erb
  app/views/teacher_training_adviser/steps/_train_to_teach_in_uk.html.erb
  app/views/teacher_training_adviser/steps/_uk_address.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  app/views/teacher_training_adviser/steps/_uk_or_overseas.html.erb
  app/views/teacher_training_adviser/steps/_uk_telephone.html.erb
  app/views/teacher_training_adviser/steps/_what_degree_class.html.erb
  app/views/teacher_training_adviser/steps/_what_subject_degree.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  spec/features/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review

#4634 update button styles
  app/webpacker/styles/links-and-buttons.scss
Labels: Review, Style

#4636 Page title callback completion page
  app/controllers/callbacks/steps_controller.rb
  spec/features/book_callback_spec.rb
Labels: ruby, test, Review

#4637 Page titles in routes funnel
  app/controllers/routes_into_teaching/steps_controller.rb
  app/models/routes_into_teaching/steps/undergraduate_degree.rb
  app/views/routes_into_teaching/steps/_location.html.erb
  app/views/routes_into_teaching/steps/_undergraduate_degree.html.erb
  app/views/routes_into_teaching/steps/_unqualified_teacher.html.erb
Labels: ruby, Review

#4630 related content changes to the funding section and apply section
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-interview.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
Labels: Review, content

#4635 Update accessibility statement following external audit
  app/views/content/accessibility.md
Labels: Review, content

#4638 update on finding school placement on TDA page
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
Labels: Review, content, policy sign off

#4642 related content updates to the iqts page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#4648 Callback funnel missing autocomplete attributes
  app/views/callbacks/steps/callback/_available.html.erb
Labels: ruby, Review

#4647 updates to course start dates
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/steps-to-become-a-teacher.md
  app/views/content/steps-to-become-a-teacher/_step_6_start_your_teacher_training.erb
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
Labels: ruby, Review, content

#4650 Upload latest internships listings
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
Labels: Review, content

#4639 CI-CD for domains
  .github/workflows/build.yml
  terraform/aks/.terraform.lock.hcl
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/output.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
Labels: DevOps, Review

#4644 navigation menu arrows - accessibility update
  app/webpacker/images/navigation/arrow-down-black.svg
  app/webpacker/images/navigation/arrow-down-pink.svg
  app/webpacker/images/navigation/arrow-down-purple.svg
  app/webpacker/images/navigation/arrow-down-white.svg
  app/webpacker/images/navigation/arrow-right-black.svg
  app/webpacker/images/navigation/arrow-right-white.svg
  app/webpacker/images/navigation/arrow-up-black.svg
  app/webpacker/images/navigation/arrow-up-pink.svg
  app/webpacker/images/navigation/arrow-up-purple.svg
  app/webpacker/images/navigation/arrow-up-white.svg
  app/webpacker/styles/header/navigation.scss
Labels: Review, Style

#4645 Allow inset text component to take optional heading_tag parameter
  app/components/content/inset_text_component.html.erb
  app/components/content/inset_text_component.rb
  app/components/content/talk_to_us_component.html.erb
  app/components/funding_widget_component.html.erb
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_article.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/views/teaching_events/show/_event-summary.html.erb
  app/views/teaching_events/show/_other-events.html.erb
  app/webpacker/styles/components/inset-text.scss
  docs/content.md
  spec/components/content/inset_text_component_spec.rb
Labels: ruby, test, Review, Style, content

#4655 Fix GitHub ref
  .github/workflows/build.yml
Labels: DevOps, Review

#4656 Remove frontdoor caching for webchat
  terraform/domains/environment_domains/config/production.tfvars.json
Labels: DevOps, Review

#4657 Adding an extra H2 to the advisers page - accessibility
  app/views/teacher_training_adviser/steps/_identity.html.erb
Labels: ruby, Review

#4658 Adding bursary info to the parent and carer page
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
Labels: Review, content

#4660 Allow promo components to take an optional heading tag
  app/components/calls_to_action/adviser_component.html.erb
  app/components/calls_to_action/adviser_component.rb
  app/components/calls_to_action/apply_component.html.erb
  app/components/calls_to_action/apply_component.rb
  app/components/calls_to_action/find_component.html.erb
  app/components/calls_to_action/find_component.rb
  app/components/calls_to_action/mailinglist_component.html.erb
  app/components/calls_to_action/mailinglist_component.rb
  app/components/calls_to_action/routes_component.html.erb
  app/components/calls_to_action/routes_component.rb
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  spec/components/calls_to_action/adviser_component_spec.rb
  spec/components/calls_to_action/apply_component_spec.rb
  spec/components/calls_to_action/find_component_spec.rb
  spec/components/calls_to_action/mailinglist_component_spec.rb
  spec/components/calls_to_action/routes_component_spec.rb
Labels: ruby, test, Review, content

#4613 Fix incorrect aria role on expander component
  app/components/content/expander_component.html.erb
Labels: ruby, Review

#4661 Update accessibility statement following programmatic information fixes
  app/views/content/accessibility.md
Labels: Review, content

#4667 Update talk to us links
  app/views/errors/bad_request.erb
  app/views/errors/forbidden.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
Labels: ruby, Review

#4666 Remove related content component
  app/views/layouts/content.html.erb
  app/views/layouts/shared/_related_content.html.erb
  docs/content.md
  spec/requests/frontmatter_content_spec.rb
  spec/support/views/content/content-page.md
Labels: ruby, test, Review

#4665 Routes wizard body content links
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
Labels: ruby, Review, content

#4663 Back link not accessed when tabbing through a funnel step
  app/components/back_component.html.erb
Labels: ruby, Review

#4671 Cookie preferences update for enhanced conversions
  app/views/cookie_preferences/show.html.erb
Labels: ruby, Review

#4670 Cookie notice update
  app/views/pages/cookies.md
Labels: Review

#4672 Update accessibility statement following back link fix
  app/views/content/accessibility.md
Labels: Review, content

#4673 Routes wizard footer link
  app/components/footer_component.html.erb
Labels: ruby, Review

#4676 Removing full stop from PGCE page
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
Labels: Review, content

#4664 Update find links
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary/_article.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary/_article.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
Labels: ruby, Review, content

#4678 Move workflow secrets to github
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
  .github/workflows/lychee.yml
  .github/workflows/snyk.yml
  .github/workflows/trello.yml
Labels: DevOps, Review

#4654 Welcome guide - Missing Q&A text alternative
  app/views/content/welcome/landing/_youre-not-the-only-one-with-questions.html.erb
  app/webpacker/styles/welcome-guide.scss
Labels: ruby, Review, Style, content

#4683 Uploaded latest assessment only provider listings
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4659 Welcome guide numbered sections
  app/views/content/welcome/landing/_bringing-your-lessons-to-life.html.erb
  app/views/content/welcome/landing/_did-you-know.html.erb
  app/views/content/welcome/landing/_exciting-times-ahead.html.erb
  app/views/content/welcome/landing/_my-journey-into-teaching.html.erb
  app/views/content/welcome/landing/_teaching-is-so-rewarding.html.erb
  app/views/content/welcome/landing/_welcome-to-teaching.html.erb
  app/views/content/welcome/landing/_youre-not-the-only-one-with-questions.html.erb
Labels: ruby, Review, content

#4685 Funnels label verification code field (plus integration test fix)
  spec/support/spec_helpers/integration.rb
Labels: ruby, test, Review, Config

#4688 Update events holding message for Summer 2025 events
  app/views/teaching_events/about_git_events.html.erb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#4649 Update disability content
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary.md
  app/views/content/train-to-be-a-teacher/accessibility-adjustments.md
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/teaching-internships.md
Labels: Review, content, policy sign off

#4677 use image block component for promos
  app/components/calls_to_action/adviser_block_component.html.erb
  app/components/calls_to_action/adviser_block_component.rb
  app/components/calls_to_action/apply_block_component.html.erb
  app/components/calls_to_action/apply_block_component.rb
  app/components/calls_to_action/events_block_component.html.erb
  app/components/calls_to_action/events_block_component.rb
  app/components/calls_to_action/find_block_component.html.erb
  app/components/calls_to_action/find_block_component.rb
  app/components/calls_to_action/get_school_experience_block_component.html.erb
  app/components/calls_to_action/get_school_experience_block_component.rb
  app/components/calls_to_action/get_support_block_component.html.erb
  app/components/calls_to_action/get_support_block_component.rb
  app/components/calls_to_action/life_as_a_teacher_block_component.html.erb
  app/components/calls_to_action/life_as_a_teacher_block_component.rb
  app/components/calls_to_action/mailinglist_block_component.html.erb
  app/components/calls_to_action/mailinglist_block_component.rb
  app/components/calls_to_action/routes_block_component.html.erb
  app/components/calls_to_action/routes_block_component.rb
  app/components/calls_to_action/teacher_stories_block_component.html.erb
  app/components/calls_to_action/teacher_stories_block_component.rb
  app/webpacker/images/adviser-block-promo.jpg
  app/webpacker/images/apply-block-promo.jpg
  app/webpacker/images/events-block-promo.jpg
  app/webpacker/images/find-block-promo.jpg
  app/webpacker/images/get-school-experience-block-promo.jpg
  app/webpacker/images/get-support-block-promo.jpg
  app/webpacker/images/life-as-a-teacher-block-promo.jpg
  app/webpacker/images/mailing-list-block-promo.jpg
  app/webpacker/images/routes-block-promo.jpg
  app/webpacker/images/teacher-stories-block-promo.jpg
  app/webpacker/styles/blocks.scss
  docs/content.md
  spec/components/calls_to_action/adviser_block_component_spec.rb
  spec/components/calls_to_action/apply_block_component_spec.rb
  spec/components/calls_to_action/events_block_component_spec.rb
  spec/components/calls_to_action/find_block_component_spec.rb
  spec/components/calls_to_action/get_school_experience_block_component_spec.rb
  spec/components/calls_to_action/get_support_block_component_spec.rb
  spec/components/calls_to_action/life_as_a_teacher_block_component_spec.rb
  spec/components/calls_to_action/mailinglist_block_component_spec.rb
  spec/components/calls_to_action/routes_block_component_spec.rb
  spec/components/calls_to_action/teacher_stories_block_component_spec.rb
Labels: ruby, test, Review, Style, content

#4687 Adjust heading margin on QuoteWithImageComponent
  app/webpacker/styles/components/quote-with-image.scss
Labels: Review, Style
