Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-07, with the labels that each got.

#4860 Remove online events wording
  app/views/teaching_events/about_git_events.html.erb
  spec/requests/teaching_events_spec.rb
Labels: ruby, test, Review

#4846 Adviser funnel - no degree exit page
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  config/locales/en.yml
  spec/features/teacher_training_adviser/sign_up_spec.rb
Labels: ruby, test, Review, Config

#4859 Adding internships closed warning and removing listings
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_internships-closure-promo.html.erb
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/teaching-internships.md
Labels: ruby, Review, content

#4842 Still time to apply messaging for 24/25 cycle
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/landing/still-time-to-apply.md
  app/views/content/landing/still-time-to-apply/_content.html.erb
  app/views/content/landing/still-time-to-apply/_header.html.erb
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  config/redirects.yml
Labels: ruby, Review, content, Config

#4845 Add accessibility section to event detail pages
  Gemfile
  Gemfile.lock
  app/helpers/events_helper.rb
  app/presenters/teaching_events/event_presenter.rb
  app/views/teaching_events/show/_venue-information.html.erb
  app/webpacker/styles/teaching-events.scss
  spec/factories/api/accessibility_option_factory.rb
  spec/factories/api/event_api_factory.rb
  spec/features/internal_spec.rb
  spec/features/teaching_events/viewing_spec.rb
  spec/helpers/events_helper_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/requests/gtm_spec.rb
  spec/requests/internal/events_controller_spec.rb
  spec/requests/structured_data_spec.rb
  spec/requests/teaching_events_spec.rb
  spec/support/api_support.rb
Labels: ruby, test, Review, Style

#4869 delete unused graphics
  app/webpacker/images/adviser-graphic.svg
  app/webpacker/images/calling-all-ex-teachers.jpg
  app/webpacker/images/chat-online-card.jpg
  app/webpacker/images/get-boosted-now.png
  app/webpacker/images/getintoteachinglogo-white.svg
  app/webpacker/images/getintoteachinglogo-with-bg-purple.svg
  app/webpacker/images/latest-event-card.jpg
  app/webpacker/images/ml-graphic.svg
  app/webpacker/images/steps-graphic.svg
Labels: Review

#4507 Add creation channels to TTA, RTTA, Events, Mailing list and Callbacks
  .env.rolling
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  app/components/content/adviser_component.html.erb
  app/components/content/mailing_list_component.html.erb
  app/components/home/mailing_list_component.html.erb
  app/helpers/events_helper.rb
  app/models/callbacks/steps/personal_details.rb
  app/models/events/steps/personal_details.rb
  app/models/mailing_list/steps/name.rb
  app/models/teacher_training_adviser/steps/identity.rb
  app/models/teacher_training_adviser/steps/returning_teacher.rb
  app/models/teacher_training_adviser/steps/stage_of_degree.rb
  app/views/callbacks/steps/_personal_details.html.erb
  app/views/event_steps/_personal_details.html.erb
  app/views/mailing_list/steps/_name.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teaching_events/show/_online-register-button.html.erb
  spec/contracts/data/pick_list_items/contact_creation_channel/activities.json
  spec/contracts/data/pick_list_items/contact_creation_channel/services.json
  spec/contracts/data/pick_list_items/contact_creation_channel/sources.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_not_returning_has_degree_secondary_retaking_gcses_overseas_and_no_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_returning_no_teacher_reference_number_paid_uk_experience_overseas_and_no_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_returning_teacher_reference_number_no_paid_uk_experience_trained_in_the_uk_in_the_uk_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_a_new_candidate_when_returning_teacher_reference_number_paid_uk_experience_in_the_uk_and_telephone.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  spec/contracts/output/teacher_training_adviser_sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  spec/features/teacher_training_adviser/sign_up_spec.rb
  spec/models/callbacks/wizard_spec.rb
  spec/models/events/steps/personal_details_spec.rb
  spec/models/events/wizard_spec.rb
  spec/models/mailing_list/steps/name_spec.rb
  spec/models/mailing_list/wizard_spec.rb
  spec/models/teacher_training_adviser/steps/identity_spec.rb
  spec/models/teacher_training_adviser/steps/returning_teacher_spec.rb
  spec/requests/mailing_list/steps_controller_spec.rb
  spec/support/api_support.rb
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/contact_creation_channel/activities.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/contact_creation_channel/services.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/contact_creation_channel/sources.yml
Labels: ruby, test, DevOps, Review

#4870 Accessibility statement update July
  app/views/content/accessibility.md
Labels: Review, content

#4871 Update scholarships-and-bursaries.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
Labels: Review, content
