Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-04, with the labels that each got.

#4702 Add block promos to life as a teacher section
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/age-groups-you-could-teach.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary/_article.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary/_article.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/change-careers/becoming-a-parent-sparked-my-interest-in-teaching.md
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers.md
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher.md
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/making-a-career-change-to-teaching.md
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers.md
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/abigails-career-progression-story.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/early-career-teachers.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-qualified-teacher-to-head-of-biology.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-teaching-internship-to-leadership-roles.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/skills-to-teach.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/skills-to-teach/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/turning-a-tough-lesson-into-a-success.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/what-its-like-to-be-a-teacher.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/what-its-like-to-be-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/why-teach/abigails-favourite-things-about-teaching.md
  app/views/content/life-as-a-teacher/why-teach/bens-favourite-things-about-teaching.md
  app/views/content/life-as-a-teacher/why-teach/why-become-a-teacher.md
  app/views/content/life-as-a-teacher/why-teach/why-become-a-teacher/_article.html.erb
  app/views/content/shared/block-promos/_adviser_mailing.html.erb
  app/views/content/shared/block-promos/_adviser_mailing_events.html.erb
  app/views/content/shared/block-promos/_mailing_adviser_routes.html.erb
  docs/content.md
Labels: ruby, Review, content

#4704 Add block promo to how to become a teacher page
  app/views/layouts/steps.html.erb
Labels: ruby, Review

#4710 Update teaching internships - April 2025
  app/views/content/train-to-be-a-teacher/teaching-internships.md
  lib/tasks/support/internship_providers.csv
  lib/tasks/support/teaching-internship-providers.md.erb
Labels: Review, content

#4711 Adds degree status filter to the picklist presenter
  app/models/events/steps/personalised_updates.rb
  app/models/mailing_list/steps/degree_status.rb
  app/presenters/pick_list_items_api_presenter.rb
Labels: ruby, Review

#4712 updates to placements length wording
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
Labels: Review, content

#4707 Add block promos to funding section
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/shared/block-promos/_adviser_findfees.html.erb
  app/views/content/shared/block-promos/_adviser_findsalary.html.erb
  app/views/content/shared/block-promos/_adviser_mailing_routes.html.erb
Labels: ruby, Review, content

#4691 Content guidance structure update
  docs/content.md
Labels: Review

#4717 Remove University of Portsmouth from iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#4715 removing early career payment from non-UK teacher page
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content, policy sign off

#4714 removing contractions in non-uk content
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/shared/qualifications-training/_non_uk_qualifications.html.erb
  app/views/content/shared/teaching/_funding_support.html.erb
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_7_apply_for_a_teaching_role.erb
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: ruby, Review, content

#4703 Create a sitemap page
  app/components/footer_component.html.erb
  app/controllers/sitemap_controller.rb
  app/views/sitemap/show.html.erb
  config/routes.rb
  spec/features/content_pages_spec.rb
  spec/requests/sitemap_controller_spec.rb
Labels: ruby, test, Review, Config

#4718 Updating links on the subject pages
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/biology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/business/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/chemistry/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/computing/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/drama/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/english/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/geography/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/history/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/music/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physical-education/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/religious-education/_article.html.erb
  app/views/content/shared/teaching/_why_teach.html.erb
Labels: ruby, Review, content

#4724 update image on primary page
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary.md
  app/webpacker/images/content/hero-images/teacher-primary--mobile.jpg
  app/webpacker/images/content/hero-images/teacher-primary--tablet.jpg
  app/webpacker/images/content/hero-images/teacher-primary.jpg
  config/images.yml
Labels: Review, content, Config

#4720 Added portrait orientation to youtube video component
  app/components/content/youtube_video_component.html.erb
  app/components/content/youtube_video_component.rb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/webpacker/styles/components/youtube-video.scss
  docs/content.md
  spec/components/content/youtube_video_component_spec.rb
Labels: ruby, test, Review, Style, content

#4716 Add Juvayriyah video to maths and PGCE pages
  app/components/content/youtube_video_component.rb
  app/views/content/events/what-happens-at-events-transcript.md
  app/views/content/how-to-apply-for-teacher-training/ske-explained-transcript.md
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/non-uk-teachers/why-train-to-teach-in-england-video-transcript.md
  app/views/content/shared/transcripts/what-teaching-taught-me-juvayriyah.md
  app/views/content/shared/videos/_what_teaching_taught_me_juvayriyah.html.erb
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  docs/content.md
  spec/components/content/youtube_video_component_spec.rb
Labels: ruby, test, Review, content

#4728 add academic year value to student finance page
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
  config/values/finance.yml
Labels: Review, content, Config

#4725 Update assessment only providers list April 2025
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment-only-route-to-qts.md.erb
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4730 Update disabled students allowance (DSA) amount
  app/views/content/funding-and-support/if-youre-disabled.md
  config/values/finance.yml
Labels: Review, content, Config

#4731 Remove buzzfeed landing page
  app/views/content/landing/what-teaching-taught-me.md
  app/views/content/landing/what-teaching-taught-me/_collage.html.erb
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
  app/views/content/landing/what-teaching-taught-me/_header.html.erb
  app/views/content/landing/what-teaching-taught-me/_mailing-list.html.erb
  app/webpacker/images/content/grow/buzzfeed-red-logo-text.png
  config/redirects.yml
Labels: ruby, Review, content, Config

#4732 Replace promos on landing pages
  app/views/content/landing/careers.md
  app/views/content/landing/careers/_content.html.erb
  app/views/content/landing/food-for-thought.md
  app/views/content/landing/food-for-thought/_quotes.html.erb
  app/views/content/landing/grow.md
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid.md
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher.md
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/landing/train-to-teach-if-you-have-a-degree.md
  app/views/content/landing/train-to-teach-if-you-have-a-degree/_content.html.erb
  app/views/content/landing/train-to-teach.md
  app/views/content/landing/train-to-teach/_content.html.erb
  app/views/content/shared/block-promos/_mailing_routes_under18version.html.erb
Labels: ruby, Review, content

#4734 updates to titles for sitemap
  app/controllers/sitemap_controller.rb
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: ruby, Review, content

#4726 full width image component
  app/components/content/landing_hero_fullwidth_component.html.erb
  app/components/content/landing_hero_fullwidth_component.rb
  app/views/content/trainees/got-into-teaching.md
  app/views/content/trainees/got-into-teaching/_content.html.erb
  app/views/content/trainees/got-into-teaching/_header.html.erb
  app/webpacker/images/content/hero-images/celebration--mobile.png
  app/webpacker/images/content/hero-images/celebration--tablet.png
  app/webpacker/images/content/hero-images/celebration.png
  app/webpacker/styles/sections/hero.scss
  config/images.yml
  spec/components/content/landing_hero_fullwidth_component_spec.rb
Labels: ruby, test, Review, Style, content, Config

#4735 Implement rate limiting for the prod website
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/main.tf
Labels: DevOps, Review

#4709 Update cost of ENIC statement of comparability
  config/values/nonuk.yml
Labels: Review, Config

#4737 Update finance amounts on parent and carers page
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/scholarships-and-bursaries/_funding-widget.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  config/values/finance.yml
Labels: ruby, Review, content, Config

#4740 remove slant from events pages
  app/views/teaching_events/show.html.erb
  app/views/teaching_events/show/_triangle.html.erb
  app/webpacker/styles/teaching-events.scss
Labels: ruby, Review, Style

#4722 Fix reading order main menu
  app/components/header/navigation_component.html.erb
  app/components/header/navigation_component.rb
  app/components/header_component.html.erb
  app/webpacker/controllers/navigation_controller.js
  app/webpacker/styles/header.scss
  app/webpacker/styles/header/navigation.scss
  spec/components/header/navigation_component_spec.rb
  spec/javascript/controllers/navigation_controller_spec.js
Labels: ruby, test, Review, Style

#4743 Update advisers content on homepage
  app/views/content/home/_calls-to-action.html.erb
Labels: ruby, Review, content

#4742 Update accessibility statement following fixes to the menu and search
  app/views/content/accessibility.md
Labels: Review, content

#4745 change image to jpg on celebration page
  app/views/content/trainees/got-into-teaching.md
  app/webpacker/images/content/hero-images/celebration--mobile.jpg
  app/webpacker/images/content/hero-images/celebration--mobile.png
  app/webpacker/images/content/hero-images/celebration--tablet.jpg
  app/webpacker/images/content/hero-images/celebration--tablet.png
  app/webpacker/images/content/hero-images/celebration.jpg
  app/webpacker/images/content/hero-images/celebration.png
  config/images.yml
  spec/components/content/landing_hero_fullwidth_component_spec.rb
Labels: test, Review, content, Config

#4749 Updates to teach in England if you trained outside the UK page
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts/descriptions/_teacher-training-providers-offering-assessment-only-qts-to-international-teachers.md
Labels: Review, content, policy sign off

#4752 Remove keywords from funding and apply sections
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/if-youre-disabled.md
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-references.md
  app/views/content/how-to-apply-for-teacher-training/when-to-apply-for-teacher-training.md
Labels: Review, content

#4748 Upgrade to Rails 7.2.2
  .erb_lint.yml
  Gemfile
  Gemfile.lock
  app/components/content/adviser_component.html.erb
  app/components/content/mailing_list_component.html.erb
  app/components/home/mailing_list_component.html.erb
  app/views/event_steps/_personal_details.html.erb
  app/views/routes_into_teaching/steps/completed.html.erb
  bin/brakeman
  bin/rubocop
  config/initializers/new_framework_defaults_7_2.rb
  spec/features/content_pages_spec.rb
  spec/rails_helper.rb
  spec/requests/instrumentation_spec.rb
  spec/requests/pagespeed_spec.rb
Labels: ruby, test, Review, Config

#4753 Remove keywords from life as a teacher section
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/change-careers/becoming-a-parent-sparked-my-interest-in-teaching.md
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers.md
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher.md
  app/views/content/life-as-a-teacher/change-careers/making-a-career-change-to-teaching.md
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers.md
  app/views/content/life-as-a-teacher/explore-subjects/art-and-design.md
  app/views/content/life-as-a-teacher/explore-subjects/biology.md
  app/views/content/life-as-a-teacher/explore-subjects/business.md
  app/views/content/life-as-a-teacher/explore-subjects/chemistry.md
  app/views/content/life-as-a-teacher/explore-subjects/computing.md
  app/views/content/life-as-a-teacher/explore-subjects/design-and-technology.md
  app/views/content/life-as-a-teacher/explore-subjects/drama.md
  app/views/content/life-as-a-teacher/explore-subjects/engineers-teach-physics.md
  app/views/content/life-as-a-teacher/explore-subjects/english.md
  app/views/content/life-as-a-teacher/explore-subjects/geography.md
  app/views/content/life-as-a-teacher/explore-subjects/history.md
  app/views/content/life-as-a-teacher/explore-subjects/languages.md
  app/views/content/life-as-a-teacher/explore-subjects/maths.md
  app/views/content/life-as-a-teacher/explore-subjects/music.md
  app/views/content/life-as-a-teacher/explore-subjects/physical-education.md
  app/views/content/life-as-a-teacher/explore-subjects/physics.md
  app/views/content/life-as-a-teacher/explore-subjects/religious-education.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/abigails-career-progression-story.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-qualified-teacher-to-head-of-biology.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/from-teaching-internship-to-leadership-roles.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/skills-to-teach.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/turning-a-tough-lesson-into-a-success.md
  app/views/content/life-as-a-teacher/why-teach/abigails-favourite-things-about-teaching.md
  app/views/content/life-as-a-teacher/why-teach/bens-favourite-things-about-teaching.md
  app/views/content/life-as-a-teacher/why-teach/why-become-a-teacher.md
Labels: Review, content

#4758 Replaced og image on got into teaching page
  app/views/content/trainees/got-into-teaching.md
Labels: Review, content

#4757 Remove keywords from spec files
  spec/fixtures/files/markdown_content/first.md
  spec/fixtures/files/markdown_content/noindex.md
  spec/fixtures/files/markdown_content/second.md
  spec/fixtures/files/markdown_content/subfolder/other.md
  spec/fixtures/files/markdown_content/third.md
Labels: test, Review

#4686 Fix overflow issue with text on events page
  app/webpacker/styles/layout.scss
Labels: Review, Style

#4760 Use venue address for event map
  app/helpers/events_helper.rb
  spec/helpers/events_helper_spec.rb
Labels: ruby, test, Review

#4759 Fix opengraph tags
  app/helpers/metadata_helper.rb
  app/views/content/trainees/got-into-teaching.md
  app/views/sections/_head.html.erb
  spec/helpers/metadata_helper_spec.rb
  spec/requests/fake_browser_time_spec.rb
Labels: ruby, test, Review, content

#4763 Update accessibility statement to remove reflow issue on events page
  app/views/content/accessibility.md
Labels: Review, content

#4761 Update early careers framework changes
  app/views/content/life-as-a-teacher/teaching-as-a-career/_categories.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression/_article.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/early-career-teachers.md
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: ruby, Review, content, policy sign off

#4766 Remove how to become a teacher CTA files
  app/views/content/life-as-a-teacher/_how-to-become-a-teacher-cta.html.erb
  docs/content.md
Labels: ruby, Review, content
