Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-02, with the labels that each got.

#4524 Replace find promos
  app/views/content/funding-and-support/salaried-teacher-training.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fees.md
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/promos/_find-your-course-pgce.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-course.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-ske-course.html.erb
  app/views/content/train-to-be-a-teacher/promos/_find-your-undergraduate-course.html.erb
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
Labels: ruby, Review, content

#4547 Remove current from degree status text
  app/views/mailing_list/steps/_degree_status.html.erb
Labels: ruby, Review

#4550 updating fee-funded to fee-paying
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/school-placements.md
Labels: Review, content

#4536 Update chat footer wording
  app/components/content/talk_to_us_component.html.erb
  app/components/footer_component.html.erb
Labels: ruby, Review

#4551 Removing teach first from non-UK wizard results
  config/routes_into_teaching.yml
Labels: Review, Config

#4555 February 2025 cookie update
  app/views/pages/cookies.md
Labels: Review

#4557 Add redirect for incorrect inbound teacher degree apprenticeship link
  config/redirects.yml
Labels: Review, Config

#4562 Update content on consideration step in events with mailing list funnel
  config/locales/en.yml
  spec/features/event_wizard_spec.rb
Labels: test, Review, Config

#4569 Updates to the visas for non-uk teachers page
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
Labels: Review, content

#4567 life as a teacher nav bar add missing category
  app/views/content/life-as-a-teacher/_directory-nav.html.erb
Labels: ruby, Review, content

#4570 Updated visa sponsorship application order on non-uk citizens visa page
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content, policy sign off

#4565 Remove incorrect anchor tag from career progression page
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
Labels: Review, content

#4559 Update wording on non-uk funding page
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
Labels: Review, content

#4558 mailing list promo
  app/components/calls_to_action/mailinglist_component.html.erb
  app/components/calls_to_action/mailinglist_component.rb
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/webpacker/styles/components/mailinglist.scss
  app/webpacker/styles/git.scss
  docs/content.md
  lib/template_handlers/markdown.rb
  spec/components/calls_to_action/mailinglist_component_spec.rb
Labels: ruby, test, Review, Style, content

#4564 Change age validation on training adviser date of birth from 70 to 99
  app/models/teacher_training_adviser/steps/date_of_birth.rb
  config/locales/en.yml
Labels: ruby, Review, Config

#4560 2195 git plan for dr test feb 2025
  .github/workflows/maintenance.yml
  .github/workflows/postgres-ptr.yml
  Makefile
  maintenance_page/Dockerfile
  maintenance_page/html/assets/fonts/bold-affa96571d-v2-b092ddd6.woff
  maintenance_page/html/assets/fonts/bold-b542beb274-v2-616e5f21.woff2
  maintenance_page/html/assets/fonts/light-94a07e06a1-v2-bb962e0c.woff2
  maintenance_page/html/assets/fonts/light-f591b13f7d-v2-f03d82c2.woff
  maintenance_page/html/assets/images/favicon-7ddbfd51.ico
  maintenance_page/html/assets/images/favicon-7ddbfd51.ico.br
  maintenance_page/html/assets/images/favicon-7ddbfd51.ico.gz
  maintenance_page/html/assets/images/favicon-ec189703.svg
  maintenance_page/html/assets/images/favicon-ec189703.svg.br
  maintenance_page/html/assets/images/favicon-ec189703.svg.gz
  maintenance_page/html/assets/images/govuk-crest-2x.png
  maintenance_page/html/assets/images/govuk-crest.png
  maintenance_page/html/assets/images/govuk-icon-180-e0835e78.png
  maintenance_page/html/assets/images/govuk-icon-192-7b8e00f8.png
  maintenance_page/html/assets/images/govuk-icon-512-587f7e53.png
  maintenance_page/html/assets/images/govuk-icon-mask-c3a9868b.svg
  maintenance_page/html/assets/images/govuk-icon-mask-c3a9868b.svg.br
  maintenance_page/html/assets/images/govuk-icon-mask-c3a9868b.svg.gz
  maintenance_page/html/assets/images/govuk-opengraph-image-bd4c811b.png
  maintenance_page/html/assets/images/icon-close-cross-black-692c7df5.svg
  maintenance_page/html/assets/images/icon-close-cross-black-692c7df5.svg.br
  maintenance_page/html/assets/images/icon-tag-remove-cross-5a9b07c6.svg
  maintenance_page/html/assets/images/icon-tag-remove-cross-5a9b07c6.svg.br
  maintenance_page/html/assets/images/icon-tag-remove-cross-5a9b07c6.svg.gz
  maintenance_page/html/assets/images/icon-tag-remove-cross-white-d540bf9f.svg
  maintenance_page/html/assets/images/icon-tag-remove-cross-white-d540bf9f.svg.br
  maintenance_page/html/assets/images/icon-tag-remove-cross-white-d540bf9f.svg.gz
  maintenance_page/html/assets/images/icon-toggle-plus-minus-257426a1.svg
  maintenance_page/html/index.html
  maintenance_page/html/javascript/govuk-frontend-5.3.1.min.js
  maintenance_page/html/stylesheets/govuk-frontend-5.3.1.min.css
  maintenance_page/manifests/development/ingress_internal_to_main.yml
  maintenance_page/manifests/development/ingress_internal_to_maintenance.yml
  maintenance_page/manifests/development/ingress_maintenance.yml
  maintenance_page/manifests/development/ingress_temp_to_main.yml
  maintenance_page/manifests/maintenance/deployment_maintenance.yml.tmpl
  maintenance_page/manifests/maintenance/service_maintenance.yml
  maintenance_page/manifests/production/ingress_internal_to_main.yml
  maintenance_page/manifests/production/ingress_internal_to_maintenance.yml
  maintenance_page/manifests/production/ingress_maintenance.yml
  maintenance_page/manifests/production/ingress_temp_to_main.yml
  maintenance_page/manifests/test/ingress_internal_to_main.yml
  maintenance_page/manifests/test/ingress_internal_to_maintenance.yml
  maintenance_page/manifests/test/ingress_maintenance.yml
  maintenance_page/manifests/test/ingress_temp_to_main.yml
  maintenance_page/nginx.conf
  maintenance_page/scripts/failback.sh
  maintenance_page/scripts/failover.sh
Labels: DevOps, Review

#4573 Replace mailing list promos on main content pages
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/age-groups-you-could-teach.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme.md
  app/views/content/life-as-a-teacher/why-teach/why-become-a-teacher/_article.html.erb
  app/views/content/train-to-be-a-teacher/get-school-experience.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-itt.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-no-degree.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-pgce.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-qts.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-salaries.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo-who-do-you-want-to-teach.html.erb
  app/views/content/train-to-be-a-teacher/promos/_mailing-list-promo.html.erb
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: ruby, Review, content

#4549 Update Rails to version 7.0.8.7
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/initializers/cors.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/permissions_policy.rb
  spec/helpers/metadata_helper_spec.rb
Labels: ruby, test, Review, Config

#4575 Upload latest assessment only provider listings
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  lib/tasks/support/assessment_only_providers.csv
Labels: Review, content

#4574 Replace promos on landing pages
  app/views/content/landing/careers.md
  app/views/content/landing/careers/_content.html.erb
  app/views/content/landing/careers/_promo.html.erb
  app/views/content/landing/food-for-thought.md
  app/views/content/landing/food-for-thought/_promo.html.erb
  app/views/content/landing/food-for-thought/_quotes.html.erb
  app/views/content/landing/grow.md
  app/views/content/landing/grow/_content.html.erb
  app/views/content/landing/grow/_promo.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid.md
  app/views/content/landing/how-much-do-teachers-get-paid/_content.html.erb
  app/views/content/landing/how-much-do-teachers-get-paid/_promo.html.erb
  app/views/content/landing/how-to-become-a-teacher.md
  app/views/content/landing/how-to-become-a-teacher/_content.html.erb
  app/views/content/landing/how-to-become-a-teacher/_promo.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training.md
  app/views/content/landing/how-to-fund-your-teacher-training/_content.html.erb
  app/views/content/landing/how-to-fund-your-teacher-training/_promo.html.erb
  app/views/content/landing/train-to-teach-if-you-have-a-degree.md
  app/views/content/landing/train-to-teach-if-you-have-a-degree/_content.html.erb
  app/views/content/landing/train-to-teach-if-you-have-a-degree/_promo.html.erb
  app/views/content/landing/train-to-teach.md
  app/views/content/landing/train-to-teach/_content.html.erb
  app/views/content/landing/train-to-teach/_promo.html.erb
  app/views/content/landing/what-teaching-taught-me.md
  app/views/content/landing/what-teaching-taught-me/_content.html.erb
  app/views/content/landing/what-teaching-taught-me/_promo.html.erb
Labels: ruby, Review, content

#4566 Changing degree to bachelor's degree across the site
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/train-to-be-a-teacher.md
  app/views/content/train-to-be-a-teacher/assessment-only-route-to-qts.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/qualifications-you-need-to-teach.md
  app/views/content/train-to-be-a-teacher/teaching-internship-providers/_listing.html.erb
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
Labels: ruby, Review, content

#4572 update pink
  app/webpacker/images/logo/teaching_black_background_pink_underline.svg
  app/webpacker/images/logo/teaching_pink_background.svg
  app/webpacker/images/navigation/arrow-down-pink.svg
  app/webpacker/images/navigation/arrow-up-pink.svg
  app/webpacker/styles/colours.scss
Labels: Review, Style

#4585 Revert "Bump webpack-dev-server from 4.11.1 to 5.2.0 (#4546)"
  package.json
  yarn.lock
Labels: Review

#4582 Re-enabled integration tests
  Gemfile
  Gemfile.lock
  spec/capybara_driver_helper.rb
  spec/features/js_chat_spec.rb
  spec/integration/mailing_list_spec.rb
  spec/integration/teacher_training_adviser_spec.rb
  spec/support/spec_helpers/integration.rb
Labels: test, Review

#4580 Moves green arrow cta to a component
  app/components/calls_to_action/arrow_link_component.html.erb
  app/components/calls_to_action/arrow_link_component.rb
  app/components/content/results_box_component.html.erb
  app/views/content/shared/links_and_buttons/_cta_circle_button_link.html.erb
  app/webpacker/styles/links-and-buttons.scss
  lib/template_handlers/markdown.rb
  spec/components/calls_to_action/arrow_link_component_spec.rb
Labels: ruby, test, Review, Style, content

#4586 Bump webpack-dev-server from 4.11.1 to 5.2.0 on GiT
  config/shakapacker.yml
  package.json
  yarn.lock
Labels: Review, Config

#4583 Add content guidance for green arrow CTA
  docs/content.md
Labels: Review

#4576 Removed unneeded consideration steps and renamed option value text
  app/helpers/option_set_helper.rb
  app/models/mailing_list/steps/teacher_training.rb
  app/views/mailing_list/steps/_teacher_training.html.erb
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review, Config

#4587 Adding links to the SKE page
  app/views/content/how-to-apply-for-teacher-training/subject-knowledge-enhancement.md
Labels: Review, content

#4590 Fixes failing test in mailing list spec
  spec/integration/mailing_list_spec.rb
Labels: test, Review

#4591 Fix failing mailing list integration tests
  spec/integration/mailing_list_spec.rb
Labels: test, Review

#4592 Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: Review

#4563 Bring mobile fonts larger than medium in line with tablet fonts
  app/webpacker/styles/font-sizes.scss
Labels: Review, Style

#4588 Small updates to the iQTS page
  app/views/content/non-uk-teachers/international-qualified-teacher-status.md
Labels: Review, content

#4581 Format consideration journey pick list for event steps
  app/helpers/option_set_helper.rb
  app/models/events/steps/personalised_updates.rb
  app/models/mailing_list/steps/teacher_training.rb
  app/presenters/pick_list_items_api_presenter.rb
  app/views/event_steps/_personalised_updates.html.erb
  spec/presenters/pick_list_items_api_presenter_spec.rb
Labels: ruby, test, Review, Config

#4596 Replace footer tag in quotes with a div tag
  app/components/content/quote_component.html.erb
Labels: ruby, Review

#4593 Add green arrow CTAs to how to become a teacher page
  app/views/content/steps-to-become-a-teacher/_step_1_check_your_qualifications.html.erb
  app/views/content/steps-to-become-a-teacher/_step_2_understand_funding.html.erb
  app/views/content/steps-to-become-a-teacher/_step_3_consider_getting_experience.html.erb
  app/views/content/steps-to-become-a-teacher/_step_4_find_a_teacher_training_course.html.erb
  app/views/content/steps-to-become-a-teacher/_step_5_apply_for_teacher_training.html.erb
  app/views/content/steps-to-become-a-teacher/_step_6_start_your_teacher_training.erb
  app/views/content/steps-to-become-a-teacher/_step_7_apply_for_a_teaching_role.erb
  app/views/content/steps-to-become-a-teacher/_step_8_start_your_career.erb
Labels: ruby, Review, content

#4595 Add green arrow CTA to subject pages
  app/views/content/life-as-a-teacher/explore-subjects/geography/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/languages/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/maths/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/music/_article.html.erb
  app/views/content/life-as-a-teacher/explore-subjects/physics/_article.html.erb
  app/views/content/shared/qualifications-training/_find_out_more.html.erb
  app/views/content/shared/qualifications-training/_paid_internships.html.erb
  app/views/content/shared/qualifications-training/_subject_knowledge.html.erb
  app/views/content/shared/teaching/_funding_support.html.erb
Labels: ruby, Review, content

#4598 Remove duplicate main tag on life as a teacher page
  app/views/content/life-as-a-teacher/_categories.html.erb
Labels: ruby, Review, content

#4601 Replaces header tag in landing hero component with div
  app/components/content/landing_hero_component.html.erb
  spec/components/content/landing_hero_component_spec.rb
Labels: ruby, test, Review

#4599 Fix misalignment of links in bulletpoints when content wraps
  app/webpacker/styles/text.scss
Labels: Review, Style

#4604 Add green arrow CTA to life as a teacher section
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/age-groups-you-could-teach.md
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/primary/_article.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/secondary/_article.html.erb
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs.md
  app/views/content/life-as-a-teacher/change-careers/benefits-of-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher/_article.html.erb
  app/views/content/life-as-a-teacher/change-careers/support-with-changing-careers/_article.html.erb
  app/views/content/life-as-a-teacher/pay-and-benefits/teacher-pay.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/career-progression/_article.html.erb
  app/views/content/life-as-a-teacher/why-teach/why-become-a-teacher/_article.html.erb
Labels: ruby, Review, content

#4589 Bump rails to 7.1 on GiT
  Gemfile
  Gemfile.lock
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/initializers/cors.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/initializers/permissions_policy.rb
  config/initializers/sidekiq.rb
  spec/requests/redirects_spec.rb
Labels: ruby, test, Review, Config

#4607 Fix link checker
  spec/support/page_testing_support.rb
Labels: test, Review

#4571 increase menu font size
  app/webpacker/styles/breakpoints.scss
  app/webpacker/styles/header/navigation.scss
Labels: Review, Style

#4605 green arrow links on non-UK trainee pages
  app/views/content/non-uk-teachers/fees-and-funding-for-non-uk-trainees.md
  app/views/content/non-uk-teachers/non-uk-qualifications.md
  app/views/content/non-uk-teachers/train-to-teach-in-england-as-an-international-student.md
  app/views/content/non-uk-teachers/visas-for-non-uk-trainees.md
Labels: Review, content

#4606 green arrow links on the non-uk teacher pages
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
  app/views/content/non-uk-teachers/visas-for-non-uk-teachers.md
Labels: Review, content

#4610 Update get into teaching app workflows to use ga wif
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/destroy_review.yml
  .github/workflows/lychee.yml
  .github/workflows/maintenance.yml
  .github/workflows/postgres-ptr.yml
  .github/workflows/sha.yml
  .github/workflows/snyk.yml
  .github/workflows/trello.yml
  Makefile
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
Labels: DevOps, Review

#4609 Green arrows for How to apply section
  app/views/content/how-to-apply-for-teacher-training/if-your-application-is-unsuccessful.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-application.md
  app/views/content/how-to-apply-for-teacher-training/teacher-training-personal-statement.md
Labels: Review, content

#4614 Improve accessibility of alt text for DfE logo in site footer
  app/components/footer_component.html.erb
Labels: ruby, Review

#4612 Add green arrow CTA to funding section
  app/views/content/funding-and-support/if-youre-a-parent-or-carer.md
  app/views/content/funding-and-support/if-youre-a-veteran.md
  app/views/content/funding-and-support/scholarships-and-bursaries.md
  app/views/content/funding-and-support/tuition-fee-and-maintenance-loans.md
Labels: Review, content

#4603 Update placements page for salaried placements
  app/views/content/train-to-be-a-teacher/school-placements.md
Labels: Review, content, policy sign off

#4594 Update salaried teacher training page
  app/views/content/funding-and-support/salaried-teacher-training.md
Labels: Review, content

#4615 Phone number styled as interactive on help and support page
  app/components/content/talk_to_us_component.html.erb
  app/webpacker/styles/sections/talk-to-us.scss
Labels: ruby, Review, Style

#4611 Add green arrow CTA to train to teach section
  app/views/content/train-to-be-a-teacher/how-to-choose-your-teacher-training-course.md
  app/views/content/train-to-be-a-teacher/if-you-dont-have-a-degree.md
  app/views/content/train-to-be-a-teacher/if-you-have-a-degree.md
  app/views/content/train-to-be-a-teacher/initial-teacher-training.md
  app/views/content/train-to-be-a-teacher/school-placements.md
  app/views/content/train-to-be-a-teacher/teacher-degree-apprenticeships.md
  app/views/content/train-to-be-a-teacher/what-is-a-pgce.md
  app/views/content/train-to-be-a-teacher/what-is-qts.md
Labels: Review, content

#4616 Update button text for event search on Help and support page
  app/views/content/help-and-support/_events.html.erb
Labels: ruby, Review, content
