Repository DFE-Digital/get-into-teaching-app, pull requests merged in 2025-06, with the labels that each got.

#4811 Update skills page
  app/views/content/life-as-a-teacher/teaching-as-a-career/_categories.html.erb
  app/views/content/life-as-a-teacher/teaching-as-a-career/skills-to-teach.md
  app/views/content/life-as-a-teacher/teaching-as-a-career/skills-to-teach/_article.html.erb
  db/schema.rb
Labels: ruby, Review, content

#4812 Add further years and early years cards
  app/views/content/life-as-a-teacher/age-groups-and-specialisms/_categories.html.erb
Labels: ruby, Review, content

#4825 Update accessibility statement- outstanding issues.md
  app/views/content/accessibility.md
Labels: Review, content

#4827 Update IRP page
  app/views/content/non-uk-teachers/get-an-international-relocation-payment.md
Labels: Review, content

#4785 Update robots.txt for facebook
  app/controllers/robots_controller.rb
  spec/requests/robots_controller_spec.rb
Labels: ruby, test, Review

#4805 Update teacher training adviser page
  app/views/content/shared/quotes/_quote_advisers_habiba.html.erb
  app/views/content/teacher-training-advisers.md
  app/views/content/teacher-training-advisers/_article.html.erb
  app/views/content/teacher-training-advisers/_eligibility.html.erb
  app/views/content/teacher-training-advisers/_ending.html.erb
  app/views/content/teacher-training-advisers/_header.html.erb
  app/views/content/teacher-training-advisers/_sign-up.html.erb
Labels: ruby, Review, content

#4828 Update bin/dev to restore foreman
  bin/dev
Labels: Review

#4831 Remove signposting content for the IRP
  app/views/content/non-uk-teachers/teach-in-england-if-you-trained-overseas.md
Labels: Review, content

#4830 Use job configuration module
  terraform/aks/application.tf
Labels: DevOps, Review

#4834 Remove callback from the mailing list completion page
  app/views/mailing_list/steps/completed.html.erb
  app/views/mailing_list/steps/completed/shared/_book_a_callback.html.erb
  docs/sign-up-journeys.md
  spec/features/mailing_list_wizard_spec.rb
Labels: ruby, test, Review

#4833 Accessible page titles in Mailing List Funnel
  app/controllers/mailing_list/steps_controller.rb
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/models/mailing_list/steps/already_qualified.rb
  app/models/mailing_list/steps/already_subscribed.rb
  app/models/mailing_list/steps/authenticate.rb
  app/models/mailing_list/steps/degree_status.rb
  app/models/mailing_list/steps/postcode.rb
  app/models/mailing_list/steps/returning_teacher.rb
  app/models/mailing_list/steps/subject.rb
  app/models/mailing_list/steps/teacher_training.rb
  app/models/mailing_list/wizard.rb
  app/views/mailing_list/steps/_already_qualified.html.erb
  app/views/mailing_list/steps/_already_subscribed.html.erb
  app/views/mailing_list/steps/_authenticate.html.erb
  app/views/mailing_list/steps/_returning_teacher.html.erb
  config/locales/en.yml
  spec/features/mailing_list_wizard_spec.rb
  spec/models/mailing_list/wizard_spec.rb
Labels: ruby, test, Review, Config

#4839 Update _sign-up.html.erb
  app/views/content/teacher-training-advisers/_sign-up.html.erb
Labels: ruby, Review, content
